Repository pulumi/pulumi, pull requests merged in 2018-07, with the labels that each got.

#1574 Support -s in stack {export, graph, import, output}
  cmd/config.go
  cmd/destroy.go
  cmd/logs.go
  cmd/preview.go
  cmd/refresh.go
  cmd/stack_export.go
  cmd/stack_graph.go
  cmd/stack_import.go
  cmd/stack_output.go
  cmd/update.go
Labels: impact/changelog, kind/enhancement

#1587 Implementation of Assets for Python
  sdk/python/lib/pulumi/asset.py
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/known_types.py
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/test/langhost/asset/__init__.py
  sdk/python/lib/test/langhost/asset/__main__.py
  sdk/python/lib/test/langhost/asset/test_asset.py
  sdk/python/lib/test/test_deserialize.py
  sdk/python/lib/test/test_serialize.py
Labels: language/python2, language/python3

#1586 Fix an issue where Unknown does not coerce to a bool correctly on Python
  sdk/python/lib/pulumi/runtime/unknown.py
  sdk/python/lib/test/langhost/preview/__init__.py
  sdk/python/lib/test/langhost/preview/__main__.py
  sdk/python/lib/test/langhost/preview/test_preview.py
  sdk/python/lib/test/test_unknown.py
Labels: language/python2, language/python3

#1590 Add partial state update
  Gopkg.lock
  Gopkg.toml
  pkg/engine/update.go
  pkg/resource/deploy/step.go
  pkg/resource/plugin/provider_plugin.go
  pkg/resource/status.go
  pkg/util/rpcutil/rpcerror/rpcerror.go
  sdk/nodejs/cmd/dynamic-provider/index.ts
  sdk/nodejs/proto/provider_pb.js
  sdk/nodejs/proto/status_pb.js
  sdk/proto/errors.proto
  sdk/proto/generate.sh
  sdk/proto/go/analyzer.pb.go
  sdk/proto/go/engine.pb.go
  sdk/proto/go/errors.pb.go
  sdk/proto/go/language.pb.go
  sdk/proto/go/plugin.pb.go
  sdk/proto/go/provider.pb.go
  sdk/proto/go/resource.pb.go
  sdk/proto/provider.proto
  sdk/proto/status.proto
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/status_pb2.py
  sdk/python/lib/pulumi/runtime/proto/status_pb2_grpc.py
  tests/integration/partial_state/partial_state_test.go
  tests/integration/partial_state/step1/Pulumi.yaml
  tests/integration/partial_state/step1/index.ts
  tests/integration/partial_state/step1/package.json
  tests/integration/partial_state/step1/resource.ts
  tests/integration/partial_state/step1/tsconfig.json
  tests/integration/partial_state/step2/index.ts
  tests/integration/partial_state/step3/index.ts
  tests/integration/partial_state/step4/index.ts
Labels: kubernetes/inner-dev-loop

#1647 Add a migrate package for migrating to and from differently-versioned API types
  pkg/apitype/core.go
  pkg/apitype/migrate/checkpoint.go
  pkg/apitype/migrate/checkpoint_test.go
  pkg/apitype/migrate/deployment.go
  pkg/apitype/migrate/deployment_test.go
  pkg/apitype/migrate/doc.go
  pkg/apitype/migrate/resource.go
  pkg/apitype/migrate/resource_test.go
  pkg/backend/cloud/client/client.go
  pkg/backend/local/backend.go
  pkg/backend/local/state.go
  pkg/operations/resources_test.go
  pkg/resource/stack/checkpoint.go
  pkg/resource/stack/deployment.go
  pkg/testing/integration/program.go
  tests/integration/steps/steps_test.go
Labels: kubernetes/inner-dev-loop

#1655 Go back to capturing *non-user* modules by 'require' reference.
  .travis.yml
  examples/compat/v0.10.0/minimal/index.ts
  sdk/nodejs/config.ts
  sdk/nodejs/runtime/closure/createClosure.ts
  sdk/nodejs/runtime/closure/serializeClosure.ts
  sdk/nodejs/runtime/config.ts
  sdk/nodejs/tests/config.spec.ts
  sdk/nodejs/tests/runtime/closure.spec.ts
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
Labels: impact/changelog
