Repository pulumi/pulumi, pull requests merged in 2019-07, with the labels that each got.

#2897 Update our verison of docker/docker.
  go.mod
  go.sum
Labels: impact/no-changelog-required

#2869 Update gen-markdown command for new site
  cmd/gen_markdown.go
Labels: impact/no-changelog-required

#2911 Compute nested diffs in translateDetailedDiff.
  pkg/backend/display/detailedDiff.go
  pkg/backend/display/detailedDiff_test.go
Labels: impact/no-changelog-required

#2913 Lock to an earlier version of gRPC
  sdk/nodejs/package.json
Labels: impact/no-changelog-required

#2915 Fix indentation when rendering detailed diffs.
  pkg/backend/display/diff.go
Labels: impact/no-changelog-required

#2925 Fix yarn overrides in the test framework.
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#2923 add GetPolicyPackResponse
  pkg/apitype/policy.go
Labels: impact/no-changelog-required

#2930 Build version tags in AppVeyor
  .appveyor.yml
Labels: impact/no-changelog-required

#2885 Addition of Custom Timeouts
  CHANGELOG.md
  go.mod
  go.sum
  pkg/apitype/core.go
  pkg/backend/display/json.go
  pkg/backend/snapshot.go
  pkg/engine/lifecycle_test.go
  pkg/resource/custom_timeouts.go
  pkg/resource/deploy/builtins.go
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/plugin/provider.go
  pkg/resource/plugin/provider_plugin.go
  pkg/resource/resource_goal.go
  pkg/resource/resource_state.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  sdk/go/pulumi/context.go
  sdk/go/pulumi/resource.go
  sdk/nodejs/proto/provider_pb.js
  sdk/nodejs/proto/resource_pb.js
  sdk/nodejs/resource.ts
  sdk/nodejs/runtime/resource.ts
  sdk/proto/go/analyzer.pb.go
  sdk/proto/go/engine.pb.go
  sdk/proto/go/language.pb.go
  sdk/proto/go/plugin.pb.go
  sdk/proto/go/provider.pb.go
  sdk/proto/go/resource.pb.go
  sdk/proto/provider.proto
  sdk/proto/resource.proto
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.py
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/status_pb2.py
  sdk/python/lib/pulumi/runtime/resource.py
  tests/integration/integration_test.go
Labels: area/core, area/providers, kind/enhancement

#2919 ~readme: update python status to stable
  README.md
Labels: impact/no-changelog-required

#2943 Add a helper function to easily convert async functions to sync functions
  sdk/nodejs/Makefile
  sdk/nodejs/index.ts
  sdk/nodejs/tests/deasync.spec.ts
  sdk/nodejs/tsconfig.json
  sdk/nodejs/utils.ts
Labels: impact/no-changelog-required

#2945 Pin the Docker base image to Debian stretch.
  dist/docker/Dockerfile
Labels: impact/no-changelog-required

#2941 Update links to docs index and manual installation pages
  cmd/pulumi.go
Labels: impact/no-changelog-required

#2947 Add an option to allow callers to specify they would like make invoke calls asynchronously.
  sdk/nodejs/invoke.ts
  sdk/nodejs/utils.ts
Labels: impact/no-changelog-required

#2949 Implement `Omit` like TypeScript upstream does
  sdk/nodejs/queryable/index.ts
Labels: impact/no-changelog-required

#2954 Restore the old pickler in a `try/finally`
  sdk/python/lib/pulumi/dynamic/dynamic.py
Labels: impact/no-changelog-required

#2955 Keep unknowns when marshalling resources in call to `Analyze`
  pkg/resource/plugin/analyzer_plugin.go
Labels: impact/no-changelog-required

#2956 Remove unnecessary exports
  sdk/nodejs/cmd/run-policy-pack/index.ts
  sdk/nodejs/cmd/run-policy-pack/run.ts
Labels: impact/no-changelog-required

#2950 Fix 'pulumi new' to support creating stacks in an org
  cmd/new.go
  pkg/util/validation/stack.go
  pkg/workspace/templates.go
  pkg/workspace/templates_test.go
Labels: impact/no-changelog-required

#2970 Creation of generator package
  pkg/codegen/python/python.go
Labels: impact/no-changelog-required

#2973 Migrate old providers without outputs.
  CHANGELOG.md
  pkg/engine/lifecycle_test.go
  pkg/resource/deploy/plan.go
Labels: feature/q3

#2976 Add --yes params to a couple commands
  cmd/state.go
  cmd/state_delete.go
  cmd/state_unprotect.go
Labels: impact/no-changelog-required

#2951 Fix issue when logging out of local backend
  cmd/logout.go
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
Labels: impact/no-changelog-required

#2979 Update references to pulumi.io
  CONTRIBUTING.md
  README.md
  dist/actions/Dockerfile
  dist/docker/Dockerfile
  sdk/nodejs/README.md
  sdk/python/lib/test/langhost/asset/__main__.py
  sdk/python/lib/test/langhost/asset/test_asset.py
  sdk/python/lib/test/test_next_serialize.py
Labels: impact/no-changelog-required

#2977 Use a bag for misc. resource options in deploytest
  pkg/engine/lifecycle_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval_test.go
Labels: impact/no-changelog-required

#2974 Add python aliases support.
  CHANGELOG.md
  sdk/python/lib/pulumi/__init__.py
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/resource.py
  tests/integration/aliases/aliases_test.go
  tests/integration/aliases/nodejs/adopt_into_component/step1/Pulumi.yaml
  tests/integration/aliases/nodejs/adopt_into_component/step1/index.ts
  tests/integration/aliases/nodejs/adopt_into_component/step1/package.json
  tests/integration/aliases/nodejs/adopt_into_component/step2/index.ts
  tests/integration/aliases/nodejs/rename/step1/Pulumi.yaml
  tests/integration/aliases/nodejs/rename/step1/index.ts
  tests/integration/aliases/nodejs/rename/step1/package.json
  tests/integration/aliases/nodejs/rename/step2/index.ts
  tests/integration/aliases/nodejs/rename_component/step1/Pulumi.yaml
  tests/integration/aliases/nodejs/rename_component/step1/index.ts
  tests/integration/aliases/nodejs/rename_component/step1/out.txt
  tests/integration/aliases/nodejs/rename_component/step1/package.json
  tests/integration/aliases/nodejs/rename_component/step1/stack.json
  tests/integration/aliases/nodejs/rename_component/step1/stack2.json
  tests/integration/aliases/nodejs/rename_component/step2/index.ts
  tests/integration/aliases/nodejs/rename_component_and_child/step1/Pulumi.yaml
  tests/integration/aliases/nodejs/rename_component_and_child/step1/index.ts
  tests/integration/aliases/nodejs/rename_component_and_child/step1/package.json
  tests/integration/aliases/nodejs/rename_component_and_child/step2/index.ts
  tests/integration/aliases/nodejs/retype_component/step1/Pulumi.yaml
  tests/integration/aliases/nodejs/retype_component/step1/index.ts
  tests/integration/aliases/nodejs/retype_component/step1/package.json
  tests/integration/aliases/nodejs/retype_component/step2/index.ts
  tests/integration/aliases/python/adopt_into_component/step1/Pulumi.yaml
  tests/integration/aliases/python/adopt_into_component/step1/__main__.py
  tests/integration/aliases/python/adopt_into_component/step2/__main__.py
  tests/integration/aliases/python/rename/step1/Pulumi.yaml
  tests/integration/aliases/python/rename/step1/__main__.py
  tests/integration/aliases/python/rename/step2/__main__.py
  tests/integration/aliases/python/rename_component/step1/Pulumi.yaml
  tests/integration/aliases/python/rename_component/step1/__main__.py
  tests/integration/aliases/python/rename_component/step2/__main__.py
  tests/integration/aliases/python/rename_component_and_child/step1/Pulumi.yaml
  tests/integration/aliases/python/rename_component_and_child/step1/__main__.py
  tests/integration/aliases/python/rename_component_and_child/step2/__main__.py
  tests/integration/aliases/python/retype_component/step1/Pulumi.yaml
  tests/integration/aliases/python/retype_component/step1/__main__.py
  tests/integration/aliases/python/retype_component/step2/__main__.py
Labels: impact/no-changelog-required

#2981 Depend on the `ijc` fork of Gotty
  go.mod
  go.sum
  pkg/backend/display/jsonmessage.go
Labels: impact/no-changelog-required, impact/usability, kind/enhancement

#2904 PULUMI_CONFIG_PASSPHRASE now supports an empty passphrase
  cmd/crypto_local.go
Labels: impact/no-changelog-required

#2984 Depend on `pulumi` fork of `glog`.
  CONTRIBUTING.md
  cmd/pulumi.go
  cmd/util.go
  go.mod
  go.sum
  pkg/backend/display/json.go
  pkg/backend/httpstate/state.go
  pkg/util/logging/log.go
  sdk/go/pulumi/context.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required, impact/usability, kind/enhancement

#2983 Minor README.md changes
  README.md
Labels: impact/no-changelog-required

#2982 Signal policy publish operation completion to the service
  pkg/backend/httpstate/client/client.go
Labels: impact/no-changelog-required

#2985 Correctly calculate number of changes
  pkg/backend/display/diff.go
Labels: impact/no-changelog-required

#2988 Add helper function for merging ResourceOptions
  sdk/nodejs/resource.ts
  sdk/nodejs/tests/options.spec.ts
  sdk/nodejs/tsconfig.json
  sdk/python/lib/pulumi/resource.py
Labels: impact/no-changelog-required

#3003 Highlight the Get Started guide in the README
  README.md
Labels: impact/no-changelog-required

#3009 Remove references to pulumi/glog.
  cmd/pulumi.go
  cmd/util.go
  go.mod
  go.sum
  pkg/backend/display/json.go
  pkg/backend/httpstate/state.go
  pkg/util/logging/log.go
  sdk/go/pulumi/context.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required
