Repository pulumi/pulumi, pull requests merged in 2020-03, with the labels that each got.

#4010 properly check for nil input or nil input pointer
  sdk/go/pulumi/rpc.go
Labels: impact/no-changelog-required

#3898 Build the windows build on GHA rather than AppVeyor
  .appveyor.yml
  .github/workflows/windows-build.yml
  build.proj
Labels: impact/no-changelog-required

#4011 remove UpdatePolicyPackConfig from UpdatePolicyGroupRequest
  pkg/apitype/policy.go
Labels: impact/no-changelog-required

#3986 fix panic when dest is struct and input is ptr
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#4023 Relax the type check to accomodate what YAML parser returns
  CHANGELOG.md
  sdk/dotnet/Pulumi/Serialization/Converter.cs
Labels: language/dotnet

#4022 Stop new projects starting with the word Pulumi
  CHANGELOG.md
  pkg/workspace/templates.go
  pkg/workspace/templates_test.go
Labels: impact/usability

#4027 fix reflect panic
  sdk/go/pulumi/rpc.go
Labels: impact/no-changelog-required

#4041 Mention mocks in the missing project error
  sdk/nodejs/runtime/settings.ts
  sdk/python/lib/pulumi/runtime/settings.py
Labels: impact/no-changelog-required

#4035 Update schema-based docs generator
  Makefile
  pkg/codegen/docs.go
  pkg/codegen/docs/.gitignore
  pkg/codegen/docs/README.md
  pkg/codegen/docs/bundler.go
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/templates/constructor_args.tmpl
  pkg/codegen/docs/templates/constructor_params.tmpl
  pkg/codegen/docs/templates/examples.tmpl
  pkg/codegen/docs/templates/header.tmpl
  pkg/codegen/docs/templates/properties.tmpl
  pkg/codegen/docs/templates/read_inputs.tmpl
  pkg/codegen/docs/templates/resource.tmpl
  pkg/codegen/docs/templates/utils.tmpl
  pkg/codegen/docs/utils.go
  pkg/codegen/docs/utils_test.go
  pkg/codegen/dotnet/doc.go
  pkg/codegen/go/doc.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#4056 Stabilize Python codegen.
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#4055 Updates to resource doc generator for generating docs for Functions
  pkg/codegen/docs.go
  pkg/codegen/docs/bundler.go
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/docs/templates/constructor_params.tmpl
  pkg/codegen/docs/templates/function.tmpl
  pkg/codegen/docs/templates/resource.tmpl
  pkg/codegen/dotnet/doc.go
  pkg/codegen/go/doc.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#4063 Support "link" style dependencies in Go tests
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#4067 Remove hard-coded Bucket resource examples from the resource docs generator
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/templates/examples.tmpl
  pkg/codegen/docs/templates/resource.tmpl
Labels: impact/no-changelog-required

#4069 Expose engine logging to Go SDK
  sdk/go/pulumi/context.go
  sdk/go/pulumi/log.go
Labels: impact/no-changelog-required

#4074 Fix Python mocks
  .gitignore
  sdk/python/lib/pulumi/runtime/mocks.py
  sdk/python/lib/pulumi/runtime/stack.py
  sdk/python/lib/pulumi/runtime/sync_await.py
  sdk/python/lib/test/langhost/testing_with_mocks/.gitignore
  sdk/python/lib/test/langhost/testing_with_mocks/__main__.py
  sdk/python/lib/test/langhost/testing_with_mocks/resources.py
  sdk/python/lib/test/langhost/testing_with_mocks/test_testing_with_mocks.py
Labels: impact/no-changelog-required

#4068 Shorten Python package descriptions.
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#4078 Update Go logging to use LogArgs
  sdk/go/pulumi/log.go
Labels: impact/no-changelog-required

#4083 Implement GetSchema in dynamic providers
  sdk/nodejs/cmd/dynamic-provider/index.ts
  sdk/python/lib/pulumi/dynamic/__main__.py
Labels: impact/no-changelog-required

#4088 Fix lint issue
  sdk/go/pulumi/context.go
Labels: impact/no-changelog-required

#4091 Disable staticcheck linting to work around OOM errors
  .golangci.yml
Labels: impact/no-changelog-required

#4096 Update Go SDK generator to support k8s
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#4085 Fixes for resource docs generator
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/docs/templates/constructor_params.tmpl
  pkg/codegen/docs/templates/resource.tmpl
  pkg/codegen/go/doc.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#4087 Add an HCL2 static typechecker and semantic model.
  go.mod
  pkg/codegen/hcl2/model/attribute.go
  pkg/codegen/hcl2/model/binder_expression.go
  pkg/codegen/hcl2/model/binder_expression_test.go
  pkg/codegen/hcl2/model/block.go
  pkg/codegen/hcl2/model/body.go
  pkg/codegen/hcl2/model/diagnostics.go
  pkg/codegen/hcl2/model/expression.go
  pkg/codegen/hcl2/model/functions.go
  pkg/codegen/hcl2/model/scope.go
  pkg/codegen/hcl2/model/spec.md
  pkg/codegen/hcl2/model/traversable.go
  pkg/codegen/hcl2/model/type.go
  pkg/codegen/hcl2/model/type_eventuals.go
  pkg/codegen/hcl2/model/type_list.go
  pkg/codegen/hcl2/model/type_map.go
  pkg/codegen/hcl2/model/type_none.go
  pkg/codegen/hcl2/model/type_object.go
  pkg/codegen/hcl2/model/type_opaque.go
  pkg/codegen/hcl2/model/type_output.go
  pkg/codegen/hcl2/model/type_promise.go
  pkg/codegen/hcl2/model/type_set.go
  pkg/codegen/hcl2/model/type_test.go
  pkg/codegen/hcl2/model/type_tuple.go
  pkg/codegen/hcl2/model/type_union.go
  pkg/codegen/hcl2/model/utilities.go
  pkg/codegen/hcl2/model/visitor.go
  pkg/codegen/hcl2/syntax/comments.go
  pkg/codegen/hcl2/syntax/comments_test.go
  pkg/codegen/hcl2/syntax/parser.go
  pkg/codegen/hcl2/syntax/utilities.go
Labels: impact/no-changelog-required

#4099 PaC: Filter internal resource property keys
  pkg/engine/diff.go
  pkg/resource/plugin/analyzer_plugin.go
  pkg/resource/plugin/rpc.go
  pkg/resource/plugin/rpc_test.go
  pkg/resource/properties.go
Labels: impact/no-changelog-required

#4106 Split linting per-directory.
  Makefile
Labels: impact/no-changelog-required

#4104 Add a utility package for HCL2-based codegen.
  pkg/codegen/hcl2/model/format/format.go
  pkg/codegen/hcl2/model/format/gen.go
Labels: impact/no-changelog-required

#4107 Use Go's file handling libs for integration test framework
  pkg/testing/integration/program.go
  pkg/testing/integration/util.go
Labels: impact/no-changelog-required

#4098 Fix rename stack message when attempting to move organizations
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#4110 Fix `Type` suffix Go codegen for cross-package references
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#4113 Fix Go generation
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#4111 Update the resource docs generator to use the correct casing for nested property names in Python
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/docs/templates/header.tmpl
  pkg/codegen/docs/utils.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#4126 Add test for resource docs to confirm Python casing
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_test.go
  pkg/codegen/docs/templates/properties.tmpl
  pkg/codegen/go/doc.go
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#4137 Disable container entrypoint tests.
  scripts/build-and-publish-docker
Labels: impact/no-changelog-required

#4150 Temporarily skip test causing unrelated failures in master
  tests/integration/policy/policy_test.go
Labels: impact/no-changelog-required

#4152 fix the pulumi/sdk reference in pkg/go.mod
  examples/go.mod
  examples/go.sum
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#4134 Fix the signature for C# invokes in the resource docs generator
  pkg/codegen/docs.go
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/docs/templates/function.tmpl
  pkg/codegen/docs/templates/utils.tmpl
  pkg/codegen/dotnet/doc.go
  pkg/codegen/go/doc.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#4162 Bump accept header to 6 for pac config
  pkg/backend/httpstate/client/api.go
Labels: impact/no-changelog-required

#4161 Allow pulumi/pulumi 1.x and 2.x to be used SxS
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required

#4175 Fix versions of dependencies in policy tests
  tests/integration/policy/policy_pack_w_config/package.json
  tests/integration/policy/policy_pack_w_config/package.json.tmpl
  tests/integration/policy/policy_pack_wo_config/package.json
Labels: impact/no-changelog-required

#4178 Clarify documentation on `Output.from_input`
  sdk/python/lib/pulumi/output.py
Labels: impact/no-changelog-required

#4167 Another attempt at removing the need for vendoring
  .appveyor.yml
  .github/workflows/windows-build.yml
  Makefile
  build.proj
  examples/go.sum
  pkg/cmd/pulumi/main.go
  pkg/go.mod
  pkg/go.sum
  pkg/testing/integration/program.go
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/util/logging/log.go
  sdk/go/common/util/logging/log_test.go
  tests/go.sum
  tests/integration/aliases/aliases_test.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#4184 Remove non-relevant examples and empty examples section from docs comments
  pkg/codegen/docs.go
  pkg/codegen/docs_test.go
  pkg/codegen/dotnet/gen.go
  pkg/codegen/go/gen.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#4183 fix release scripts to be aware of new module structure
  scripts/make_release.ps1
  scripts/make_release.sh
Labels: impact/no-changelog-required

#4194 silence pushd/popd in make_release
  scripts/make_release.sh
Labels: impact/no-changelog-required

#4191 Add word breaks to nested type names
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_test.go
  pkg/codegen/docs/templates/resource.tmpl
Labels: impact/no-changelog-required

#4198 Fix tests for clones outside of GOPATH.
  Makefile
Labels: impact/no-changelog-required

#4197 Python SDK: ephemeral option for log methods
  sdk/python/lib/pulumi/log.py
Labels: impact/no-changelog-required

#4202 Update Makefile
  Makefile
Labels: impact/no-changelog-required

#4200 Rid our windows builds of Go Dep
  .github/workflows/windows-build.yml
  .github/workflows/windows-pr.yml
Labels: impact/no-changelog-required

#4203 Enable git history on Pulumi repo to ensure get-version works
  .github/workflows/windows-build.yml
  .github/workflows/windows-pr.yml
Labels: impact/no-changelog-required

#4196 Move examples tests to /test/examples
  .github/workflows/windows-build.yml
  .github/workflows/windows-pr.yml
  Makefile
  build.proj
  examples/go.mod
  examples/go.sum
  tests/examples/compat/v0.10.0/minimal/.gitignore
  tests/examples/compat/v0.10.0/minimal/Pulumi.yaml
  tests/examples/compat/v0.10.0/minimal/index.ts
  tests/examples/compat/v0.10.0/minimal/package.json
  tests/examples/compat/v0.10.0/minimal/tsconfig.json
  tests/examples/dynamic-provider/class-with-comments/.gitignore
  tests/examples/dynamic-provider/class-with-comments/Pulumi.yaml
  tests/examples/dynamic-provider/class-with-comments/index.ts
  tests/examples/dynamic-provider/class-with-comments/package.json
  tests/examples/dynamic-provider/derived-inputs/.gitignore
  tests/examples/dynamic-provider/derived-inputs/Pulumi.yaml
  tests/examples/dynamic-provider/derived-inputs/index.ts
  tests/examples/dynamic-provider/derived-inputs/package.json
  tests/examples/dynamic-provider/multiple-turns-2/.gitignore
  tests/examples/dynamic-provider/multiple-turns-2/Pulumi.yaml
  tests/examples/dynamic-provider/multiple-turns-2/index.ts
  tests/examples/dynamic-provider/multiple-turns-2/package.json
  tests/examples/dynamic-provider/multiple-turns/.gitignore
  tests/examples/dynamic-provider/multiple-turns/Pulumi.yaml
  tests/examples/dynamic-provider/multiple-turns/index.ts
  tests/examples/dynamic-provider/multiple-turns/package.json
  tests/examples/dynamic-provider/simple/.gitignore
  tests/examples/dynamic-provider/simple/Pulumi.yaml
  tests/examples/dynamic-provider/simple/index.ts
  tests/examples/dynamic-provider/simple/package.json
  tests/examples/examples_test.go
  tests/examples/formattable/.gitignore
  tests/examples/formattable/Pulumi.yaml
  tests/examples/formattable/index.ts
  tests/examples/formattable/package.json
  tests/examples/minimal/.gitignore
  tests/examples/minimal/Pulumi.yaml
  tests/examples/minimal/index.ts
  tests/examples/minimal/package.json
  tests/examples/minimal/tsconfig.json
  tests/examples/multilang/nodejs/Pulumi.luke-dev.yaml
  tests/examples/multilang/python/Pulumi.luke-dev.yaml
  tests/examples/multilang/python/mycomponent/package-lock.json
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/PKG-INFO
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/SOURCES.txt
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/dependency_links.txt
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/not-zip-safe
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/top_level.txt
  tests/examples/secrets/Pulumi.yaml
  tests/examples/secrets/index.ts
  tests/examples/secrets/package.json
  tests/examples/secrets/provider.ts
  tests/examples/secrets/tsconfig.json
  tests/go.mod
Labels: impact/no-changelog-required

#4193 dont add PPs to refresh summary event
  pkg/engine/update.go
Labels: impact/no-changelog-required

#4206 Remove pulumi/aws dep from policy integration tests
  tests/integration/policy/policy_pack_w_config/configs/invalid-config.json
  tests/integration/policy/policy_pack_w_config/configs/valid-config.json
  tests/integration/policy/policy_pack_w_config/index.ts
  tests/integration/policy/policy_pack_w_config/package.json
  tests/integration/policy/policy_pack_wo_config/index.ts
  tests/integration/policy/policy_pack_wo_config/package.json
Labels: impact/no-changelog-required

#4189 Apply initial config in ReconcilePolicyPackConfig
  pkg/engine/update.go
  pkg/resource/analyzer/config.go
  pkg/resource/analyzer/config_test.go
Labels: impact/no-changelog-required

#4220 fix coverage scripts to work with submodules
  scripts/gocover.sh
Labels: impact/no-changelog-required

#4219 only run release builds on tags that start with "vX"
  .appveyor.yml
  .travis.yml
  scripts/release.cmd
Labels: impact/no-changelog-required

#4229 update get-version to understand submodule tags
  scripts/get-version
  scripts/get-version.ps1
Labels: impact/no-changelog-required

#4228 Fix policy integration test dependencies
  tests/integration/policy/policy_pack_w_config/PulumiPolicy.yaml
  tests/integration/policy/policy_pack_w_config/package.json
  tests/integration/policy/policy_pack_w_config/package.json.tmpl
  tests/integration/policy/policy_pack_wo_config/PulumiPolicy.yaml
  tests/integration/policy/policy_pack_wo_config/package.json
  tests/integration/policy/policy_test.go
Labels: impact/no-changelog-required

#4232 remove dep ensure message from pulumi new *go*
  pkg/cmd/new.go
Labels: impact/no-changelog-required

#3933 cmd: `stack select`: error msg with full stack-reference
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/api.go
Labels: impact/no-changelog-required

#4233 PaC: Add initial config support for policy packs
  pkg/engine/update.go
  pkg/resource/analyzer/config.go
  pkg/resource/analyzer/config_test.go
  sdk/go/common/resource/plugin/analyzer.go
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/nodejs/proto/analyzer_pb.js
  sdk/proto/analyzer.proto
  sdk/proto/go/analyzer.pb.go
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
Labels: impact/no-changelog-required

#4237 Fix csharp doc links generated by resource docs generator
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/dotnet/doc.go
  pkg/codegen/dotnet/doc_test.go
  pkg/codegen/dotnet/gen.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/nodejs/doc_test.go
Labels: impact/no-changelog-required

#4214 Update the resource-docs templates
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/templates/constructor_args.tmpl
  pkg/codegen/docs/templates/function.tmpl
  pkg/codegen/docs/templates/header.tmpl
  pkg/codegen/docs/templates/properties.tmpl
  pkg/codegen/docs/templates/read_inputs.tmpl
  pkg/codegen/docs/templates/resource.tmpl
Labels: impact/no-changelog-required

#4245 Resource template fixes
  pkg/codegen/docs/templates/function.tmpl
Labels: impact/no-changelog-required

#4251 Move BuildUtil class to sdk
  Makefile
  scripts/get-py-version
  scripts/get-py-version.go
  scripts/go.mod
  scripts/go.sum
  sdk/go.mod
  sdk/go/common/util/buildutil/semver.go
  sdk/go/common/util/buildutil/semver_test.go
Labels: impact/no-changelog-required

#4244 Specify StringComparison.Ordinal to StartsWith
  sdk/dotnet/Pulumi/Serialization/Deserializer.cs
Labels: impact/no-changelog-required

#4253 Support grpc-js plugin servers
  sdk/go/common/resource/plugin/plugin.go
Labels: impact/no-changelog-required
