Repository pulumi/pulumi, pull requests merged in 2020-01, with the labels that each got.

#3707 Enable pulumi/actions container tests
  dist/pulumi/Dockerfile
  scripts/build-and-publish-docker
  tests/containers/containers_test.go
Labels: impact/no-changelog-required

#3716 Write .npmrc if NPM_AUTH_TOKEN is set
  dist/actions/entrypoint.sh
Labels: impact/no-changelog-required

#3721 Trim tailing slash for Az Pipelines build URL
  pkg/util/ciutil/az_pipelines.go
Labels: impact/no-changelog-required

#3741 Fixed 'transacational' misspelling.
  sdk/nodejs/dynamic/index.ts
  sdk/proto/provider.proto
  sdk/python/lib/pulumi/dynamic/dynamic.py
Labels: impact/no-changelog-required

#3768 Add Current Operation info to stack command.
  pkg/apitype/core.go
  pkg/apitype/stacks.go
  pkg/backend/httpstate/stack.go
Labels: impact/no-changelog-required

#3758 Enable mypy
  sdk/python/Makefile
  sdk/python/Pipfile
  sdk/python/Pipfile.lock
  sdk/python/lib/pulumi/config.py
  sdk/python/lib/pulumi/dynamic/dynamic.py
  sdk/python/lib/pulumi/invoke.py
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/invoke.py
  sdk/python/lib/pulumi/runtime/known_types.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/pulumi/runtime/settings.py
  sdk/python/lib/pulumi/runtime/stack.py
  sdk/python/lib/pulumi/stack_reference.py
  sdk/python/mypy.ini
Labels: impact/no-changelog-required

#3769 Only retry as long as we get unavailable back. Anything else continues.
  pkg/resource/plugin/plugin.go
Labels: impact/no-changelog-required

#3506 Redesign the Go SDK resource/input/output system.
  .golangci.yml
  CHANGELOG.md
  go.sum
  pkg/engine/lifecycle_test.go
  sdk/go/Makefile
  sdk/go/pulumi/asset.go
  sdk/go/pulumi/context.go
  sdk/go/pulumi/generate.go
  sdk/go/pulumi/mocks.go
  sdk/go/pulumi/printf.go
  sdk/go/pulumi/printf_test.go
  sdk/go/pulumi/properties.go
  sdk/go/pulumi/properties_test.go
  sdk/go/pulumi/resource.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
  sdk/go/pulumi/run.go
  sdk/go/pulumi/run_test.go
  sdk/go/pulumi/templates/types_builtins.go.template
  sdk/go/pulumi/templates/types_builtins_test.go.template
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_builtins.go
  sdk/go/pulumi/types_builtins_test.go
  sdk/go/pulumi/types_test.go
Labels: language/go

#3778 Remove .ionide
  .gitignore
  .ionide/symbolCache.db
Labels: impact/no-changelog-required

#3775 Add more test coverage for builtins.
  sdk/go/pulumi/templates/types_builtins_test.go.template
  sdk/go/pulumi/types_builtins_test.go
Labels: impact/no-changelog-required

#3781 Handle all errors for now.
  pkg/resource/plugin/plugin.go
Labels: impact/no-changelog-required

#3782 Add coverage for pulumi.Fprintf.
  sdk/go/pulumi/printf_test.go
Labels: impact/no-changelog-required

#3749 Add a schema package and code generators.
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/templates.go
  pkg/codegen/go/gen.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#3797 Ensure that resources not specified by --target do not get added to checkpoint file.
  pkg/backend/snapshot.go
  tests/integration/targets/targets_test.go
  tests/integration/targets/untargeted_create/Pulumi.yaml
  tests/integration/targets/untargeted_create/index.ts
  tests/integration/targets/untargeted_create/package.json
  tests/integration/targets/untargeted_create/step1/index.ts
Labels: impact/no-changelog-required

#3809 Mark internal APIs `@internal` to filter from API docs
  sdk/nodejs/asset/archive.ts
  sdk/nodejs/asset/asset.ts
  sdk/nodejs/cmd/dynamic-provider/index.ts
  sdk/nodejs/cmd/run-policy-pack/run.ts
  sdk/nodejs/cmd/run/index.ts
  sdk/nodejs/cmd/run/run.ts
  sdk/nodejs/config.ts
  sdk/nodejs/errors.ts
  sdk/nodejs/log/index.ts
  sdk/nodejs/output.ts
  sdk/nodejs/resource.ts
  sdk/nodejs/runtime/asyncIterableUtil.ts
  sdk/nodejs/runtime/closure/createClosure.ts
  sdk/nodejs/runtime/closure/parseFunction.ts
  sdk/nodejs/runtime/closure/rewriteSuper.ts
  sdk/nodejs/runtime/closure/utils.ts
  sdk/nodejs/runtime/closure/v8.ts
  sdk/nodejs/runtime/closure/v8Hooks.ts
  sdk/nodejs/runtime/closure/v8_v10andLower.ts
  sdk/nodejs/runtime/closure/v8_v11andHigher.ts
  sdk/nodejs/runtime/debuggable.ts
  sdk/nodejs/runtime/resource.ts
  sdk/nodejs/runtime/settings.ts
  sdk/nodejs/tests/runtime/tsClosureCases.ts
  sdk/nodejs/tests/util.ts
  sdk/nodejs/utils.ts
Labels: impact/no-changelog-required

#3813 Handle failures from plugins' CheckConfig.
  pkg/resource/plugin/provider_plugin.go
Labels: impact/no-changelog-required

#3814 Fix doc comment to filter internal API
  sdk/nodejs/runtime/settings.ts
Labels: impact/no-changelog-required

#3805 Add rename to apitype.UpdateKind.
  pkg/apitype/history.go
Labels: impact/no-changelog-required

#3656 Running our pulumi/pulumi examples on Windows
  .appveyor.yml
  build.proj
  examples/examples_test.go
  pkg/engine/project.go
  pkg/testing/integration/program.go
  tests/integration/aliases/aliases_test.go
  tests/integration/config_capture_e2e/nodejs/index.ts
  tests/integration/integration_test.go
  tests/integration/transformations/transformations_test.go
Labels: area/core, impact/no-changelog-required, os/windows

#3835 Skip dynamic provider TestStackBadParenting test on Windows
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#3804 Validate stack tag names
  pkg/util/validation/stack.go
  pkg/util/validation/stack_test.go
Labels: impact/no-changelog-required

#3831 Fix integration test harness.
  CHANGELOG.md
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#3837 Fix for windows policy-pack install
  pkg/npm/npm.go
  pkg/npm/npm_test.go
Labels: 20Q1-svc, impact/no-changelog-required

#3836 Output watcher
  sdk/dotnet/Pulumi/Core/OutputUtilities.cs
  sdk/dotnet/Pulumi/PublicAPI.Unshipped.txt
Labels: impact/no-changelog-required, language/dotnet

#3848 Build feature-xxx branches as well as features/xxx branches
  .travis.yml
  scripts/get-version
  scripts/publish_packages.sh
Labels: impact/no-changelog-required
