Repository pulumi/pulumi, pull requests merged in 2020-02, with the labels that each got.

#3852 Add create flag to stack select
  cmd/stack_init.go
  cmd/stack_select.go
Labels: impact/no-changelog-required

#3843 Template tests will be part of the templates repo
  Makefile
  tests/templates/templates_test.go
Labels: impact/no-changelog-required

#3851 Do not allocate outputs for nested prompt values.
  sdk/nodejs/output.ts
Labels: impact/no-changelog-required

#3859 Align defaults with OpenAPI
  pkg/codegen/python/gen.go
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#3828 Dictionary resource in .NET
  sdk/dotnet/Pulumi/Deployment/Deployment_Prepare.cs
  sdk/dotnet/Pulumi/PublicAPI.Unshipped.txt
  sdk/dotnet/Pulumi/Resources/DictionaryResourceArgs.cs
  sdk/dotnet/Pulumi/Resources/InputArgs.cs
Labels: impact/no-changelog-required, language/dotnet

#3875 Restore the work to add Publish release builds of Pulumi
  .appveyor.yml
  build.proj
Labels: impact/no-changelog-required

#3865 Add schema support for deprecated properties.
  pkg/codegen/dotnet/gen.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#3871 Add --rm to docker run
  tests/containers/containers_test.go
Labels: impact/no-changelog-required

#3869 Check if TRAVIS_PULL_REQUEST is false before setting the ci vars' PRNumber property
  pkg/util/ciutil/travis.go
Labels: impact/no-changelog-required

#3887 Be resilient to duplicate tasks in our inflight task list.
  sdk/dotnet/Pulumi/Deployment/Deployment.Runner.cs
Labels: impact/no-changelog-required

#3889 Small fixes in schema codegen.
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#3894 Breaking out individual testing knobs.
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#3896 add missing json tag and note
  pkg/apitype/events.go
Labels: impact/no-changelog-required

#3888 Run dotnet test with version parameters
  sdk/dotnet/Makefile
Labels: impact/no-changelog-required

#3915 Fix a few codegen issues.
  pkg/codegen/go/gen.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#3909 Fix the fully-specified name test for cmd/new
  cmd/new_test.go
Labels: impact/no-changelog-required

#3912 Add version tag to apitypes
  pkg/apitype/events.go
  pkg/apitype/policy.go
Labels: impact/no-changelog-required

#3920 Serialize CustomTimeouts in Python SDK
  sdk/python/lib/pulumi/runtime/resource.py
  tests/integration/custom_timeouts/custom_timeouts_test.go
  tests/integration/custom_timeouts/python/Pulumi.yaml
  tests/integration/custom_timeouts/python/__main__.py
  tests/integration/custom_timeouts/python/requirements.txt
  tests/integration/custom_timeouts/python/step1/__main__.py
  tests/integration/custom_timeouts/python/step2/__main__.py
  tests/integration/custom_timeouts/python/step3/__main__.py
Labels: impact/no-changelog-required

#3881 improve PAC error output
  pkg/backend/display/progress.go
  pkg/backend/display/rows.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#3923 Revert "Fix getting logs in tests for Lambdas"
  cmd/logs.go
  pkg/operations/operations_aws.go
  pkg/operations/operations_cloud_aws.go
Labels: impact/no-changelog-required

#3913 Regression tests for StackReference in the Python SDK
  pkg/testing/integration/program.go
  tests/integration/integration_test.go
  tests/integration/stack_reference/python/__main__.py
  tests/integration/stack_reference/python/step1/__main__.py
  tests/integration/stack_reference/python/step2/__main__.py
  tests/integration/stack_reference_multi/python/exporter/.gitignore
  tests/integration/stack_reference_multi/python/exporter/Pulumi.yaml
  tests/integration/stack_reference_multi/python/exporter/__main__.py
  tests/integration/stack_reference_multi/python/exporter/requirements.txt
  tests/integration/stack_reference_multi/python/importer/.gitignore
  tests/integration/stack_reference_multi/python/importer/Pulumi.yaml
  tests/integration/stack_reference_multi/python/importer/__main__.py
  tests/integration/stack_reference_multi/python/importer/requirements.txt
Labels: impact/no-changelog-required

#3872 Add policy config apitypes
  pkg/apitype/policy.go
Labels: impact/no-changelog-required

#3943 Simplify resource options
  CHANGELOG.md
  sdk/dotnet/Pulumi/PublicAPI.Unshipped.txt
  sdk/dotnet/Pulumi/Resources/ComponentResource.cs
  sdk/dotnet/Pulumi/Resources/ComponentResourceOptions.cs
  sdk/dotnet/Pulumi/Resources/CustomResource.cs
  sdk/dotnet/Pulumi/Resources/CustomResourceOptions.cs
  sdk/dotnet/Pulumi/Resources/ProviderResource.cs
  sdk/dotnet/Pulumi/Resources/ResourceOptions.cs
  sdk/dotnet/Pulumi/Resources/ResourceOptions_Copy.cs
  sdk/dotnet/Pulumi/Resources/ResourceOptions_Merge.cs
  sdk/dotnet/Pulumi/Resources/StackReference.cs
Labels: impact/breaking, language/dotnet

#3949 Include `dep ensure` step in `pulumi new` output.
  cmd/new.go
Labels: impact/no-changelog-required

#3969 Add disabled to enforcement level type
  pkg/apitype/policy.go
Labels: impact/no-changelog-required

#3961 use version tag
  cmd/policy_disable.go
  cmd/policy_enable.go
  cmd/policy_ls.go
  cmd/policy_rm.go
  pkg/backend/display/events.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/httpstate/policypack.go
  pkg/backend/policypack.go
  pkg/resource/plugin/analyzer.go
  pkg/resource/plugin/analyzer_plugin.go
  sdk/nodejs/proto/analyzer_pb.js
  sdk/proto/analyzer.proto
  sdk/proto/go/analyzer.pb.go
  tests/integration/policy/policy_test.go
Labels: impact/no-changelog-required

#3971 add orgName as subdir to policies cache dir
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/policypack.go
  pkg/workspace/plugins.go
Labels: impact/no-changelog-required

#3975 Add comments to Go output resolution
  sdk/go/pulumi/context.go
Labels: impact/no-changelog-required

#3977 Remove use of `github.com/pkg/errors` from Go SDK
  sdk/go/pulumi/alias.go
  sdk/go/pulumi/config/config_test.go
  sdk/go/pulumi/config/try.go
  sdk/go/pulumi/context.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/run.go
  sdk/go/pulumi/templates/config-try.go.template
  sdk/go/pulumi/templates/types_builtins_test.go.template
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_builtins_test.go
  sdk/go/pulumi/types_test.go
Labels: area/languages, impact/no-changelog-required, impact/usability

#3970 fix permalink
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/policypack.go
  pkg/workspace/plugins.go
Labels: impact/no-changelog-required

#3988 Initial schema-based docs gen
  go.mod
  go.sum
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_test.go
Labels: impact/no-changelog-required

#3980 Add an HCL2 syntax helper package.
  go.mod
  go.sum
  pkg/codegen/hcl2/syntax/comments.go
  pkg/codegen/hcl2/syntax/comments_test.go
  pkg/codegen/hcl2/syntax/parser.go
  pkg/codegen/hcl2/syntax/testdata/comments_all.hcl
Labels: impact/no-changelog-required

#3984 Add support for extracting schemas from providers.
  pkg/resource/deploy/builtins.go
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/plugin/provider.go
  pkg/resource/plugin/provider_plugin.go
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/analyzer.pb.go
  sdk/proto/go/engine.pb.go
  sdk/proto/go/language.pb.go
  sdk/proto/go/plugin.pb.go
  sdk/proto/go/provider.pb.go
  sdk/proto/go/resource.pb.go
  sdk/proto/provider.proto
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
Labels: impact/no-changelog-required

#3996 ignore internal properties when unmarshaling
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
Labels: impact/no-changelog-required

#3967 Improve error message for policy pack not found
  pkg/resource/plugin/analyzer_plugin.go
  pkg/resource/plugin/plugin.go
Labels: impact/no-changelog-required

#3990 Update gRPC library used in Go SDKs and regenerate code with latest tools
  go.mod
  go.sum
  sdk/go/pulumi/config/try.go
  sdk/nodejs/proto/analyzer_grpc_pb.js
  sdk/nodejs/proto/analyzer_pb.js
  sdk/nodejs/proto/engine_grpc_pb.js
  sdk/nodejs/proto/engine_pb.js
  sdk/nodejs/proto/errors_grpc_pb.js
  sdk/nodejs/proto/errors_pb.js
  sdk/nodejs/proto/language_grpc_pb.js
  sdk/nodejs/proto/language_pb.js
  sdk/nodejs/proto/plugin_grpc_pb.js
  sdk/nodejs/proto/plugin_pb.js
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/nodejs/proto/provider_pb.js
  sdk/nodejs/proto/resource_pb.js
  sdk/nodejs/proto/status_grpc_pb.js
  sdk/nodejs/proto/status_pb.js
  sdk/proto/Dockerfile
  sdk/proto/generate.sh
  sdk/proto/go/analyzer.pb.go
  sdk/proto/go/engine.pb.go
  sdk/proto/go/errors.pb.go
  sdk/proto/go/language.pb.go
  sdk/proto/go/plugin.pb.go
  sdk/proto/go/provider.pb.go
  sdk/proto/go/resource.pb.go
  sdk/proto/grpc_version.txt
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.py
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/status_pb2.py
Labels: impact/no-changelog-required
