Repository pulumi/pulumi, pull requests merged in 2021-09, with the labels that each got.

#7857 [codegen/go] detect and avoid collisions in resource and type code generation
  pkg/codegen/go/doc.go
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/input-collision/docs/_index.md
  pkg/codegen/internal/test/testdata/input-collision/docs/provider/_index.md
  pkg/codegen/internal/test/testdata/input-collision/docs/resource/_index.md
  pkg/codegen/internal/test/testdata/input-collision/docs/resourceinput/_index.md
  pkg/codegen/internal/test/testdata/input-collision/dotnet/Provider.cs
  pkg/codegen/internal/test/testdata/input-collision/dotnet/Pulumi.Example.csproj
  pkg/codegen/internal/test/testdata/input-collision/dotnet/README.md
  pkg/codegen/internal/test/testdata/input-collision/dotnet/Resource.cs
  pkg/codegen/internal/test/testdata/input-collision/dotnet/ResourceInput.cs
  pkg/codegen/internal/test/testdata/input-collision/dotnet/Utilities.cs
  pkg/codegen/internal/test/testdata/input-collision/dotnet/logo.png
  pkg/codegen/internal/test/testdata/input-collision/go/example/doc.go
  pkg/codegen/internal/test/testdata/input-collision/go/example/init.go
  pkg/codegen/internal/test/testdata/input-collision/go/example/provider.go
  pkg/codegen/internal/test/testdata/input-collision/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/input-collision/go/example/pulumiUtilities.go
  pkg/codegen/internal/test/testdata/input-collision/go/example/resource.go
  pkg/codegen/internal/test/testdata/input-collision/go/example/resourceInput.go
  pkg/codegen/internal/test/testdata/input-collision/nodejs/README.md
  pkg/codegen/internal/test/testdata/input-collision/nodejs/index.ts
  pkg/codegen/internal/test/testdata/input-collision/nodejs/package.json
  pkg/codegen/internal/test/testdata/input-collision/nodejs/provider.ts
  pkg/codegen/internal/test/testdata/input-collision/nodejs/resource.ts
  pkg/codegen/internal/test/testdata/input-collision/nodejs/resourceInput.ts
  pkg/codegen/internal/test/testdata/input-collision/nodejs/tsconfig.json
  pkg/codegen/internal/test/testdata/input-collision/nodejs/types/index.ts
  pkg/codegen/internal/test/testdata/input-collision/nodejs/types/input.ts
  pkg/codegen/internal/test/testdata/input-collision/nodejs/types/output.ts
  pkg/codegen/internal/test/testdata/input-collision/nodejs/utilities.ts
  pkg/codegen/internal/test/testdata/input-collision/python/pulumi_example/README.md
  pkg/codegen/internal/test/testdata/input-collision/python/pulumi_example/__init__.py
  pkg/codegen/internal/test/testdata/input-collision/python/pulumi_example/_utilities.py
  pkg/codegen/internal/test/testdata/input-collision/python/pulumi_example/provider.py
  pkg/codegen/internal/test/testdata/input-collision/python/pulumi_example/py.typed
  pkg/codegen/internal/test/testdata/input-collision/python/pulumi_example/resource.py
  pkg/codegen/internal/test/testdata/input-collision/python/pulumi_example/resource_input.py
  pkg/codegen/internal/test/testdata/input-collision/python/setup.py
  pkg/codegen/internal/test/testdata/input-collision/schema.json
  pkg/codegen/internal/test/testdata/output-funcs/go/go.sum
Labels: impact/no-changelog-required

#7915 Fix lint
  pkg/backend/watch.go
  sdk/go/common/util/cmdutil/child.go
  sdk/nodejs/cmd/pulumi-language-nodejs/proxy_unix.go
  sdk/python/shim_unix.go
Labels: impact/no-changelog-required

#7917 Don't fail if one subset fails
  .github/workflows/run-build-and-acceptance-tests.yml
Labels: impact/no-changelog-required

#7916 Retry http downloads that intermittently fail builds
  pkg/codegen/schema/loader.go
Labels: impact/no-changelog-required

#7904 Upgrade pulumi docker image to use NodeJS 14.x
  .github/workflows/command-dispatch.yml
  .github/workflows/pr.yml
  .github/workflows/run-containers-build.yml
  .github/workflows/trigger-container-build-event.yml
  docker/actions/Dockerfile
  docker/actions/entrypoint.sh
  docker/pulumi/Dockerfile
  scripts/test-containers.sh
  tests/containers/containers_test.go
Labels: impact/no-changelog-required

#7806 Implemented file reading support for Go code generator
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_test.go
  pkg/codegen/go/gen_program_utils.go
Labels: impact/no-changelog-required

#7912 Fixed "unknown property '0'" error
  pkg/codegen/hcl2/model/type_object.go
Labels: impact/no-changelog-required

#7934 Add CodegenUtilities to C# SDK in prep for 5758
  sdk/dotnet/Pulumi/Core/CodegenUtilities.cs
  sdk/dotnet/Pulumi/PublicAPI.Shipped.txt
Labels: impact/no-changelog-required

#7941 Fix license badge in readme
  README.md
Labels: impact/no-changelog-required

#7834 Implemented `sha1()` support for Code Generator
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/dotnet/utilities.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_utils.go
  pkg/codegen/hcl2/functions.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/python/gen_program_expressions.go
Labels: impact/no-changelog-required

#7951 Lower the BrokenDynamicProvider regression test from integration to mock
  sdk/python/lib/test/helpers.py
  sdk/python/lib/test/test_broken_dynamic_provider.py
  sdk/python/lib/test/test_monitor_termination.py
  tests/integration/dynamic/python-broken/Pulumi.yaml
  tests/integration/dynamic/python-broken/__main__.py
  tests/integration/dynamic/python-broken/requirements.txt
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#7863 Implemented filebase64() support for Code Generator
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/dotnet/utilities.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_utils.go
  pkg/codegen/hcl2/functions.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/python/gen_program_expressions.go
Labels: impact/no-changelog-required

#7954 Use json.Unmarshal instead of custom parser
  CHANGELOG_PENDING.md
  pkg/cmd/pulumi/about.go
Labels: area/cli

#7870 Add monitor feature for output values
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/watch.go
  pkg/engine/deployment.go
  pkg/engine/update.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/source_eval.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/provider.pb.go
  sdk/proto/provider.proto
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
Labels: impact/no-changelog-required

#7925 [sdk/nodejs] Marshal output values
  sdk/nodejs/runtime/invoke.ts
  sdk/nodejs/runtime/resource.ts
  sdk/nodejs/runtime/rpc.ts
  sdk/nodejs/runtime/settings.ts
  sdk/nodejs/tests/runtime/props.spec.ts
Labels: impact/no-changelog-required

#7926 [sdk/python] Marshal output values
  sdk/python/lib/pulumi/runtime/invoke.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/pulumi/runtime/settings.py
  sdk/python/lib/test/test_next_serialize.py
Labels: impact/no-changelog-required

#7986 [automation-api] Exclude tests from test_fast.
  scripts/test_subsets.py
  sdk/dotnet/Makefile
  sdk/go/Makefile
  sdk/nodejs/Makefile
  sdk/python/Makefile
  sdk/python/Pipfile
Labels: impact/no-changelog-required

#7988 Fix python lint issues
  sdk/python/lib/pulumi/config.py
  sdk/python/lib/pulumi/dynamic/__main__.py
  sdk/python/lib/pulumi/runtime/config.py
  sdk/python/lib/pulumi/runtime/settings.py
  sdk/python/lib/pulumi/runtime/stack.py
Labels: impact/no-changelog-required

#7975 [sdk/go] Unmarshal output values in component provider
  pkg/resource/provider/component_provider.go
  sdk/go/pulumi/provider.go
  sdk/go/pulumi/provider_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/urnset.go
Labels: impact/no-changelog-required

#7996 [sdk/python] Fix serializing output values within dicts
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/test/test_next_serialize.py
Labels: impact/no-changelog-required

#7938 Emit schema.Package.Version when possible
  CHANGELOG_PENDING.md
  pkg/codegen/dotnet/gen.go
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/version.txt
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/dash-named-schema/python/setup.py
  pkg/codegen/internal/test/testdata/external-resource-schema/dotnet/version.txt
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/external-resource-schema/python/setup.py
  pkg/codegen/internal/test/testdata/input-collision/dotnet/version.txt
  pkg/codegen/internal/test/testdata/input-collision/nodejs/package.json
  pkg/codegen/internal/test/testdata/input-collision/python/setup.py
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/dotnet/version.txt
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/nodejs/package.json
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/python/setup.py
  pkg/codegen/internal/test/testdata/nested-module/dotnet/version.txt
  pkg/codegen/internal/test/testdata/nested-module/nodejs/package.json
  pkg/codegen/internal/test/testdata/nested-module/python/setup.py
  pkg/codegen/internal/test/testdata/output-funcs/go/go.sum
  pkg/codegen/internal/test/testdata/plain-schema-gh6957/dotnet/version.txt
  pkg/codegen/internal/test/testdata/plain-schema-gh6957/nodejs/package.json
  pkg/codegen/internal/test/testdata/plain-schema-gh6957/python/setup.py
  pkg/codegen/internal/test/testdata/provider-config-schema/dotnet/version.txt
  pkg/codegen/internal/test/testdata/provider-config-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/provider-config-schema/python/setup.py
  pkg/codegen/internal/test/testdata/replace-on-change/dotnet/version.txt
  pkg/codegen/internal/test/testdata/replace-on-change/nodejs/package.json
  pkg/codegen/internal/test/testdata/replace-on-change/python/setup.py
  pkg/codegen/internal/test/testdata/resource-args-python/dotnet/version.txt
  pkg/codegen/internal/test/testdata/resource-args-python/nodejs/package.json
  pkg/codegen/internal/test/testdata/resource-args-python/python/setup.py
  pkg/codegen/internal/test/testdata/resource-property-overlap/dotnet/version.txt
  pkg/codegen/internal/test/testdata/resource-property-overlap/nodejs/package.json
  pkg/codegen/internal/test/testdata/resource-property-overlap/python/setup.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/version.txt
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/setup.py
  pkg/codegen/internal/test/testdata/simple-methods-schema/dotnet/version.txt
  pkg/codegen/internal/test/testdata/simple-methods-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/simple-methods-schema/python/setup.py
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/dotnet/version.txt
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/nodejs/package.json
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/python/setup.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/dotnet/version.txt
  pkg/codegen/internal/test/testdata/simple-plain-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/setup.py
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/dotnet/version.txt
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/nodejs/package.json
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/python/setup.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/dotnet/version.txt
  pkg/codegen/internal/test/testdata/simple-resource-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/setup.py
  pkg/codegen/internal/test/testdata/simple-yaml-schema/dotnet/version.txt
  pkg/codegen/internal/test/testdata/simple-yaml-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/simple-yaml-schema/python/setup.py
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
  pkg/codegen/python/utilities.go
  pkg/codegen/python/utilities_test.go
Labels: area/codegen

#7999 Rename PermaLink to Permalink
  pkg/backend/display/options.go
  pkg/backend/filestate/backend.go
  pkg/backend/httpstate/backend.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
Labels: impact/no-changelog-required

#8009 [testing] Add rapid generators for PropertyValues.
  pkg/go.mod
  pkg/go.sum
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  sdk/go/common/resource/plugin/rpc_rapid_test.go
  sdk/go/common/resource/properties_diff.go
  sdk/go/common/resource/testing/assert.go
  sdk/go/common/resource/testing/rapid.go
Labels: impact/no-changelog-required

#8016 Cancel checks on outdated PR commits
  .github/workflows/run-build-and-acceptance-tests.yml
Labels: impact/no-changelog-required

#8004 Faster CI PR verification on Mac OS: run fewer tests, use fewer workers
  .github/workflows/master.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  scripts/test_subsets.py
Labels: impact/no-changelog-required, area/build

#8017 Use case insensitive checks when detecting duplicate type tokens
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/docs/_index.md
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/docs/person/_index.md
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/docs/pet/_index.md
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/docs/provider/_index.md
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/Inputs/PetArgs.cs
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/Outputs/Pet.cs
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/Person.cs
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/Pet.cs
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/Provider.cs
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/Pulumi.Example.csproj
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/README.md
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/Utilities.cs
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/logo.png
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/version.txt
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go-program/go_test.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go/example/doc.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go/example/init.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go/example/person.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go/example/pet.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go/example/provider.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go/example/pulumiUtilities.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/README.md
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/index.ts
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/package.json
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/person.ts
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/pet.ts
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/provider.ts
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/tsconfig.json
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/types/index.ts
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/types/input.ts
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/types/output.ts
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/utilities.ts
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/README.md
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/__init__.py
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/_inputs.py
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/_utilities.py
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/outputs.py
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/person.py
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/pet.py
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/provider.py
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/pulumi_example/py.typed
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/setup.py
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/schema.json
Labels: impact/no-changelog-required

#8002 [apitype] Add a JSON schema for deployments.
  developer-docs/Makefile
  developer-docs/architecture/deployment-schema.md
  developer-docs/index.md
  developer-docs/providers/metaschema.md
  developer-docs/utils/jsonschema2md.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  sdk/go/common/apitype/core.go
  sdk/go/common/apitype/deployments.json
  sdk/go/common/apitype/property-values.json
  sdk/go/common/apitype/resources.json
Labels: area/docs, impact/no-changelog-required, size/S, kind/engineering

#8025 Fix master build
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/.gitignore
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/docs/codegen-manifest.json
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/dotnet/codegen-manifest.json
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go-extras/tests/go_test.go
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/go/codegen-manifest.json
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/nodejs/codegen-manifest.json
  pkg/codegen/internal/test/testdata/resource-args-python-case-insensitive/python/codegen-manifest.json
Labels: impact/no-changelog-required

#8027 Update SDK version in pulumi/pkg
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#8045 Fix build by accepting nodejs codegen output
  pkg/codegen/internal/test/testdata/output-funcs/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/internal/test/testdata/output-funcs/nodejs/funcWithConstInput.ts
  pkg/codegen/internal/test/testdata/output-funcs/nodejs/funcWithDefaultValue.ts
  pkg/codegen/internal/test/testdata/output-funcs/nodejs/funcWithDictParam.ts
  pkg/codegen/internal/test/testdata/output-funcs/nodejs/funcWithListParam.ts
  pkg/codegen/internal/test/testdata/output-funcs/nodejs/getClientConfig.ts
Labels: impact/no-changelog-required

#8055 Do report stdout and stderr in case of failure
  pkg/codegen/internal/test/helpers.go
Labels: impact/no-changelog-required

#7958 [sdk/go] Marshal output values
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/rpc.go
  sdk/go/common/resource/plugin/rpc_test.go
  sdk/go/pulumi/context.go
  sdk/go/pulumi/mocks.go
  sdk/go/pulumi/provider_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
  sdk/go/pulumi/run_test.go
Labels: impact/no-changelog-required

#8082 [sdk/go] Fix unmarshaling known output values in provider
  sdk/go/pulumi/provider_test.go
  sdk/go/pulumi/rpc.go
Labels: impact/no-changelog-required

#8086 Tidy pkg/go.sum
  pkg/go.sum
Labels: impact/no-changelog-required

#8088 Update pkg -> sdk dependency
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#8093 Check worktree is clean before releasing
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#8096 [developer-docs] Add preliminary type system docs.
  developer-docs/architecture/type-system.md
  developer-docs/index.md
Labels: area/docs, impact/no-changelog-required, size/S, kind/engineering

#8097 [engine/test] Add a repro for #7786.
  pkg/engine/lifeycletest/pulumi_test.go
  pkg/engine/lifeycletest/test_plan.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval.go
Labels: impact/no-changelog-required

#8101 Update doc alias
  .github/workflows/run-docs-generation.yml
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#8103 [codegen] Rename the PCL package.
  pkg/cmd/pulumi/import.go
  pkg/codegen/docs/bundler.go
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_optionals.go
  pkg/codegen/go/gen_program_test.go
  pkg/codegen/importer/hcl2_test.go
  pkg/codegen/importer/language.go
  pkg/codegen/importer/language_test.go
  pkg/codegen/internal/test/program_driver.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/nodejs/gen_program_lower.go
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_nodes.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/binder_schema.go
  pkg/codegen/pcl/binder_schema_test.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/pcl/component.go
  pkg/codegen/pcl/config.go
  pkg/codegen/pcl/diagnostics.go
  pkg/codegen/pcl/functions.go
  pkg/codegen/pcl/intrinsics.go
  pkg/codegen/pcl/invoke.go
  pkg/codegen/pcl/local.go
  pkg/codegen/pcl/output.go
  pkg/codegen/pcl/program.go
  pkg/codegen/pcl/resource.go
  pkg/codegen/pcl/rewrite_apply.go
  pkg/codegen/pcl/rewrite_apply_test.go
  pkg/codegen/pcl/rewrite_convert.go
  pkg/codegen/pcl/rewrite_convert_test.go
  pkg/codegen/pcl/rewrite_properties.go
  pkg/codegen/pcl/type.go
  pkg/codegen/pcl/utilities.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/python/gen_program_lower.go
  pkg/codegen/python/gen_program_quotes.go
  pkg/codegen/python/gen_program_quotes_test.go
  pkg/codegen/python/utilities_test.go
Labels: impact/no-changelog-required

#8106 Go codegen flag to disable fnOutput generation to save space
  pkg/codegen/go/gen.go
  pkg/codegen/go/importer.go
Labels: impact/no-changelog-required

#8108 [testing] Stack context for value generation
  sdk/go/common/resource/testing/rapid.go
Labels: impact/no-changelog-required
