Repository pulumi/pulumi, pull requests merged in 2021-08, with the labels that each got.

#7695 Go install command is given proper DOTNET_VERSION
  sdk/dotnet/Makefile
Labels: impact/no-changelog-required

#6902 Assertion fix in config key generation
  pkg/cmd/pulumi/config_test.go
  sdk/go/common/resource/config/key.go
Labels: impact/no-changelog-required

#7662 [codegen/go] Unify some output type generation
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/cat.go
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/component.go
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/provider.go
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/workload.go
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/go/foo/deeply/nested/module/resource.go
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/go/foo/provider.go
  pkg/codegen/internal/test/testdata/nested-module/go/foo/nested/module/resource.go
  pkg/codegen/internal/test/testdata/nested-module/go/foo/provider.go
  pkg/codegen/internal/test/testdata/plain-schema-gh6957/go/xyz/provider.go
  pkg/codegen/internal/test/testdata/plain-schema-gh6957/go/xyz/pulumiTypes.go
  pkg/codegen/internal/test/testdata/plain-schema-gh6957/go/xyz/staticPage.go
  pkg/codegen/internal/test/testdata/provider-config-schema/go/configstation/provider.go
  pkg/codegen/internal/test/testdata/resource-args-python/go/example/person.go
  pkg/codegen/internal/test/testdata/resource-args-python/go/example/pet.go
  pkg/codegen/internal/test/testdata/resource-args-python/go/example/provider.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/provider.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/pulumiEnums.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/nursery.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/pulumiEnums.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/rubberTree.go
  pkg/codegen/internal/test/testdata/simple-methods-schema/go/example/foo.go
  pkg/codegen/internal/test/testdata/simple-methods-schema/go/example/provider.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/component.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/provider.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/component.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/provider.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/go/example/otherResource.go
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/go/example/provider.go
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/go/example/resource.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/otherResource.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/provider.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/resource.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/typeUses.go
  pkg/codegen/internal/test/testdata/simple-yaml-schema/go/example/otherResource.go
  pkg/codegen/internal/test/testdata/simple-yaml-schema/go/example/provider.go
  pkg/codegen/internal/test/testdata/simple-yaml-schema/go/example/pulumiEnums.go
  pkg/codegen/internal/test/testdata/simple-yaml-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-yaml-schema/go/example/resource.go
  pkg/codegen/internal/test/testdata/simple-yaml-schema/go/example/typeUses.go
Labels: impact/no-changelog-required

#7698 Update of CONTRIBUTING.md to reflect 3.0 changelog
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#7708 improve error message when flag passed to -s is not fully qualified
  sdk/go/common/workspace/paths.go
Labels: impact/no-changelog-required

#7707 free prepResource in finally
  sdk/nodejs/runtime/resource.ts
Labels: impact/no-changelog-required

#7718 [programgen] - Fix a panic in property binding
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#7692 Fix Go generation for top-level module resources in a provider with a dash in name
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/dash-named-schema/docs/_index.md
  pkg/codegen/internal/test/testdata/dash-named-schema/docs/provider/_index.md
  pkg/codegen/internal/test/testdata/dash-named-schema/docs/submodule1/_index.md
  pkg/codegen/internal/test/testdata/dash-named-schema/docs/submodule1/moduleresource/_index.md
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/Inputs/TopLevelArgs.cs
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/Outputs/TopLevel.cs
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/Provider.cs
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/Pulumi.FooBar.csproj
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/README.md
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/Submodule1/ModuleResource.cs
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/Submodule1/README.md
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/Utilities.cs
  pkg/codegen/internal/test/testdata/dash-named-schema/dotnet/logo.png
  pkg/codegen/internal/test/testdata/dash-named-schema/go/foo/doc.go
  pkg/codegen/internal/test/testdata/dash-named-schema/go/foo/init.go
  pkg/codegen/internal/test/testdata/dash-named-schema/go/foo/provider.go
  pkg/codegen/internal/test/testdata/dash-named-schema/go/foo/pulumiTypes.go
  pkg/codegen/internal/test/testdata/dash-named-schema/go/foo/pulumiUtilities.go
  pkg/codegen/internal/test/testdata/dash-named-schema/go/foo/submodule1/init.go
  pkg/codegen/internal/test/testdata/dash-named-schema/go/foo/submodule1/moduleResource.go
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/README.md
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/index.ts
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/provider.ts
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/submodule1/index.ts
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/submodule1/moduleResource.ts
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/tsconfig.json
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/types/index.ts
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/types/input.ts
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/types/output.ts
  pkg/codegen/internal/test/testdata/dash-named-schema/nodejs/utilities.ts
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/README.md
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/__init__.py
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/_inputs.py
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/_utilities.py
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/outputs.py
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/provider.py
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/py.typed
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/submodule1/__init__.py
  pkg/codegen/internal/test/testdata/dash-named-schema/python/pulumi_foo_bar/submodule1/module_resource.py
  pkg/codegen/internal/test/testdata/dash-named-schema/python/setup.py
  pkg/codegen/internal/test/testdata/dash-named-schema/schema.json
Labels: impact/no-changelog-required

#7560 [sdk/providers] Fix update previews
  CHANGELOG_PENDING.md
  pkg/engine/lifeycletest/pulumi_test.go
  sdk/go.sum
  sdk/go/common/resource/plugin/provider_plugin.go
Labels: p1

#7737 [sdk/go] Transitive component dependencies.
  CHANGELOG_PENDING.md
  sdk/go/pulumi/context.go
  sdk/go/pulumi/resource.go
  sdk/go/pulumi/resource_set.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
Labels: p1

#7732 [sdk/python] Transitive component dependencies.
  CHANGELOG_PENDING.md
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/test/langhost/component_dependencies/__init__.py
  sdk/python/lib/test/langhost/component_dependencies/__main__.py
  sdk/python/lib/test/langhost/component_dependencies/test_component_dependencies.py
  sdk/python/lib/test/langhost/property_dependencies/test_property_dependencies.py
Labels: p1

#7731 [codegen/docs] Emit docs for methods
  pkg/codegen/docs.go
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_method.go
  pkg/codegen/docs/templates/constructor_params.tmpl
  pkg/codegen/docs/templates/resource.tmpl
  pkg/codegen/dotnet/doc.go
  pkg/codegen/go/doc.go
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/simple-methods-schema/docs/_index.md
  pkg/codegen/internal/test/testdata/simple-methods-schema/docs/foo/_index.md
  pkg/codegen/internal/test/testdata/simple-methods-schema/docs/provider/_index.md
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#7757 Fix lint error
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_method.go
Labels: impact/no-changelog-required

#7761 [backend/http] Better lease renewal diagnosability
  pkg/backend/httpstate/state.go
Labels: impact/no-changelog-required

#7666 Remove threading from mock tests to fix AIO waits on diff event loop
  sdk/python/lib/test_with_mocks/resources.py
  sdk/python/lib/test_with_mocks/test_testing_with_mocks.py
Labels: impact/no-changelog-required

#7768 [sdk/go] Fix a typo in marshaling.
  CHANGELOG_PENDING.md
  pkg/engine/lifeycletest/golang_sdk_test.go
  sdk/go/pulumi/rpc.go
Labels: p0

#7766 Fixed nil pointer error with BindExpressionText and typeExpr
  pkg/codegen/hcl2/binder.go
Labels: impact/no-changelog-required

#7779 [codegen/go] Fix generation of nested collection types and remove invalid args types
  CHANGELOG_PENDING.md
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-yaml-schema/go/example/pulumiTypes.go
Labels: p1

#7787 stabilize go codegen for nested collection types
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#7799 Fix order of go mod tidy
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#7781 Update x/sys for sdk to support go 1.17
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#7821 Satisfy Python lint: factor out URN parsing in Python and other fixes
  sdk/python/lib/pulumi/automation/_local_workspace.py
  sdk/python/lib/pulumi/automation/_representable.py
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/pulumi/automation/events.py
  sdk/python/lib/pulumi/provider/server.py
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/config.py
  sdk/python/lib/pulumi/runtime/mocks.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/pulumi/runtime/stack.py
  sdk/python/lib/pulumi/urn.py
  sdk/python/lib/test/test_urn.py
Labels: impact/no-changelog-required

#7830 Tighten up auto test
  sdk/go/auto/errors_test.go
  sdk/go/auto/test/errors/runtime_error/python/requirements.txt
Labels: impact/no-changelog-required

#7860 fix typos in dev docs
  developer-docs/architecture/resource-registration.md
  developer-docs/providers/implementers-guide.md
Labels: impact/no-changelog-required

#7817 Iwahbe/2715/add pulumi about command
  CHANGELOG_PENDING.md
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/about_test.go
  pkg/cmd/pulumi/pulumi.go
  pkg/go.mod
  pkg/go.sum
  sdk/go/common/testing/environment.go
  sdk/go/common/util/cmdutil/console.go
  sdk/python/python.go
  tests/README.md
  tests/about_test.go
  tests/go.sum
  tests/integration/about/dotnet/.gitignore
  tests/integration/about/dotnet/MyStack.cs
  tests/integration/about/dotnet/Program.cs
  tests/integration/about/dotnet/Pulumi.about-dev.yaml
  tests/integration/about/dotnet/Pulumi.yaml
  tests/integration/about/dotnet/about-csharp.csproj
  tests/integration/about/go/Pulumi.about-stack.yaml
  tests/integration/about/go/Pulumi.yaml
  tests/integration/about/go/go.mod
  tests/integration/about/go/go.sum
  tests/integration/about/go/main.go
  tests/integration/about/nodejs/.gitignore
  tests/integration/about/nodejs/Pulumi.yaml
  tests/integration/about/nodejs/index.ts
  tests/integration/about/nodejs/package-lock.json
  tests/integration/about/nodejs/package.json
  tests/integration/about/nodejs/tsconfig.json
  tests/integration/about/python/.gitignore
  tests/integration/about/python/Pulumi.yaml
  tests/integration/about/python/__main__.py
  tests/integration/about/python/requirements.txt
  tests/integration/integration_dotnet_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
Labels: kind/enhancement
