Repository pulumi/pulumi, pull requests merged in 2021-05, with the labels that each got.

#6947 Fix Python test file names
  sdk/python/lib/test/langhost/inheritance_translation/test_inheritance_translation.py
  sdk/python/lib/test/langhost/inheritance_types/test_inheritance_types.py
Labels: impact/no-changelog-required

#6960 Use local backend for concurrency test
  sdk/nodejs/tests/automation/data/tcfg/Pulumi.yaml
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: impact/no-changelog-required

#6963 Small change to the logic around ambient plugins on the PATH
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#6959 Remove leading and trailing whitespace in resource properties
  pkg/codegen/docs/gen_test.go
  pkg/codegen/docs/templates/constructor_args.tmpl
  pkg/codegen/docs/templates/enums.tmpl
  pkg/codegen/docs/templates/properties.tmpl
  pkg/codegen/internal/test/testdata/external-resource-schema/docs/cat.md
  pkg/codegen/internal/test/testdata/external-resource-schema/docs/component.md
  pkg/codegen/internal/test/testdata/external-resource-schema/docs/provider.md
  pkg/codegen/internal/test/testdata/external-resource-schema/docs/workload.md
  pkg/codegen/internal/test/testdata/simple-enum-schema/docs/provider.md
  pkg/codegen/internal/test/testdata/simple-enum-schema/docs/tree/v1/nursery.md
  pkg/codegen/internal/test/testdata/simple-enum-schema/docs/tree/v1/rubbertree.md
  pkg/codegen/internal/test/testdata/simple-plain-schema/docs/component.md
  pkg/codegen/internal/test/testdata/simple-plain-schema/docs/provider.md
  pkg/codegen/internal/test/testdata/simple-resource-schema/docs/otherresource.md
  pkg/codegen/internal/test/testdata/simple-resource-schema/docs/provider.md
  pkg/codegen/internal/test/testdata/simple-resource-schema/docs/resource.md
Labels: impact/no-changelog-required

#6430 [codegen] Discriminated unions in programgen
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_inputs.go
  pkg/codegen/go/gen_program_test.go
  pkg/codegen/hcl2/binder_schema.go
  pkg/codegen/hcl2/model/type_const.go
  pkg/codegen/hcl2/model/type_eventuals.go
  pkg/codegen/hcl2/model/type_opaque.go
  pkg/codegen/hcl2/model/type_union.go
  pkg/codegen/hcl2/rewrite_convert.go
  pkg/codegen/internal/test/host.go
  pkg/codegen/internal/test/providers.go
  pkg/codegen/internal/test/testdata/azure-native.json
  pkg/codegen/internal/test/testdata/azure-native.pp
  pkg/codegen/internal/test/testdata/azure-native.pp.cs
  pkg/codegen/internal/test/testdata/azure-native.pp.go
  pkg/codegen/internal/test/testdata/azure-native.pp.py
  pkg/codegen/internal/test/testdata/azure-native.pp.ts
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#6970 Add a note to a README about regenerating test data
  pkg/codegen/docs/README.md
Labels: impact/no-changelog-required

#6971 Permit override of Python package naming
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/python/custom_py_package/arg_function.py
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/python/custom_py_package/other_resource.py
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/python/custom_py_package/resource.py
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/schema.json
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_test.go
  pkg/codegen/python/importer.go
Labels: impact/no-changelog-required

#6984 [automation/python] - Export ProjectBackend class
  CHANGELOG_PENDING.md
  sdk/python/lib/pulumi/automation/__init__.py
Labels: kind/bug

#6980 Relax readonly requirement for generated nodejs resource args
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/argFunction.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/cat.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/component.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/nursery.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/rubberTree.ts
  pkg/codegen/internal/test/testdata/simple-plain-schema/nodejs/component.ts
  pkg/codegen/internal/test/testdata/simple-resource-schema/nodejs/argFunction.ts
  pkg/codegen/internal/test/testdata/simple-resource-schema/nodejs/otherResource.ts
  pkg/codegen/internal/test/testdata/simple-resource-schema/nodejs/resource.ts
  pkg/codegen/nodejs/gen.go
Labels: impact/no-changelog-required

#6975 Using goreleaser as the publishing mechanism for Windows binaries
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.prerelease.yml
  .goreleaser.yml
  build.proj
  scripts/build-sdk.cmd
  scripts/build-sdk.ps1
  scripts/build-sdk.sh
  scripts/make_release.ps1
  scripts/make_release.sh
  scripts/prep-for-goreleaser.sh
  scripts/publish.cmd
  scripts/publish.ps1
  scripts/publish_tgz.sh
Labels: impact/no-changelog-required

#6941 Fix tests that used to be skipped on missing async lib
  sdk/python/lib/test/provider/test_server.py
Labels: impact/no-changelog-required, kind/bug

#7031 Create stacks serially before setting config concurrently
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: impact/no-changelog-required

#7035 Skip flaky python test
  sdk/python/lib/test_with_mocks/test_testing_with_mocks.py
Labels: impact/no-changelog-required

#7037 Checkout for command dispatch events was using master
  .github/workflows/run-build-and-acceptance-tests.yml
Labels: impact/no-changelog-required

#7013 Adding Pulumi CLI to our homebrew-tap
  .goreleaser.yml
Labels: impact/no-changelog-required

#7019 Adding acceptance tests for password less passphrase secret providers
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#7006 Trigger an update of the templates go.mod files on release
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#7084 Allow outputs in dictionary resource args
  sdk/dotnet/Pulumi.Tests/Resources/DictionaryResourceArgsTests.cs
  sdk/dotnet/Pulumi/Resources/DictionaryResourceArgs.cs
Labels: impact/no-changelog-required

#7090 Fixup go.sum file to prevent dirty builds
  tests/go.sum
Labels: impact/no-changelog-required

#7098 Fix 2 small release issues with regards to uploading binaries to S3
  .github/workflows/release.yml
  .goreleaser.yml
Labels: impact/no-changelog-required

#7104 Add ability to test downstream codegen and docsgen from PRs
  .github/workflows/command-dispatch.yml
  .github/workflows/pr.yml
  .github/workflows/run-codegen-test.yml
  .github/workflows/run-docs-generation.yml
Labels: impact/no-changelog-required

#7058 Omit non-primitive provider properties from code-gen
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#7088 Update README.md
  README.md
  sdk/nodejs/README.md
Labels: impact/no-changelog-required

#7108 Add RKE and SumoLogic to docs generation titles
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#7110 Testing out the ability to comment back to a PR from command dispatch
  .github/workflows/run-codegen-test.yml
Labels: impact/no-changelog-required

#7136 Fix non-deterministic ordering of generated Python code
  pkg/codegen/python/gen_resource_mappings.go
  pkg/codegen/python/gen_resource_mappings_test.go
Labels: impact/no-changelog-required

#7144 put nodejs resource registration logs behind excessiveDebugOutput flag
  sdk/nodejs/runtime/rpc.ts
Labels: impact/no-changelog-required, impact/performance, kind/engineering

#7145 Fixup the installation of all Pulumi files for the homebrew package
  .goreleaser.yml
Labels: impact/no-changelog-required

#7158 [codegen/go] Fix emitted type of resources and types
  pkg/codegen/dotnet/gen_test.go
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/internal/test/testdata/external-resource-schema/docs/cat.md
  pkg/codegen/internal/test/testdata/external-resource-schema/docs/component.md
  pkg/codegen/internal/test/testdata/external-resource-schema/dotnet/Component.cs
  pkg/codegen/internal/test/testdata/external-resource-schema/dotnet/Inputs/PetArgs.cs
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/component.go
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/component.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/types/input.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/_inputs.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/component.py
  pkg/codegen/internal/test/testdata/external-resource-schema/schema.json
  pkg/codegen/nodejs/gen_test.go
Labels: impact/no-changelog-required

#7137 Support using pre-signed URLs for Azure Storage issued by the Pulumi Service
  pkg/backend/httpstate/client/client.go
  sdk/go/common/apitype/policy.go
Labels: impact/no-changelog-required
