Repository pulumi/pulumi, pull requests merged in 2021-02, with the labels that each got.

#6231 Ensure nightly and master builds with an alpha build version are tagged dev
  scripts/publish_npm.sh
Labels: impact/no-changelog-required

#6234 Add a couple comments
  pkg/backend/httpstate/state.go
Labels: impact/no-changelog-required

#6237 Improve nodejs automation api inline error handling
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
  sdk/nodejs/x/automation/server.ts
  sdk/nodejs/x/automation/stack.ts
Labels: impact/no-changelog-required

#6245 Ensure ubi container installs correct dotnet sdk version
  .github/workflows/trigger-container-build-event.yml
  docker/README.md
  docker/dotnet/Dockerfile.ubi
Labels: impact/no-changelog-required

#6246 Adding a nightly cron job to ensure we are testing Pulumi install
  .github/workflows/download-pulumi-cron.yml
Labels: impact/no-changelog-required

#6270 Remove language SDK blocks from resource templates
  pkg/codegen/docs/templates/index.tmpl
  pkg/codegen/docs/templates/language_sdk_links.tmpl
Labels: impact/no-changelog-required

#6193 Split the windows build + testing to be separate jobs to allow for future language matrix tests
  .github/workflows/artifact-cleanup.yml
  .github/workflows/master.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  build.proj
Labels: impact/no-changelog-required

#6273 Ensuring all of the windows cmd binaries are included in the master builds
  build.proj
Labels: impact/no-changelog-required

#6274 Revert "Split the windows build + testing to be separate jobs to allow for future language matrix tests"
  .github/workflows/artifact-cleanup.yml
  .github/workflows/master.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  build.proj
Labels: no-changelog-required

#6277 Move linting check into command-dispatch job
  .github/workflows/pr.yml
  .github/workflows/run-build-and-acceptance-tests.yml
Labels: impact/no-changelog-required

#6276 fix lint error in Go SDK
  sdk/go/x/auto/stack.go
Labels: impact/no-changelog-required

#6281 fix linting errors in pkg
  pkg/backend/filestate/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
Labels: impact/no-changelog-required

#6296 Fix Python Windows test failures
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#6315 Remove dead Python integration test files
  tests/integration/config_basic/python_venv/.gitignore
  tests/integration/config_basic/python_venv/Pulumi.yaml
  tests/integration/config_basic/python_venv/__main__.py
  tests/integration/config_basic/python_venv/requirements.txt
  tests/integration/dynamic/python_venv/.gitignore
  tests/integration/dynamic/python_venv/Pulumi.yaml
  tests/integration/dynamic/python_venv/__main__.py
  tests/integration/dynamic/python_venv/requirements.txt
  tests/integration/dynamic/python_venv/step1/README.md
  tests/integration/empty/python_venv/.gitignore
  tests/integration/empty/python_venv/Pulumi.yaml
  tests/integration/empty/python_venv/__main__.py
  tests/integration/empty/python_venv/requirements.txt
Labels: impact/no-changelog-required

#6316 Do not specify a specific version of Python on Windows
  build.proj
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#6321 Don't mutate the `opts` argument in resource constructors in Node.js
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/cat.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/component.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/workload.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/rubberTree.ts
  pkg/codegen/internal/test/testdata/simple-resource-schema/nodejs/otherResource.ts
  pkg/codegen/internal/test/testdata/simple-resource-schema/nodejs/resource.ts
  pkg/codegen/nodejs/gen.go
Labels: impact/no-changelog-required

#6328 [codegen/python] Fix issues related to referencing external resources/types
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/_inputs.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/arg_function.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/cat.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/component.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/workload.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/arg_function.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/other_resource.py
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#6330 [codegen/docs] Add environment variable info to Provider inputs
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
Labels: impact/no-changelog-required

#6320 Consolidate issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: impact/no-changelog-required

#6336 Fixing build of test TestResourceNestedPropertyPythonCasing inpkg/codegen
  pkg/codegen/docs/gen_test.go
Labels: impact/no-changelog-required

#6340 Ensure changes to pkg/codegen/docs run PR build
  .github/workflows/run-build-and-acceptance-tests.yml
Labels: impact/no-changelog-required

#6341 [sdk/nodejs] Update @grpc/grpc-js dependency
  sdk/nodejs/package.json
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
Labels: impact/no-changelog-required

#6325 [codegen/docs] - Standardize function and resource titles.
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/docs/gen_test.go
Labels: impact/no-changelog-required

#6357 [codegen/docs] - More doc title fixes
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#6367 Removing arm64 as this repository is not using go1.16 and will fail
  .goreleaser.prerelease.yml
  .goreleaser.yml
Labels: impact/no-changelog-required

#6370 Fix copy/paste bug in provider_server.go
  sdk/go/common/resource/plugin/provider_server.go
Labels: impact/no-changelog-required

#6375 Fix serialization tests of .NET Automation
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
  sdk/dotnet/Pulumi.Automation.Tests/Serialization/ProjectRuntimeYamlConverterTests.cs
  sdk/dotnet/Pulumi.Automation.Tests/Serialization/StackSettingsConfigValueYamlConverterTests.cs
Labels: impact/no-changelog-required

#6382 [Automation API] - resolve stack manipulation test assertions
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
Labels: impact/no-changelog-required

#6385 [codegen/python] Emit pulumiplugin.json in the correct dir
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#6391 Publish Pulumi.Automation as a preview NuGet
  sdk/dotnet/Makefile
  sdk/dotnet/Pulumi.Automation/Pulumi.Automation.csproj
Labels: impact/no-changelog-required

#6393 Allow http cloudurls on pulumi login
  pkg/cmd/pulumi/login.go
Labels: impact/no-changelog-required

#6398 [codegen/dotnet] Fixes to version.txt handling
  pkg/codegen/dotnet/templates.go
Labels: impact/no-changelog-required

#6250 Avoid stack overflow in Azure NextGen program examples
  pkg/codegen/hcl2/model/type.go
  pkg/codegen/hcl2/model/type_list.go
  pkg/codegen/hcl2/model/type_map.go
  pkg/codegen/hcl2/model/type_none.go
  pkg/codegen/hcl2/model/type_object.go
  pkg/codegen/hcl2/model/type_opaque.go
  pkg/codegen/hcl2/model/type_output.go
  pkg/codegen/hcl2/model/type_promise.go
  pkg/codegen/hcl2/model/type_set.go
  pkg/codegen/hcl2/model/type_test.go
  pkg/codegen/hcl2/model/type_tuple.go
  pkg/codegen/hcl2/model/type_union.go
Labels: impact/no-changelog-required

#6407 Fix a lint error
  pkg/codegen/hcl2/model/type.go
Labels: impact/no-changelog-required

#6300 [BREAKING] - Standardize stack select behavior
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .goreleaser.yml
  CHANGELOG.md
  CHANGELOG_PENDING.md
  CONTRIBUTING.md
  pkg/cmd/pulumi/cancel.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_export.go
  pkg/cmd/pulumi/stack_graph.go
  pkg/cmd/pulumi/stack_import.go
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/stack_rename.go
  pkg/cmd/pulumi/stack_rm.go
  pkg/cmd/pulumi/stack_tag.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
  sdk/dotnet/Pulumi.Automation/LocalWorkspace.cs
  sdk/dotnet/Pulumi.Automation/WorkspaceStack.cs
  sdk/go/x/auto/local_workspace.go
  sdk/go/x/auto/stack.go
  sdk/nodejs/x/automation/localWorkspace.ts
  sdk/nodejs/x/automation/stack.ts
  sdk/python/lib/pulumi/x/automation/_local_workspace.py
  sdk/python/lib/pulumi/x/automation/_stack.py
Labels: impact/breaking

#6415 [BREAKING] - Standardize stack select behavior
  CHANGELOG.md
  CHANGELOG_PENDING.md
  pkg/cmd/pulumi/cancel.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_export.go
  pkg/cmd/pulumi/stack_graph.go
  pkg/cmd/pulumi/stack_import.go
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/stack_rename.go
  pkg/cmd/pulumi/stack_rm.go
  pkg/cmd/pulumi/stack_tag.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
  sdk/dotnet/Pulumi.Automation/LocalWorkspace.cs
  sdk/dotnet/Pulumi.Automation/WorkspaceStack.cs
  sdk/go/x/auto/local_workspace.go
  sdk/go/x/auto/stack.go
  sdk/nodejs/tests/automation/data/tcfg/.gitignore
  sdk/nodejs/tests/automation/data/tcfg/Pulumi.yaml
  sdk/nodejs/tests/automation/data/tcfg/index.ts
  sdk/nodejs/tests/automation/data/tcfg/package-lock.json
  sdk/nodejs/tests/automation/data/tcfg/package.json
  sdk/nodejs/tests/automation/data/tcfg/tsconfig.json
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
  sdk/nodejs/x/automation/localWorkspace.ts
  sdk/nodejs/x/automation/stack.ts
  sdk/python/lib/pulumi/x/automation/_local_workspace.py
  sdk/python/lib/pulumi/x/automation/_stack.py
Labels: impact/breaking

#6429 Add triple quotes around deprecation warnings.
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#6428 Adding enum container types support for go codegen
  pkg/codegen/dotnet/gen_test.go
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Tree/V1/Nursery.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/init.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/nursery.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/pulumiEnums.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/index.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/nursery.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/__init__.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/nursery.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/schema.json
  pkg/codegen/nodejs/gen_test.go
  pkg/codegen/python/gen_test.go
Labels: impact/no-changelog-required
