Repository pulumi/pulumi, pull requests merged in 2021-11, with the labels that each got.

#8319 Check in default vscode settings
  .gitignore
  .vscode/settings.json
Labels: impact/no-changelog-required

#8301 Expand dependencies when marshaling output values
  CHANGELOG_PENDING.md
  sdk/nodejs/runtime/resource.ts
  sdk/python/lib/pulumi/runtime/known_types.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
Labels: language/python

#8337 Fix for current broken master tests
  tests/integration/enums/python/requirements.txt
Labels: impact/no-changelog-required

#8341 [codegen/go] Slightly simplify enum type gen.
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#8346 Update pkg -> sdk dependency
  pkg/go.mod
  sdk/go/common/resource/plugin/rpc_test.go
  sdk/go/common/testing/environment.go
  sdk/go/common/workspace/creds.go
  tests/go.mod
Labels: impact/no-changelog-required

#8347 Delete redundant `docker` step from release workflow
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#8344 Fix cmdutil.PrintTable to handle ansi escapes and non-byte glyphs
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/util/cmdutil/console.go
  sdk/go/common/util/cmdutil/console_test.go
  tests/go.mod
  tests/go.sum
Labels: area/cli, impact/usability, impact/no-changelog-required, size/S, capacity/quality

#8358 Fix devcontainer Dockerfile build
  .devcontainer/Dockerfile
Labels: impact/no-changelog-required

#8361 Try an alternative pipenv install method
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  pkg/codegen/internal/test/sdk_driver.go
  sdk/python/Makefile
Labels: impact/no-changelog-required

#8380 Increase default go test timeout
  .vscode/settings.json
Labels: impact/no-changelog-required

#8383 Move gopls settings to .vscode from .devcontainer
  .devcontainer/devcontainer.json
  .vscode/settings.json
Labels: impact/no-changelog-required

#8391 Update pkg -> sdk dependency for 3.17.1
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#8368 Validate python version
  sdk/python/cmd/pulumi-language-python/main.go
Labels: language/python, impact/no-changelog-required

#8394 Move AssertHTTPResultWithRetry from pulumi-eks utils
  pkg/testing/integration/util.go
Labels: impact/no-changelog-required

#8389 [codegen/docs] Use go:embed for templates and use DisplayName from schema for titles
  .github/workflows/run-docs-generation.yml
  Makefile
  pkg/codegen/docs/README.md
  pkg/codegen/docs/bundler.go
  pkg/codegen/docs/bundler/bundler.go
  pkg/codegen/docs/gen.go
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#8384 Improve vscode dotnet support
  .devcontainer/devcontainer.json
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .vscode/settings.json
  sdk/dotnet/Makefile
Labels: impact/no-changelog-required

#8393 Improve corrupt workspace settings experience
  sdk/go/common/workspace/workspace.go
Labels: area/cli, impact/no-changelog-required

#8338 [schema] Add IsOverlay option to disable codegen for particular types
  CHANGELOG_PENDING.md
  developer-docs/providers/metaschema.md
  pkg/codegen/dotnet/gen.go
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/schema/overlay.json
  pkg/codegen/internal/test/testdata/simple-resource-schema/docs/_index.md
  pkg/codegen/internal/test/testdata/simple-resource-schema/docs/codegen-manifest.json
  pkg/codegen/internal/test/testdata/simple-resource-schema/docs/overlayfunction/_index.md
  pkg/codegen/internal/test/testdata/simple-resource-schema/docs/overlayresource/_index.md
  pkg/codegen/internal/test/testdata/simple-resource-schema/schema.json
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_resource_mappings.go
  pkg/codegen/schema/schema.go
  pkg/codegen/schema/schema_test.go
Labels: impact/no-changelog-required

#8404 Dependency graph formalization and PBT tests
  pkg/resource/graph/dependency_graph_rapid_test.go
Labels: impact/no-changelog-required

#8316 Enable output marshaling in .NET
  CHANGELOG_PENDING.md
  sdk/dotnet/Pulumi.Tests/AssertEx.cs
  sdk/dotnet/Pulumi.Tests/Serialization/ConverterTests.cs
  sdk/dotnet/Pulumi.Tests/Serialization/MarshalOutputTests.cs
  sdk/dotnet/Pulumi/Deployment/Deployment.cs
  sdk/dotnet/Pulumi/Deployment/Deployment_Call.cs
  sdk/dotnet/Pulumi/Deployment/Deployment_Invoke.cs
  sdk/dotnet/Pulumi/Deployment/Deployment_Prepare.cs
  sdk/dotnet/Pulumi/Deployment/Deployment_RegisterResourceOutputs.cs
  sdk/dotnet/Pulumi/Deployment/Deployment_Serialization.cs
  sdk/dotnet/Pulumi/Serialization/Constants.cs
  sdk/dotnet/Pulumi/Serialization/Deserializer.cs
  sdk/dotnet/Pulumi/Serialization/Serializer.cs
Labels: language/dotnet

#8212 [sdk/python] Unmarshal output values in component providers
  CHANGELOG_PENDING.md
  sdk/python/lib/pulumi/provider/server.py
  sdk/python/lib/pulumi/runtime/known_types.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/test/provider/test_server.py
  sdk/python/lib/test/test_next_serialize.py
Labels: language/python

#7701 Add tests that create resources from methods
  Makefile
  build.proj
  tests/integration/construct_component_methods_resources/go/Pulumi.yaml
  tests/integration/construct_component_methods_resources/go/component.go
  tests/integration/construct_component_methods_resources/go/go.mod
  tests/integration/construct_component_methods_resources/go/go.sum
  tests/integration/construct_component_methods_resources/go/main.go
  tests/integration/construct_component_methods_resources/nodejs/.gitignore
  tests/integration/construct_component_methods_resources/nodejs/Pulumi.yaml
  tests/integration/construct_component_methods_resources/nodejs/component.ts
  tests/integration/construct_component_methods_resources/nodejs/index.ts
  tests/integration/construct_component_methods_resources/nodejs/package.json
  tests/integration/construct_component_methods_resources/python/.gitignore
  tests/integration/construct_component_methods_resources/python/Pulumi.yaml
  tests/integration/construct_component_methods_resources/python/__main__.py
  tests/integration/construct_component_methods_resources/python/component.py
  tests/integration/construct_component_methods_resources/python/requirements.txt
  tests/integration/construct_component_methods_resources/testcomponent-go/.gitignore
  tests/integration/construct_component_methods_resources/testcomponent-go/main.go
  tests/integration/construct_component_methods_resources/testcomponent-go/random.go
  tests/integration/construct_component_methods_resources/testcomponent-python/.gitignore
  tests/integration/construct_component_methods_resources/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_methods_resources/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_methods_resources/testcomponent-python/random_.py
  tests/integration/construct_component_methods_resources/testcomponent-python/testcomponent.py
  tests/integration/construct_component_methods_resources/testcomponent/index.ts
  tests/integration/construct_component_methods_resources/testcomponent/package.json
  tests/integration/construct_component_methods_resources/testcomponent/pulumi-resource-testcomponent
  tests/integration/construct_component_methods_resources/testcomponent/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_methods_resources/testcomponent/random.ts
  tests/integration/construct_component_methods_resources/testcomponent/tsconfig.json
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
  tests/testprovider/main.go
Labels: impact/no-changelog-required

#8359 Implement the --exclude-protected feature
  CHANGELOG_PENDING.md
  pkg/cmd/pulumi/destroy.go
  pkg/resource/graph/dependency_graph.go
  pkg/resource/graph/dependency_graph_rapid_test.go
  pkg/resource/graph/dependency_graph_test.go
  pkg/resource/graph/resource_set.go
  pkg/resource/graph/resource_set_test.go
  tests/integration/exclude_protected/Pulumi.yaml
  tests/integration/exclude_protected/index.ts
  tests/integration/exclude_protected/package.json
  tests/integration/integration_test.go
Labels: area/cli

#8420 Skip flaky tests until we can fix and investigate them
  pkg/codegen/internal/test/program_driver.go
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
  sdk/go/common/resource/asset_test.go
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
  tests/integration/integration_dotnet_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
  tests/integration/targets/targets_test.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#8421 Add output values integration tests
  Makefile
  build.proj
  tests/integration/construct_component_output_values/go/Pulumi.yaml
  tests/integration/construct_component_output_values/go/component.go
  tests/integration/construct_component_output_values/go/go.mod
  tests/integration/construct_component_output_values/go/go.sum
  tests/integration/construct_component_output_values/go/main.go
  tests/integration/construct_component_output_values/go/pulumiTypes.go
  tests/integration/construct_component_output_values/nodejs/.gitignore
  tests/integration/construct_component_output_values/nodejs/Pulumi.yaml
  tests/integration/construct_component_output_values/nodejs/component.ts
  tests/integration/construct_component_output_values/nodejs/index.ts
  tests/integration/construct_component_output_values/nodejs/package.json
  tests/integration/construct_component_output_values/python/.gitignore
  tests/integration/construct_component_output_values/python/Pulumi.yaml
  tests/integration/construct_component_output_values/python/__main__.py
  tests/integration/construct_component_output_values/python/component.py
  tests/integration/construct_component_output_values/python/requirements.txt
  tests/integration/construct_component_output_values/testcomponent-go/.gitignore
  tests/integration/construct_component_output_values/testcomponent-go/main.go
  tests/integration/construct_component_output_values/testcomponent-go/pulumiTypes.go
  tests/integration/construct_component_output_values/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_output_values/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_output_values/testcomponent-python/testcomponent.py
  tests/integration/construct_component_output_values/testcomponent/index.ts
  tests/integration/construct_component_output_values/testcomponent/package.json
  tests/integration/construct_component_output_values/testcomponent/pulumi-resource-testcomponent
  tests/integration/construct_component_output_values/testcomponent/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_output_values/testcomponent/tsconfig.json
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#7135 [sdk/python] Avoid 'referenced before assignment' error
  sdk/python/lib/pulumi/output.py
Labels: impact/no-changelog-required

#8425 [schema] Add enum overlay support.
  CHANGELOG_PENDING.md
  developer-docs/providers/metaschema.md
  pkg/codegen/dotnet/gen.go
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/schema/overlay.json
  pkg/codegen/internal/test/testdata/simple-resource-schema/docs/overlayresource/_index.md
  pkg/codegen/internal/test/testdata/simple-resource-schema/schema.json
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
  pkg/codegen/schema/pulumi.json
  pkg/codegen/schema/schema.go
Labels: kind/enhancement, size/S, capacity/quality

#8395 Update command respects `--target-dependents`
  CHANGELOG_PENDING.md
  pkg/engine/lifeycletest/target_test.go
  pkg/resource/deploy/step_generator.go
Labels: area/cli

#8437 Move `/opt/pulumi` to `$HOME/.pulumi`
  .devcontainer/Dockerfile
  .gitpod.yml
  .gitpod/Dockerfile
  CONTRIBUTING.md
  build/common.mk
  pkg/testing/integration/program.go
  sdk/dotnet/Makefile
  sdk/nodejs/README.md
Labels: impact/no-changelog-required

#8442 Update pkg -> sdk dependency
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#8456 Fix non-determinism in docsgen
  pkg/codegen/docs/gen.go
  pkg/codegen/internal/test/testdata/env-helper/docs/moduletest/_index.md
Labels: impact/no-changelog-required

#8430 [FIX] unprotect cmd example
  pkg/resource/deploy/step.go
Labels: area/cli, impact/no-changelog-required

#8463 [cli] check main after master
  CHANGELOG_PENDING.md
  sdk/go/common/util/gitutil/git.go
  sdk/go/common/util/gitutil/git_test.go
  sdk/go/common/workspace/templates.go
Labels: area/cli

#8465 [sdk/pthon] Version Check: Handle virtual env correctly
  CHANGELOG_PENDING.md
  sdk/python/cmd/pulumi-language-python/main.go
Labels: language/python

#8469 Do not FailNow() in generators
  sdk/go/common/resource/testing/rapid.go
Labels: impact/no-changelog-required

#8452 Add tsconfig option to specify tsconfig path
  CHANGELOG_PENDING.md
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/run/run.ts
  tests/integration/integration_nodejs_test.go
  tests/integration/tsconfig/Pulumi.yaml
  tests/integration/tsconfig/index.ts
  tests/integration/tsconfig/other.json
  tests/integration/tsconfig/package.json
  tests/integration/tsconfig/tsconfig.json
Labels: area/cli, language/javascript

#8481 Update pkg -> sdk dependency
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#8483 Change build green link from travis to github
  README.md
Labels: impact/no-changelog-required

#8486 Add a unit test over generated Go code to verify ArrayOutput/Index
  pkg/codegen/internal/test/testdata/resource-property-overlap/go-extras/tests/go_test.go
Labels: impact/no-changelog-required

#8451 Update CONTRIBUTING.md with latest information
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#8490 Add String and GoString to Result
  sdk/go/common/util/result/result.go
Labels: impact/no-changelog-required

#8491 Update a misleading comment.
  sdk/go/common/resource/resource_goal.go
Labels: impact/no-changelog-required

#8494 Run validate function even if dryRun=true
  pkg/engine/lifeycletest/pulumi_test.go
  pkg/engine/lifeycletest/test_plan.go
Labels: impact/no-changelog-required

#8492 Fixes 8403 name conflicts in Go codegen
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/regress-8403/docs/_index.md
  pkg/codegen/internal/test/testdata/regress-8403/docs/codegen-manifest.json
  pkg/codegen/internal/test/testdata/regress-8403/docs/getcustomdbroles/_index.md
  pkg/codegen/internal/test/testdata/regress-8403/docs/provider/_index.md
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/GetCustomDbRoles.cs
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/Outputs/GetCustomDbRolesResult.cs
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/Provider.cs
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/Pulumi.Mongodbatlas.csproj
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/README.md
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/Utilities.cs
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/codegen-manifest.json
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/logo.png
  pkg/codegen/internal/test/testdata/regress-8403/go/codegen-manifest.json
  pkg/codegen/internal/test/testdata/regress-8403/go/mongodbatlas/doc.go
  pkg/codegen/internal/test/testdata/regress-8403/go/mongodbatlas/getCustomDbRoles.go
  pkg/codegen/internal/test/testdata/regress-8403/go/mongodbatlas/init.go
  pkg/codegen/internal/test/testdata/regress-8403/go/mongodbatlas/provider.go
  pkg/codegen/internal/test/testdata/regress-8403/go/mongodbatlas/pulumiTypes.go
  pkg/codegen/internal/test/testdata/regress-8403/go/mongodbatlas/pulumiUtilities.go
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/README.md
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/codegen-manifest.json
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/getCustomDbRoles.ts
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/index.ts
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/package.json
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/provider.ts
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/tsconfig.json
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/types/index.ts
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/types/input.ts
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/types/output.ts
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/utilities.ts
  pkg/codegen/internal/test/testdata/regress-8403/python/codegen-manifest.json
  pkg/codegen/internal/test/testdata/regress-8403/python/pulumi_mongodbatlas/README.md
  pkg/codegen/internal/test/testdata/regress-8403/python/pulumi_mongodbatlas/__init__.py
  pkg/codegen/internal/test/testdata/regress-8403/python/pulumi_mongodbatlas/_utilities.py
  pkg/codegen/internal/test/testdata/regress-8403/python/pulumi_mongodbatlas/get_custom_db_roles.py
  pkg/codegen/internal/test/testdata/regress-8403/python/pulumi_mongodbatlas/outputs.py
  pkg/codegen/internal/test/testdata/regress-8403/python/pulumi_mongodbatlas/provider.py
  pkg/codegen/internal/test/testdata/regress-8403/python/pulumi_mongodbatlas/py.typed
  pkg/codegen/internal/test/testdata/regress-8403/python/setup.py
  pkg/codegen/internal/test/testdata/regress-8403/schema.json
Labels: impact/no-changelog-required

#8508 Cleanup sdk codegen tests
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/output-funcs-edgeorder/nodejs/package.json
  pkg/codegen/internal/test/testdata/output-funcs-edgeorder/schema.json
  pkg/codegen/nodejs/gen_test.go
  pkg/codegen/python/gen_test.go
Labels: impact/no-changelog-required
