Repository pulumi/pulumi, pull requests merged in 2021-04, with the labels that each got.

#6630 Be resilient to 3rd party libraries placing a __rest function on the global object.
  sdk/nodejs/runtime/closure/parseFunction.ts
Labels: impact/no-changelog-required

#6674 Run SDK lint jobs
  .github/workflows/run-build-and-acceptance-tests.yml
  sdk/nodejs/output.ts
  sdk/nodejs/runtime/config.ts
  sdk/nodejs/runtime/rpc.ts
  sdk/nodejs/tests/runtime/settings.spec.ts
  sdk/nodejs/x/automation/server.ts
  sdk/python/lib/pulumi/config.py
  sdk/python/lib/pulumi/dynamic/dynamic.py
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/pulumi/runtime/settings.py
  sdk/python/lib/pulumi/runtime/stack.py
  sdk/python/lib/pulumi/x/automation/__init__.py
  sdk/python/lib/pulumi/x/automation/_local_workspace.py
  sdk/python/lib/pulumi/x/automation/_project_settings.py
  sdk/python/lib/pulumi/x/automation/_server.py
  sdk/python/lib/pulumi/x/automation/_stack.py
  sdk/python/lib/pulumi/x/automation/_stack_settings.py
  sdk/python/lib/pulumi/x/automation/_workspace.py
  sdk/python/lib/pulumi/x/automation/errors.py
Labels: impact/no-changelog-required

#6682 Simplify env var propagation
  sdk/dotnet/Pulumi.Automation/Commands/LocalPulumiCmd.cs
Labels: impact/no-changelog-required

#6688 Shortcut resource packages scan
  sdk/dotnet/Pulumi/Serialization/ResourcePackages.cs
Labels: impact/no-changelog-required

#6525 [codegen/python] Support `<Resource>Args` classes
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/_inputs.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/arg_function.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/cat.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/component.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/workload.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/_inputs.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/outputs.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/nursery.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/rubber_tree.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/_inputs.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/component.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/outputs.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/arg_function.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/other_resource.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/resource.py
  pkg/codegen/python/gen.go
  tests/integration/integration_python_test.go
  tests/integration/python/resource_args/.gitignore
  tests/integration/python/resource_args/Pulumi.yaml
  tests/integration/python/resource_args/__main__.py
  tests/integration/python/resource_args/requirements.txt
  tests/integration/python/resource_args/schema.json
Labels: impact/no-changelog-required

#6705 Fix serializing bug if output contains 'items' property
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/test/test_next_serialize.py
Labels: impact/no-changelog-required

#6708 GHA Workflow job to test containers changes
  .github/workflows/run-containers-build.yml
Labels: impact/no-changelog-required

#6706 Update Pulumi python docker image to python 3.9
  CHANGELOG_PENDING.md
  docker/python/Dockerfile
  docker/python/Dockerfile.alpine
Labels: area/build, area/tooling, kind/enhancement

#6720 Remove Prefix suffix on Pulumi.automation Package
  sdk/dotnet/Makefile
  sdk/dotnet/Pulumi.Automation/PublicAPI.Shipped.txt
  sdk/dotnet/Pulumi.Automation/PublicAPI.Unshipped.txt
  sdk/dotnet/Pulumi.Automation/Pulumi.Automation.csproj
Labels: impact/no-changelog-required

#6696 [codegen/python] Adopt improved key translation
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/_inputs.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/arg_function.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/cat.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/component.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/workload.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/_inputs.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/outputs.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/nursery.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/rubber_tree.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/_inputs.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/component.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/outputs.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/arg_function.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/other_resource.py
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/resource.py
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#6721 fix typo in pulumi stack cli docs
  pkg/cmd/pulumi/stack.go
Labels: impact/no-changelog-required

#6731 Method renames for dotnet automation API GA
  CHANGELOG_PENDING.md
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
  sdk/dotnet/Pulumi.Automation/LocalWorkspace.cs
  sdk/dotnet/Pulumi.Automation/PublicAPI.Unshipped.txt
  sdk/dotnet/Pulumi.Automation/Pulumi.Automation.xml
  sdk/dotnet/Pulumi.Automation/Workspace.cs
  sdk/dotnet/Pulumi.Automation/WorkspaceStack.cs
Labels: impact/breaking

#6740 add obj dirs to gitignore
  .gitignore
Labels: impact/no-changelog-required

#6748 Add new doc alias
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#6322 WIP: provider implementer's guide
  sdk/go/common/resource/plugin/doc.go
  sdk/go/common/resource/plugin/provider-implementers-guide.md
  sdk/go/common/resource/plugin/resource_lifecycle.mermaid
  sdk/go/common/resource/plugin/resource_lifecycle.svg
Labels: impact/no-changelog-required

#6761 [sdk/proto] Add providers field to RegisterResourceRequest
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/proto/resource.proto
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
Labels: impact/no-changelog-required

#6763 Update escape character list for python docstrings
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#6766 Linting errors post master -> feature-3.0
  pkg/cmd/pulumi/history.go
  sdk/dotnet/Pulumi.Automation/PublicAPI.Shipped.txt
  tests/integration/construct_component_plain/go/go.mod
  tests/integration/construct_component_plain/go/go.sum
  tests/integration/construct_component_plain/go/main.go
  tests/login_test.go
Labels: impact/no-changelog-required

#6764 [CLI] Handle providers field for RegisterResourceRequest
  pkg/resource/deploy/source_eval.go
Labels: impact/no-changelog-required

#6776 [automation/python] - Fix stack settings serialization
  sdk/python/lib/pulumi/automation/_stack_settings.py
  sdk/python/lib/test/automation/test_local_workspace.py
Labels: impact/no-changelog-required

#6791 Rename gcp-native reference in docs
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#6788 Generate old type names in k8s compat mode.
  pkg/codegen/dotnet/gen.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#6801 [docgen] Fix horizontal scroll in python resource docs
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/docs/templates/constructor_args.tmpl
  pkg/codegen/docs/templates/constructor_params.tmpl
  pkg/codegen/docs/templates/resource.tmpl
  pkg/codegen/docs/templates/utils.tmpl
Labels: impact/no-changelog-required

#6824 Update the logo and get-started button
  README.md
Labels: impact/no-changelog-required

#6828 Remove references to automation api being in alpha
  sdk/go/auto/README.md
  sdk/go/auto/stack.go
  sdk/python/lib/pulumi/automation/__init__.py
Labels: impact/no-changelog-required

#6825 Ensuring Yandex is part of the docs title generations
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#6832 Fixing up Pulumi logo in dotnet package
  sdk/dotnet/pulumi_logo_64x64.png
Labels: impact/no-changelog-required

#6834 Changing the logo reference in the DotNet Codegen to be the new Pulumi logo
  pkg/codegen/dotnet/gen.go
Labels: impact/no-changelog-required

#6864 remove erroneous global promise rejection handler
  sdk/nodejs/runtime/debuggable.ts
Labels: impact/no-changelog-required

#6872 [sdk/python] - Fix python lint errors
  sdk/python/lib/pulumi/automation/_cmd.py
  sdk/python/lib/pulumi/automation/_local_workspace.py
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#6855 Permit Go program gen to work with modules at v1
  pkg/codegen/go/gen_program.go
Labels: impact/no-changelog-required

#6865 docs: Update Github logo
  README.md
Labels: impact/no-changelog-required

#6905 [automation/dotnet] Enable SourceLink with embedded PDB
  sdk/dotnet/Pulumi.Automation/Pulumi.Automation.csproj
Labels: impact/no-changelog-required

#6901 [auto/go] Fix stack settings save/load typo and add tests
  sdk/go/auto/local_workspace.go
  sdk/go/auto/local_workspace_test.go
Labels: impact/no-changelog-required

#6909 [cleanup] Small stylistic changes to NewPassphaseSecretsManagerFromState
  pkg/secrets/passphrase/manager.go
Labels: impact/no-changelog-required

#6862 Permit production of flat Go packages
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/go/importer.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/component.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/doc.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/init.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/provider.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/pulumiUtilities.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/schema.json
Labels: impact/no-changelog-required

#6885 Proposal: PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: impact/no-changelog-required

#6866 Respect baseImportPath in codegen'd Go SDKs
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/simple-plain-schema-with-root-package/go/pulumiUtilities.go
Labels: impact/no-changelog-required

#6935 Add user agent to the CLI, Go and Nodejs Automation API SDKs
  CHANGELOG_PENDING.md
  pkg/backend/updates.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/watch.go
  sdk/go/auto/debug/debuglogging.go
  sdk/go/auto/local_workspace_test.go
  sdk/go/auto/minimum_version.go
  sdk/go/auto/optdestroy/optdestroy.go
  sdk/go/auto/optpreview/optpreview.go
  sdk/go/auto/optrefresh/optrefresh.go
  sdk/go/auto/optup/optup.go
  sdk/go/auto/stack.go
  sdk/nodejs/automation/minimumVersion.ts
  sdk/nodejs/automation/stack.ts
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: area/automation-api, kind/enhancement

#6938 [kind/bug] [automation/go]: Look in workspace options for version optout
  sdk/go/auto/local_workspace.go
Labels: impact/no-changelog-required, kind/bug

#6940 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: impact/no-changelog-required, kind/bug
