Repository pulumi/pulumi, pull requests merged in 2021-06, with the labels that each got.

#7188 skip installing dev dependencies for nodejs plugin setup
  pkg/backend/httpstate/policypack.go
  pkg/cmd/pulumi/new.go
  sdk/go/common/workspace/plugins.go
  sdk/nodejs/npm/npm.go
  sdk/nodejs/npm/npm_test.go
Labels: impact/no-changelog-required, impact/performance

#7193 Bump the Pulumi Service API version header to 7
  .github/PULL_REQUEST_TEMPLATE.md
  pkg/backend/httpstate/client/api.go
Labels: impact/no-changelog-required

#7203 Adding a workflow dispatch to GHA to test master builds from branches
  .github/workflows/master.yml
Labels: impact/no-changelog-required

#7216 Fix a typo
  sdk/nodejs/config.ts
Labels: impact/no-changelog-required

#7222 [build] ensure downstream codegen tests run go mod tidy
  .github/workflows/run-codegen-test.yml
Labels: impact/no-changelog-required

#7215 Edit doc comment
  sdk/dotnet/Pulumi/Core/OutputUtilities.cs
Labels: impact/no-changelog-required

#7233 Update CoC to include GH Discussions and Slack
  CODE-OF-CONDUCT.md
Labels: impact/no-changelog-required

#7214 Fix MarshalProperties handling of list-nested unknowns
  sdk/go/common/resource/plugin/rpc.go
  sdk/go/common/resource/plugin/rpc_test.go
Labels: impact/no-changelog-required

#7235 Render logs consistently in watch and logs
  pkg/backend/watch.go
Labels: impact/no-changelog-required

#7257 [sdk/python] Fix linting errors due to missing types files
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  sdk/python/Pipfile
Labels: impact/no-changelog-required

#7256 Add helper methods to StringSet
  pkg/codegen/utilities.go
  pkg/codegen/utilities_test.go
Labels: impact/no-changelog-required

#7173 [dotnet/sdk] Add create unknown to output utilities
  CHANGELOG_PENDING.md
  sdk/dotnet/Pulumi.Tests/Core/OutputTests.cs
  sdk/dotnet/Pulumi.Tests/Serialization/ConverterTests.cs
  sdk/dotnet/Pulumi.Tests/Serialization/ListOutputCompletionSourceTests.cs
  sdk/dotnet/Pulumi/Core/Output.cs
  sdk/dotnet/Pulumi/Core/OutputUtilities.cs
  sdk/dotnet/Pulumi/PublicAPI.Shipped.txt
Labels: size/S

#7141 Add schema support for methods
  pkg/codegen/internal/test/testdata/schema/bad-methods-1.json
  pkg/codegen/internal/test/testdata/schema/bad-methods-2.json
  pkg/codegen/internal/test/testdata/schema/bad-methods-3.json
  pkg/codegen/internal/test/testdata/schema/bad-methods-4.json
  pkg/codegen/internal/test/testdata/schema/bad-methods-5.json
  pkg/codegen/internal/test/testdata/schema/bad-methods-6.json
  pkg/codegen/internal/test/testdata/schema/good-methods-1.json
  pkg/codegen/schema/schema.go
  pkg/codegen/schema/schema_test.go
Labels: impact/no-changelog-required

#7248 Add trace proxying to fix sub-process trace collection into files
  pkg/testing/integration/program.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/util/cmdutil/trace.go
  sdk/go/pulumi-language-go/main.go
  tests/go.mod
  tests/integration/appdash_test.go
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required, size/S

#7117 [dotnet/sdk] Support microsoft logging extensions with inline programs
  CHANGELOG_PENDING.md
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
  sdk/dotnet/Pulumi.Automation.Tests/Pulumi.Automation.Tests.csproj
  sdk/dotnet/Pulumi.Automation.Tests/xunit.runner.json
  sdk/dotnet/Pulumi.Automation/LocalWorkspace.cs
  sdk/dotnet/Pulumi.Automation/LocalWorkspaceOptions.cs
  sdk/dotnet/Pulumi.Automation/PreviewOptions.cs
  sdk/dotnet/Pulumi.Automation/PublicAPI.Shipped.txt
  sdk/dotnet/Pulumi.Automation/Pulumi.Automation.xml
  sdk/dotnet/Pulumi.Automation/Runtime/LanguageRuntimeService.cs
  sdk/dotnet/Pulumi.Automation/UpOptions.cs
  sdk/dotnet/Pulumi.Automation/Workspace.cs
  sdk/dotnet/Pulumi.Automation/WorkspaceStack.cs
  sdk/dotnet/Pulumi.Tests/xunit.runner.json
  sdk/dotnet/Pulumi/Core/Output.cs
  sdk/dotnet/Pulumi/Deployment/Deployment.EnginerLogger.cs
  sdk/dotnet/Pulumi/Deployment/Deployment.Runner.cs
  sdk/dotnet/Pulumi/Deployment/Deployment.cs
  sdk/dotnet/Pulumi/Deployment/Deployment_Inline.cs
  sdk/dotnet/Pulumi/Deployment/Deployment_RegisterResourceOutputs.cs
  sdk/dotnet/Pulumi/Deployment/IDeploymentInternal.cs
  sdk/dotnet/Pulumi/Deployment/IEngineLogger.cs
  sdk/dotnet/Pulumi/Deployment/InlineDeploymentSettings.cs
  sdk/dotnet/Pulumi/Pulumi.csproj
Labels: size/S

#7297 [codegen/pcl] Allow missing object properties.
  pkg/codegen/hcl2/binder.go
  pkg/codegen/hcl2/binder_schema.go
Labels: impact/no-changelog-required

#7305 Add an option to skip resource typechecking.
  pkg/codegen/hcl2/binder.go
  pkg/codegen/hcl2/binder_resource.go
Labels: impact/no-changelog-required

#7279 Tracing enhancements for CLI perf metrics capture
  pkg/testing/integration/program.go
  sdk/go/common/util/cmdutil/trace.go
  sdk/nodejs/runtime/rpc.ts
Labels: impact/no-changelog-required

#7236 Ensure we announce the release to GitHub Discussions
  .goreleaser.yml
Labels: impact/no-changelog-required

#7304 [codegen/schema] Fix intermittent failing test
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#7319 Add a convert-trace command.
  pkg/cmd/pulumi/convert-trace.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/query.go
  pkg/cmd/pulumi/view-trace.go
  pkg/go.mod
  pkg/go.sum
  pkg/resource/deploy/source_eval.go
  sdk/go.sum
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/util/rpcutil/interceptor.go
  sdk/go/common/util/rpcutil/serve.go
  tests/go.sum
Labels: impact/no-changelog-required

#7344 Print actionable information on assertion failure
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#7345 Fix watch command in macos arm64 builds
  pkg/backend/watch_darwin_arm64.go
Labels: impact/no-changelog-required

#7239 [codegen/python] Update Python codegen to use a non-conflicting property name
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#7049 Fix hanging deployments and improve errmsgs for programs with incorrect typings for output values
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
  tests/integration/dynamic/python-broken/Pulumi.yaml
  tests/integration/dynamic/python-broken/__main__.py
  tests/integration/dynamic/python-broken/requirements.txt
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#7354 [sdk/go] Add Contains method to PropertyPath
  sdk/go/common/resource/properties_path.go
  sdk/go/common/resource/properties_path_test.go
Labels: impact/no-changelog-required

#7362 Add complete third-party Python module and fix setup.py indentation
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/python/foo_bar/deeply/__init__.py
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/python/foo_bar/deeply/nested/__init__.py
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/python/foo_bar/deeply/nested/module/__init__.py
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/python/foo_bar/deeply/nested/module/resource.py
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/python/setup.py
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/schema.json
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_test.go
Labels: impact/no-changelog-required

#7358 Include config secret info in Construct calls
  pkg/resource/deploy/source_eval.go
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_server.go
  sdk/go/pulumi/provider.go
  sdk/nodejs/proto/provider_pb.js
  sdk/nodejs/provider/server.ts
  sdk/proto/go/provider.pb.go
  sdk/proto/provider.proto
  sdk/python/lib/pulumi/provider/server.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  tests/integration/construct_component/dotnet/Component.cs
  tests/integration/construct_component/go/main.go
  tests/integration/construct_component/nodejs/component.ts
  tests/integration/construct_component/python/component.py
  tests/integration/construct_component/testcomponent-go/main.go
  tests/integration/construct_component/testcomponent-python/testcomponent.py
  tests/integration/construct_component/testcomponent/index.ts
  tests/integration/integration_dotnet_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#7356 Ensure releases are announced to GitHub discussions
  .goreleaser.yml
Labels: impact/no-changelog-required

#7389 Fix pylint issues
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/pulumi/automation/events.py
  sdk/python/lib/pulumi/dynamic/__main__.py
  sdk/python/lib/pulumi/resource.py
Labels: impact/no-changelog-required
