Repository pulumi/pulumi, pull requests merged in 2021-03, with the labels that each got.

#6433 [codegen/python] - Fix python .get() codegen
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/cat.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/component.py
  pkg/codegen/internal/test/testdata/external-resource-schema/python/pulumi_example/workload.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Tree/V1/RubberTree.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/rubberTree.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/rubber_tree.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/schema.json
  pkg/codegen/internal/test/testdata/simple-resource-schema/python/pulumi_example/resource.py
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#6447 Ignore Pipfile.lock
  .gitignore
Labels: impact/no-changelog-required

#6449 Add missing provider title lookup
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#6450 [automation/python] - Add missing options to preview and up
  sdk/python/lib/pulumi/x/automation/_stack.py
Labels: impact/no-changelog-required

#6102 Ensuring that changes to codegen runs a test against azure-nextgen
  .github/workflows/run-codegen-test.yml
Labels: impact/no-changelog-required

#6476 Ensuring dotnet package sources are correct for local packages
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  pkg/testing/integration/program.go
  tests/integration/get_resource/dotnet/GetResource.csproj
  tests/integration/transformations/dotnet/simple/Transformations.csproj
Labels: impact/no-changelog-required

#6473 Upgrading to go-cloud v0.22.0
  pkg/go.mod
  pkg/go.sum
  scripts/go.sum
  sdk/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#6486 Fixing the version string of Go1.16 in the Pulumi dockerfile
  docker/pulumi/Dockerfile
Labels: impact/no-changelog-required

#6481 Add schema & codegen support for plain properties
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/gen_test.go
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/dotnet/Component.cs
  pkg/codegen/internal/test/testdata/simple-plain-schema/dotnet/Inputs/FooArgs.cs
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/component.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/doc.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/init.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/provider.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/pulumiUtilities.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/nodejs/component.ts
  pkg/codegen/internal/test/testdata/simple-plain-schema/nodejs/types/index.ts
  pkg/codegen/internal/test/testdata/simple-plain-schema/nodejs/types/input.ts
  pkg/codegen/internal/test/testdata/simple-plain-schema/nodejs/types/output.ts
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/_inputs.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/component.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/python/pulumi_example/outputs.py
  pkg/codegen/internal/test/testdata/simple-plain-schema/schema.json
  pkg/codegen/nodejs/gen.go
  pkg/codegen/nodejs/gen_test.go
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_test.go
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#6460 Migrate the version calculation to use pulumictl
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .github/workflows/run-codegen-test.yml
  .github/workflows/run-docs-generation.yml
  Makefile
  build.proj
  scripts/get-py-version
  scripts/get-py-version.go
  scripts/get-version
  scripts/get-version.cmd
  scripts/get-version.ps1
  scripts/make_release.ps1
  scripts/make_release.sh
  scripts/publish.ps1
  scripts/publish_packages.sh
  sdk/dotnet/Makefile
  sdk/go/Makefile
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: impact/no-changelog-required

#6496 Change nodejs codegen to use coalescing operator when when default values are present
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/rubberTree.ts
  pkg/codegen/nodejs/gen.go
Labels: impact/no-changelog-required

#6497 Disabling the use of pulumi watch on darwin/arm64 architecture
  CHANGELOG_PENDING.md
  pkg/backend/watch.go
  pkg/backend/watch_darwin_arm64.go
Labels: area/build, area/cli

#6501 Debugging why windows builds are being marked as dirty
  .github/workflows/master.yml
Labels: impact/no-changelog-required

#6436 [automation/go] - Expose structured logging
  CHANGELOG_PENDING.md
  pkg/backend/display/events.go
  pkg/go.sum
  scripts/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/apitype/events.go
  sdk/go/common/apitype/history.go
  sdk/go/x/auto/events/events.go
  sdk/go/x/auto/local_workspace_test.go
  sdk/go/x/auto/optdestroy/optdestroy.go
  sdk/go/x/auto/optpreview/optpreview.go
  sdk/go/x/auto/optrefresh/optrefresh.go
  sdk/go/x/auto/optup/optup.go
  sdk/go/x/auto/stack.go
  sdk/go/x/auto/watcher.go
  tests/go.sum
Labels: impact/breaking

#6502 Fixing up go.mod and go.sum to ensure they don't continually change
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .gitignore
  Makefile
  build.proj
  pkg/go.mod
  pkg/go.sum
  scripts/go.mod
  scripts/go.sum
  sdk/go.mod
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#6516 Set VERSION_PREFIX to be 3.0.0 when using feature-3.0 branch
  .github/workflows/master.yml
Labels: impact/no-changelog-required

#6521 Skip breaking dotnet automation api test
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
Labels: impact/no-changelog-required

#6523 JSON does not admit trailing commas
  sdk/dotnet/Pulumi.Automation.Tests/Serialization/GeneralJsonConverterTests.cs
Labels: impact/no-changelog-required

#6524 Update resource-docs templates to adjust for Hugo upgrade
  pkg/codegen/docs/templates/constructor_args.tmpl
  pkg/codegen/docs/templates/enums.tmpl
  pkg/codegen/docs/templates/examples.tmpl
  pkg/codegen/docs/templates/package_details.tmpl
  pkg/codegen/docs/templates/properties.tmpl
Labels: impact/no-changelog-required

#6530 [automation/dotnet,nodejs,python] Specify exec-kind for refresh & destroy
  sdk/dotnet/Pulumi.Automation/WorkspaceStack.cs
  sdk/nodejs/x/automation/stack.ts
  sdk/python/lib/pulumi/x/automation/_stack.py
Labels: impact/no-changelog-required

#6566 Ensure that make brew works as expected rather than passing empty version
  Makefile
  scripts/get-version
  sdk/dotnet/Makefile
  sdk/go/Makefile
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: area/build, area/cli, impact/no-changelog-required

#6545 Make template repository URL and ref modifiable
  sdk/go/common/workspace/templates.go
Labels: impact/no-changelog-required

#6573 Fix docstring on node log.error and other SDK equivalents
  sdk/dotnet/Pulumi/Deployment/Deployment.Logger.cs
  sdk/dotnet/Pulumi/Log.cs
  sdk/go/pulumi/log.go
  sdk/nodejs/log/index.ts
  sdk/python/lib/pulumi/log.py
Labels: impact/no-changelog-required

#6584 [automation/dotnet] - Isolate project and stack names, defer stack removal for tests
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
  sdk/dotnet/Pulumi.Automation/LocalWorkspace.cs
Labels: impact/no-changelog-required

#6586 [automation/dotnet] - Fix child process stream capture
  sdk/dotnet/Pulumi.Automation/Commands/LocalPulumiCmd.cs
Labels: impact/no-changelog-required

#6582 Upgrade Go to 1.16.2 in Pulumi containers
  docker/go/Dockerfile
  docker/go/Dockerfile.alpine
  docker/go/Dockerfile.ubi
  docker/pulumi/Dockerfile
Labels: impact/no-changelog-required

#6598 Ensure we pass a v prefix to the version string on Windows
  .github/workflows/run-build-and-acceptance-tests.yml
  build.proj
Labels: impact/no-changelog-required

#6593 Reduce the number of methods on output
  sdk/go/pulumi/context.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_test.go
Labels: impact/no-changelog-required

#6604 [automation/nodejs,go,python] - Expose pulumiVersion as string
  sdk/go/x/auto/local_workspace.go
  sdk/go/x/auto/local_workspace_test.go
  sdk/go/x/auto/workspace.go
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
  sdk/nodejs/x/automation/localWorkspace.ts
  sdk/nodejs/x/automation/workspace.ts
  sdk/python/lib/pulumi/x/automation/_local_workspace.py
  sdk/python/lib/pulumi/x/automation/_workspace.py
  sdk/python/lib/test/automation/test_local_workspace.py
Labels: impact/no-changelog-required

#6607 [sdk/go] Simplify `Apply` method options to reduce binary size
  CHANGELOG_PENDING.md
  sdk/go/pulumi/alias.go
  sdk/go/pulumi/stack_reference.go
  sdk/go/pulumi/templates/types_builtins.go.template
  sdk/go/pulumi/templates/types_builtins_test.go.template
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_builtins.go
  sdk/go/pulumi/types_builtins_test.go
  sdk/go/pulumi/types_test.go
  tests/integration/stack_reference/go/step1/main.go
  tests/integration/stack_reference/go/step2/main.go
Labels: impact/breaking

#6612 [automation/*] - Add min version test for prerelease
  sdk/go/x/auto/local_workspace_test.go
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
  sdk/python/lib/test/automation/test_local_workspace.py
Labels: impact/no-changelog-required

#6624 [tests] Add test to validate generated config file
  tests/config_test.go
Labels: impact/no-changelog-required

#6627 [sdk/python] Fix mypy errors
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/pulumi/x/automation/_cmd.py
  sdk/python/mypy.ini
Labels: impact/no-changelog-required

#6625 Make .old and .new nullable on StateEventMetadata
  sdk/nodejs/x/automation/events.ts
Labels: impact/no-changelog-required

#6637 [test] Randomize stack names for some .NET tests
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
Labels: impact/no-changelog-required

#6656 Fix mypy errors
  sdk/python/lib/pulumi/runtime/mocks.py
  sdk/python/lib/pulumi/runtime/stack.py
Labels: impact/no-changelog-required

#6659 Ensure that v is passed to the ldflags as part of windows binary creation
  scripts/make_release.ps1
Labels: impact/no-changelog-required

#6662 [docker] allow docker container builds to pass when security advistory
  .github/workflows/trigger-container-build-event.yml
  docker/nodejs/Dockerfile
  docker/nodejs/Dockerfile.alpine
Labels: impact/no-changelog-required

#6654 Use CliWrap for subprocess management
  sdk/dotnet/Pulumi.Automation.Tests/LocalPulumiCmdTests.cs
  sdk/dotnet/Pulumi.Automation/Commands/LocalPulumiCmd.cs
  sdk/dotnet/Pulumi.Automation/Pulumi.Automation.csproj
Labels: impact/no-changelog-required

#6528 [codegen/go] Support nested collection types
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/schema.json
  sdk/go/pulumi/generate.go
  sdk/go/pulumi/types_builtins.go
  sdk/go/pulumi/types_builtins_test.go
Labels: impact/no-changelog-required

#6641 [codegen/go] Fix Go resource registrations
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/init.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/init.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/init.go
  pkg/codegen/internal/test/testdata/simple-plain-schema/go/example/init.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/init.go
Labels: impact/no-changelog-required
