Repository pulumi/pulumi, pull requests merged in 2021-01, with the labels that each got.

#6030 Ensure that testing containers happens as part of a pulumi publish event
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  Makefile
  scripts/build-docker.sh
  scripts/test-containers.sh
  scripts/update_homebrew.sh
Labels: impact/no-changelog-required

#6049 Export UpdateID as part of the UpdateInfo event that comes from the SaaS
  sdk/go/common/apitype/history.go
Labels: impact/no-changelog-required

#6047 [codegen/dotnet] Stop generating nested unions
  pkg/codegen/dotnet/gen.go
Labels: impact/no-changelog-required

#6009 Document Go packages
  pkg/backend/backend.go
  pkg/backend/display/doc.go
  pkg/backend/doc.go
  pkg/backend/filestate/doc.go
  pkg/backend/httpstate/client/doc.go
  pkg/backend/httpstate/doc.go
  pkg/backend/policypack.go
  pkg/backend/stack.go
  pkg/cmd/pulumi/doc.go
  pkg/engine/doc.go
  pkg/engine/engine.go
  pkg/engine/snapshot.go
  pkg/operations/doc.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/doc.go
  pkg/resource/deploy/providers/doc.go
  pkg/resource/deploy/source.go
  pkg/resource/deploy/source_query.go
  pkg/resource/graph/doc.go
  pkg/resource/provider/doc.go
  pkg/resource/stack/checkpoint.go
  pkg/resource/stack/doc.go
  pkg/resource/stack/secrets.go
  pkg/secrets/b64/manager.go
  pkg/secrets/cloud/manager.go
  pkg/secrets/manager.go
  pkg/secrets/passphrase/manager.go
  pkg/secrets/service/manager.go
  pkg/testing/integration/doc.go
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#6092 [dotnet] Unsecret and IsSecret implementation for .NET
  CHANGELOG.md
  sdk/dotnet/Pulumi.Tests/Core/OutputTests.cs
  sdk/dotnet/Pulumi/Core/Output.cs
  sdk/dotnet/Pulumi/PublicAPI.Shipped.txt
Labels: area/secrets, language/dotnet

#6072 Adding the pulumi.ecr.aws images as part of the docker images release
  .github/workflows/trigger-container-build-event.yml
Labels: impact/no-changelog-required

#6089 Plumb context through RPC interface to support resource construction
  sdk/go/pulumi/context.go
  sdk/go/pulumi/resource_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
Labels: impact/no-changelog-required

#6070 Fixes to support non-pulumi backends in kubernetes operator
  pkg/cmd/pulumi/new_test.go
  pkg/go.sum
  sdk/go/common/workspace/creds.go
  sdk/go/x/auto/stack.go
Labels: impact/no-changelog-required

#6095 [Go] Add debug logging settings for common automation API operations
  CHANGELOG.md
  sdk/go/x/auto/debug/debuglogging.go
  sdk/go/x/auto/example_test.go
  sdk/go/x/auto/optdestroy/optdestroy.go
  sdk/go/x/auto/optpreview/optpreview.go
  sdk/go/x/auto/optrefresh/optrefresh.go
  sdk/go/x/auto/optup/optup.go
  sdk/go/x/auto/stack.go
Labels: area/automation-api

#6097 [go/codegen] Remove unnecessary local copy of stringSet
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_crd2pulumi.go
  pkg/codegen/go/gen_program.go
  pkg/go.sum
Labels: area/codegen, impact/no-changelog-required

#6117 [codegen/go] Add utility function to get current package version
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#6122 Updating the description for the pulumi logs cli command
  pkg/cmd/pulumi/logs.go
Labels: impact/no-changelog-required

#6125 Fix resource-ref-as-ID marshaling.
  pkg/engine/events.go
  pkg/engine/lifeycletest/pulumi_test.go
  pkg/engine/lifeycletest/resource_reference_test.go
  pkg/resource/stack/deployment.go
  sdk/go/common/resource/plugin/rpc.go
  sdk/go/common/resource/plugin/rpc_test.go
  sdk/go/common/resource/properties.go
  sdk/go/common/resource/properties_diff.go
  sdk/go/pulumi/rpc.go
Labels: impact/no-changelog-required

#6116 Add resource ref unit tests for the Go SDK.
  sdk/go/pulumi/resource.go
  sdk/go/pulumi/resource_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
Labels: impact/no-changelog-required

#6136 Revert "Add resource ref unit tests for the Go SDK."
  sdk/go/pulumi/resource.go
  sdk/go/pulumi/resource_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
Labels: impact/no-changelog-required

#6127 [chore] cleanup go formatting of pulumi.Unsecret
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#6094 Add an option to be able to stack export showing secrets for use in ExtraRuntimeValidation
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#5729 try an arm64 build
  .goreleaser.prerelease.yml
  .goreleaser.yml
Labels: impact/no-changelog-required

#6142 Add resource ref unit tests for the Go SDK.
  sdk/go/pulumi/resource.go
  sdk/go/pulumi/resource_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
Labels: impact/no-changelog-required

#6121 [codegen/go] Register resource modules/packages
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Enums.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Inputs/ContainerArgs.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Outputs/Container.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Tree/V1/Enums.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Tree/V1/RubberTree.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/init.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/provider.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/pulumiUtilities.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/init.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/rubberTree.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/index.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/index.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/rubberTree.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/__init__.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/_enums.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/_inputs.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/outputs.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/__init__.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/__init__.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/_enums.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/rubber_tree.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/schema.json
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/init.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/pulumiUtilities.go
  pkg/codegen/python/gen_test.go
Labels: impact/no-changelog-required

#6151 Change back to pull-request-target which allows a write GitHub Token
  .github/workflows/pr.yml
Labels: impact/no-changelog-required

#6156 Fix base import path handling in go programgen
  pkg/codegen/go/gen_program.go
Labels: impact/no-changelog-required

#6166 Revert "Add resource ref unit tests for the Go SDK."
  sdk/go/pulumi/resource.go
  sdk/go/pulumi/resource_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
Labels: impact/no-changelog-required

#6167 Revert "Fix resource-ref-as-ID marshaling."
  pkg/engine/events.go
  pkg/engine/lifeycletest/pulumi_test.go
  pkg/engine/lifeycletest/resource_reference_test.go
  pkg/resource/stack/deployment.go
  sdk/go/common/resource/plugin/rpc.go
  sdk/go/common/resource/plugin/rpc_test.go
  sdk/go/common/resource/properties.go
  sdk/go/common/resource/properties_diff.go
  sdk/go/pulumi/rpc.go
Labels: impact/no-changelog-required

#6173 Cleanup test go.mod
  pkg/codegen/internal/test/testdata/external-resource-schema/go/go.mod
  pkg/codegen/internal/test/testdata/external-resource-schema/go/go.sum
Labels: impact/no-changelog-required

#6178 Improve automation-api docs
  sdk/python/lib/pulumi/x/automation/__init__.py
  sdk/python/lib/pulumi/x/automation/local_workspace.py
  sdk/python/lib/pulumi/x/automation/stack.py
Labels: impact/no-changelog-required

#6180 [codegen/go] Handle hyphenated package names
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#6179 [codegen/go] Fix default value handling for enums
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Tree/V1/Enums.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/dotnet/Tree/V1/RubberTree.cs
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/pulumiEnums.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/rubberTree.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/tree/v1/rubberTree.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/nodejs/types/enums/tree/v1/index.ts
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/_enums.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/python/pulumi_plant/tree/v1/rubber_tree.py
  pkg/codegen/internal/test/testdata/simple-enum-schema/schema.json
Labels: impact/no-changelog-required

#6016 Allow VERSION to be set explicitly
  scripts/get-version
Labels: impact/no-changelog-required

#6194 Docstring fixups
  sdk/python/lib/pulumi/x/automation/__init__.py
Labels: impact/no-changelog-required

#6174 Avoid toStringing Output in debuggablePromise
  sdk/nodejs/runtime/rpc.ts
Labels: impact/no-changelog-required

#6182 [codegen/dotnet]: Fix bugs referencing external resources/types
  pkg/codegen/dotnet/gen.go
  pkg/codegen/internal/test/testdata/external-resource-schema/dotnet/Component.cs
Labels: impact/no-changelog-required

#6206 Fix the rendering of ResourceOptions.merge
  sdk/python/lib/pulumi/resource.py
Labels: impact/no-changelog-required

#6209 Various fixes to go codegen to address SDK compilation problems
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/schema.json
Labels: impact/no-changelog-required

#6202 Enable resource references by default
  CHANGELOG.md
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#6216 Migrating to smoke-test-cli repository_dispatch event in examples repo
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#6224 [codegen/go]Handle arrays/maps of external refs as pointers
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/external-resource-schema/go/example/component.go
Labels: feature/multi-language, impact/no-changelog-required

#6225 [codegen/nodejs] Emit externally referenced resources/types
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/argFunction.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/cat.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/component.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/index.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/types/index.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/types/input.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/types/output.ts
  pkg/codegen/internal/test/testdata/external-resource-schema/nodejs/workload.ts
  pkg/codegen/nodejs/gen.go
  pkg/codegen/nodejs/gen_test.go
  pkg/codegen/utilities.go
Labels: impact/no-changelog-required
