Repository pulumi/pulumi, pull requests merged in 2021-12, with the labels that each got.

#8260 [cli, testing, github] Gather code coverage data in CI.
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .github/workflows/run-codegen-test.yml
  .gitignore
  Makefile
  pkg/cmd/pulumi/main_test.go
  pkg/go.mod
  pkg/testing/integration/program.go
  scripts/go-test.py
  sdk/dotnet/Makefile
  sdk/dotnet/Pulumi.Tests/Pulumi.Tests.csproj
  sdk/go/common/util/logging/log.go
  sdk/nodejs/.gitignore
  sdk/nodejs/Makefile
  sdk/nodejs/package.json
  sdk/nodejs/tsconfig.json
  sdk/python/.gitignore
  sdk/python/Makefile
  sdk/python/Pipfile
Labels: impact/no-changelog-required, size/S, capacity/q421-ci-build

#8524 Update {pkg,tests} -> sdk dependency
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#8511 [codegen/dotnet] Qualify function input type paths
  pkg/codegen/dotnet/doc.go
  pkg/codegen/dotnet/gen.go
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/dotnet/Pulumi.Foo-bar.csproj
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/schema.json
  pkg/codegen/internal/test/testdata/output-funcs-edgeorder/dotnet/Pulumi.Myedgeorder.csproj
  pkg/codegen/internal/test/testdata/output-funcs-edgeorder/schema.json
  pkg/codegen/internal/test/testdata/plain-object-defaults/dotnet/FuncWithAllOptionalInputs.cs
  pkg/codegen/internal/test/testdata/plain-object-defaults/dotnet/Pulumi.Example.csproj
  pkg/codegen/internal/test/testdata/plain-object-defaults/schema.json
  pkg/codegen/internal/test/testdata/plain-object-disable-defaults/dotnet/FuncWithAllOptionalInputs.cs
  pkg/codegen/internal/test/testdata/plain-object-disable-defaults/dotnet/Pulumi.Example.csproj
  pkg/codegen/internal/test/testdata/plain-object-disable-defaults/schema.json
  pkg/codegen/internal/test/testdata/regress-8403/dotnet/Pulumi.Mongodbatlas.csproj
  pkg/codegen/internal/test/testdata/regress-8403/schema.json
  pkg/codegen/internal/test/testdata/resource-property-overlap/dotnet/Pulumi.Example.csproj
  pkg/codegen/internal/test/testdata/resource-property-overlap/schema.json
Labels: impact/no-changelog-required

#8539 [codegen/go] Simplify object default applies.
  CHANGELOG_PENDING.md
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/dashed-import-schema/go/plant-provider/tree/v1/rubberTree.go
  pkg/codegen/internal/test/testdata/plain-object-defaults/go/example/foo.go
  pkg/codegen/internal/test/testdata/plain-object-defaults/go/example/moduleTest.go
  pkg/codegen/internal/test/testdata/plain-object-defaults/go/example/provider.go
  pkg/codegen/internal/test/testdata/simple-enum-schema/go/plant/tree/v1/rubberTree.go
Labels: size/S, kind/task, capacity/quality

#8535 [codegen/go] Fix ElementType for nested collection types.
  CHANGELOG_PENDING.md
  pkg/codegen/go/gen.go
  pkg/codegen/internal/test/testdata/output-funcs-edgeorder/go/myedgeorder/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-resource-schema-custom-pypackage-name/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-resource-schema/go/example/pulumiTypes.go
  pkg/codegen/internal/test/testdata/simple-yaml-schema/go/example/pulumiTypes.go
Labels: size/S, kind/task, capacity/quality

#8548 Replace the use of pipenv with Python's venv
  .devcontainer/Dockerfile
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  build.proj
  sdk/python/.gitignore
  sdk/python/Makefile
  sdk/python/Pipfile
  sdk/python/requirements.txt
  tests/integration/component_provider_schema/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/component_provider_schema/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component/testcomponent-python/echo.py
  tests/integration/construct_component/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component/testcomponent-python/testcomponent.py
  tests/integration/construct_component_methods/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_methods/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_methods_errors/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_methods_errors/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_methods_resources/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_methods_resources/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_methods_unknown/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_methods_unknown/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_output_values/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_output_values/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_plain/testcomponent-python/echo.py
  tests/integration/construct_component_plain/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_plain/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_plain/testcomponent-python/testcomponent.py
  tests/integration/construct_component_provider/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_provider/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/construct_component_unknown/testcomponent-python/pulumi-resource-testcomponent
  tests/integration/construct_component_unknown/testcomponent-python/pulumi-resource-testcomponent.cmd
  tests/integration/integration_dotnet_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
  tests/testprovider/echo.go
  tests/testprovider/main.go
  tests/testprovider/random.go
Labels: impact/no-changelog-required

#8554 Adding a Log3rdPartyDecryptionEventType for logging 3rd party secrets provider decryption
  sdk/go/common/apitype/stacks.go
Labels: impact/no-changelog-required

#8564 Use $(PYTHON) for makefile
  Makefile
  build/common.mk
  sdk/python/Makefile
Labels: impact/no-changelog-required

#8551 Clone snapshot before testing with it
  pkg/engine/destroy.go
  pkg/engine/lifeycletest/import_test.go
  pkg/engine/lifeycletest/pulumi_test.go
  pkg/engine/lifeycletest/refresh_test.go
  pkg/engine/lifeycletest/test_plan.go
  pkg/resource/deploy/source_null.go
Labels: impact/no-changelog-required

#8549 Set less agressive timeouts for HTTP retries
  pkg/backend/httpstate/client/api.go
  sdk/go/common/util/httputil/http.go
Labels: impact/no-changelog-required

#8579 Fix the module name of Helm for Python doc generation
  pkg/codegen/docs/gen_kubernetes.go
Labels: impact/no-changelog-required

#8580 Remove .gitignore for file we no longer generate
  pkg/codegen/docs/.gitignore
  pkg/codegen/docs/gen_test.go
Labels: impact/no-changelog-required

#8570 Add notes about implementing cancellation
  developer-docs/providers/implementers-guide.md
Labels: area/docs, impact/no-changelog-required

#8581 Add dependencies to enable tests
  pkg/codegen/internal/test/sdk_driver.go
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/nodejs/package.json
  pkg/codegen/internal/test/testdata/nested-module-thirdparty/schema.json
  pkg/codegen/internal/test/testdata/nested-module/nodejs/package.json
  pkg/codegen/internal/test/testdata/nested-module/schema.json
  pkg/codegen/internal/test/testdata/regress-8403/nodejs/package.json
  pkg/codegen/internal/test/testdata/regress-8403/schema.json
  pkg/codegen/internal/test/testdata/resource-property-overlap/nodejs/package.json
  pkg/codegen/internal/test/testdata/resource-property-overlap/schema.json
  pkg/codegen/internal/test/testdata/simple-methods-schema/nodejs/package.json
  pkg/codegen/internal/test/testdata/simple-methods-schema/schema.json
Labels: impact/no-changelog-required

#8576 Opt language hosts out of `PULUMI_IGNORE_AMBIENT_PLUGINS`
  CHANGELOG_PENDING.md
  sdk/go/common/workspace/plugins.go
Labels: kind/enhancement, size/S, capacity/community-customer

#8590 [sdk/go] Fix copyInputTo for enums.
  sdk/go/pulumi/provider.go
  sdk/go/pulumi/provider_test.go
Labels: impact/no-changelog-required

#8512 Move `PULUMI_ROOT` to `$HOME/.pulumi-dev`
  .gitpod.yml
  CONTRIBUTING.md
  build/common.mk
  pkg/testing/integration/program.go
  sdk/nodejs/README.md
Labels: impact/no-changelog-required

#8595 update codecov setting to not fail ci on error
  .github/workflows/master.yml
  .github/workflows/run-build-and-acceptance-tests.yml
Labels: impact/no-changelog-required

#8597 Fix python lint (mypy checks)
  sdk/python/lib/pulumi/_types.py
Labels: impact/no-changelog-required

#8256 Update to 1.3.0 ov action-install-gh-release
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .github/workflows/run-codegen-test.yml
  .github/workflows/run-docs-generation.yml
Labels: impact/no-changelog-required

#8598 Helm doc override: exclude Release and add description for Chart
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_kubernetes.go
Labels: impact/no-changelog-required

#8600 Update {pkg,tests} -> sdk depdenencies
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#8423 Factor out Go builds in CI into a dedicated x-platform step
  .github/workflows/build.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .goreleaser.prerelease.yml
  Makefile
  scripts/go-wrapper.sh
Labels: impact/no-changelog-required

#8616 Fix non-existing build ref
  .github/workflows/run-build-and-acceptance-tests.yml
Labels: impact/no-changelog-required

#8618 Adding API Types for Bulk Decryption of Secrets
  sdk/go/common/apitype/stacks.go
Labels: impact/no-changelog-required

#8634 Fix creds file locking on Windows
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/workspace/creds.go
  sdk/go/common/workspace/creds_test.go
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#8641 Fix pip not found error
  sdk/python/lib/test/automation/test_errors.py
Labels: impact/no-changelog-required

#8636 Replace gofrs/flock with rogpeppe/go-internal/lockedfile
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/util/fsutil/lock.go
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#8651 Fix master build
  sdk/dotnet/Pulumi.Tests/Mocks/MocksTests.cs
Labels: impact/no-changelog-required
