Repository pulumi/pulumi, pull requests merged in 2022-08, with the labels that each got.

#10311 Pin FSharp.Core explicitly to >= 4.7.2
  sdk/dotnet/Pulumi.FSharp/Pulumi.FSharp.fsproj
Labels: impact/no-changelog-required, language/dotnet

#10323 Change pulumi schema to use PackageSpec
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/mock_pulumi_schema.go
Labels: impact/no-changelog-required

#10296 Fix C# warnings in test projects
  sdk/dotnet/Pulumi.Automation.Tests/LocalWorkspaceTests.cs
  sdk/dotnet/Pulumi.Tests/Serialization/MarshalOutputTests.cs
Labels: impact/no-changelog-required

#10272 Save random seeds to update plans
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/plan.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/stack/plan.go
  sdk/go/common/apitype/plan.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_server.go
Labels: impact/no-changelog-required

#10269 [cli] Allow Pulumi.yaml files to contain additional, preserved keys
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/project_test.go
Labels: impact/no-changelog-required

#10337 Add jq to required build tools and update Go version
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#10332 Allow tags in construct decoder
  sdk/go/pulumi/provider.go
Labels: impact/no-changelog-required, area/component-packages

#10360 bump java v0.5.3
  pkg/go.mod
  pkg/go.sum
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#10357 Security rollup: build CLI binaries using go1.19, update dependencies
  .github/workflows/build.yml
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#10367 chore: Move aaronfriel/ssh-agent fork to pulumi/ssh-agent
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#10371 chore: Relax integration test and only check for a valid go version
  tests/about_test.go
Labels: impact/no-changelog-required

#10378 Fix json formatted pattern match on "about" test
  tests/about_test.go
Labels: impact/no-changelog-required

#10334 Fix Python SDK apply causing program hangs
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/test/test_output.py
Labels: impact/no-changelog-required

#10370 fix: Replaces current fallback nodejs error messaging
  sdk/nodejs/cmd/run-policy-pack/run.ts
  sdk/nodejs/cmd/run/run.ts
Labels: area/cli, language/javascript, impact/no-changelog-required, area/logging

#10376 Correct Python syntax in help text
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/test/test_output.py
Labels: impact/no-changelog-required

#10397 Revert "[cli] Allow Pulumi.yaml files to contain additional, preserved keys"
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/project_test.go
Labels: impact/no-changelog-required

#10399 Skip codegen tests that import az-nature.
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/sdk_driver.go
Labels: kind/bug, p0, language/go, impact/no-changelog-required, area/codegen, impact/regression

#10393 Thread context through cmd more consistently
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/cancel.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/console.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/org.go
  pkg/cmd/pulumi/plugin_install.go
  pkg/cmd/pulumi/policy_disable.go
  pkg/cmd/pulumi/policy_enable.go
  pkg/cmd/pulumi/policy_group_ls.go
  pkg/cmd/pulumi/policy_ls.go
  pkg/cmd/pulumi/policy_new.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/policy_rm.go
  pkg/cmd/pulumi/policy_validate.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/query.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_export.go
  pkg/cmd/pulumi/stack_graph.go
  pkg/cmd/pulumi/stack_history.go
  pkg/cmd/pulumi/stack_import.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_ls.go
  pkg/cmd/pulumi/stack_ls_test.go
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/stack_rename.go
  pkg/cmd/pulumi/stack_rm.go
  pkg/cmd/pulumi/stack_select.go
  pkg/cmd/pulumi/stack_tag.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/state_delete.go
  pkg/cmd/pulumi/state_rename.go
  pkg/cmd/pulumi/state_unprotect.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/watch.go
  pkg/cmd/pulumi/whoami.go
Labels: impact/no-changelog-required

#10395 chore: Remove unused tslint.json config
  sdk/nodejs/tslint.json
Labels: impact/no-changelog-required

#10289 Update integration go mod
  tests/integration/about/go/go.mod
  tests/integration/about/go/go.sum
  tests/integration/aliases/go/adopt_into_component/step1/go.mod
  tests/integration/aliases/go/adopt_into_component/step1/go.sum
  tests/integration/aliases/go/rename/step1/go.mod
  tests/integration/aliases/go/rename/step1/go.sum
  tests/integration/aliases/go/rename_component/step1/go.mod
  tests/integration/aliases/go/rename_component/step1/go.sum
  tests/integration/aliases/go/rename_component_and_child/step1/go.mod
  tests/integration/aliases/go/rename_component_and_child/step1/go.sum
  tests/integration/aliases/go/retype_component/step1/go.mod
  tests/integration/aliases/go/retype_component/step1/go.sum
  tests/integration/aliases/go/retype_parents/step1/go.mod
  tests/integration/aliases/go/retype_parents/step1/go.sum
  tests/integration/config_basic/go/go.mod
  tests/integration/config_basic/go/go.sum
  tests/integration/config_secrets_warn/go/go.mod
  tests/integration/config_secrets_warn/go/go.sum
  tests/integration/construct_component/go/go.mod
  tests/integration/construct_component/go/go.sum
  tests/integration/construct_component_methods/go/go.mod
  tests/integration/construct_component_methods/go/go.sum
  tests/integration/construct_component_methods_errors/go/go.mod
  tests/integration/construct_component_methods_errors/go/go.sum
  tests/integration/construct_component_methods_resources/go/go.mod
  tests/integration/construct_component_methods_resources/go/go.sum
  tests/integration/construct_component_methods_unknown/go/go.mod
  tests/integration/construct_component_methods_unknown/go/go.sum
  tests/integration/construct_component_output_values/go/go.mod
  tests/integration/construct_component_output_values/go/go.sum
  tests/integration/construct_component_plain/go/go.mod
  tests/integration/construct_component_plain/go/go.sum
  tests/integration/construct_component_provider/go/go.mod
  tests/integration/construct_component_provider/go/go.sum
  tests/integration/construct_component_unknown/go/go.mod
  tests/integration/construct_component_unknown/go/go.sum
  tests/integration/empty/go/go.mod
  tests/integration/empty/go/go.sum
  tests/integration/empty/gorun/go.mod
  tests/integration/empty/gorun/go.sum
  tests/integration/empty/gorun_main/gorun_main_src/go.mod
  tests/integration/empty/gorun_main/gorun_main_src/go.sum
  tests/integration/large_resource/go/go.mod
  tests/integration/large_resource/go/go.sum
  tests/integration/printf/go/go.mod
  tests/integration/printf/go/go.sum
  tests/integration/rotate_passphrase/go.mod
  tests/integration/rotate_passphrase/go.sum
  tests/integration/stack_reference/go/go.mod
  tests/integration/stack_reference/go/go.sum
Labels: impact/no-changelog-required

#10417 File state backend must apply validation logic when parsing stack refs
  CHANGELOG_PENDING.md
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
Labels: kind/bug, p1, area/backends, impact/panic

#10421 Fix mislabeling in error message of release script
  scripts/release.sh
Labels: kind/bug, impact/no-changelog-required

#10425 Revert "Update integration go mod (#10289)"
  tests/integration/about/go/go.mod
  tests/integration/about/go/go.sum
  tests/integration/aliases/go/adopt_into_component/step1/go.mod
  tests/integration/aliases/go/adopt_into_component/step1/go.sum
  tests/integration/aliases/go/rename/step1/go.mod
  tests/integration/aliases/go/rename/step1/go.sum
  tests/integration/aliases/go/rename_component/step1/go.mod
  tests/integration/aliases/go/rename_component/step1/go.sum
  tests/integration/aliases/go/rename_component_and_child/step1/go.mod
  tests/integration/aliases/go/rename_component_and_child/step1/go.sum
  tests/integration/aliases/go/retype_component/step1/go.mod
  tests/integration/aliases/go/retype_component/step1/go.sum
  tests/integration/aliases/go/retype_parents/step1/go.mod
  tests/integration/aliases/go/retype_parents/step1/go.sum
  tests/integration/config_basic/go/go.mod
  tests/integration/config_basic/go/go.sum
  tests/integration/config_secrets_warn/go/go.mod
  tests/integration/config_secrets_warn/go/go.sum
  tests/integration/construct_component/go/go.mod
  tests/integration/construct_component/go/go.sum
  tests/integration/construct_component_methods/go/go.mod
  tests/integration/construct_component_methods/go/go.sum
  tests/integration/construct_component_methods_errors/go/go.mod
  tests/integration/construct_component_methods_errors/go/go.sum
  tests/integration/construct_component_methods_resources/go/go.mod
  tests/integration/construct_component_methods_resources/go/go.sum
  tests/integration/construct_component_methods_unknown/go/go.mod
  tests/integration/construct_component_methods_unknown/go/go.sum
  tests/integration/construct_component_output_values/go/go.mod
  tests/integration/construct_component_output_values/go/go.sum
  tests/integration/construct_component_plain/go/go.mod
  tests/integration/construct_component_plain/go/go.sum
  tests/integration/construct_component_provider/go/go.mod
  tests/integration/construct_component_provider/go/go.sum
  tests/integration/construct_component_unknown/go/go.mod
  tests/integration/construct_component_unknown/go/go.sum
  tests/integration/empty/go/go.mod
  tests/integration/empty/go/go.sum
  tests/integration/empty/gorun/go.mod
  tests/integration/empty/gorun/go.sum
  tests/integration/empty/gorun_main/gorun_main_src/go.mod
  tests/integration/empty/gorun_main/gorun_main_src/go.sum
  tests/integration/large_resource/go/go.mod
  tests/integration/large_resource/go/go.sum
  tests/integration/printf/go/go.mod
  tests/integration/printf/go/go.sum
  tests/integration/rotate_passphrase/go.mod
  tests/integration/rotate_passphrase/go.sum
  tests/integration/stack_reference/go/go.mod
  tests/integration/stack_reference/go/go.sum
Labels: impact/no-changelog-required

#10380 Update java to 0.5.4
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#10401 [cli] Enable single-file Pulumi YAML templates
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/util.go
  pkg/util/yamlutil/node_tools.go
  pkg/util/yamlutil/node_tools_test.go
Labels: impact/no-changelog-required

#10422 Improve lock error for filestate
  pkg/backend/filestate/lock.go
Labels: impact/no-changelog-required

#10429 Terminate test if RunCommand fails
  sdk/go/common/testing/environment.go
Labels: impact/no-changelog-required

#10430 Revert "[cli] Enable single-file Pulumi YAML templates (#10401)"
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/util.go
  pkg/util/yamlutil/node_tools.go
  pkg/util/yamlutil/node_tools_test.go
Labels: p1, impact/no-changelog-required, impact/regression, language/yaml

#10435 Use explict ProjectPlugins rather than partially filling PluginInfo
  pkg/engine/plugins.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#10434 Be more consistent about using ` for quoting commands
  pkg/backend/httpstate/client/api.go
  pkg/backend/httpstate/client/client_test.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/errors.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/stack.go
  pkg/resource/deploy/deployment_executor.go
  sdk/python/lib/pulumi/output.py
Labels: impact/no-changelog-required

#10423 Move default secret manager to stack
  pkg/backend/filestate/crypto.go
  pkg/backend/filestate/stack.go
  pkg/backend/httpstate/crypto.go
  pkg/backend/httpstate/crypto_test.go
  pkg/backend/httpstate/stack.go
  pkg/backend/mock.go
  pkg/backend/stack.go
  pkg/cmd/pulumi/crypto.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#10418 Update PyYAML to v6.0
  CHANGELOG_PENDING.md
  sdk/python/lib/setup.py
  sdk/python/requirements.txt
Labels: kind/bug, area/sdks, language/python

#10409 Remove some dead secret manager code
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#10436 Use Stack.DefaultSecretManager in createSecretsManager
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#10454 Update help for convert command
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#10457 Added s to fix typo
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#10427 ci: Build CLI in test using Linux runners, production using macOS
  .github/workflows/build.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .github/workflows/run-build-and-integration-tests.yml
  .github/workflows/test-windows-cron.yml
  scripts/go-wrapper.sh
Labels: impact/no-changelog-required, area/build

#10460 fix: Sporadic initialization panics in ssh-agent library on Windows
  sdk/go.mod
  sdk/go.sum
Labels: impact/no-changelog-required

#10471 Schema for project files
  sdk/go/common/apitype/project.json
Labels: impact/no-changelog-required

#10479 chore: Adds note about integration test environment config
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#10481 Omit more empty fields in PackageSpec
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#10492 Split PluginInfo in Info and Spec
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/plugin.go
  pkg/cmd/pulumi/plugin_install.go
  pkg/cmd/pulumi/plugin_ls.go
  pkg/codegen/schema/loader.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/plugins.go
  pkg/engine/plugins_test.go
  pkg/engine/update.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_query.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_install_test.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#10490 fix: PluginLink program tests clobber YAML keys in Project.yaml files
  pkg/testing/integration/program.go
  sdk/go/common/workspace/project.go
Labels: impact/no-changelog-required

#10496 Revert "Split PluginInfo in Info and Spec"
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/plugin.go
  pkg/cmd/pulumi/plugin_install.go
  pkg/cmd/pulumi/plugin_ls.go
  pkg/codegen/schema/loader.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/plugins.go
  pkg/engine/plugins_test.go
  pkg/engine/update.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_query.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_install_test.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#10482 Add token expiration fields
  sdk/go/common/apitype/updates.go
Labels: impact/no-changelog-required

#10500 Fix concurrent map write panic in node codegen test
  pkg/codegen/nodejs/gen_test.go
Labels: impact/no-changelog-required

#10502 [sdk/python] Use loopback addresses for providers & automation API
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/pulumi/dynamic/__main__.py
  sdk/python/lib/pulumi/provider/server.py
  sdk/python/lib/test/langhost/util.py
Labels: impact/no-changelog-required

#10498 [sdk/nodejs] Use loopback addresses for providers & automation API
  sdk/nodejs/automation/stack.ts
  sdk/nodejs/cmd/dynamic-provider/index.ts
  sdk/nodejs/provider/server.ts
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
Labels: impact/no-changelog-required

#10503 [sdk/dotnet] Use loopback addresses for automation API
  CHANGELOG_PENDING.md
  sdk/dotnet/Pulumi.Automation/WorkspaceStack.cs
Labels: impact/no-changelog-required

#10501 Split PluginInfo in Info and Spec
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/plugin.go
  pkg/cmd/pulumi/plugin_install.go
  pkg/cmd/pulumi/plugin_ls.go
  pkg/codegen/schema/loader.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/plugins.go
  pkg/engine/plugins_test.go
  pkg/engine/update.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_query.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_install_test.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#10507 pinned pylint==2.14.5
  sdk/python/requirements.txt
Labels: impact/no-changelog-required

#10514 Added link to the LICENSE file in the README
  README.md
Labels: impact/no-changelog-required

#10499 test: fix regex used to test Go version output in about command.
  tests/about_test.go
Labels: impact/no-changelog-required

#10494 Add support for SHA256 checksums in PluginSpec
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#10516 [dotnet/tests] Update unit test adapter for mypkg schema
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/schema.json
  pkg/codegen/testing/test/testdata/output-funcs/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/output-funcs/schema.json
Labels: impact/no-changelog-required, language/dotnet

#10541 Fix typo in --secrets-provider help message
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
Labels: impact/no-changelog-required

#10542 ci: fix pulumi-watch binaries absent from release binaries
  scripts/get-pulumi-watch.sh
Labels: impact/no-changelog-required

#10530 Install missing plugins when encountering them
  CHANGELOG_PENDING.md
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: area/plugins, area/engine

#10547 Fix getOrganization for nodejs
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/run/index.ts
  tests/integration/integration_nodejs_test.go
  tests/integration/stack_reference/nodejs/package.json
  tests/integration/stack_reference_secrets/nodejs/step1/package.json
Labels: impact/no-changelog-required

#10552 Add missing test dependency
  tests/integration/stack_project_name/package.json
Labels: impact/no-changelog-required

#10554 Actually fix the naming test
  tests/integration/stack_project_name/index.ts
Labels: impact/no-changelog-required

#10557 Disable token_source_test on windows
  pkg/backend/httpstate/token_source_test.go
Labels: impact/no-changelog-required
