Repository pulumi/pulumi, pull requests merged in 2022-10, with the labels that each got.

#10888 [sdk/python] Prevent set change during iteration errrors
  sdk/python/lib/pulumi/runtime/resource.py
Labels: impact/no-changelog-required

#10894 [sdk/python] Allow editable installs without build step
  sdk/python/.gitignore
  sdk/python/Makefile
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#10909 suggest setting PULUMI_SKIP_UPDATE_CHECK when error fetching latest version #10292
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#10912 Add api type for PatchUpdateCheckpointDeltaRequest
  sdk/go/common/apitype/updates.go
Labels: impact/no-changelog-required

#10918 Add expectFailure to another case
  pkg/testing/integration/program.go
Labels: area/testing, impact/no-changelog-required, kind/engineering

#10910 Require a config path to be passed to NewSecret methods
  pkg/backend/filestate/crypto.go
  pkg/backend/httpstate/crypto.go
  pkg/cmd/pulumi/crypto.go
  pkg/cmd/pulumi/crypto_cloud.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#10929 Clear out changelog for next release
  changelog/pending/20220916--programgen-go--codegen-apply-fn-fix.yaml
  changelog/pending/20220927--sdk-go--install-deps-1-18.yaml
  changelog/pending/20220927--sdkgen-nodejs--fix-null-node-lazy-loading-issue.yaml
  changelog/pending/20220928--sdk-go--unsafe-await.yaml
  changelog/pending/20220929--sdk-go--fix-sdk-bug-in-mergedependencies.yaml
  changelog/pending/20220930--cli--eject-dont-panic.yaml
  changelog/pending/20221001--cli-about-plugin--rm-github-experimental.yaml
  changelog/pending/20221003--backend--issue-7251.yaml
  changelog/pending/20221003--sdk-python--python-invoke.yaml
  changelog/pending/20221003--sdk-python--python-update-summary-fix.yaml
  changelog/pending/20221004--sdk-python--python-format.yaml
Labels: impact/no-changelog-required

#10879 Refactor convert command to add entrypoint for pulumi convert debugging
  .vscode/settings.json
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/convert_test.go
  pkg/cmd/pulumi/convert_testdata/.gitignore
Labels: impact/no-changelog-required

#10932 sdk/go: Move unsafe API to internals package
  sdk/go/pulumi/internals.go
  sdk/go/pulumi/internals/empty.s
  sdk/go/pulumi/internals/outputs.go
  sdk/go/pulumi/internals/outputs_test.go
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_test.go
Labels: impact/no-changelog-required

#10938 chore: Bump version to 3.41.1
  .version
Labels: impact/no-changelog-required

#10942 chore: Bump version to 3.41.2
  .version
Labels: impact/no-changelog-required

#10920 Add PatchUpdateUntypedCheckpointRequest API shape
  sdk/go/common/apitype/updates.go
Labels: impact/no-changelog-required

#10946 Fix .github/scripts/generate-homebrew-tap to export PULUMI_VERSION
  .github/scripts/generate-homebrew-tap
Labels: impact/no-changelog-required

#10952 Fix python version in build-sdks
  .github/workflows/ci-build-sdks.yml
Labels: impact/no-changelog-required

#10745 refactor: create a LoginManager interface for encapsulating backend logins
  pkg/backend/httpstate/backend.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#10965 Use loadPackageSchema instead of accessing entries
  pkg/codegen/pcl/binder_resource.go
Labels: impact/no-changelog-required

#10959 Remove an unneeded check for ExperimentalPlans
  pkg/backend/apply.go
Labels: impact/no-changelog-required

#10962 Improve the error message for Pulumi.yaml with wrong type of data
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/project_test.go
Labels: impact/no-changelog-required

#10979 [go/program-gen] Fixes int constant range expressions for go
  changelog/pending/20221009--programgen-go--fix-go-range-constant-int-10853.yaml
  pkg/codegen/go/gen_program.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/aws-eks-pp/nodejs/aws-eks.ts
  pkg/codegen/testing/test/testdata/aws-s3-folder-pp/nodejs/aws-s3-folder.ts
  pkg/codegen/testing/test/testdata/simple-range-pp/dotnet/simple-range.cs
  pkg/codegen/testing/test/testdata/simple-range-pp/go/simple-range.go
  pkg/codegen/testing/test/testdata/simple-range-pp/nodejs/simple-range.ts
  pkg/codegen/testing/test/testdata/simple-range-pp/python/simple-range.py
  pkg/codegen/testing/test/testdata/simple-range-pp/simple-range.pp
Labels: impact/no-changelog-required, area/codegen

#10983 Rename ExperimentalPlans to GeneratePlan
  pkg/backend/backend.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/up.go
  pkg/engine/deployment.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/update.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/step_executor.go
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#10992 Add install winget cli step to download cron job before using winget to download pulumi
  .github/workflows/download-pulumi-cron.yml
Labels: impact/no-changelog-required

#10738 Go and Python codegen support symbols with hyphens in their names
  pkg/codegen/cgstrings/cgstrings.go
  pkg/codegen/cgstrings/cgstrings_test.go
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/go/utilities.go
  pkg/codegen/python/gen.go
  pkg/codegen/python/utilities.go
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/hyphenated-symbols/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/hyphenated-symbols/go/repro/doc.go
  pkg/codegen/testing/test/testdata/hyphenated-symbols/go/repro/foo.go
  pkg/codegen/testing/test/testdata/hyphenated-symbols/go/repro/init.go
  pkg/codegen/testing/test/testdata/hyphenated-symbols/go/repro/provider.go
  pkg/codegen/testing/test/testdata/hyphenated-symbols/go/repro/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/hyphenated-symbols/go/repro/pulumiTypes.go
  pkg/codegen/testing/test/testdata/hyphenated-symbols/go/repro/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/codegen-manifest.json
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/pulumi_repro/README.md
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/pulumi_repro/__init__.py
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/pulumi_repro/_utilities.py
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/pulumi_repro/foo.py
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/pulumi_repro/outputs.py
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/pulumi_repro/provider.py
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/pulumi_repro/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/pulumi_repro/py.typed
  pkg/codegen/testing/test/testdata/hyphenated-symbols/python/setup.py
  pkg/codegen/testing/test/testdata/hyphenated-symbols/schema.json
Labels: impact/no-changelog-required, kind/engineering

#10921 ci: Unblock local ProgramTest usage
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#11001 fix(ci): Disable setup-dotnet action, rely on globally installed dotnet
  .github/workflows/ci-build-sdks.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#10994 Move update plan tests to their own file
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/update_plan_test.go
Labels: impact/no-changelog-required

#10958 [PCL] annotate expressions under invoke calls with their associated schema types
  changelog/pending/20221007--programgen-python--annotate-invoke-calls-python-10914.yaml
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/pcl/invoke.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/python/gen_program_test.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/python-regress-10914-pp/python-regress-10914.pp
  pkg/codegen/testing/test/testdata/python-regress-10914-pp/python/python-regress-10914.py
Labels: area/codegen

#10976 [codegen] Implement pcl.AnnotateResourceInputs and apply property overrides for deeply nested objects
  changelog/pending/20221009--programgen-dotnet--pcl-annotate-resource-inputs-apply-property-overrides.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/hcl2/model/expression.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/dotnet/kubernetes-pod.cs
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/go/kubernetes-pod.go
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/kubernetes-pod.pp
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/nodejs/kubernetes-pod.ts
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/python/kubernetes-pod.py
Labels: impact/no-changelog-required, language/dotnet, area/codegen

#11011 Add PCL as a target language for pulumi convert
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#11020 ci: Freeze v3.43.0 for release
  .version
Labels: impact/no-changelog-required

#11029 added links to contributing.md for go, node, and python downloads
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#11052 fix(ci): Split programgen tests over multiple jobs
  .github/workflows/ci.yml
  Makefile
  pkg/codegen/dotnet/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch1/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch2/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch3/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch4/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch5/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch6/gen_program_test.go
  pkg/codegen/dotnet/test.go
  pkg/codegen/gen_program_test/generate.go
  pkg/codegen/go/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch1/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch2/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch3/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch4/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch5/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch6/gen_program_test.go
  pkg/codegen/go/test.go
  pkg/codegen/nodejs/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch1/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch2/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch3/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch4/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch5/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch6/gen_program_test.go
  pkg/codegen/nodejs/test.go
  pkg/codegen/python/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch1/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch2/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch3/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch4/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch5/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch6/gen_program_test.go
  pkg/codegen/python/test.go
  pkg/codegen/python/utilities_test.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/program_driver_test.go
Labels: impact/no-changelog-required

#11054 Change occurances of pulls to pull, fix broken URL
  CHANGELOG.md
Labels: kind/bug, area/docs, impact/no-changelog-required, impact/changelog

#11048 Remove undefined cases from inputs to `all` function
  changelog/pending/20221017--sdk-nodejs--fix-ts-all-types.yaml
  sdk/nodejs/output.ts
Labels: area/sdks, impact/usability

#11060 fix(ci): Fix pull request URLs in changelogs
  .github/scripts/get-changelog
  Makefile
  changelog/pending/20221018--ci--fix-pull-request-urls-in-pulumi-changelogs.yaml
Labels: impact/no-changelog-required

#10832 Hierarchical and structured config implementation: the initial pass
  .gitignore
  changelog/pending/20220922--cli-initial-mvp-config.yaml
  pkg/backend/filestate/crypto.go
  pkg/backend/httpstate/crypto.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/crypto.go
  pkg/cmd/pulumi/crypto_cloud.go
  pkg/cmd/pulumi/crypto_cloud_test.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_rename.go
  pkg/cmd/pulumi/stack_rm.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
  pkg/testing/integration/pulumi.go
  sdk/go/auto/local_workspace.go
  sdk/go/common/resource/config/value.go
  sdk/go/common/workspace/config.go
  sdk/go/common/workspace/loaders.go
  sdk/go/common/workspace/paths.go
  sdk/go/common/workspace/paths_test.go
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/project.json
  sdk/go/common/workspace/project_test.go
  tests/config_test.go
  tests/integration/integration_test.go
Labels: area/cli

#11028 Add `/rebase` command
  .github/workflows/rebase.yml
Labels: impact/no-changelog-required

#11091 [sdk/nodejs] Avoid eslint error in VS Code
  sdk/nodejs/.eslintrc.js
Labels: language/javascript, impact/no-changelog-required

#11093 Improve the error for a denied component provider
  pkg/resource/deploy/source_eval.go
  sdk/nodejs/runtime/resource.ts
Labels: impact/no-changelog-required

#11069 ci: Implement smoke tests for pkg/cmd, fix examples smoke tests
  pkg/cmd/pulumi/new_smoke_test.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/policy_new_smoke_test.go
  pkg/cmd/pulumi/policy_new_test.go
  tests/examples/examples_smoke_test.go
  tests/examples/examples_test.go
Labels: impact/no-changelog-required

#11076 ci: Begin testing against node 19.x
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#11104 Don't block the pulumi package
  pkg/resource/deploy/source_eval.go
Labels: impact/no-changelog-required

#11122 [SDK/Python] Respect --parallel flag
  changelog/pending/20221022--sdk-python--python-runtime-now-respects-parallel-flag.yaml
  sdk/python/cmd/pulumi-language-python-exec
  sdk/python/lib/pulumi/runtime/settings.py
Labels: kind/bug, area/sdks, impact/performance, language/python

#11125 Fix module name for tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.mod
Labels: impact/no-changelog-required

#11132 Use a minor version for next release
  .version
Labels: impact/no-changelog-required

#11124 Report unstaged changes from GitCloneOrPull
  sdk/go/common/util/gitutil/git.go
Labels: impact/no-changelog-required

#11134 freeze 3.44.0 for release
  .version
Labels: impact/no-changelog-required

#11137 Higher fidelity schema [un]marshaling
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required, area/codegen

#11154 Set version to 3.44.2
  .github/workflows/ci-build-binaries.yml
  .version
Labels: impact/no-changelog-required

#11165 [cli] Experimental support for remote operations
  pkg/backend/display/options.go
  pkg/backend/display/progress.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  pkg/cmd/pulumi/crypto.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_remote.go
  pkg/cmd/pulumi/util_remote_test.go
  sdk/go.mod
  sdk/go/common/apitype/deployments.go
  sdk/go/common/apitype/events.go
  tests/integration/construct_nested_component/go/go.mod
Labels: impact/no-changelog-required

#11178 Set version to 3.44.3
  .version
Labels: impact/no-changelog-required

#11185 [auto] Fix hangs for remote previews
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#11193 [download-cron] Fix powershell script to install winget
  .github/workflows/download-pulumi-cron.yml
Labels: area/cli, impact/no-changelog-required

#11187 Fix a typo
  pkg/cmd/pulumi/refresh.go
Labels: impact/no-changelog-required

#11199 [display] Factor out the low-level progress renderer.
  pkg/backend/display/jsonmessage.go
  pkg/backend/display/progress.go
  pkg/backend/display/tableutil.go
  pkg/cmd/pulumi/replay_events.go
Labels: impact/no-changelog-required
