Repository pulumi/pulumi, pull requests merged in 2022-09, with the labels that each got.

#10443 refactor: simplify error handling in readProject API
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/util.go
  sdk/go/common/workspace/paths.go
Labels: impact/no-changelog-required

#10567 Fix lint on master with line too long
  pkg/cmd/pulumi/destroy.go
Labels: impact/no-changelog-required

#10577 Fix downstream checks by using master terraform-bridge
  .github/workflows/run-codegen-test.yml
Labels: impact/no-changelog-required

#10566 Couple of 'about' improvments
  pkg/backend/httpstate/backend.go
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#10597 Add additional `nil` check for `Snapshot`.
  pkg/cmd/pulumi/refresh.go
Labels: impact/no-changelog-required

#10598 Fix env var setting for policy
  sdk/go/common/resource/plugin/analyzer_plugin.go
Labels: impact/no-changelog-required

#10605 fix: Allow watch on macOS Apple Silicon
  pkg/backend/watch.go
  pkg/backend/watch_darwin_arm64.go
Labels: impact/no-changelog-required

#10618 Bump TSC version to 3.8.3
  CHANGELOG_PENDING.md
  sdk/nodejs/package.json
Labels: area/sdks, kind/enhancement, language/javascript, impact/quality

#10631 fix(automation): runPulumiCommand failed to call onOutput when provided
  CHANGELOG_PENDING.md
  sdk/nodejs/automation/cmd.ts
  sdk/nodejs/package.json
  sdk/nodejs/tests/automation/cmd.spec.ts
  sdk/nodejs/tsconfig.json
Labels: area/automation-api

#10636 Fix orphan register-resource traces
  sdk/go/common/util/rpcutil/interceptor.go
Labels: impact/no-changelog-required

#10649 Bump Linter Version to v1.47.3
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
Labels: area/tooling, kind/enhancement, impact/no-changelog-required, impact/quality

#10661 Use `dotnet run --no-build`
  sdk/dotnet/cmd/pulumi-language-dotnet/main.go
Labels: impact/no-changelog-required

#10669 Remove incorrect help text
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#10675 Improve error message about stack name validation
  pkg/backend/filestate/backend.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#10683 Relax assert about num of onOutput calls
  sdk/nodejs/tests/automation/cmd.spec.ts
Labels: impact/no-changelog-required

#10518 Add tracing to `npm install` and fix orphan tracing
  pkg/cmd/pulumi/new.go
  pkg/engine/plugin_host.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/provider/host.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/util/rpcutil/health.go
  sdk/go/common/util/rpcutil/interceptor.go
  sdk/go/common/util/rpcutil/serve.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required

#10685 Correct type grammar in dev docs
  developer-docs/providers/implementers-guide.md
Labels: impact/no-changelog-required

#10688 Revert "Correct type grammar in dev docs"
  developer-docs/providers/implementers-guide.md
Labels: impact/no-changelog-required

#10694 Update java ref to 0.6.0
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#10708 ci: Re-enable checksums
  .github/workflows/ci-prepare-release.yml
Labels: impact/no-changelog-required

#10730 ci: Reduce Windows test parallelism, increase reliability?
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#10725 Use set-all
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#10742 Update PULL_REQUEST_TEMPLATE.md referencing the new changelog tool
  .github/PULL_REQUEST_TEMPLATE.md
Labels: impact/no-changelog-required

#10756 ci: Restore maintainer comment and enable changelog comment on community PRs
  .github/workflows/on-community-pr.yml
Labels: impact/no-changelog-required, area/build, kind/task

#10763 ci: Fix make brew
  Makefile
  scripts/brew.sh
  scripts/get-language-providers.sh
  scripts/get-pulumi-watch.sh
  scripts/prep-for-goreleaser.sh
Labels: impact/no-changelog-required

#10711 Add `pulumi package` with subcommands `gen-sdk` and `get-schema`
  changelog/config.yaml
  changelog/pending/20220915--cli--add-pulumi-package-command.yaml
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/package.go
  pkg/cmd/pulumi/package_extract_schema.go
  pkg/cmd/pulumi/package_gen_sdk.go
  pkg/cmd/pulumi/pulumi.go
  pkg/codegen/schema/bind.go
  sdk/go/common/resource/plugin/provider_plugin.go
Labels: impact/no-changelog-required

#10772 Freeze `3.40.1` draft release.
  .version
Labels: impact/no-changelog-required

#10779 Update supported versions in README.md
  README.md
Labels: impact/no-changelog-required

#10770 Do not call exportStack twice on every update
  pkg/cmd/pulumi/up.go
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required

#10799 Fix the go_package option on the .proto files
  proto/.checksum.txt
  proto/pulumi/analyzer.proto
  proto/pulumi/engine.proto
  proto/pulumi/errors.proto
  proto/pulumi/language.proto
  proto/pulumi/plugin.proto
  proto/pulumi/provider.proto
  proto/pulumi/resource.proto
  sdk/proto/go/analyzer.pb.go
  sdk/proto/go/engine.pb.go
  sdk/proto/go/errors.pb.go
  sdk/proto/go/language.pb.go
  sdk/proto/go/plugin.pb.go
  sdk/proto/go/provider.pb.go
  sdk/proto/go/resource.pb.go
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.py
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
Labels: impact/no-changelog-required

#10808 Update contributor.md to describe new changelog process.
  CONTRIBUTING.md
Labels: area/docs, impact/no-changelog-required

#10764 ci: Allow each build job to run goreleaser prep individually
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-build-goreleaser-prep.yml
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#10622 Enable ESModule interoperability
  changelog/pending/20220920--sdk-nodejs--enable-esmodule-interoperability.yaml
  sdk/nodejs/automation/cmd.ts
  sdk/nodejs/automation/stack.ts
  sdk/nodejs/cmd/run-policy-pack/index.ts
  sdk/nodejs/cmd/run/index.ts
  sdk/nodejs/runtime/closure/codePaths.ts
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
  sdk/nodejs/tests/runtime/tsClosureCases.ts
  sdk/nodejs/tests/util.ts
  sdk/nodejs/tsconfig.json
Labels: kind/bug, area/sdks, impact/reliability, language/javascript

#10731 add `buildTarget` option for pulumi go programs to compile/recompile to the specified path
  changelog/pending/20220914--sdk-go--go-build-target.yaml
  sdk/go/pulumi-language-go/main.go
  tests/integration/go/go-build-target/Pulumi.yaml
  tests/integration/go/go-build-target/go.mod
  tests/integration/go/go-build-target/go.sum
  tests/integration/go/go-build-target/main.go
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required

#10826 ci: Remove a misleading error message on merge queue workflows
  .github/workflows/ci-info.yml
Labels: impact/no-changelog-required

#10825 ci: Improve feedback when matrix failure is due to Go compilation failure
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#10790 ci: fix community contributor workflow
  .github/workflows/ci.yml
  .github/workflows/on-community-pr.yml
  .github/workflows/on-pr-changelog.yml
  .github/workflows/pr-test-acceptance-on-dispatch.yml
Labels: impact/no-changelog-required

#10829 Add a 'main' test for golang
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/project_main/go/Pulumi.yaml
  tests/integration/project_main/go/a/path/to/main/go.mod
  tests/integration/project_main/go/a/path/to/main/go.sum
  tests/integration/project_main/go/a/path/to/main/main.go
  tests/integration/project_main/nodejs/Pulumi.yaml
  tests/integration/project_main/nodejs/a/path/to/main/.gitignore
  tests/integration/project_main/nodejs/a/path/to/main/index.ts
  tests/integration/project_main/nodejs/a/path/to/main/package.json
Labels: impact/no-changelog-required

#10835 Update cloud.google.com/go/storage to v1.22.1
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#10705 Resolve discriminated unions when the discriminator is a string pointer
  pkg/codegen/pcl/rewrite_convert.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/discriminated-union-pp/discriminated-union.pp
  pkg/codegen/testing/test/testdata/discriminated-union-pp/dotnet/discriminated-union.cs
  pkg/codegen/testing/test/testdata/discriminated-union-pp/nodejs/discriminated-union.ts
  pkg/codegen/testing/test/testdata/discriminated-union-pp/python/discriminated-union.py
Labels: impact/no-changelog-required

#10805 Use plugins.providers rather than setting PATH
  pkg/testing/integration/program.go
  tests/integration/gather_plugin/python/requirements.txt
  tests/integration/integration_dotnet_smoke_test.go
  tests/integration/integration_dotnet_test.go
  tests/integration/integration_go_smoke_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_smoke_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_smoke_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#10673 refactor: use `os.ReadDir` for lightweight directory reading
  pkg/cmd/pulumi/new.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/schema/docs_test.go
  pkg/codegen/testing/test/testdata/aws-s3-folder-pp/go/aws-s3-folder.go
  pkg/codegen/utilities.go
  pkg/testing/integration/util.go
  sdk/go/common/util/fsutil/copy.go
  sdk/go/common/util/fsutil/walkup.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/templates.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#10855 Remove dependency on `github.com/pkg/errors` in `pkg` module
  pkg/go.mod
  pkg/secrets/cloud/manager.go
Labels: impact/no-changelog-required

#10857 Freeze 3.40.2 for release
  .version
Labels: impact/no-changelog-required

#10867 ci: Reenable Brew publishing after GH runners removed brew from path
  .github/workflows/trigger-homebrew-event.yml
Labels: impact/no-changelog-required

#10868 ci: Fix env, script cleanup on homebrew tap release action
  .github/workflows/release-homebrew-tap.yml
Labels: impact/no-changelog-required
