Repository pulumi/pulumi, pull requests merged in 2022-06, with the labels that each got.

#9746 Add typed error when an empty schema is returned
  pkg/codegen/schema/loader.go
Labels: impact/no-changelog-required

#9685 Use goreleaser prebuilt
  .github/workflows/build.yml
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-binaries.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .github/workflows/test-fast.yml
  .github/workflows/test.yml
  .goreleaser.build.yml
  .goreleaser.prerelease.yml
  .goreleaser.yml
  scripts/go-wrapper.sh
  scripts/prep-for-goreleaser.sh
  scripts/unpack.sh
Labels: impact/no-changelog-required

#9747 Special case the error specifing app.pulumi.com
  pkg/cmd/pulumi/login.go
Labels: impact/no-changelog-required

#9760 [engine] Remove a copy of schema bytes, use regexp over string.
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/loader_schema_test.go
Labels: impact/performance, impact/no-changelog-required, area/core

#9762 Fix the master build with t.Parallel()
  pkg/codegen/schema/loader_schema_test.go
Labels: impact/no-changelog-required

#9765 Fix 9763 test-windows-cron
  .github/workflows/test-windows-cron.yml
Labels: impact/no-changelog-required

#9769 [python,nodejs] Speed up codegen tests
  pkg/codegen/nodejs/test.go
  pkg/codegen/python/gen_test.go
Labels: impact/no-changelog-required

#9773 Fix build: Import uuid/v4 differently
  tests/integration/delete_before_create/step1/package.json
  tests/integration/delete_before_create/step1/resource.ts
Labels: impact/no-changelog-required

#9774 Update uuid version
  tests/integration/delete_before_create/step1/package.json
Labels: impact/no-changelog-required

#9325 Add /run-integration-tests command
  .github/workflows/command-dispatch.yml
  .github/workflows/pr.yml
  .github/workflows/run-build-and-integration-tests.yml
Labels: impact/no-changelog-required

#9786 fix: Add missing OrderedConfig to integration test With method
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#9797 Point to pulumi-yaml 0.5.1
  pkg/go.mod
  pkg/go.sum
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#9799 Run go mod tidy after #9797
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#9806 Update SDK and PKG references
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#9808 Do not track go-releaser build directories: fixes release workflow
  .gitignore
Labels: impact/no-changelog-required

#9800 Add description to PackageReference
  pkg/codegen/schema/package_reference.go
Labels: impact/no-changelog-required

#9804 Clone and test pulumi/templates from the current working branch
  sdk/go/common/workspace/templates.go
Labels: area/testing, impact/no-changelog-required

#9771 [pkg] Enable main_test to compile on go 1.17 and go 1.18
  pkg/cmd/pulumi/main_1.17_test.go
  pkg/cmd/pulumi/main_1.18_test.go
  pkg/cmd/pulumi/main_test.go
Labels: impact/no-changelog-required

#9831 Revert "Clone and test pulumi/templates from the current working branch"
  sdk/go/common/workspace/templates.go
Labels: impact/no-changelog-required

#9840 Update protoc-gen-go to 1.5.2
  sdk/dotnet/cmd/pulumi-language-dotnet/main.go
  sdk/proto/analyzer.proto
  sdk/proto/build-container/Dockerfile
  sdk/proto/engine.proto
  sdk/proto/errors.proto
  sdk/proto/generate.sh
  sdk/proto/go/analyzer.pb.go
  sdk/proto/go/engine.pb.go
  sdk/proto/go/errors.pb.go
  sdk/proto/go/language.pb.go
  sdk/proto/go/plugin.pb.go
  sdk/proto/go/provider.pb.go
  sdk/proto/go/resource.pb.go
  sdk/proto/language.proto
  sdk/proto/plugin.proto
  sdk/proto/provider.proto
  sdk/proto/resource.proto
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.py
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
Labels: impact/no-changelog-required

#9843 [sdk/go] Support nested git project paths
  CHANGELOG_PENDING.md
  sdk/go/common/util/gitutil/git.go
  sdk/go/common/util/gitutil/git_test.go
Labels: kind/bug, size/S

#9848 Change str(output) to return a warning message
  CHANGELOG_PENDING.md
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/test/test_output.py
Labels: kind/enhancement, language/python

#9853 Fix TestStackParenting
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#9854 Fix run-integration-tests to pass goreleaser-flags
  .github/workflows/run-build-and-integration-tests.yml
Labels: impact/no-changelog-required

#9686 [schema] Faster schema loading via caching alongside plugins
  CHANGELOG_PENDING.md
  pkg/codegen/importer/hcl2_test.go
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/loader_schema_test.go
  pkg/codegen/schema/loader_test.go
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/eks.json
  pkg/codegen/testing/test/testdata/external-go-import-aliases/schema.json
  pkg/codegen/testing/test/testdata/external-node-compatibility/schema.json
  pkg/codegen/testing/test/testdata/external-resource-schema/schema.json
  pkg/codegen/testing/test/testdata/plain-schema-gh6957/schema.json
  pkg/codegen/testing/utils/host.go
  pkg/codegen/testing/utils/providers.go
  pkg/go.mod
  pkg/go.sum
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/workspace/plugins.go
  tests/go.mod
  tests/go.sum
Labels: kind/enhancement, area/core

#9858 Couple more integration test workflow fixes
  .github/workflows/run-build-and-integration-tests.yml
Labels: impact/no-changelog-required

#9860 Use await not Task.Assign
  sdk/dotnet/Pulumi/Core/Output.cs
  sdk/dotnet/Pulumi/Extensions.cs
Labels: impact/no-changelog-required, language/dotnet

#9859 Add some more checks that io.Copy copies as much as expected
  pkg/testing/integration/util.go
  sdk/go/common/resource/asset.go
  sdk/go/common/resource/asset_test.go
  sdk/go/common/util/archive/archive.go
Labels: impact/no-changelog-required

#9868 Rename optionalUrl to fix linter
  pkg/codegen/python/gen.go
Labels: impact/no-changelog-required

#9870 Remove the deprecated PyNameLegacy function
  pkg/codegen/python/python.go
  pkg/codegen/python/python_test.go
Labels: impact/no-changelog-required

#9863 Add warning when using ignoreChange on Component.
  CHANGELOG_PENDING.md
  pkg/resource/deploy/source_eval.go
Labels: kind/enhancement, size/S, area/core, resolution/fixed, impact/quality

#9857 Fix downstream codegen test failures
  .github/workflows/run-codegen-test.yml
Labels: impact/no-changelog-required, area/build

#9882 Fix dotnet alias spec
  sdk/dotnet/Pulumi/Deployment/Deployment_Prepare.cs
Labels: impact/no-changelog-required

#9873 Remove the go mod replace directives
  pkg/cmd/pulumi/gen_completion.go
  pkg/codegen/hcl2/model/binder_expression.go
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#9929 Update pulumi-java ref to v0.4.0
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#9921 Add Warnings when Resource Options are applied to Components with no effect
  CHANGELOG_PENDING.md
  pkg/engine/lifeycletest/pulumi_test.go
  pkg/engine/lifeycletest/test_plan.go
  pkg/resource/deploy/source_eval.go
Labels: kind/enhancement, impact/usability, size/S, area/core, resolution/fixed

#9939 Fix spelling in 'lifecycletest' package name.
  pkg/engine/lifecycletest/analyzer_test.go
  pkg/engine/lifecycletest/delete_before_replace_test.go
  pkg/engine/lifecycletest/golang_sdk_test.go
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/pending_delete_test.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/resource_reference_test.go
  pkg/engine/lifecycletest/step_generator_test.go
  pkg/engine/lifecycletest/target_test.go
  pkg/engine/lifecycletest/test_plan.go
Labels: impact/no-changelog-required

#9943 Avoid realpath Makefile func that seems flaky on Win
  Makefile
  sdk/dotnet/Makefile
  sdk/go/Makefile
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: impact/no-changelog-required

#9936 Include pkg reference in bound schema types
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema.go
  pkg/codegen/schema/schema_test.go
Labels: impact/no-changelog-required, area/codegen, kind/engineering

#9941 Update C# protobuf reference to 3.20.1
  sdk/dotnet/Pulumi/Pulumi.csproj
Labels: impact/no-changelog-required

#9953 Remove PROJECT_ROOT Make var
  Makefile
  build/common.mk
  sdk/dotnet/Makefile
  sdk/go/Makefile
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: impact/no-changelog-required

#9965 Automate release chores
  scripts/release.sh
Labels: impact/no-changelog-required

#9961 Fix typo in __str__ error message
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/test/test_output.py
Labels: impact/no-changelog-required

#9971 Reference a later version of source-map-support
  sdk/nodejs/package.json
Labels: impact/no-changelog-required

#9969 Update Contributing.md to point to the latest .NET
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#9973 Include invoke.ts (and its type `InvokeOptions`) in generated documentation
  sdk/nodejs/tsconfig.json
Labels: area/docs, impact/no-changelog-required

#9968 Refine the description of destroy command to be more accurate
  pkg/cmd/pulumi/destroy.go
Labels: impact/no-changelog-required

#9991 Sort proto checksum
  Makefile
  sdk/proto/.checksum.txt
Labels: impact/no-changelog-required

#10005 More alias tests
  pkg/engine/lifecycletest/pulumi_test.go
  sdk/proto/go/resource.pb.go
  sdk/proto/resource.proto
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  tests/integration/aliases/aliases_dotnet_test.go
  tests/integration/aliases/aliases_go_test.go
  tests/integration/aliases/aliases_nodejs_test.go
  tests/integration/aliases/aliases_py_test.go
  tests/integration/aliases/dotnet/retype_parents/step1/Aliases.csproj
  tests/integration/aliases/dotnet/retype_parents/step1/Program.cs
  tests/integration/aliases/dotnet/retype_parents/step1/Pulumi.yaml
  tests/integration/aliases/dotnet/retype_parents/step2/Program.cs
  tests/integration/aliases/go/retype_parents/step1/Pulumi.yaml
  tests/integration/aliases/go/retype_parents/step1/go.mod
  tests/integration/aliases/go/retype_parents/step1/go.sum
  tests/integration/aliases/go/retype_parents/step1/main.go
  tests/integration/aliases/go/retype_parents/step2/main.go
  tests/integration/aliases/nodejs/retype_parents/step1/Pulumi.yaml
  tests/integration/aliases/nodejs/retype_parents/step1/index.ts
  tests/integration/aliases/nodejs/retype_parents/step1/package.json
  tests/integration/aliases/nodejs/retype_parents/step2/index.ts
  tests/integration/aliases/python/retype_parents/step1/Pulumi.yaml
  tests/integration/aliases/python/retype_parents/step1/__main__.py
  tests/integration/aliases/python/retype_parents/step1/requirements.txt
  tests/integration/aliases/python/retype_parents/step2/__main__.py
Labels: impact/no-changelog-required

#10008 Fix python alias test
  tests/integration/aliases/python/retype_parents/step1/__main__.py
  tests/integration/aliases/python/retype_parents/step2/__main__.py
Labels: impact/no-changelog-required

#10011 Use a correct class name for UTF8 in C# programgen
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/testing/test/testdata/functions-pp/dotnet/functions.cs
Labels: impact/no-changelog-required

#10014 Fix createUrn when parent is the stack type
  sdk/nodejs/resource.ts
Labels: impact/no-changelog-required

#10016 Fix module name for retype_parents test
  tests/integration/aliases/go/retype_parents/step1/go.mod
Labels: impact/no-changelog-required
