Repository pulumi/pulumi, pull requests merged in 2022-07, with the labels that each got.

#10028 Release v3.35.3
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#9970 Improve wording for the stack removal error when stack still has resources
  pkg/cmd/pulumi/stack_rm.go
Labels: impact/no-changelog-required

#10032 Update all references so that source-map-support is up-to-date
  sdk/go/auto/test/errors/compilation_error/typescript/package-lock.json
  sdk/go/auto/test/errors/compilation_error/typescript/package.json
  sdk/go/auto/test/errors/runtime_error/javascript/package-lock.json
  sdk/go/auto/test/errors/runtime_error/javascript/package.json
  sdk/go/auto/test/errors/runtime_error/typescript/package-lock.json
  sdk/go/auto/test/errors/runtime_error/typescript/package.json
  sdk/nodejs/tests/automation/data/tcfg/package-lock.json
  sdk/nodejs/tests/automation/data/tcfg/package.json
  sdk/python/lib/test/automation/errors/compilation_error/typescript/package-lock.json
  sdk/python/lib/test/automation/errors/compilation_error/typescript/package.json
  sdk/python/lib/test/automation/errors/runtime_error/javascript/package-lock.json
  sdk/python/lib/test/automation/errors/runtime_error/javascript/package.json
  sdk/python/lib/test/automation/errors/runtime_error/typescript/package-lock.json
  sdk/python/lib/test/automation/errors/runtime_error/typescript/package.json
  tests/examples/multilang/python/Pulumi.luke-dev.yaml
  tests/examples/multilang/python/mycomponent/package-lock.json
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/PKG-INFO
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/SOURCES.txt
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/dependency_links.txt
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/not-zip-safe
  tests/examples/multilang/python/mycomponent/pulumi_mycomponent.egg-info/top_level.txt
Labels: impact/no-changelog-required

#9980 Fix --tracing flag propagation to resource plugins
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/util/cmdutil/trace.go
Labels: impact/no-changelog-required

#10015 Use released java 0.4.1
  pkg/go.mod
  pkg/go.sum
  scripts/get-language-providers.sh
  tests/go.sum
Labels: impact/no-changelog-required

#10049 Mark error is assigned when generating temporary variables that return errors
  CHANGELOG_PENDING.md
  pkg/codegen/go/gen_program.go
Labels: area/languages, language/go, area/codegen

#10013 Simplify and harden escaping in Python doc strings SDK gen
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_test.go
Labels: impact/no-changelog-required

#10047 Fixes panic when generating go from pulumi yaml
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/pcl/rewrite_convert.go
  pkg/codegen/pcl/rewrite_convert_test.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/aws-iam-policy-pp/aws-iam-policy.pp
  pkg/codegen/testing/test/testdata/aws-iam-policy-pp/dotnet/aws-iam-policy.cs
  pkg/codegen/testing/test/testdata/aws-iam-policy-pp/go/aws-iam-policy.go
  pkg/codegen/testing/test/testdata/aws-iam-policy-pp/nodejs/aws-iam-policy.ts
  pkg/codegen/testing/test/testdata/aws-iam-policy-pp/python/aws-iam-policy.py
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: language/go, impact/no-changelog-required, area/codegen

#10099 Fix docker in sdk/proto/generate.sh on M1
  proto/generate.sh
Labels: impact/no-changelog-required

#10105 Fix checksum
  .github/workflows/run-build-and-acceptance-tests.yml
  Makefile
  proto/.checksum.txt
Labels: impact/no-changelog-required, area/build

#10110 Handle input types in return position of ApplyT
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_test.go
Labels: impact/no-changelog-required

#10071 Handle keywords in modules
  pkg/codegen/python/gen_program.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/aws-lambda-pp/aws-lambda.pp
  pkg/codegen/testing/test/testdata/aws-lambda-pp/python/aws-lambda.py
Labels: impact/no-changelog-required

#10127 Remove programgen conversion assertions
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/python/gen_program_expressions.go
Labels: impact/no-changelog-required

#10133 Use -compat 1.17 in tidy
  scripts/tidy.sh
Labels: impact/no-changelog-required

#10142 Add deprecation warning about GITHUB_REPOSITORY_OWNER
  CHANGELOG_PENDING.md
  sdk/go/common/workspace/plugins.go
Labels: area/core, area/plugins

#10135 Don't hide the convert command
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#10129 Update java to 0.5.0
  pkg/go.mod
  pkg/go.sum
  scripts/get-language-providers.sh
  sdk/go.sum
Labels: impact/no-changelog-required

#10132 [codegen/go] Support provider resources
  CHANGELOG_PENDING.md
  pkg/codegen/go/gen_program.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/aws-resource-options-pp/go/aws-resource-options.go
Labels: impact/changelog

#10153 Revert change to panic in codegen
  pkg/codegen/go/gen_program.go
Labels: impact/no-changelog-required

#10155 Support PULUMI_PYTHON_CMD with venvs
  CHANGELOG_PENDING.md
  sdk/python/cmd/pulumi-language-python/main.go
Labels: language/python

#10173 Add tracing around os.Exec in node provider
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required

#10181 Update README to show EOL CLI versions.
  README.md
Labels: area/docs, kind/enhancement, impact/no-changelog-required

#10187 [ci] Fix extra extension in goreleaser templates
  .goreleaser.build.yml
  .goreleaser.prerelease.yml
  .goreleaser.yml
Labels: impact/no-changelog-required, area/build

#10141 Add random seed to Check
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
Labels: area/providers, impact/no-changelog-required, area/core

#10185 Avoid importing typescript unless necessary
  sdk/nodejs/automation/server.ts
  sdk/nodejs/cmd/dynamic-provider/index.ts
  sdk/nodejs/cmd/run-policy-pack/run.ts
  sdk/nodejs/cmd/run/run.ts
  sdk/nodejs/config.ts
  sdk/nodejs/dynamic/index.ts
  sdk/nodejs/metadata.ts
  sdk/nodejs/output.ts
  sdk/nodejs/provider/server.ts
  sdk/nodejs/resource.ts
  sdk/nodejs/tsutils.ts
Labels: impact/no-changelog-required

#10161 [go] Don't panic on invalid program code
  pkg/codegen/go/gen_program.go
Labels: impact/no-changelog-required, area/codegen

#10206 Fix publish step not uploading release binaries to bucket
  .goreleaser.prerelease.yml
  .goreleaser.yml
Labels: impact/no-changelog-required

#10205 Add flag to specify whether to install dependencies on pulumi convert
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#10168 Remove api/renewLease from startup crit path
  pkg/backend/httpstate/state.go
Labels: impact/no-changelog-required

#10204 Change GetPluginPath to assert the paths are as expected and use the paths calculated
  pkg/cmd/pulumi/plugin.go
  pkg/engine/plugins.go
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#10211 Fix error check in newDeployment
  pkg/engine/deployment.go
Labels: impact/no-changelog-required

#10214 Make sure import pulumi/pulumi does not necessarily import typescript
  sdk/nodejs/runtime/closure/createClosure.ts
  sdk/nodejs/runtime/closure/rewriteSuper.ts
  sdk/nodejs/runtime/closure/utils.ts
Labels: impact/no-changelog-required

#10177 Tidy up some help text
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
Labels: impact/no-changelog-required

#10207 [windows] replace ssh-agent with one that lazily loads dlls
  pkg/go.mod
  pkg/go.sum
  sdk/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#10234 test: use `T.Setenv` to set env vars in tests
  pkg/backend/filestate/backend_test.go
  pkg/backend/httpstate/backend_test.go
  pkg/backend/httpstate/console_test.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/util_test.go
  pkg/codegen/testing/test/testdata/plain-object-defaults/go-extras/tests/codegen_test.go
  sdk/go/common/util/ciutil/vars_test.go
  sdk/go/common/workspace/plugins_install_nodejs_test.go
  sdk/go/common/workspace/plugins_test.go
  sdk/nodejs/npm/npm_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/policy/policy_test.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#10235 Remove config from host, was unused
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/plugin.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/up.go
  pkg/engine/deployment.go
  pkg/engine/query.go
  sdk/go/common/resource/plugin/context.go
  sdk/go/common/resource/plugin/host.go
Labels: impact/no-changelog-required

#10228 Add proto interfaces to move about logic to plugins
  pkg/engine/lifecycletest/pulumi_test.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/dotnet/cmd/pulumi-language-dotnet/main.go
  sdk/go/auto/stack.go
  sdk/go/pulumi-language-go/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/proto/language_grpc_pb.js
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/language.pb.go
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.py
Labels: impact/no-changelog-required

#10220 Use plugin link instead of PATH manipulation in programtest
  pkg/testing/integration/program.go
  tests/integration/integration_dotnet_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#10223 make provider more tolerant of unexpected command line args
  sdk/python/lib/pulumi/provider/server.py
Labels: impact/no-changelog-required

#10243 Fixup for local single file plugin install
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#10263 refactor: append to env var list instead of overwriting.
  sdk/go/common/testing/environment.go
  sdk/go/common/testing/environment_test.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#10271 Error that version is needed if using --file
  pkg/cmd/pulumi/plugin_install.go
Labels: impact/no-changelog-required

#10300 pinned grpcio
  sdk/python/lib/setup.py
  sdk/python/requirements.txt
Labels: impact/no-changelog-required

#10273 add java+yaml to readme
  README.md
Labels: impact/no-changelog-required
