Repository pulumi/pulumi, pull requests merged in 2022-11, with the labels that each got.

#11215 Test transpiled examples for all languages
  pkg/codegen/dotnet/gen_program_test/batchyaml/gen_program_test.go
  pkg/codegen/go/gen_program_test/batchyaml/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batchyaml/gen_program_test.go
  pkg/codegen/python/gen_program_test/batchyaml/gen_program_test.go
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-random-pp/dotnet/dotnet.csproj
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/dotnet/dotnet.csproj
  pkg/codegen/testing/test/testdata/transpiled_examples/getting-started-pp/dotnet/dotnet.csproj
  pkg/codegen/testing/test/testdata/transpiled_examples/random-pp/dotnet/dotnet.csproj
Labels: impact/no-changelog-required

#11223 Cleaning up a few pkg/errors uses
  sdk/go/common/resource/asset.go
  sdk/go/common/resource/asset_test.go
  sdk/go/common/resource/config/crypt.go
  sdk/go/common/resource/config/key.go
  sdk/go/common/resource/properties_path.go
  sdk/go/common/resource/resource_id.go
Labels: impact/no-changelog-required

#11234 Freeze 3.46.0
  .version
Labels: impact/no-changelog-required

#11248 Make OutputState pass the `-race` detector
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#11242 Fix protobuf checksum code and regenerate
  Makefile
  proto/.checksum.txt
  proto/build-container/Dockerfile
  proto/build-container/scripts/install-python.sh
  proto/generate.sh
  sdk/python/.pylintrc
  sdk/python/lib/pulumi/_types.py
  sdk/python/lib/pulumi/provider/server.py
  sdk/python/lib/pulumi/runtime/proto/alias_pb2.py
  sdk/python/lib/pulumi/runtime/proto/alias_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/alias_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/engine_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.py
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/errors_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.py
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/requirements.txt
Labels: impact/no-changelog-required

#11095 Add `DeletedWith` resource option
  changelog/pending/20221020--pkg--add-deletedwith-as-a-resource-option.yaml
  pkg/backend/display/json.go
  pkg/backend/snapshot.go
  pkg/backend/snapshot_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/dotnet/Pulumi/Deployment/Deployment.cs
  sdk/dotnet/Pulumi/Deployment/Deployment_RegisterResource.cs
  sdk/dotnet/Pulumi/PublicAPI.Shipped.txt
  sdk/dotnet/Pulumi/Resources/ResourceOptions.cs
  sdk/dotnet/Pulumi/Resources/ResourceOptions_Copy.cs
  sdk/dotnet/Pulumi/Resources/ResourceOptions_Merge.cs
  sdk/go/common/apitype/core.go
  sdk/go/common/resource/resource_goal.go
  sdk/go/common/resource/resource_state.go
  sdk/go/pulumi/context.go
  sdk/go/pulumi/resource.go
  sdk/nodejs/proto/resource_pb.js
  sdk/nodejs/resource.ts
  sdk/nodejs/runtime/resource.ts
  sdk/nodejs/runtime/settings.ts
  sdk/proto/go/resource.pb.go
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/settings.py
Labels: kind/enhancement, area/engine

#11261 Update YAML invoke syntax for docs
  pkg/codegen/docs/templates/function.tmpl
  pkg/codegen/testing/test/testdata/external-resource-schema/docs/argfunction/_index.md
  pkg/codegen/testing/test/testdata/functions-secrets/docs/funcwithsecrets/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/argfunction/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/overlayfunction/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/docs/listconfigurations/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/docs/listproductfamilies/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/docs/getamiids/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/docs/liststorageaccountkeys/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithalloptionalinputs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithconstinput/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithdefaultvalue/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithdictparam/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithemptyoutputs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithlistparam/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/getbastionshareablelink/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/getclientconfig/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/getintegrationruntimeobjectmetadatum/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/liststorageaccountkeys/_index.md
  pkg/codegen/testing/test/testdata/plain-object-defaults/docs/funcwithalloptionalinputs/_index.md
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/docs/funcwithalloptionalinputs/_index.md
  pkg/codegen/testing/test/testdata/provider-config-schema/docs/funcwithalloptionalinputs/_index.md
  pkg/codegen/testing/test/testdata/regress-8403/docs/getcustomdbroles/_index.md
  pkg/codegen/testing/test/testdata/regress-node-8110/docs/examplefunc/_index.md
  pkg/codegen/testing/test/testdata/simple-plain-schema/docs/dofoo/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema-custom-pypackage-name/docs/argfunction/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/argfunction/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/overlayfunction/_index.md
  pkg/codegen/testing/test/testdata/simple-yaml-schema/docs/argfunction/_index.md
Labels: impact/no-changelog-required

#11277 ci: block non-linear merges
  .github/workflows/ci-lint.yml
  bors.toml
  scripts/git-linear-history-check.sh
Labels: impact/no-changelog-required

#11272 Disable auto stack parenting
  .vscode/settings.json
  changelog/pending/20221107--engine--disable-auto-parenting-to-see-if-that-fixes-10950.yaml
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/resource/deploy/step_generator.go
  tests/integration/integration_nodejs_test.go
Labels: p1

#11297 ci: Freeze v3.46.1 for release
  .version
Labels: impact/no-changelog-required

#11274 Remove source_fixed
  pkg/resource/deploy/deployment_test.go
  pkg/resource/deploy/source_fixed.go
Labels: impact/no-changelog-required

#11309 Fix typo in error message
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#11292 [auto/nodejs] Test remote operations
  sdk/nodejs/Makefile
  sdk/nodejs/automation/remoteWorkspace.ts
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
  sdk/nodejs/tests/automation/remoteWorkspace.spec.ts
  sdk/nodejs/tests/automation/util.ts
  sdk/nodejs/tsconfig.json
Labels: impact/no-changelog-required

#11322 Set minimum .NET build version to 3.23.0
  pkg/codegen/dotnet/gen.go
  pkg/codegen/testing/test/testdata/azure-native-nested-types/dotnet/Pulumi.AzureNative.csproj
  pkg/codegen/testing/test/testdata/cyclic-types/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/dash-named-schema/dotnet/Pulumi.FooBar.csproj
  pkg/codegen/testing/test/testdata/dashed-import-schema/dotnet/Pulumi.Plant.csproj
  pkg/codegen/testing/test/testdata/functions-secrets/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/hyphen-url/dotnet/Pulumi.Registrygeoreplication.csproj
  pkg/codegen/testing/test/testdata/naming-collisions/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/dotnet/Pulumi.FooBar.csproj
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/dotnet/Pulumi.Myedgeorder.csproj
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/output-funcs/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/plain-and-default/dotnet/Pulumi.FooBar.csproj
  pkg/codegen/testing/test/testdata/plain-object-defaults/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/plain-schema-gh6957/dotnet/Pulumi.Xyz.csproj
  pkg/codegen/testing/test/testdata/regress-8403/dotnet/Pulumi.Mongodbatlas.csproj
  pkg/codegen/testing/test/testdata/regress-node-8110/dotnet/Pulumi.My8110.csproj
  pkg/codegen/testing/test/testdata/replace-on-change/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/resource-args-python-case-insensitive/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/resource-args-python/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/resource-property-overlap/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/secrets/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/simple-enum-schema/dotnet/Pulumi.Plant.csproj
  pkg/codegen/testing/test/testdata/simple-methods-schema-single-value-returns/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/simple-methods-schema/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/simple-plain-schema-with-root-package/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/simple-plain-schema/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/simple-resource-schema/dotnet/Pulumi.Example.csproj
Labels: impact/no-changelog-required

#11329 Reorder scopes to be alphabetically ordered.
  changelog/config.yaml
Labels: area/tooling, impact/no-changelog-required, kind/engineering

#11255 Clean up a few more pkg/errors uses
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/npm/npm.go
Labels: impact/no-changelog-required

#11300 Support PCL as a convert input (and output)
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/convert_test.go
  pkg/cmd/pulumi/pcl_convert_testdata/main.pp
Labels: impact/no-changelog-required

#11337 ci: Re-enable version sets for .NET, test GA version of 6 and 7
  .github/workflows/ci-build-sdks.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/release.yml
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#11335 [sdk/dotnet] Add DictionaryInvokeArgs for dynamically constructing invoke inputs
  changelog/pending/20221111--sdk-dotnet--add-dictionaryinvokeargs-for-dynamically-constructing-invoke-input-bag-of-properties.yaml
  sdk/dotnet/Pulumi.Tests/Resources/DictionaryInvokeArgsTests.cs
  sdk/dotnet/Pulumi/PublicAPI.Shipped.txt
  sdk/dotnet/Pulumi/Resources/DictionaryInvokeArgs.cs
Labels: area/sdks, language/dotnet

#11343 [nodejs/sdk-gen] Simplify default options for function invokes
  pkg/codegen/nodejs/gen.go
  pkg/codegen/testing/test/testdata/external-resource-schema/nodejs/argFunction.ts
  pkg/codegen/testing/test/testdata/functions-secrets/nodejs/funcWithSecrets.ts
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/nodejs/listConfigurations.ts
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/nodejs/listProductFamilies.ts
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/nodejs/getAmiIds.ts
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/nodejs/listStorageAccountKeys.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithConstInput.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithDefaultValue.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithDictParam.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithEmptyOutputs.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithListParam.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/getBastionShareableLink.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/getClientConfig.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/getIntegrationRuntimeObjectMetadatum.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/listStorageAccountKeys.ts
  pkg/codegen/testing/test/testdata/plain-object-defaults/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/testing/test/testdata/provider-config-schema/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/testing/test/testdata/regress-8403/nodejs/getCustomDbRoles.ts
  pkg/codegen/testing/test/testdata/regress-node-8110/nodejs/exampleFunc.ts
  pkg/codegen/testing/test/testdata/simple-plain-schema/nodejs/doFoo.ts
  pkg/codegen/testing/test/testdata/simple-resource-schema-custom-pypackage-name/nodejs/argFunction.ts
  pkg/codegen/testing/test/testdata/simple-resource-schema/nodejs/argFunction.ts
  pkg/codegen/testing/test/testdata/simple-yaml-schema/nodejs/argFunction.ts
Labels: language/javascript, impact/no-changelog-required, area/codegen

#11345 Do not reference Pulumi nuget if a project reference to Pulumi.csproj already exists
  pkg/codegen/dotnet/gen.go
  pkg/codegen/testing/test/testdata/azure-native-nested-types/dotnet/Pulumi.AzureNative.csproj
  pkg/codegen/testing/test/testdata/cyclic-types/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/dash-named-schema/dotnet/Pulumi.FooBar.csproj
  pkg/codegen/testing/test/testdata/dashed-import-schema/dotnet/Pulumi.Plant.csproj
  pkg/codegen/testing/test/testdata/functions-secrets/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/hyphen-url/dotnet/Pulumi.Registrygeoreplication.csproj
  pkg/codegen/testing/test/testdata/naming-collisions/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/dotnet/Pulumi.FooBar.csproj
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/dotnet/Pulumi.Myedgeorder.csproj
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/output-funcs/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/plain-and-default/dotnet/Pulumi.FooBar.csproj
  pkg/codegen/testing/test/testdata/plain-object-defaults/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/plain-schema-gh6957/dotnet/Pulumi.Xyz.csproj
  pkg/codegen/testing/test/testdata/regress-8403/dotnet/Pulumi.Mongodbatlas.csproj
  pkg/codegen/testing/test/testdata/regress-node-8110/dotnet/Pulumi.My8110.csproj
  pkg/codegen/testing/test/testdata/replace-on-change/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/resource-args-python-case-insensitive/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/resource-args-python/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/resource-property-overlap/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/secrets/dotnet/Pulumi.Mypkg.csproj
  pkg/codegen/testing/test/testdata/simple-enum-schema/dotnet/Pulumi.Plant.csproj
  pkg/codegen/testing/test/testdata/simple-methods-schema-single-value-returns/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/simple-methods-schema/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/simple-plain-schema-with-root-package/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/simple-plain-schema/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/simple-resource-schema/dotnet/Pulumi.Example.csproj
Labels: impact/no-changelog-required, language/dotnet, area/codegen

#11339 Account for version when caching schemas
  pkg/codegen/schema/loader.go
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#11311 Guard against empty inputs for objs expressions.
  changelog/pending/20221109--pkg--panic-in-codegen-obj-expressions.yaml
  pkg/codegen/pcl/invoke.go
Labels: kind/bug, area/providers, impact/panic

#11370 Bump nodejs integration test version
  tests/integration/nodejs/esm-ts-compiled/package.json
Labels: impact/no-changelog-required

#11366 ci: Skip CI workflows on forks where permissions would cause workflow to fail
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#11377 Remove CI badges, move EOL below langs
  README.md
Labels: area/docs, impact/no-changelog-required

#11396 Update `pulumi-yaml` to v1.0.3
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#11398 freeze 3.47.0 for release
  .version
Labels: impact/no-changelog-required

#11408 Fix stack selection behavior
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#11410 prepare for next release
  .version
Labels: impact/no-changelog-required

#11411 ci: Freeze v3.47.1 for release
  .version
Labels: impact/no-changelog-required

#11369 Adjust bors.toml after #11364
  bors.toml
Labels: impact/no-changelog-required

#11090 Update ./sdk/README.md
  sdk/README.md
Labels: impact/no-changelog-required

#11436 ci: Freeze v3.47.2 for release
  .version
Labels: impact/no-changelog-required

#11435 Do not fail pulumi new on invalid template(s)
  pkg/cmd/pulumi/new.go
  sdk/go/common/workspace/templates.go
Labels: impact/no-changelog-required

#11437 Mark external modules as forign
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/aws-webserver-pp/go/aws-webserver.go
Labels: impact/no-changelog-required

#11448 ci: Create v3.48.0 draft release
  .version
Labels: impact/no-changelog-required

#11440 Cleanup import generation
  pkg/codegen/go/gen_program.go
Labels: impact/no-changelog-required

#11455 freeze 3.48.0
  .version
Labels: impact/no-changelog-required

#11442 Don't import types referenced from local variables
  pkg/codegen/go/gen_program.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/assets-archives-pp/go/assets-archives.go
Labels: language/go, impact/no-changelog-required, area/codegen

#11461 Fix the aws-eks programgen example
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/aws-eks-pp/nodejs/aws-eks.ts
  pkg/codegen/testing/test/testdata/aws-s3-folder-pp/nodejs/aws-s3-folder.ts
Labels: impact/no-changelog-required

#11463 Disable failing windows-winget-install wokflow from download cron job
  .github/workflows/download-pulumi-cron.yml
Labels: impact/no-changelog-required

#11443 Do not fail pulumi policy new on invalid template(s)
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/policy_new.go
  sdk/go/common/workspace/templates.go
Labels: impact/no-changelog-required

#11378 First pass of adding the convert mapper
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/convert_test.go
  pkg/codegen/convert/mapper.go
  pkg/resource/deploy/builtins.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/provider/component_provider.go
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_server.go
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
Labels: impact/no-changelog-required

#11490 Limit NodeJS to 19.1
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required
