Repository pulumi/pulumi, pull requests merged in 2022-12, with the labels that each got.

#11513 Remove problematic yaml tests
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/cue-static-web-app.pp
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/dotnet/cue-static-web-app.cs
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/dotnet/dotnet.csproj
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/go/cue-static-web-app.go
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/nodejs/cue-static-web-app.ts
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/nodejs/package.json
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/nodejs/tsconfig.json
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-static-web-app-pp/python/cue-static-web-app.py
Labels: impact/no-changelog-required

#11484 Add tests for awskms secret manager
  pkg/go.mod
  pkg/go.sum
  pkg/secrets/cloud/manager_test.go
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#11510 Phase 3 of the convert mapper
  pkg/codegen/convert/mapper.go
  pkg/go.mod
  pkg/go.sum
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/providers/registry_test.go
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.pyi
  tests/go.mod
  tests/integration/construct_component/testcomponent-go/main.go
  tests/integration/construct_component/testcomponent2-go/main.go
  tests/integration/construct_component_plain/testcomponent-go/main.go
  tests/integration/construct_component_unknown/testcomponent-go/main.go
  tests/testprovider/main.go
Labels: impact/no-changelog-required

#11525 fixing some package names for seo reasons
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#11511 [typescript/sdk-gen] Generate JS doc comments for output-versioned invokes
  changelog/pending/20221202--sdkgen-nodejs--generate-js-doc-comments-for-output-versioned-invokes-and-use-explicit-any-type.yaml
  pkg/codegen/nodejs/gen.go
  pkg/codegen/testing/test/testdata/external-resource-schema/nodejs/argFunction.ts
  pkg/codegen/testing/test/testdata/functions-secrets/nodejs/funcWithSecrets.ts
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/nodejs/listConfigurations.ts
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/nodejs/listProductFamilies.ts
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/nodejs/getAmiIds.ts
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/nodejs/listStorageAccountKeys.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithDefaultValue.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithDictParam.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithEmptyOutputs.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithListParam.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/getBastionShareableLink.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/getIntegrationRuntimeObjectMetadatum.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/listStorageAccountKeys.ts
  pkg/codegen/testing/test/testdata/plain-object-defaults/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/testing/test/testdata/provider-config-schema/nodejs/funcWithAllOptionalInputs.ts
  pkg/codegen/testing/test/testdata/simple-resource-schema-custom-pypackage-name/nodejs/argFunction.ts
  pkg/codegen/testing/test/testdata/simple-resource-schema/nodejs/argFunction.ts
  pkg/codegen/testing/test/testdata/simple-yaml-schema/nodejs/argFunction.ts
Labels: kind/enhancement, language/javascript, area/codegen

#11541 Fix python lint errors
  sdk/python/lib/pulumi/runtime/rpc.py
Labels: impact/no-changelog-required

#11570 testing: Allow plugin testing users to define their own plugin sets
  Makefile
  pkg/codegen/testing/utils/host.go
Labels: impact/no-changelog-required

#11553 Convert mapper phase 5
  pkg/cmd/pulumi/convert.go
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
Labels: impact/no-changelog-required

#11575 Simplify `findFunctionSchema`
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/pcl/binder_schema.go
Labels: impact/no-changelog-required, language/dotnet, area/codegen

#11581 Fix PCL binding of options.range = number
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/simple-range-pp/dotnet/simple-range.cs
  pkg/codegen/testing/test/testdata/simple-range-pp/go/simple-range.go
  pkg/codegen/testing/test/testdata/simple-range-pp/nodejs/simple-range.ts
  pkg/codegen/testing/test/testdata/simple-range-pp/python/simple-range.py
  pkg/codegen/testing/test/testdata/simple-range-pp/simple-range.pp
Labels: impact/no-changelog-required

#11580 Escape `${` in string literals
  pkg/codegen/hcl2/model/expression.go
  pkg/codegen/hcl2/model/print_test.go
  pkg/codegen/importer/hcl2_test.go
  pkg/codegen/importer/language.go
  pkg/codegen/importer/testdata/cases.json
Labels: impact/no-changelog-required, area/codegen, area/import

#11578 Don't use *schema.Package in python codegen
  pkg/codegen/python/doc.go
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/python/gen_resource_mappings.go
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema.go
  pkg/codegen/utilities.go
Labels: language/python, impact/no-changelog-required, area/codegen

#11569 adding slash to gen.go links for seo reasons
  pkg/codegen/docs/gen.go
  pkg/codegen/testing/test/testdata/azure-native-nested-types/docs/_index.md
  pkg/codegen/testing/test/testdata/azure-native-nested-types/docs/documentdb/_index.md
  pkg/codegen/testing/test/testdata/cyclic-types/docs/_index.md
  pkg/codegen/testing/test/testdata/dash-named-schema/docs/_index.md
  pkg/codegen/testing/test/testdata/dash-named-schema/docs/submodule1/_index.md
  pkg/codegen/testing/test/testdata/dashed-import-schema/docs/_index.md
  pkg/codegen/testing/test/testdata/dashed-import-schema/docs/tree/v1/_index.md
  pkg/codegen/testing/test/testdata/different-enum/docs/_index.md
  pkg/codegen/testing/test/testdata/different-enum/docs/tree/v1/_index.md
  pkg/codegen/testing/test/testdata/enum-reference/docs/_index.md
  pkg/codegen/testing/test/testdata/enum-reference/docs/myModule/_index.md
  pkg/codegen/testing/test/testdata/external-enum/docs/_index.md
  pkg/codegen/testing/test/testdata/external-resource-schema/docs/_index.md
  pkg/codegen/testing/test/testdata/functions-secrets/docs/_index.md
  pkg/codegen/testing/test/testdata/hyphen-url/docs/_index.md
  pkg/codegen/testing/test/testdata/naming-collisions/docs/_index.md
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/docs/_index.md
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/docs/deeply/nested/module/_index.md
  pkg/codegen/testing/test/testdata/nested-module/docs/_index.md
  pkg/codegen/testing/test/testdata/nested-module/docs/nested/module/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/docs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/docs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/_index.md
  pkg/codegen/testing/test/testdata/plain-and-default/docs/_index.md
  pkg/codegen/testing/test/testdata/plain-object-defaults/docs/_index.md
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/docs/_index.md
  pkg/codegen/testing/test/testdata/plain-schema-gh6957/docs/_index.md
  pkg/codegen/testing/test/testdata/provider-config-schema/docs/_index.md
  pkg/codegen/testing/test/testdata/regress-8403/docs/_index.md
  pkg/codegen/testing/test/testdata/regress-node-8110/docs/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/_index.md
  pkg/codegen/testing/test/testdata/resource-args-python-case-insensitive/docs/_index.md
  pkg/codegen/testing/test/testdata/resource-args-python/docs/_index.md
  pkg/codegen/testing/test/testdata/resource-property-overlap/docs/_index.md
  pkg/codegen/testing/test/testdata/secrets/docs/_index.md
  pkg/codegen/testing/test/testdata/simple-enum-schema/docs/_index.md
  pkg/codegen/testing/test/testdata/simple-enum-schema/docs/tree/v1/_index.md
  pkg/codegen/testing/test/testdata/simple-methods-schema-single-value-returns/docs/_index.md
  pkg/codegen/testing/test/testdata/simple-methods-schema/docs/_index.md
  pkg/codegen/testing/test/testdata/simple-plain-schema-with-root-package/docs/_index.md
  pkg/codegen/testing/test/testdata/simple-plain-schema/docs/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema-custom-pypackage-name/docs/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/_index.md
  pkg/codegen/testing/test/testdata/simple-yaml-schema/docs/_index.md
Labels: impact/no-changelog-required

#11601 Prepare for next release
  .version
Labels: impact/no-changelog-required

#11602 ci: Freeze v3.49.0 for release
  .version
Labels: impact/no-changelog-required

#11596 [sdk/gen] Avoid generating Result types for functions with empty outputs
  changelog/pending/20221208--sdkgen-dotnet-go-nodejs-python--do-not-generate-result-types-for-functions-with-empty-outputs.yaml
  pkg/codegen/dotnet/gen.go
  pkg/codegen/go/gen.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
  pkg/codegen/schema/schema.go
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithemptyoutputs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/dotnet/FuncWithEmptyOutputs.cs
  pkg/codegen/testing/test/testdata/output-funcs/go/mypkg/funcWithEmptyOutputs.go
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithEmptyOutputs.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/index.ts
  pkg/codegen/testing/test/testdata/output-funcs/python/pulumi_mypkg/func_with_const_input.py
  pkg/codegen/testing/test/testdata/output-funcs/python/pulumi_mypkg/func_with_empty_outputs.py
  pkg/codegen/testing/test/testdata/regress-node-8110/python/pulumi_my8110/example_func.py
  pkg/codegen/testing/test/testdata/simple-plain-schema/python/pulumi_example/do_foo.py
Labels: kind/enhancement, language/python, language/javascript, language/go, language/dotnet, area/codegen

#11606 Remove .NET type imports and add a test for #11467
  changelog/pending/20221125--sdkgen-nodejs--fix-nodejs-sdk-when-a-component-is-using-another-component-from-the-same-schema-as-a-property.yaml
  pkg/codegen/dotnet/gen.go
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/naming-collisions/docs/_index.md
  pkg/codegen/testing/test/testdata/naming-collisions/docs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/naming-collisions/docs/maincomponent/_index.md
  pkg/codegen/testing/test/testdata/naming-collisions/docs/mod/_index.md
  pkg/codegen/testing/test/testdata/naming-collisions/docs/mod/component/_index.md
  pkg/codegen/testing/test/testdata/naming-collisions/docs/mod/component2/_index.md
  pkg/codegen/testing/test/testdata/naming-collisions/dotnet/MainComponent.cs
  pkg/codegen/testing/test/testdata/naming-collisions/dotnet/Mod/Component.cs
  pkg/codegen/testing/test/testdata/naming-collisions/dotnet/Mod/Component2.cs
  pkg/codegen/testing/test/testdata/naming-collisions/dotnet/Mod/README.md
  pkg/codegen/testing/test/testdata/naming-collisions/dotnet/codegen-manifest.json
  pkg/codegen/testing/test/testdata/naming-collisions/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/naming-collisions/go/example/init.go
  pkg/codegen/testing/test/testdata/naming-collisions/go/example/mainComponent.go
  pkg/codegen/testing/test/testdata/naming-collisions/go/example/mod/component.go
  pkg/codegen/testing/test/testdata/naming-collisions/go/example/mod/component2.go
  pkg/codegen/testing/test/testdata/naming-collisions/go/example/mod/init.go
  pkg/codegen/testing/test/testdata/naming-collisions/nodejs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/naming-collisions/nodejs/index.ts
  pkg/codegen/testing/test/testdata/naming-collisions/nodejs/mainComponent.ts
  pkg/codegen/testing/test/testdata/naming-collisions/nodejs/mod/component.ts
  pkg/codegen/testing/test/testdata/naming-collisions/nodejs/mod/component2.ts
  pkg/codegen/testing/test/testdata/naming-collisions/nodejs/mod/index.ts
  pkg/codegen/testing/test/testdata/naming-collisions/nodejs/tsconfig.json
  pkg/codegen/testing/test/testdata/naming-collisions/python/codegen-manifest.json
  pkg/codegen/testing/test/testdata/naming-collisions/python/pulumi_example/__init__.py
  pkg/codegen/testing/test/testdata/naming-collisions/python/pulumi_example/main_component.py
  pkg/codegen/testing/test/testdata/naming-collisions/python/pulumi_example/mod/__init__.py
  pkg/codegen/testing/test/testdata/naming-collisions/python/pulumi_example/mod/component.py
  pkg/codegen/testing/test/testdata/naming-collisions/python/pulumi_example/mod/component2.py
  pkg/codegen/testing/test/testdata/naming-collisions/schema.json
Labels: language/dotnet, area/codegen

#11610 Fix generate flag for pcl convert
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#11613 Document that `pulumi new` can use a local path for templates
  pkg/cmd/pulumi/new.go
Labels: impact/no-changelog-required

#11615 Add `willReplaceOnChanges` to metaschema
  developer-docs/providers/metaschema.md
Labels: impact/no-changelog-required

#11627 Add `willReplaceOnChanges` to schema
  pkg/codegen/schema/pulumi.json
Labels: impact/no-changelog-required

#11624 Add some basic tests for Output.Format
  sdk/dotnet/Pulumi.Tests/Core/OutputTests.cs
Labels: impact/no-changelog-required

#11447 Added README.md file in pulumi/sdk/python
  sdk/python/README.md
Labels: impact/no-changelog-required

#11633 Minor cleanup in go codegen
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required

#11611 Improve ProgramTest errors and path handling for Go programs
  pkg/go.mod
  pkg/testing/integration/program.go
  pkg/testing/integration/program_test.go
  tests/go.mod
  tests/go.sum
  tests/integration/aliases/aliases_go_test.go
Labels: impact/no-changelog-required

#11643 Fix undeclared err codegen bug
  pkg/codegen/go/gen_program.go
Labels: impact/no-changelog-required

#11642 Update gocloud.dev and transitive dependencies
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#11576 Remove full package links from bound schema types
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/docs/gen_kubernetes.go
  pkg/codegen/docs/gen_method.go
  pkg/codegen/go/gen.go
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema.go
  pkg/codegen/schema/schema_test.go
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required, kind/engineering

#11644 Add a space in plugin error message
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#11647 Fix test failure on Windows
  pkg/testing/integration/program_test.go
Labels: impact/no-changelog-required, ci/test

#11646 Add test for codegen error initialization
  pkg/codegen/go/gen_program.go
  pkg/codegen/testing/test/testdata/functions-pp/dotnet/functions.cs
  pkg/codegen/testing/test/testdata/functions-pp/functions.pp
  pkg/codegen/testing/test/testdata/functions-pp/go/functions.go
  pkg/codegen/testing/test/testdata/functions-pp/nodejs/functions.ts
  pkg/codegen/testing/test/testdata/functions-pp/python/functions.py
Labels: impact/no-changelog-required

#11362 Library for environmental variable access
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/convert_test.go
  pkg/cmd/pulumi/env.go
  pkg/cmd/pulumi/pulumi.go
  pkg/codegen/report/report.go
  sdk/go/common/env/env.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/util/env/env.go
  sdk/go/common/util/env/env_test.go
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#11665 Depend on pulumi-java 0.7.1
  pkg/go.mod
  pkg/go.sum
  scripts/get-language-providers.sh
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#11671 Don't return half-nil fat ptrs from `SyntaxNode()`
  pkg/codegen/hcl2/model/expression.go
  pkg/codegen/pcl/rewrite_convert.go
Labels: impact/no-changelog-required, area/codegen

#11310 feat: sign pulumi binaries with cosign
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-prepare-release.yml
  .github/workflows/ci.yml
  .github/workflows/on-merge.yml
  .github/workflows/on-pr.yml
  .github/workflows/pr-test-acceptance-on-dispatch.yml
  changelog/pending/20221109--ci--sign-pulumi-binaries-with-cosign.yaml
Labels: ci/test

#11522 Add tests to ensure invoking `pulumi:pulumi:getResource` keeps resource refs
  pkg/engine/lifecycletest/resource_reference_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
  tests/integration/resource_refs_get_resource/go/Pulumi.yaml
  tests/integration/resource_refs_get_resource/go/go.mod
  tests/integration/resource_refs_get_resource/go/go.sum
  tests/integration/resource_refs_get_resource/go/main.go
  tests/integration/resource_refs_get_resource/nodejs/.gitignore
  tests/integration/resource_refs_get_resource/nodejs/Pulumi.yaml
  tests/integration/resource_refs_get_resource/nodejs/index.ts
  tests/integration/resource_refs_get_resource/nodejs/package.json
  tests/integration/resource_refs_get_resource/python/.gitignore
  tests/integration/resource_refs_get_resource/python/Pulumi.yaml
  tests/integration/resource_refs_get_resource/python/__main__.py
  tests/integration/resource_refs_get_resource/python/requirements.txt
Labels: impact/no-changelog-required

#11678 Disable flaky TestResourceRefsGetResourceNode test
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#11680 Update .version
  .version
Labels: area/tooling, impact/no-changelog-required, kind/engineering

#11676 Pretty print PCL types in error messages
  pkg/codegen/hcl2/model/diagnostics.go
  pkg/codegen/hcl2/model/pretty/display.go
  pkg/codegen/hcl2/model/pretty/display_test.go
  pkg/codegen/hcl2/model/type.go
  pkg/codegen/hcl2/model/type_const.go
  pkg/codegen/hcl2/model/type_enum.go
  pkg/codegen/hcl2/model/type_list.go
  pkg/codegen/hcl2/model/type_map.go
  pkg/codegen/hcl2/model/type_none.go
  pkg/codegen/hcl2/model/type_object.go
  pkg/codegen/hcl2/model/type_opaque.go
  pkg/codegen/hcl2/model/type_output.go
  pkg/codegen/hcl2/model/type_promise.go
  pkg/codegen/hcl2/model/type_set.go
  pkg/codegen/hcl2/model/type_tuple.go
  pkg/codegen/hcl2/model/type_union.go
Labels: impact/no-changelog-required, area/codegen, kind/engineering

#11683 CI: Freeze v3.50.0 for release.
  .version
Labels: impact/no-changelog-required

#11670 Fix incorrect pointers for array of objects [go/codegen]
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/testing/test/testdata/aws-optionals-pp/go/aws-optionals.go
  pkg/codegen/testing/test/testdata/aws-webserver-pp/go/aws-webserver.go
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/dotnet/kubernetes-pod.cs
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/go/kubernetes-pod.go
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/kubernetes-pod.pp
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/nodejs/kubernetes-pod.ts
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/python/kubernetes-pod.py
Labels: impact/no-changelog-required

#11684 Remove Dotnet from release step of GH workflow
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#11704 ci: Freeze v3.50.1 for release
  .version
Labels: impact/no-changelog-required, kind/engineering

#11662 Move over some env vars to the new lib
  pkg/backend/snapshot.go
  pkg/backend/snapshot_test.go
  pkg/cmd/pulumi/util.go
  pkg/engine/deployment.go
  pkg/resource/deploy/source_eval.go
  sdk/go/common/env/env.go
  sdk/go/common/util/cmdutil/console.go
Labels: impact/no-changelog-required, kind/engineering

#11713 ci: Freeze v3.50.2 for release
  .version
Labels: impact/no-changelog-required

#11724 Make pretty-printing conditional
  pkg/codegen/hcl2/model/diagnostics.go
  sdk/go/common/env/env.go
Labels: impact/no-changelog-required
