Repository pulumi/pulumi, pull requests merged in 2022-05, with the labels that each got.

#9517 Fix works-when-passphrase-set test
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#9527 Add codegen README.
  pkg/codegen/README.md
Labels: impact/no-changelog-required

#9532 Update pkg -> sdk dependency
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#9544 Modify make brew to include Java and YAML
  Makefile
  scripts/brew.sh
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#9550 Update pkg -> sdk dependency
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#9563 Fix the function template to show YAML under the YAML tab
  pkg/codegen/docs/templates/function.tmpl
  pkg/codegen/testing/test/testdata/external-resource-schema/docs/argfunction/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/argfunction/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/overlayfunction/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/docs/listconfigurations/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/docs/listproductfamilies/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/docs/getamiids/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/docs/liststorageaccountkeys/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithalloptionalinputs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithconstinput/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithdefaultvalue/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithdictparam/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithlistparam/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/getbastionshareablelink/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/getclientconfig/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/getintegrationruntimeobjectmetadatum/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/liststorageaccountkeys/_index.md
  pkg/codegen/testing/test/testdata/plain-object-defaults/docs/funcwithalloptionalinputs/_index.md
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/docs/funcwithalloptionalinputs/_index.md
  pkg/codegen/testing/test/testdata/regress-8403/docs/getcustomdbroles/_index.md
  pkg/codegen/testing/test/testdata/regress-node-8110/docs/examplefunc/_index.md
  pkg/codegen/testing/test/testdata/simple-plain-schema/docs/dofoo/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema-custom-pypackage-name/docs/argfunction/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/argfunction/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/overlayfunction/_index.md
  pkg/codegen/testing/test/testdata/simple-yaml-schema/docs/argfunction/_index.md
Labels: impact/no-changelog-required

#9572 [schema] Move the binder into its own file.
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#9583 Wrap pip error with text showing command called
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#9566 [sdk/go] ensure that raw output API tracks dependencies
  sdk/go/pulumi/context.go
Labels: impact/no-changelog-required

#9595 Don't format generated files
  sdk/python/Makefile
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.py
  sdk/python/lib/pulumi/runtime/proto/errors_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.py
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/status_pb2.py
  sdk/python/lib/pulumi/runtime/proto/status_pb2_grpc.py
Labels: impact/no-changelog-required

#9603 Pass through resource replacement in the schema
  .gitignore
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/templates/properties.tmpl
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema.go
  pkg/codegen/testing/test/testdata/naming-collisions/python/.pytest_cache/.gitignore
  pkg/codegen/testing/test/testdata/naming-collisions/python/.pytest_cache/CACHEDIR.TAG
  pkg/codegen/testing/test/testdata/naming-collisions/python/.pytest_cache/README.md
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/python/.pytest_cache/.gitignore
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/python/.pytest_cache/CACHEDIR.TAG
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/python/.pytest_cache/README.md
  pkg/codegen/testing/test/testdata/nested-module/python/.pytest_cache/.gitignore
  pkg/codegen/testing/test/testdata/nested-module/python/.pytest_cache/CACHEDIR.TAG
  pkg/codegen/testing/test/testdata/nested-module/python/.pytest_cache/README.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/cat/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/dog/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/norecursive/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/toystore/_index.md
  pkg/codegen/testing/test/testdata/simple-methods-schema-single-value-returns/python/.pytest_cache/.gitignore
  pkg/codegen/testing/test/testdata/simple-methods-schema-single-value-returns/python/.pytest_cache/CACHEDIR.TAG
  pkg/codegen/testing/test/testdata/simple-methods-schema-single-value-returns/python/.pytest_cache/README.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/resource/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/schema.json
Labels: impact/no-changelog-required

#9551 Update CONTRIBUTING.md for employees
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#9617 Fixes checksum validation issues and factors out publish-binaries.yml
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-binaries.yml
  .github/workflows/release.yml
  scripts/go-wrapper.sh
Labels: impact/no-changelog-required

#9622 Fix secret name typo
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#9625 Prepare for v3.5.0 release
  CHANGELOG.md
Labels: impact/no-changelog-required

#9626 Update pkg -> sdk dependency
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#9632 Update pkg -> sdk dependency
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#9637 reenable commented tests from 3.33.1 release
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#9628 Pin and enable caching installed tools
  .github/workflows/build.yml
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-binaries.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .github/workflows/run-codegen-test.yml
  .github/workflows/run-docs-generation.yml
  .github/workflows/test-fast.yml
  .github/workflows/test.yml
Labels: impact/no-changelog-required

#9600 [codegen] Improve handling of resources with outputs that are resources.
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/pcl/binder_schema.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/synthetic-resource-properties-pp/dotnet/synthetic-resource-properties.cs
  pkg/codegen/testing/test/testdata/synthetic-resource-properties-pp/go/synthetic-resource-properties.go
  pkg/codegen/testing/test/testdata/synthetic-resource-properties-pp/nodejs/synthetic-resource-properties.ts
  pkg/codegen/testing/test/testdata/synthetic-resource-properties-pp/python/synthetic-resource-properties.py
  pkg/codegen/testing/test/testdata/synthetic-resource-properties-pp/synthetic-resource-properties.pp
  pkg/codegen/testing/test/testdata/synthetic.json
  pkg/codegen/testing/utils/host.go
  pkg/codegen/testing/utils/providers.go
Labels: language/go, impact/no-changelog-required, area/codegen

#9644 [codegen/nodejs] fix invalid 'import * from' branch in codegen
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/testing/test/testdata/aws-s3-folder-pp/nodejs/aws-s3-folder.ts
Labels: kind/bug, impact/no-changelog-required, area/codegen

#9646 Enable cache on gotestsum
  .github/workflows/test.yml
Labels: impact/no-changelog-required

#9653 Fix Python Dynamic provider test failures: simplify test, remove capture of global variable
  tests/integration/enums/python/__main__.py
Labels: impact/no-changelog-required

#9649 [codegen/python] fix invalid codegen on empty outputs functions
  pkg/codegen/python/gen.go
  pkg/codegen/testing/test/testdata/.gitignore
  pkg/codegen/testing/test/testdata/naming-collisions/python/.pytest_cache/v/cache/nodeids
  pkg/codegen/testing/test/testdata/naming-collisions/python/.pytest_cache/v/cache/stepwise
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/python/.pytest_cache/v/cache/nodeids
  pkg/codegen/testing/test/testdata/nested-module-thirdparty/python/.pytest_cache/v/cache/stepwise
  pkg/codegen/testing/test/testdata/nested-module/python/.pytest_cache/v/cache/nodeids
  pkg/codegen/testing/test/testdata/nested-module/python/.pytest_cache/v/cache/stepwise
  pkg/codegen/testing/test/testdata/output-funcs/docs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithemptyoutputs/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/dotnet/FuncWithEmptyOutputs.cs
  pkg/codegen/testing/test/testdata/output-funcs/dotnet/codegen-manifest.json
  pkg/codegen/testing/test/testdata/output-funcs/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/output-funcs/go/mypkg/funcWithEmptyOutputs.go
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/funcWithEmptyOutputs.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/index.ts
  pkg/codegen/testing/test/testdata/output-funcs/nodejs/tsconfig.json
  pkg/codegen/testing/test/testdata/output-funcs/python/codegen-manifest.json
  pkg/codegen/testing/test/testdata/output-funcs/python/pulumi_mypkg/__init__.py
  pkg/codegen/testing/test/testdata/output-funcs/python/pulumi_mypkg/func_with_empty_outputs.py
  pkg/codegen/testing/test/testdata/output-funcs/schema.json
Labels: impact/no-changelog-required

#9620 [schema] Add support for on-demand binding.
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/importer/hcl2.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/binder_schema.go
  pkg/codegen/pcl/binder_schema_test.go
  pkg/codegen/pcl/diagnostics.go
  pkg/codegen/pcl/invoke.go
  pkg/codegen/pcl/program.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/package_reference.go
  pkg/codegen/schema/schema.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/schema/replace-on-changes-6.json
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#9678 Fix default handling for schema.UnionType.String
  pkg/codegen/schema/schema.go
  pkg/codegen/schema/schema_test.go
Labels: impact/no-changelog-required

#9675 [schema] Make PartialPackage concurrency-safe
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/package_reference.go
  pkg/codegen/schema/schema.go
  pkg/codegen/schema/schema_test.go
Labels: impact/no-changelog-required

#9690 [cli] Disable plugin install progress bar in CI, non-interactive shells
  sdk/go/common/workspace/plugins.go
Labels: area/cli, kind/enhancement, impact/no-changelog-required

#9689 Update docstring for Cancel gRPC method
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/proto/go/provider.pb.go
  sdk/proto/provider.proto
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
Labels: impact/no-changelog-required

#9702 Add --diff to preview in acceptance test flow.
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#9691 Fix unsafe html emitted for Java properties
  pkg/codegen/docs/gen.go
Labels: area/docs, impact/no-changelog-required

#9706 fix docs codegen tests
  pkg/codegen/testing/test/testdata/azure-native-nested-types/docs/documentdb/sqlresourcesqlcontainer/_index.md
  pkg/codegen/testing/test/testdata/dashed-import-schema/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/dashed-import-schema/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/different-enum/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/different-enum/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/external-resource-schema/docs/cat/_index.md
  pkg/codegen/testing/test/testdata/external-resource-schema/docs/component/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/overlayresource/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/typeuses/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/docs/listconfigurations/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/docs/listproductfamilies/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/docs/getamiids/_index.md
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/docs/liststorageaccountkeys/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithdictparam/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/funcwithlistparam/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/getbastionshareablelink/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/getintegrationruntimeobjectmetadatum/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/docs/liststorageaccountkeys/_index.md
  pkg/codegen/testing/test/testdata/provider-config-schema/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/regress-node-8110/docs/examplefunc/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/cat/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/toystore/_index.md
  pkg/codegen/testing/test/testdata/resource-args-python-case-insensitive/docs/person/_index.md
  pkg/codegen/testing/test/testdata/resource-args-python/docs/person/_index.md
  pkg/codegen/testing/test/testdata/simple-enum-schema/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/simple-enum-schema/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/simple-plain-schema-with-root-package/docs/component/_index.md
  pkg/codegen/testing/test/testdata/simple-plain-schema/docs/component/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/overlayresource/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/typeuses/_index.md
  pkg/codegen/testing/test/testdata/simple-yaml-schema/docs/otherresource/_index.md
  pkg/codegen/testing/test/testdata/simple-yaml-schema/docs/typeuses/_index.md
Labels: impact/no-changelog-required

#9711 Update python requirments to pin to major version
  sdk/python/lib/setup.py
  sdk/python/requirements.txt
Labels: impact/no-changelog-required

#9715 add additional CI provider detection
  sdk/go/common/util/ciutil/detect.go
  sdk/go/common/util/ciutil/systems.go
Labels: impact/no-changelog-required

#9717 disabled tests to workaround protobuf issues
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#9718 Update pkg -> sdk dependency
  pkg/go.mod
  tests/go.mod
Labels: impact/no-changelog-required

#9719 Update CHANGELOG_PENDING.md
  .github/workflows/release.yml
  CHANGELOG_PENDING.md
Labels: impact/no-changelog-required

#9688 Pre-compute versions as an artifact
  .github/workflows/build.yml
  .github/workflows/master.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-binaries.yml
  .github/workflows/release.yml
  .github/workflows/run-build-and-acceptance-tests.yml
  .github/workflows/versions.yml
  scripts/versions.sh
Labels: impact/no-changelog-required

#9723 updated python SDK go.mod
  sdk/python/lib/test/automation/data/testproj/go.mod
  sdk/python/lib/test/automation/data/testproj/go.sum
  sdk/python/lib/test/automation/errors/compilation_error/go/go.mod
  sdk/python/lib/test/automation/errors/compilation_error/go/go.sum
  sdk/python/lib/test/automation/errors/conflict_error/go.mod
  sdk/python/lib/test/automation/errors/conflict_error/go.sum
  sdk/python/lib/test/automation/errors/runtime_error/go/go.mod
  sdk/python/lib/test/automation/errors/runtime_error/go/go.sum
  sdk/python/lib/test/automation/errors/runtime_error/python/requirements.txt
Labels: impact/no-changelog-required

#9736 Add versions.txt production to test-windows-cron
  .github/workflows/test-windows-cron.yml
Labels: impact/no-changelog-required

#9741 Remove preview label from pulumi stack history
  pkg/cmd/pulumi/stack_history.go
Labels: impact/no-changelog-required

#9742 [ci] use unprefixed (no-v) version for generic version, fix docker container builds
  scripts/versions.sh
Labels: area/build
