Repository pulumi/pulumi, pull requests merged in 2023-10, with the labels that each got.

#14077 Clean up result.Result in import.go
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/import.go
Labels: impact/no-changelog-required

#13694 [go/sdk-gen] Generate output-versioned invokes for functions without inputs
  changelog/pending/20230809--sdkgen-go--generate-output-versioned-invokes-for-functions-without-inputs.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/pcl/invoke.go
  pkg/codegen/schema/schema.go
  pkg/codegen/testing/test/testdata/output-funcs/docs/getclientconfig/_index.md
  pkg/codegen/testing/test/testdata/output-funcs/go/mypkg/getClientConfig.go
  pkg/codegen/testing/test/testdata/output-funcs/go/mypkg/x/getClientConfig.go
  pkg/codegen/testing/test/testdata/regress-8403/docs/getcustomdbroles/_index.md
  pkg/codegen/testing/test/testdata/regress-8403/go/mongodbatlas/getCustomDbRoles.go
  pkg/codegen/testing/test/testdata/simple-yaml-schema/go/example/argFunction.go
Labels: language/go, area/codegen

#14073 [sdk/python] Fix typo in error message
  sdk/python/lib/pulumi/resource.py
Labels: impact/no-changelog-required

#14085 Clean up result.Result use in source_query.go
  pkg/resource/deploy/source_query.go
Labels: impact/no-changelog-required

#14114 Revert "[policy] support premium policies (#13898)"
  .github/workflows/ci-run-test.yml
  CHANGELOG.md
  pkg/backend/httpstate/policypack.go
  pkg/cmd/pulumi/policy_new.go
  tests/policy_new_test.go
Labels: impact/no-changelog-required

#14117 fix run command for run tests
  .github/workflows/ci-run-test.yml
  tests/smoke_test.go
Labels: impact/no-changelog-required

#14089 Cleanup use of result.Result in step_generator.go
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#14112 Prepare for v3.87.0 release
  .version
Labels: impact/no-changelog-required

#14119 Freeze v3.87.0
  .version
Labels: impact/no-changelog-required

#14099 [python/program-gen] Fix panic in python program-gen when rewriting index expressions
  changelog/pending/20231004--programgen-python--fix-panic-in-python-program-gen-when-rewriting-index-expressions.yaml
  pkg/codegen/python/gen_program_quotes.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/python-regress-14037-pp/python-regress-14037.pp
  pkg/codegen/testing/test/testdata/python-regress-14037-pp/python/python-regress-14037.py
Labels: language/python, area/codegen

#14092 Cover bool like and number like values in pulumi:tags test
  tests/stack_test.go
  tests/testdata/simple_tags/Pulumi.yaml
  tests/testdata/simple_tags/index.ts
  tests/testdata/simple_tags/package.json
  tests/testdata/simple_tags/resource.ts
Labels: impact/no-changelog-required

#14122 Cleanup result.Result in deployment_executor
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/deployment_executor.go
Labels: impact/no-changelog-required

#14138 Prepare for v3.88.0 release
  .version
Labels: impact/no-changelog-required

#14140 [cli] Add support for environments
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/backend/backend.go
  pkg/backend/httpstate/client/api.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/httpstate/environments.go
  pkg/backend/mock.go
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/about_env.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/config_test.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/env.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/apitype/environments.go
  sdk/go/common/resource/config/object.go
  sdk/go/common/resource/config/value.go
  sdk/go/common/workspace/config.go
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/project_test.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required

#14141 Freeze v3.88.0
  .version
Labels: impact/no-changelog-required

#14153 [httpstate] cli-login update
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#14126 [Test] Eager cancelation for ProgramTester
  pkg/testing/integration/program.go
Labels: area/testing, impact/no-changelog-required

#14156 use v3 of setup-dotnet instead of a specific SHA
  .github/workflows/ci-run-test.yml
  .github/workflows/ci-test-docs-generation.yml
Labels: impact/no-changelog-required

#14136 Cleanup result.Result in pkg/engine
  pkg/backend/filestate/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/snapshot_test.go
  pkg/engine/destroy.go
  pkg/engine/import.go
  pkg/engine/lifecycletest/alias_test.go
  pkg/engine/lifecycletest/analyzer_test.go
  pkg/engine/lifecycletest/delete_before_replace_test.go
  pkg/engine/lifecycletest/golang_sdk_test.go
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/pending_delete_test.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/step_generator_test.go
  pkg/engine/lifecycletest/target_test.go
  pkg/engine/lifecycletest/test_plan.go
  pkg/engine/lifecycletest/update_plan_test.go
  pkg/engine/refresh.go
  pkg/engine/update.go
Labels: impact/no-changelog-required

#14150 Freeze v3.88.1
  .version
Labels: impact/no-changelog-required

#14163 Temporary changes to unblock v3.88.1 release
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
  scripts/publish_npm.sh
Labels: impact/no-changelog-required

#14229 Revert temp changes to unblock the v3.88.1 release
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#14144 [environments] Add integration tests
  pkg/testing/integration/program.go
  sdk/go/common/workspace/project.go
  tests/integration/environments_basic/Pulumi.yaml
  tests/integration/environments_basic/index.ts
  tests/integration/environments_basic/package.json
  tests/integration/environments_merge/Pulumi.yaml
  tests/integration/environments_merge/index.ts
  tests/integration/environments_merge/package.json
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#14134 Actually disable plugin acquisition
  .github/workflows/ci-run-test.yml
  pkg/codegen/schema/docs_test.go
  pkg/codegen/schema/schema_test.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/workspace/plugin.go
  tests/integration/integration_go_test.go
  tests/smoke_test.go
Labels: impact/no-changelog-required

#14249 Update help text for `pulumi state delete`
  pkg/cmd/pulumi/state_delete.go
Labels: impact/no-changelog-required

#14265 Fixing typo in pulumi_refresh
  pkg/cmd/pulumi/refresh.go
Labels: impact/no-changelog-required

#14266 Prepare for v3.89.0 release
  .version
Labels: impact/no-changelog-required

#14267 Freeze v3.89.0
  .version
Labels: impact/no-changelog-required

#14247 Track actual error in StepExecutor
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/step_executor.go
Labels: impact/no-changelog-required

#14044 Switch to use env.Env in filestate
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/meta.go
  pkg/backend/filestate/meta_test.go
  pkg/backend/filestate/state.go
  pkg/testing/integration/program.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/main_test.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#13914 Don't close LanguageRuntime in forkRun
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_query.go
Labels: impact/no-changelog-required

#14276 re-enable disabled TestNestedStackFails test
  sdk/go/auto/local_workspace_test.go
Labels: impact/no-changelog-required

#14280 Makefile: allow SDKSs to be overridden
  Makefile
Labels: impact/no-changelog-required

#14294 Fix TestPackageGetSchema for Windows
  tests/smoke_test.go
Labels: impact/no-changelog-required

#14288 Typos fixed in implementers-guide.md file
  developer-docs/providers/implementers-guide.md
Labels: impact/no-changelog-required

#14310 Prepare for v3.90.0 release
  .version
Labels: impact/no-changelog-required

#14311 Freeze v3.90.0
  .version
Labels: impact/no-changelog-required

#14319 Freeze v3.90.1
  .version
Labels: impact/no-changelog-required

#14329 Unfreeze v3.90.1
  .version
Labels: impact/no-changelog-required

#14331 Freeze v3.90.1
  .version
Labels: impact/no-changelog-required

#14343 Prepare for v3.91.0 release
  .version
Labels: impact/no-changelog-required

#14408 Freeze v3.91.0
  .version
Labels: impact/no-changelog-required

#14422 Add google-protobuf types
  sdk/nodejs/cmd/dynamic-provider/index.ts
  sdk/nodejs/package.json
  sdk/nodejs/provider/server.ts
  sdk/nodejs/runtime/mocks.ts
  sdk/nodejs/tests/provider.spec.ts
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
  sdk/nodejs/tests/runtime/props.spec.ts
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#14426 Update grpc-tools and use grpc_js option rather than sed
  proto/.checksum.txt
  proto/build-container/Dockerfile
  proto/generate.sh
  sdk/nodejs/proto/codegen/loader_grpc_pb.js
  sdk/nodejs/proto/codegen/mapper_grpc_pb.js
  sdk/nodejs/proto/testing/language_grpc_pb.js
Labels: impact/no-changelog-required

#14429 Freeze v3.91.1
  .version
Labels: impact/no-changelog-required

#14440 Add from/to languages and example
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#14460 Update cosign-installer action
  .github/workflows/ci-prepare-release.yml
Labels: impact/no-changelog-required

#14458 Wrap StepApplyFailed so we can see errors in tests
  pkg/resource/deploy/step_executor.go
Labels: impact/no-changelog-required
