Repository pulumi/pulumi, pull requests merged in 2023-03, with the labels that each got.

#12317 Remove appendix from LICENSE
  LICENSE
Labels: impact/no-changelog-required

#12321 bump version to v3.56.0 to create draft release
  .version
Labels: impact/no-changelog-required

#12330 ci: Run action-install-gh-release with auth
  .github/workflows/ci-run-test.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#12324 scripts/retry: set-output is deprecated
  scripts/retry
Labels: impact/no-changelog-required

#12327 deps(pkg): Upgrade to pulumi-java v0.8.0
  .golangci.yml
  pkg/codegen/testing/test/testdata/aws-webserver-pp/go/aws-webserver.go
  pkg/codegen/testing/test/testdata/invalid-go-sprintf-pp/go/invalid-go-sprintf.go
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-random-pp/go/cue-random.go
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-random-pp/nodejs/cue-random.ts
  pkg/codegen/testing/test/testdata/transpiled_examples/random-pp/go/random.go
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#12322 unpin grpc-js
  sdk/nodejs/package.json
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#12332 Nicer github rate limit error
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#12311 Added README.md for SDKGen tests
  pkg/codegen/testing/test/README.md
Labels: impact/no-changelog-required

#12325 testdata: add missing docker-4.0.0-alpha.0 schema
  pkg/codegen/testing/test/testdata/docker-4.0.0-alpha.0.json
Labels: impact/no-changelog-required

#12326 testdata/schema: Add random 4.11.2
  Makefile
  pkg/codegen/testing/test/helpers.go
  pkg/codegen/testing/test/testdata/random-4.11.2.json
  pkg/codegen/testing/utils/host.go
Labels: impact/no-changelog-required

#12345 Add hidden --overlays option to gen-sdk
  pkg/cmd/pulumi/package_gen_sdk.go
Labels: impact/no-changelog-required

#12349 Revert gen-sdk --out behaviour change
  pkg/cmd/pulumi/package_gen_sdk.go
Labels: impact/no-changelog-required

#12282 Set the current project as ambient context on backends.
  pkg/backend/backend.go
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/bucket_test.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/snapshot_test.go
  pkg/backend/mock.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/logout.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_select.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#12366 Pass *workspace.Project to GetBackendConfigDefaultOrg
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/stack.go
  pkg/cmd/pulumi/new_acceptance_test.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/org.go
  pkg/cmd/pulumi/util.go
  sdk/go/common/workspace/creds.go
Labels: impact/no-changelog-required

#12137 Test project roundtrips
  sdk/go/common/workspace/project_test.go
Labels: impact/no-changelog-required

#12376 go/cmdutil: Test for IsTruthy
  sdk/go/common/util/cmdutil/console_test.go
Labels: impact/no-changelog-required

#12381 sdk: Drop date from provider conflict warning
  sdk/go/pulumi/context.go
  sdk/nodejs/runtime/resource.ts
  sdk/python/lib/pulumi/resource.py
Labels: impact/no-changelog-required

#12383 bump version to v3.57.0 to create draft release
  .version
Labels: impact/no-changelog-required

#12387 Freeze v3.57.0
  .version
Labels: impact/no-changelog-required

#12386 [sdk/nodejs/tests] Fix bug in test that prevents concurrent runs
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: impact/no-changelog-required

#12393 Freeze v3.57.1
  .version
Labels: impact/no-changelog-required

#12404 Remove experimentalWorkspaceModule from vscode settings
  .vscode/settings.json
Labels: impact/no-changelog-required

#12355 Add converter plugin
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
  proto/.checksum.txt
  proto/pulumi/converter.proto
  sdk/go/common/resource/plugin/converter.go
  sdk/go/common/resource/plugin/converter_plugin.go
  sdk/go/common/resource/plugin/converter_server.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/workspace/plugins.go
  sdk/nodejs/proto/converter_grpc_pb.js
  sdk/nodejs/proto/converter_pb.js
  sdk/proto/go/converter.pb.go
  sdk/proto/go/converter_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/converter_pb2.py
  sdk/python/lib/pulumi/runtime/proto/converter_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/converter_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/converter_pb2_grpc.pyi
Labels: impact/no-changelog-required

#12377 sdk/go: Add common/testing/iotest package
  pkg/codegen/python/gen_test.go
  pkg/testing/integration/program_test.go
  sdk/go/common/resource/plugin/provider_plugin_test.go
  sdk/go/common/testing/iotest/log_writer.go
  sdk/go/common/testing/iotest/log_writer_test.go
  tests/integration/integration_util_test.go
Labels: impact/no-changelog-required

#12419 Close converter plugins after use
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
Labels: impact/no-changelog-required

#12423 Hardcode repo for yaml converter
  .gitignore
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#12424 sdk/common: Add testing/diagtest package
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/codegen/schema/loader_test.go
  pkg/resource/deploy/source_eval_test.go
  sdk/go/common/testing/diagtest/sink.go
  sdk/go/common/testing/diagtest/sink_test.go
  sdk/go/common/testing/iotest/log_writer.go
  sdk/go/common/testing/iotest/log_writer_test.go
Labels: impact/no-changelog-required

#12425 filestate: Plumb context through constructor
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/bucket_test.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#12435 Pin CI to Node 19.7.x to avoid hitting assert in 19.8.0
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#12440 Bump version to 3.58.0
  .version
Labels: impact/no-changelog-required

#12442 Freeze 3.58.0
  .version
Labels: impact/no-changelog-required

#12445 Unpin Node back to 19.x
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#12426 filestate/internal: Use stack reference, not name
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/lock.go
  pkg/backend/filestate/snapshot.go
  pkg/backend/filestate/stack.go
  pkg/backend/filestate/state.go
  pkg/resource/stack/checkpoint.go
Labels: impact/no-changelog-required

#12448 [pcl/binder] Export fields from component binder args
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_component.go
Labels: impact/no-changelog-required, area/codegen

#12436 filestate: Introduce referenceStore to control layout
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/state.go
  pkg/backend/filestate/store.go
  pkg/backend/filestate/store_test.go
Labels: impact/no-changelog-required

#12455 Fix Download Pulumi Cron workflow
  .github/workflows/download-pulumi-cron.yml
Labels: impact/no-changelog-required

#12352 [auto/go] Add test for remote commitHash
  sdk/go/auto/remote_workspace_test.go
Labels: impact/no-changelog-required

#12458 [pcl/program-gen] Fix nodejs component config types
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/testing/test/testdata/components-pp/components.pp
  pkg/codegen/testing/test/testdata/components-pp/dotnet/ExampleComponent.cs
  pkg/codegen/testing/test/testdata/components-pp/dotnet/components.cs
  pkg/codegen/testing/test/testdata/components-pp/exampleComponent/main.pp
  pkg/codegen/testing/test/testdata/components-pp/nodejs/components.ts
  pkg/codegen/testing/test/testdata/components-pp/nodejs/exampleComponent.ts
Labels: impact/no-changelog-required, area/codegen

#12464 [pcl/program-gen] Implement description as comments or docstring for config variables
  changelog/pending/20230321--programgen-dotnet-go-nodejs-python--implement-description-as-comments-or-docstring-for-config-variables-in-program-gen.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_nodes.go
  pkg/codegen/pcl/config.go
  pkg/codegen/pcl/diagnostics.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/testing/test/testdata/azure-sa-pp/azure-sa.pp
  pkg/codegen/testing/test/testdata/azure-sa-pp/dotnet/azure-sa.cs
  pkg/codegen/testing/test/testdata/azure-sa-pp/go/azure-sa.go
  pkg/codegen/testing/test/testdata/azure-sa-pp/nodejs/azure-sa.ts
  pkg/codegen/testing/test/testdata/azure-sa-pp/python/azure-sa.py
  pkg/codegen/testing/test/testdata/components-pp/dotnet/ExampleComponent.cs
  pkg/codegen/testing/test/testdata/components-pp/exampleComponent/main.pp
  pkg/codegen/testing/test/testdata/components-pp/nodejs/exampleComponent.ts
Labels: kind/enhancement, area/codegen

#12461 ci-lint: Upgrade to golangci-lint v1.52
  .github/workflows/ci-lint.yml
  .golangci.yml
  pkg/backend/display/object_diff.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  pkg/cmd/pulumi/org.go
  pkg/cmd/pulumi/util.go
  pkg/codegen/docs/gen.go
  pkg/codegen/hcl2/model/expression.go
  pkg/codegen/hcl2/syntax/comments.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/report/report.go
  pkg/codegen/schema/docs_test.go
  pkg/codegen/schema/schema.go
  pkg/resource/deploy/plan.go
  pkg/resource/deploy/snapshot_test.go
  pkg/resource/deploy/state_builder.go
  sdk/go/common/resource/plugin/context.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/resource/properties_diff.go
  sdk/go/common/util/deepcopy/copy.go
  sdk/go/common/workspace/creds.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi/run_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/python.go
  tests/integration/integration_util_test.go
Labels: impact/no-changelog-required

#12472 filestate: Track a state metadata file (.pulumi/Pulumi.yaml)
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/meta.go
  pkg/backend/filestate/meta_test.go
Labels: impact/no-changelog-required

#12476 Update version in preparation for release of v3.59.0
  .version
Labels: impact/no-changelog-required

#12477 Freeze: prepare for v3.59.0 release.
  .version
Labels: impact/no-changelog-required

#12474 filestate: Make currentProject an atomic.Pointer
  pkg/backend/filestate/backend.go
Labels: impact/no-changelog-required

#12478 Skip tests on .version changes.
  .github/workflows/on-pr-default.yml
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required, kind/engineering

#12489 Temporary compatability shim for tf mappings
  pkg/codegen/convert/mapper.go
Labels: impact/no-changelog-required

#12498 Freeze version for 3.59.1 release
  .version
Labels: impact/no-changelog-required

#12499 refactor(cmd/stack init): Turn into a command struct
  pkg/backend/mock.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_init_test.go
  pkg/cmd/pulumi/stack_ls_test.go
Labels: impact/no-changelog-required

#12527 Freeze release v3.60.0
  .version
Labels: impact/no-changelog-required

#12541 Fix documentation of valid schema type strings
  pkg/codegen/schema/schema.go
Labels: area/docs, impact/no-changelog-required

#12542 Add test to show errors in dynamic NodeJS providers work
  tests/integration/dynamic/nodejs-error-create/Pulumi.yaml
  tests/integration/dynamic/nodejs-error-create/index.ts
  tests/integration/dynamic/nodejs-error-create/package.json
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#12544 Update go-getter to v1.7.1
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#12568 fix data race in `plugin.Context`
  sdk/go/common/resource/plugin/context.go
  sdk/go/common/resource/plugin/context_test.go
Labels: impact/no-changelog-required
