Repository pulumi/pulumi, pull requests merged in 2023-05, with the labels that each got.

#12791 Bump NodeJS CI version.
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#12811 Fix parse diagnostics returning as diagnostics not error
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#12804 [pcl/python] Support range expressions that are of type output
  changelog/pending/20230502--programgen-python--support-range-expressions-that-are-of-type-output.yaml
  pkg/codegen/pcl/rewrite_convert.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/python/gen_program_quotes.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/iterating-optional-range-expressions-pp/python/iterating-optional-range-expressions.py
Labels: language/python, area/codegen

#12813 Bump version to 3.66.0
  .version
Labels: impact/no-changelog-required

#12814 Freeze 3.66.0
  .version
Labels: impact/no-changelog-required

#12817 [pcl/binder] Allow null literal as a default value for config variables
  changelog/pending/20230503--programgen--allow-null-literal-as-a-default-value-for-config-variables.yaml
  pkg/codegen/pcl/binder_nodes.go
  pkg/codegen/pcl/binder_test.go
Labels: area/codegen

#12830 Add per-language smoke tests to the integration tests
  .github/workflows/ci-run-test.yml
  sdk/go/pulumi-language-go/main.go
  tests/smoke_test.go
  tests/testdata/random_pp/main.pp
  tests/testdata/simple_schema/schema.json
Labels: impact/no-changelog-required

#11224 gRPC for GenerateProject
  .goreleaser.yml
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/package_gen_sdk.go
  pkg/resource/deploy/deploytest/languageruntime.go
  proto/.checksum.txt
  proto/pulumi/codegen/hcl.proto
  proto/pulumi/codegen/mapper.proto
  proto/pulumi/language.proto
  sdk/go.mod
  sdk/go.sum
  sdk/go/Makefile
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi-language-go/main_test.go
  sdk/nodejs/proto/codegen/hcl_grpc_pb.js
  sdk/nodejs/proto/codegen/hcl_pb.js
  sdk/nodejs/proto/codegen/mapper_grpc_pb.js
  sdk/nodejs/proto/codegen/mapper_pb.js
  sdk/nodejs/proto/language_grpc_pb.js
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/codegen/hcl.pb.go
  sdk/proto/go/codegen/mapper.pb.go
  sdk/proto/go/language.pb.go
  sdk/proto/go/language_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/codegen/__init__.py
  sdk/python/lib/pulumi/runtime/proto/codegen/hcl_pb2.py
  sdk/python/lib/pulumi/runtime/proto/codegen/hcl_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/codegen/hcl_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/codegen/hcl_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/codegen/mapper_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.pyi
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required

#12836 Remove unsed Runtime method from langhost
  sdk/go/common/resource/plugin/langruntime_plugin.go
Labels: impact/no-changelog-required

#12845 Don't pass a second SecretsProvider to backend.Watch
  pkg/backend/filestate/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/watch.go
Labels: impact/no-changelog-required

#12795 Enable Rome Linter And Add One Lint
  sdk/nodejs/resource.ts
  sdk/nodejs/rome.json
  sdk/nodejs/runtime/closure/codePaths.ts
  sdk/nodejs/runtime/closure/serializeClosure.ts
  sdk/nodejs/tests/runtime/jsClosureCases_10_4.js
  sdk/nodejs/tests/runtime/jsClosureCases_8.js
  sdk/nodejs/tests/runtime/tsClosureCases.ts
Labels: impact/no-changelog-required

#12860 CONTRIBUTING: Clarify gofumpt further
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#12869 Bump version to 3.67.0
  .version
Labels: impact/no-changelog-required

#12870 Freeze 3.67.0
  .version
Labels: impact/no-changelog-required

#12865 [Node SDK] Replaces empty interfaces with type aliases.
  changelog/pending/20230511--sdk-nodejs--replace-empty-interfaces-with-type-aliases.yaml
  sdk/nodejs/automation/events.ts
  sdk/nodejs/output.ts
  sdk/nodejs/queryable/index.ts
  sdk/nodejs/rome.json
  sdk/nodejs/runtime/closure/createClosure.ts
Labels: area/sdks, language/javascript

#12840 [go/programgen] Module support
  changelog/pending/20230508--programgen-go--module-support-as-component-resources.yaml
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_test.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/components-pp/go/components.go
  pkg/codegen/testing/test/testdata/components-pp/go/exampleComponent.go
  pkg/codegen/testing/test/testdata/components-pp/go/simpleComponent.go
Labels: kind/enhancement, language/go, area/codegen

#12933 Test for literals in output places
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/output-literals-pp/dotnet/output-literals.cs
  pkg/codegen/testing/test/testdata/output-literals-pp/go/output-literals.go
  pkg/codegen/testing/test/testdata/output-literals-pp/nodejs/output-literals.ts
  pkg/codegen/testing/test/testdata/output-literals-pp/output-literals.pp
  pkg/codegen/testing/test/testdata/output-literals-pp/python/output-literals.py
Labels: impact/no-changelog-required

#12854 Add pulumi package publish-sdk command structure and NPM publish functionality
  pkg/cmd/pulumi/package.go
  pkg/cmd/pulumi/package_publish.go
Labels: impact/no-changelog-required

#12938 [snapshot] Pool checkpoint buffers
  pkg/backend/httpstate/client/client_test.go
  pkg/backend/httpstate/client/marshal.go
  pkg/backend/httpstate/diffs.go
  pkg/backend/httpstate/snapshot.go
  pkg/backend/httpstate/snapshot_test.go
Labels: impact/no-changelog-required

#12948 Freeze v3.67.1
  .version
Labels: impact/no-changelog-required

#12952 Upgrade Rome to v12.1.0
  sdk/nodejs/package.json
  sdk/nodejs/rome.json
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#12947 Fix reusable workflow reference
  .github/workflows/ci-run-test.yml
  .github/workflows/pr-test-codegen-test-on-dispatch.yml
Labels: impact/no-changelog-required

#12957 Update gen_markdown.go
  pkg/cmd/pulumi/gen_markdown.go
Labels: impact/no-changelog-required

#12968 add aliases to front matter
  pkg/cmd/pulumi/gen_markdown.go
Labels: impact/no-changelog-required

#12954 Eliminate assignment statements used as expressions.
  sdk/nodejs/cmd/run-policy-pack/index.ts
  sdk/nodejs/cmd/run-policy-pack/run.ts
  sdk/nodejs/cmd/run/index.ts
  sdk/nodejs/cmd/run/run.ts
  sdk/nodejs/rome.json
  sdk/nodejs/runtime/settings.ts
Labels: impact/no-changelog-required

#12975 bump version to 3.68.0
  .version
Labels: impact/no-changelog-required

#12977 freeze 3.68.0
  .version
Labels: impact/no-changelog-required

#12941 fix some links in relation to docs nav changes
  README.md
  developer-docs/architecture/import.md
  pkg/cmd/pulumi/pulumi.go
  pkg/codegen/README.md
  sdk/go/auto/remote_stack.go
  sdk/go/auto/stack.go
  sdk/nodejs/README.md
  sdk/nodejs/automation/remoteStack.ts
  sdk/nodejs/automation/stack.ts
  sdk/python/lib/pulumi/automation/_remote_stack.py
  sdk/python/lib/pulumi/automation/_stack.py
Labels: impact/no-changelog-required

#12849 Change secret.Manager State to json.RawMessage
  pkg/resource/stack/deployment.go
  pkg/resource/stack/secrets.go
  pkg/resource/stack/secrets_test.go
  pkg/secrets/b64/manager.go
  pkg/secrets/cloud/manager.go
  pkg/secrets/manager.go
  pkg/secrets/passphrase/manager.go
  pkg/secrets/passphrase/manager_test.go
  pkg/secrets/service/manager.go
Labels: impact/no-changelog-required

#12989 ci: Lint Go language host
  Makefile
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi-language-go/main_test.go
Labels: impact/no-changelog-required

#12990 lint(govet): Enable nilness linter
  .golangci.yml
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/preview.go
  pkg/codegen/pcl/binder_component.go
  sdk/go/auto/errors_test.go
  tests/integration/construct_component_methods_resources/testcomponent-go/random.go
Labels: impact/no-changelog-required

#12991 lint(vet): Enable more linters
  .golangci.yml
Labels: impact/no-changelog-required

#12940 Add routine checks to pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: impact/no-changelog-required

#12839 Make filestate.Snapshot lazy like httpstate
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/stack.go
  pkg/backend/filestate/state.go
  pkg/backend/httpstate/stack.go
Labels: impact/no-changelog-required

#13017 [pcl/binder] Include the component source directory in diagnostics when reporting PCL errors
  changelog/pending/20230524--programgen--include-the-component-source-directory-in-diagnostics-when-reporting-pcl-errors.yaml
  pkg/codegen/pcl/binder_component.go
Labels: kind/enhancement, area/codegen

#13024 Add a few more tests for IgnoreChanges with arrays
  pkg/engine/lifecycletest/pulumi_test.go
Labels: impact/no-changelog-required

#13031 [logging] Guard verbose logs on glog.Verbose
  sdk/go/common/util/logging/log.go
Labels: impact/no-changelog-required

#13030 [sdk] Update uniseg
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/diag/colors/colors.go
  sdk/go/common/diag/colors/colors_test.go
  sdk/go/common/util/cmdutil/console.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required

#13036 Fix makefiles
  Makefile
  build/common.mk
  sdk/go/Makefile
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: impact/no-changelog-required

#12983 [Node SDK] Encapsulate Package Management
  sdk/nodejs/npm/manager.go
  sdk/nodejs/npm/manager_test.go
  sdk/nodejs/npm/npm.go
  sdk/nodejs/npm/npm_test.go
  sdk/nodejs/npm/yarn.go
Labels: impact/no-changelog-required

#13048 Fix TestNPMInstallCmd
  sdk/nodejs/npm/npm_test.go
Labels: impact/no-changelog-required

#13040 Add pulumi-language-nodejs to LINT_GOLANG_PKGS
  Makefile
Labels: impact/no-changelog-required

#13033 test(sdk/npm): Don't download from NPM or Yarn regstries
  sdk/nodejs/npm/manager_test.go
Labels: impact/no-changelog-required

#13032 [pcl/program-gen] Implement singleOrNone intrinsic for python and typescript
  changelog/pending/20230525--programgen-nodejs-python--implement-singleornone-intrinsic.yaml
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/nodejs/gen_program_utils.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/pcl/functions.go
  pkg/codegen/pcl/functions_test.go
  pkg/codegen/pcl/utilities_test.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/python/gen_program_utils.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/single-or-none-pp/nodejs/single-or-none.ts
  pkg/codegen/testing/test/testdata/single-or-none-pp/python/single-or-none.py
  pkg/codegen/testing/test/testdata/single-or-none-pp/single-or-none.pp
Labels: language/python, language/javascript, area/codegen

#13056 ci(lint): make tidy > ./scripts/tidy.sh
  .github/workflows/ci-lint.yml
Labels: impact/no-changelog-required
