Repository pulumi/pulumi, pull requests merged in 2023-07, with the labels that each got.

#13347 [sdk/go] Fix the `dist` make target
  sdk/go/Makefile
Labels: impact/no-changelog-required

#13434 ci(test): Fix setup-go caching
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#13441 Add tests for various resource names
  pkg/engine/lifecycletest/pulumi_test.go
Labels: impact/no-changelog-required

#13437 [engine] Add support for source positions
  pkg/backend/display/json.go
  pkg/backend/snapshot.go
  pkg/backend/snapshot_test.go
  pkg/engine/deployment.go
  pkg/engine/destroy.go
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/step_generator_test.go
  pkg/engine/refresh.go
  pkg/engine/update.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/source.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  proto/.checksum.txt
  proto/pulumi/provider.proto
  proto/pulumi/resource.proto
  proto/pulumi/source.proto
  sdk/go/common/apitype/core.go
  sdk/go/common/resource/plugin/context.go
  sdk/go/common/resource/resource_goal.go
  sdk/go/common/resource/resource_state.go
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/nodejs/proto/provider_pb.js
  sdk/nodejs/proto/resource_grpc_pb.js
  sdk/nodejs/proto/resource_pb.js
  sdk/nodejs/proto/source_grpc_pb.js
  sdk/nodejs/proto/source_pb.js
  sdk/nodejs/tests/sxs_ts_test/yarn.lock
  sdk/proto/go/provider.pb.go
  sdk/proto/go/resource.pb.go
  sdk/proto/go/source.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/source_pb2.py
  sdk/python/lib/pulumi/runtime/proto/source_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/source_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/source_pb2_grpc.pyi
Labels: impact/no-changelog-required

#13447 Fix http source URL interpolation
  changelog/pending/20230710--cli-plugin--fix-interpolation-of-vesion-into-http-plugin-source-urls.yaml
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/regression

#13460 Prepare for v3.75.0 release
  .version
Labels: impact/no-changelog-required

#13464 Freeze v3.75.0
  .version
Labels: impact/no-changelog-required

#13459 [pcl/binder] Allow binding unsupported range and collection types in non-strict mode for pulumi convert
  changelog/pending/20230712--programgen--allow-binding-unsupported-range-and-collection-types-in-non-strict-mode-for-pulumi-convert.yaml
  pkg/cmd/pulumi/convert.go
  pkg/codegen/hcl2/model/binder_expression.go
  pkg/codegen/hcl2/model/expression.go
  pkg/codegen/hcl2/model/type_collection.go
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_component.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/binder_schema.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/pcl/functions.go
  pkg/codegen/pcl/rewrite_apply_test.go
Labels: area/codegen

#13463 Fix links to outputs docs
  sdk/nodejs/output.ts
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/test/test_output.py
Labels: impact/no-changelog-required

#13488 [convert/go] Fix panic in GenerateProject when version is not set in schema
  changelog/pending/20230713--programgen-go--fix-panic-in-generateproject-when-version-is-not-set-in-schema.yaml
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_test.go
  pkg/codegen/testing/test/testdata/auto-deploy-0.0.1.json
  pkg/codegen/testing/utils/host.go
Labels: p1, language/go, area/codegen

#13493 [pcl/binder] Propagate SkipRangeTypechecking option down to components' programs
  changelog/pending/20230714--programgen--propagate-skiprangetypechecking-option-down-to-program-components.yaml
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_component.go
Labels: area/codegen

#13507 Include bail result in Run log
  sdk/go/common/resource/plugin/langruntime_plugin.go
Labels: impact/no-changelog-required

#13497 [cli] Add project root update metadata
  pkg/backend/stack.go
  pkg/backend/updates.go
  pkg/cmd/pulumi/util.go
  sdk/go/common/apitype/core.go
  sdk/go/common/util/gitutil/git.go
Labels: impact/no-changelog-required

#13514 [typescript/program-gen] Fix interpolated strings used as keys of maps
  changelog/pending/20230717--programgen-nodejs--fix-interpolated-strings-used-as-keys-of-maps.yaml
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/interpolated-string-keys-pp/interpolated-string-keys.pp
  pkg/codegen/testing/test/testdata/interpolated-string-keys-pp/nodejs/interpolated-string-keys.ts
  pkg/codegen/testing/test/testdata/interpolated-string-keys-pp/python/interpolated-string-keys.py
Labels: area/codegen

#13508 Add the ability to verify an expected log message was written
  sdk/python/lib/test/langhost/resource_op_bad_inputs/test_resource_op_bad_inputs.py
  sdk/python/lib/test/langhost/util.py
Labels: impact/no-changelog-required

#13543 Update .version for 3.76.0
  .version
Labels: impact/no-changelog-required

#13545 Lock .version for 3.76.0 release
  .version
Labels: impact/no-changelog-required

#13562 Fix engine.Journal to not write out skipped creates
  pkg/engine/journal.go
Labels: impact/no-changelog-required

#13566 Add Zaid's bicep converter to the known plugin list
  pkg/util/plugin.go
Labels: impact/no-changelog-required

#13556 fix(sec): upgrade github.com/moby/moby to 23.0.3
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#13595 Bump version to v3.76.2
  .version
Labels: impact/no-changelog-required

#13600 ci(go): Don't run with -race on Windows
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#13604 Make MapperAddress consistent everywhere by calling it MapperTarget
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
  proto/.checksum.txt
  proto/pulumi/converter.proto
  sdk/go/common/resource/plugin/converter.go
  sdk/go/common/resource/plugin/converter_plugin.go
  sdk/go/common/resource/plugin/converter_plugin_test.go
  sdk/go/common/resource/plugin/converter_server.go
  sdk/go/common/resource/plugin/converter_server_test.go
  sdk/proto/go/converter.pb.go
  sdk/python/lib/pulumi/runtime/proto/converter_pb2.pyi
Labels: impact/no-changelog-required

#13590 [dotnet/program-gen] Fix typing for optional and complex config variables in main program
  changelog/pending/20230726--programgen-dotnet--fix-typing-for-optional-and-complex-config-variables-in-main-program.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/invoke-inside-conditional-range-pp/dotnet/invoke-inside-conditional-range.cs
  pkg/codegen/testing/test/testdata/optional-complex-config-pp/dotnet/optional-complex-config.cs
Labels: language/dotnet, area/codegen

#13606 [program-gen] Normalize the declaration name of generated resource components
  changelog/pending/20230727--programgen-dotnet-go-nodejs-python--normalize-the-declaration-name-of-generated-resource-components.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/pcl/component.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/testing/test/testdata/components-pp/another-component/main.pp
  pkg/codegen/testing/test/testdata/components-pp/components.pp
  pkg/codegen/testing/test/testdata/components-pp/dotnet/AnotherComponent.cs
  pkg/codegen/testing/test/testdata/components-pp/dotnet/components.cs
  pkg/codegen/testing/test/testdata/components-pp/go/another-component.go
  pkg/codegen/testing/test/testdata/components-pp/go/components.go
  pkg/codegen/testing/test/testdata/components-pp/nodejs/another-component.ts
  pkg/codegen/testing/test/testdata/components-pp/nodejs/components.ts
  pkg/codegen/testing/test/testdata/components-pp/python/another_component.py
  pkg/codegen/testing/test/testdata/components-pp/python/components.py
Labels: area/codegen
