Repository pulumi/pulumi, pull requests merged in 2023-06, with the labels that each got.

#13053 [go/program-gen] Do not error when generated Go code cannot be formatted
  changelog/pending/20230530--programgen-go--do-not-error-when-generated-go-code-cannot-be-formatted.yaml
  pkg/codegen/go/gen_program.go
Labels: area/codegen

#13065 Fix inconsistency in calling DiffConfig
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#13069 Freeze the release of Pulumi v3.69.0
  .version
Labels: impact/no-changelog-required

#13041 Improve publish output
  pkg/cmd/pulumi/package_publish.go
Labels: impact/no-changelog-required

#13082 Fix install failure messages
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
Labels: impact/no-changelog-required

#13083 [pcl/dotnet,go] Do not error out when generaing not yet implemented ForExpressions
  changelog/pending/20230602--programgen-dotnet-go--do-not-error-out-when-generaing-not-yet-implemented-forexpressions.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/entries-function-pp/dotnet/entries-function.cs
  pkg/codegen/testing/test/testdata/entries-function-pp/go/entries-function.go
Labels: area/codegen

#13090 Log the version from GetPluginInfo
  sdk/go/common/resource/plugin/provider_plugin.go
Labels: impact/no-changelog-required

#13099 Add debug logs to Mapping calls
  pkg/codegen/convert/mapper_client.go
  pkg/codegen/convert/mapper_server.go
  sdk/go/common/resource/plugin/provider_plugin.go
Labels: impact/no-changelog-required

#13100 Add stage messages to convert
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#13102 Make GetMapping contextful
  pkg/codegen/convert/mapper.go
  pkg/codegen/convert/mapper_client.go
  pkg/codegen/convert/mapper_server.go
  pkg/codegen/convert/plugin_mapper.go
  pkg/codegen/convert/plugin_mapper_test.go
Labels: impact/no-changelog-required

#13103 Fix converter diagnostics
  sdk/go/common/resource/plugin/converter_plugin.go
  sdk/go/common/resource/plugin/converter_plugin_test.go
  sdk/go/common/resource/plugin/converter_server.go
  sdk/go/common/resource/plugin/converter_server_test.go
Labels: impact/no-changelog-required

#13107 Fix plugin mapper to not retry installs
  pkg/codegen/convert/plugin_mapper.go
  pkg/codegen/convert/plugin_mapper_test.go
Labels: impact/no-changelog-required

#13111 Error in convert if any error diagnostics are returned
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#13115 [pcl] Allow output variables to have the same identifier as other program nodes
  changelog/pending/20230607--programgen-nodejs--allow-output-variables-to-have-the-same-identifier-as-other-program-nodes.yaml
  pkg/codegen/hcl2/model/scope.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/aws-eks-pp/nodejs/aws-eks.ts
  pkg/codegen/testing/test/testdata/logical-name-pp/nodejs/logical-name.ts
  pkg/codegen/testing/test/testdata/output-name-conflict-pp/dotnet/output-name-conflict.cs
  pkg/codegen/testing/test/testdata/output-name-conflict-pp/go/output-name-conflict.go
  pkg/codegen/testing/test/testdata/output-name-conflict-pp/nodejs/output-name-conflict.ts
  pkg/codegen/testing/test/testdata/output-name-conflict-pp/output-name-conflict.pp
  pkg/codegen/testing/test/testdata/output-name-conflict-pp/python/output-name-conflict.py
Labels: area/codegen

#13116 [pcl/go] Fix panic in go program-gen when encountering splat expressions
  changelog/pending/20230607--programgen-go--fix-panic-in-go-program-gen-when-encountering-splat-expressions.yaml
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/simple-splat-pp/dotnet/simple-splat.cs
  pkg/codegen/testing/test/testdata/simple-splat-pp/go/simple-splat.go
  pkg/codegen/testing/test/testdata/simple-splat-pp/nodejs/simple-splat.ts
  pkg/codegen/testing/test/testdata/simple-splat-pp/python/simple-splat.py
  pkg/codegen/testing/test/testdata/simple-splat-pp/simple-splat.pp
  pkg/codegen/testing/test/testdata/splat-1.0.0.json
  pkg/codegen/testing/utils/host.go
Labels: language/go, area/codegen

#13123 prepare v3.70.0 release
  .version
Labels: impact/no-changelog-required

#13124 freeze v3.70.0
  .version
Labels: impact/no-changelog-required

#13129 Don't return empty hcl.Diagnostics
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/schema/bind.go
  sdk/go/common/resource/plugin/converter_plugin.go
  sdk/go/common/resource/plugin/converter_plugin_test.go
Labels: impact/no-changelog-required

#13131 [pcl/components] Fixes range scoping for PCL components
  changelog/pending/20230608--programgen--fixes-range-scoping-for-pcl-components.yaml
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_component.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/pcl/functions.go
Labels: area/codegen

#13152 Update .version for 3.71.0
  .version
Labels: impact/no-changelog-required

#13154 Update .version to lock for release
  .version
Labels: impact/no-changelog-required

#13076 filestate: Add and use re-usable worker pool
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/pool.go
  pkg/backend/filestate/pool_test.go
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  tests/go.sum
Labels: impact/no-changelog-required

#13174 Prepare release v3.72
  .version
Labels: impact/no-changelog-required

#13175 Freeze release v3.72
  .version
Labels: impact/no-changelog-required

#13186 Freeze v3.72.1
  .version
Labels: impact/no-changelog-required

#13194 Freeze release v3.72.2
  .version
Labels: impact/no-changelog-required

#13180 [pcl/binder] Allow traversing unknown properties from resources when skipping type checking
  changelog/pending/20230616--programgen--allow-traversing-unknown-properties-from-resources-when-skipping-resouce-type-checking.yaml
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/pcl/resource.go
Labels: area/codegen

#13214 httpstate/client: Support no retries
  pkg/backend/httpstate/client/api.go
  pkg/backend/httpstate/client/api_test.go
  pkg/backend/httpstate/client/client.go
Labels: impact/no-changelog-required

#13235 Temporarily bump Windows runner size to unblock merging
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#13253 Fix failing test TestCreatingStackWithNumericName
  pkg/cmd/pulumi/new_acceptance_test.go
Labels: impact/no-changelog-required

#13245 Remove the downstream codegen tests
  .github/workflows/ci-test-codegen.yml
  .github/workflows/pr-test-codegen-on-pr.yml
  .github/workflows/pr-test-codegen-test-on-dispatch.yml
Labels: impact/no-changelog-required

#13251 [convert] Prefer output-versioned invokes in generated programs for nodejs and python
  changelog/pending/20230622--programgen-nodejs-python--prefer-output-versioned-invokes-in-generated-programs-for-nodejs-and-python.yaml
  pkg/cmd/pulumi/convert.go
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_component.go
  pkg/codegen/pcl/invoke.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/aws-fargate-output-versioned-pp/aws-fargate-output-versioned.pp
  pkg/codegen/testing/test/testdata/aws-fargate-output-versioned-pp/nodejs/aws-fargate-output-versioned.ts
  pkg/codegen/testing/test/testdata/aws-fargate-output-versioned-pp/python/aws-fargate-output-versioned.py
  sdk/go/pulumi-language-go/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: language/python, language/javascript, area/codegen

#13284 Don't discard `nil` panics
  pkg/cmd/pulumi/main.go
  pkg/cmd/pulumi/main_test.go
Labels: impact/no-changelog-required

#13304 Increase nakedret limit to 60
  .github/workflows/ci-lint.yml
  .golangci.yml
Labels: impact/no-changelog-required

#13313 Pin GoReleaser to previous version
  .github/workflows/ci-build-binaries.yml
Labels: impact/no-changelog-required

#13276 Bump semver and @pulumi/pulumi
  sdk/go/auto/test/errors/compilation_error/typescript/package-lock.json
  sdk/go/auto/test/errors/compilation_error/typescript/package.json
  sdk/go/auto/test/errors/runtime_error/javascript/package-lock.json
  sdk/go/auto/test/errors/runtime_error/javascript/package.json
  sdk/go/auto/test/errors/runtime_error/typescript/package-lock.json
  sdk/go/auto/test/errors/runtime_error/typescript/package.json
  sdk/nodejs/tests/automation/data/tcfg/package-lock.json
  sdk/nodejs/tests/automation/data/tcfg/package.json
  sdk/python/lib/test/automation/errors/compilation_error/typescript/package-lock.json
  sdk/python/lib/test/automation/errors/compilation_error/typescript/package.json
  sdk/python/lib/test/automation/errors/runtime_error/javascript/package-lock.json
  sdk/python/lib/test/automation/errors/runtime_error/javascript/package.json
  sdk/python/lib/test/automation/errors/runtime_error/typescript/package-lock.json
  sdk/python/lib/test/automation/errors/runtime_error/typescript/package.json
Labels: impact/no-changelog-required

#13325 test: Attempt to fix TestCreatingProjectWithEmptyConfig
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/new_acceptance_test.go
  pkg/cmd/pulumi/new_test.go
Labels: impact/no-changelog-required

#13322 Prepare for v3.74.0 release
  .version
Labels: impact/no-changelog-required

#13330 test(cmd/pulumi): Always use a valid project directory name
  pkg/cmd/pulumi/new_acceptance_test.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/policy_new_acceptance_test.go
  pkg/cmd/pulumi/policy_new_test.go
Labels: impact/no-changelog-required

#10468 Update pulumictl to 0.0.42
  .devcontainer/Dockerfile
  .github/workflows/ci-run-test.yml
  .github/workflows/release.yml
  .gitpod/Dockerfile
Labels: impact/no-changelog-required

#13332 Freeze v3.74.0
  .version
Labels: impact/no-changelog-required

#13337 Temp changes to unblock the release
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
  scripts/publish_npm.sh
Labels: impact/no-changelog-required

#13342 Revert "Temp changes to unblock the release"
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
  scripts/publish_npm.sh
Labels: impact/no-changelog-required

#13344 Fix `publish_npm.sh` script to handle `GITHUB_REF` without '/'
  scripts/publish_npm.sh
Labels: impact/no-changelog-required
