Repository pulumi/pulumi, pull requests merged in 2023-09, with the labels that each got.

#13849 bump to v3.80.1 to freeze v3.80.0 for release.
  .version
Labels: impact/no-changelog-required

#13872 [sdk/go] Fix issues with templates
  .github/workflows/ci-lint.yml
  sdk/go/pulumi/generate/templates/config-require.go.template
  sdk/go/pulumi/generate/templates/types_builtins.go.template
Labels: impact/no-changelog-required

#13891 Prepare for v3.81.0 release
  .version
Labels: impact/no-changelog-required

#13892 Freeze v3.81.0
  .version
Labels: impact/no-changelog-required

#13905 ci: Add required `--squash` flag to `gh pr merge`
  .github/workflows/release-pr.yml
Labels: impact/no-changelog-required

#13908 Prepare for v3.82.0 release
  .version
Labels: impact/no-changelog-required

#13911 [engine] Add extra comment on old resource lookup
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#13918 Freeze v3.82.0
  .version
Labels: impact/no-changelog-required

#13931 Replace result.Result in SourceIterator
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/source.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_null.go
Labels: impact/no-changelog-required

#13934 Freeze v3.82.1
  .version
Labels: impact/no-changelog-required

#13926 Add tests for gcpauth pkg
  pkg/authhelpers/gcpauth_test.go
Labels: impact/no-changelog-required

#13966 Prepare for v3.83.0 release
  .version
Labels: impact/no-changelog-required

#13967 Freeze v3.83.0
  .version
Labels: impact/no-changelog-required

#13954 Move sdk/go/common/display to /pkg/display
  cmd/pulumi-test-language/testing.go
  cmd/pulumi-test-language/tests.go
  pkg/backend/apply.go
  pkg/backend/apply_test.go
  pkg/backend/backend.go
  pkg/backend/display/events.go
  pkg/backend/display/json.go
  pkg/backend/display/object_diff.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/backend/display/rows.go
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/stack.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/stack.go
  pkg/backend/mock.go
  pkg/backend/stack.go
  pkg/backend/updates.go
  pkg/display/json.go
  pkg/engine/deployment.go
  pkg/engine/destroy.go
  pkg/engine/events.go
  pkg/engine/import.go
  pkg/engine/lifecycletest/alias_test.go
  pkg/engine/lifecycletest/golang_sdk_test.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/target_test.go
  pkg/engine/lifecycletest/test_plan.go
  pkg/engine/lifecycletest/update_plan_test.go
  pkg/engine/refresh.go
  pkg/engine/update.go
  pkg/resource/deploy/plan.go
  pkg/resource/deploy/step.go
  pkg/resource/stack/plan.go
Labels: impact/no-changelog-required

#13951 Remove Logout logic from Backend interface
  pkg/backend/backend.go
  pkg/backend/filestate/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/mock.go
  pkg/cmd/pulumi/logout.go
Labels: impact/no-changelog-required

#13976 Move SecretsManager from SnapshotPersister to SnapshotManager
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/snapshot.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/snapshot.go
  pkg/backend/httpstate/snapshot_test.go
  pkg/backend/snapshot.go
  pkg/backend/snapshot_test.go
Labels: impact/no-changelog-required

#13990 Prepare for v3.84.0 release
  .version
Labels: impact/no-changelog-required

#13992 Freeze v3.84.0
  .version
Labels: impact/no-changelog-required

#13965 [sdk/go] Update pinned version of golang.org/x/text
  sdk/go.mod
  sdk/go.sum
Labels: impact/no-changelog-required

#13991 Remove boolean var that was always true
  pkg/backend/snapshot.go
Labels: impact/no-changelog-required

#13996 Change Source.Iterate to return an error
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/source.go
  pkg/resource/deploy/source_error.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_null.go
Labels: impact/no-changelog-required

#13939 Replace result.Result in Query with error
  pkg/backend/backend.go
  pkg/backend/filestate/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/mock.go
  pkg/backend/query.go
  pkg/cmd/pulumi/query.go
  pkg/engine/query.go
  pkg/resource/deploy/source_query.go
  pkg/resource/deploy/source_query_test.go
Labels: impact/no-changelog-required

#14011 [dotnet/sdk-gen] Fixes potential conflicts when generating resources called System
  changelog/pending/20230922--sdkgen-dotnet--fixes-potential-conflicts-when-generating-resources-called-system.yaml
  pkg/codegen/dotnet/gen.go
  pkg/codegen/testing/test/testdata/provider-config-schema/dotnet/Config/Config.cs
Labels: language/dotnet, area/codegen

#13685 [python/sdk-gen] Generate output-versioned invokes for functions without inputs
  changelog/pending/20230809--sdkgen-python--generate-output-versioned-invokes-for-functions-without-inputs.yaml
  pkg/codegen/python/gen.go
  pkg/codegen/testing/test/testdata/output-funcs/python/pulumi_mypkg/get_client_config.py
  pkg/codegen/testing/test/testdata/regress-8403/python/pulumi_mongodbatlas/get_custom_db_roles.py
Labels: language/python, area/codegen

#14021 Prepare for v3.85.0 release
  .version
Labels: impact/no-changelog-required

#14022 Freeze v3.85.0
  .version
Labels: impact/no-changelog-required

#14018 Trim Python version
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#14028 Replace use of result.Result in step generator
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#14029 Use context.Background in tests
  pkg/backend/httpstate/token_source_test.go
  pkg/cmd/pulumi/policy_new_acceptance_test.go
  pkg/cmd/pulumi/policy_new_test.go
  pkg/resource/deploy/source_query_test.go
  sdk/go/auto/git_test.go
  sdk/go/pulumi/provider_test.go
  sdk/go/pulumi/resource_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main_test.go
Labels: impact/no-changelog-required

#14045 [backend] Separate login and backend creation
  pkg/backend/httpstate/backend.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#14052 Prepare for 3.86.0 release
  .version
Labels: impact/no-changelog-required

#13822 Consecutive markdown heading levels CLI docs
  pkg/cmd/pulumi/gen_markdown.go
Labels: impact/no-changelog-required

#14068 Update golang.org/x/mod
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required
