Repository pulumi/pulumi, pull requests merged in 2023-01, with the labels that each got.

#11755 Clean up use of pkg/errors in sdk/python
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/python.go
Labels: impact/no-changelog-required

#11758 updated readme to document Go build tags
  tests/README.md
Labels: impact/no-changelog-required

#11763 ci: Freeze for 3.51.0 release
  .version
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#11764 Freeze3.51.1
  .version
Labels: impact/no-changelog-required

#11728 Revv capability API to V2
  pkg/backend/httpstate/backend.go
  sdk/go/common/apitype/service.go
Labels: impact/no-changelog-required

#11759 Cleanup sdk/README.md
  sdk/README.md
Labels: impact/no-changelog-required

#11771 Add config to logical-name-pp test
  pkg/codegen/testing/test/testdata/logical-name-pp/dotnet/logical-name.cs
  pkg/codegen/testing/test/testdata/logical-name-pp/go/logical-name.go
  pkg/codegen/testing/test/testdata/logical-name-pp/logical-name.pp
  pkg/codegen/testing/test/testdata/logical-name-pp/nodejs/logical-name.ts
  pkg/codegen/testing/test/testdata/logical-name-pp/python/logical-name.py
Labels: impact/no-changelog-required

#11762 Clean up use of pkg/errors in sdk/go/pulumi
  sdk/go/pulumi/mocks.go
  sdk/go/pulumi/run_test.go
Labels: impact/no-changelog-required

#11776 Make sure output state deps is only accessed under a lock
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#11779 sdk/go: Simplify await(), prevent data races
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#11775 clean up confluent package names
  pkg/codegen/docs/gen.go
Labels: impact/no-changelog-required

#11796 ci: Bump to 3.51.2 to freeze for release
  .version
Labels: impact/no-changelog-required

#11794 Add missing dependency set to TestPendingDeleteOrder
  pkg/engine/lifecycletest/pulumi_test.go
Labels: impact/no-changelog-required

#11802 cli/update: Move experimental option to bottom
  pkg/backend/apply.go
Labels: impact/no-changelog-required

#11801 Clean up use of pkg/errors in sdk/go/auto
  sdk/go/auto/git.go
  sdk/go/auto/local_workspace.go
  sdk/go/auto/remote_workspace.go
  sdk/go/auto/stack.go
Labels: impact/no-changelog-required

#11797 golangci-lint: Opt into nolintlint
  .golangci.yml
  pkg/backend/httpstate/backend.go
  pkg/cmd/pulumi/view-trace.go
  pkg/codegen/docs/gen.go
  sdk/go/auto/example_test.go
Labels: impact/no-changelog-required

#11805 pkg/codegen/docs: Fix data race in tests
  pkg/codegen/docs/gen_test.go
  pkg/codegen/docs/package_tree_test.go
Labels: impact/no-changelog-required

#11821 auto/example_test: Opt-out specific linters, fix typos
  sdk/go/auto/example_test.go
Labels: impact/no-changelog-required

#11820 backend/display/test: string(buffer.Bytes()) => buffer.String()
  pkg/backend/display/diff_test.go
  pkg/backend/display/progress_test.go
Labels: impact/no-changelog-required

#11822 all: gofmt -w -s
  pkg/codegen/dotnet/gen_program_test/batch1/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch2/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch3/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch4/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch5/gen_program_test.go
  pkg/codegen/dotnet/gen_program_test/batch6/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch1/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch2/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch3/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch4/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch5/gen_program_test.go
  pkg/codegen/go/gen_program_test/batch6/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch1/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch2/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch3/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch4/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch5/gen_program_test.go
  pkg/codegen/nodejs/gen_program_test/batch6/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch1/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch2/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch3/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch4/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch5/gen_program_test.go
  pkg/codegen/python/gen_program_test/batch6/gen_program_test.go
Labels: impact/no-changelog-required

#11823 ci/lint: Use latest golangci-lint
  .github/workflows/ci-lint.yml
Labels: impact/no-changelog-required

#11824 golangci-lint: Drop deprecated linters
  .golangci.yml
Labels: impact/no-changelog-required

#11830 grpc: WithInsecure is deprecated
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/plugin_host.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/provider/host.go
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/util/rpcutil/health.go
  sdk/go/pulumi/context.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/python/cmd/pulumi-language-python/main.go
  tests/integration/integration_util_test.go
Labels: impact/no-changelog-required

#11835 Move .version back to 3.51.1
  .version
Labels: impact/no-changelog-required

#11839 Freeze version for 3.51.1 release
  .version
Labels: impact/no-changelog-required

#11817 Lift DefaultSecretsProvider out of DeserializeCheckpoint
  pkg/backend/filestate/state.go
  pkg/operations/resources_test.go
  pkg/resource/stack/checkpoint.go
Labels: impact/no-changelog-required

#11833 crypto/ssh/terminal is deprecated
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/terminal.go
  pkg/go.mod
  sdk/go/common/util/cmdutil/console.go
  sdk/go/common/util/cmdutil/console_password.go
Labels: impact/no-changelog-required

#11829 golangci-lint: Don't disable megacheck
  .golangci.yml
  pkg/backend/display/jsonmessage.go
  pkg/backend/display/progress.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_json.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/hcl2/model/pretty/display.go
  pkg/codegen/hcl2/syntax/tokens.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/schema/loader.go
  pkg/resource/stack/deployment.go
  pkg/testing/integration/program.go
  pkg/testing/integration/util.go
  sdk/go/auto/stack.go
  sdk/go/common/resource/asset_test.go
  sdk/go/common/resource/plugin/context.go
  sdk/go/common/util/env/env.go
  sdk/go/common/util/goversion/version.go
  sdk/go/pulumi/resource_set.go
  sdk/go/pulumi/types_test.go
  sdk/python/cmd/pulumi-language-python/main.go
  tests/integration/policy/policy_test.go
Labels: impact/no-changelog-required

#11838 Pretty recursive types
  pkg/codegen/hcl2/model/diagnostics.go
  pkg/codegen/hcl2/model/pretty/display.go
  pkg/codegen/hcl2/model/pretty/display_test.go
  pkg/codegen/hcl2/model/type_enum.go
  pkg/codegen/hcl2/model/type_list.go
  pkg/codegen/hcl2/model/type_map.go
  pkg/codegen/hcl2/model/type_object.go
  pkg/codegen/hcl2/model/type_output.go
  pkg/codegen/hcl2/model/type_promise.go
  pkg/codegen/hcl2/model/type_set.go
  pkg/codegen/hcl2/model/type_tuple.go
  pkg/codegen/hcl2/model/type_union.go
  sdk/go/common/env/env.go
Labels: impact/no-changelog-required

#11865 test/integration: defer close after successful open
  tests/integration/appdash_test.go
Labels: impact/no-changelog-required

#11868 sdk/context/test: Explicitly sleep for 10 nanoseconds
  sdk/go/pulumi/context_test.go
Labels: impact/no-changelog-required

#11879 Clean up pkg/errors in go language host
  sdk/go/pulumi-language-go/main.go
Labels: impact/no-changelog-required

#11871 golangci-lint: Enable staticcheck
  .golangci.yml
  pkg/codegen/go/gen_test.go
  pkg/codegen/hcl2/model/type_const.go
  pkg/codegen/hcl2/model/type_enum.go
  pkg/codegen/pcl/invoke.go
  pkg/codegen/schema/docs_parser.go
  pkg/codegen/schema/loader.go
  pkg/resource/deploy/step_executor.go
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#11874 ApplyT, ApplyTWithContext: De-dupe validation
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_test.go
Labels: impact/no-changelog-required

#11895 ApplyT: Include applier location for mismatch panics
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_test.go
Labels: impact/no-changelog-required

#11901 ci: init v3.52.0 release
  .version
Labels: impact/no-changelog-required

#11905 ci: freeze 3.52.0
  .version
Labels: impact/no-changelog-required

#11908 sdk/Unsecret: Fix data race
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#11907 sdk/go: Fix TestDependsOnInputs data race
  sdk/go/pulumi/context.go
  sdk/go/pulumi/resource_test.go
  sdk/go/pulumi/run.go
  sdk/go/pulumi/run_test.go
Labels: impact/no-changelog-required

#11911 sdk/py/stack: Original traceback in wait_for_rpcs
  sdk/python/lib/pulumi/runtime/stack.py
  sdk/python/lib/test/runtime/test_stack.py
Labels: impact/no-changelog-required

#11446 Use plugin link and shimless for testprovider
  pkg/testing/integration/program.go
  tests/integration/construct_component/go/Pulumi.yaml
  tests/integration/construct_component/nodejs/Pulumi.yaml
  tests/integration/construct_component/python/Pulumi.yaml
  tests/integration/construct_component_methods_resources/go/Pulumi.yaml
  tests/integration/construct_component_methods_resources/nodejs/Pulumi.yaml
  tests/integration/construct_component_methods_resources/python/Pulumi.yaml
  tests/integration/construct_component_methods_unknown/go/Pulumi.yaml
  tests/integration/construct_component_methods_unknown/nodejs/Pulumi.yaml
  tests/integration/construct_component_methods_unknown/python/Pulumi.yaml
  tests/integration/construct_component_plain/go/Pulumi.yaml
  tests/integration/construct_component_plain/nodejs/Pulumi.yaml
  tests/integration/construct_component_plain/python/Pulumi.yaml
  tests/integration/construct_component_unknown/go/Pulumi.yaml
  tests/integration/construct_component_unknown/nodejs/Pulumi.yaml
  tests/integration/construct_component_unknown/python/Pulumi.yaml
  tests/integration/construct_nested_component/go/Pulumi.yaml
  tests/integration/gather_plugin/go/Pulumi.yaml
  tests/integration/gather_plugin/nodejs/Pulumi.yaml
  tests/integration/gather_plugin/python/Pulumi.yaml
  tests/integration/integration_go_smoke_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_smoke_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_smoke_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
  tests/integration/integration_util_test.go
Labels: impact/no-changelog-required

#11920 Replace pkg/errors in sdk/go/common/workspace
  sdk/go/common/workspace/creds.go
  sdk/go/common/workspace/paths.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/templates.go
  sdk/go/common/workspace/workspace.go
Labels: impact/no-changelog-required

#11918 pcl/codegen: Fix typeNameID data race
  pkg/codegen/go/gen_program_expressions.go
Labels: impact/no-changelog-required

#11932 ci: Resume testing on Node current with 19.4 release
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#11931 test/codegen: Don't run in parallel
  pkg/codegen/testing/test/program_driver.go
Labels: impact/no-changelog-required

#11937 Fix broken links related to resources named "index"
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/utils.go
Labels: impact/no-changelog-required

#11924 make passing lint required to bors merge a PR
  bors.toml
Labels: impact/no-changelog-required

#11938 cmd/stack: Reduce noise from offerNew, setCurrent bool
  pkg/cmd/pulumi/cancel.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_export.go
  pkg/cmd/pulumi/stack_graph.go
  pkg/cmd/pulumi/stack_history.go
  pkg/cmd/pulumi/stack_import.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/stack_rename.go
  pkg/cmd/pulumi/stack_rm.go
  pkg/cmd/pulumi/stack_select.go
  pkg/cmd/pulumi/stack_tag.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_test.go
  pkg/cmd/pulumi/watch.go
Labels: impact/no-changelog-required

#11949 Add note about SupportsFeature
  pkg/resource/deploy/source_eval.go
Labels: impact/no-changelog-required

#11880 Add tests for assumed role to awskms tests
  pkg/go.mod
  pkg/go.sum
  pkg/secrets/cloud/manager_test.go
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#11951 cmd/stack output: Pull out core logic
  pkg/cmd/pulumi/stack_output.go
Labels: impact/no-changelog-required

#11959 Add resource count to update info struct
  sdk/go/common/apitype/history.go
Labels: impact/no-changelog-required

#11958 Replace assertNoError with require.NoError in aws kms tests
  pkg/secrets/cloud/manager_test.go
Labels: impact/no-changelog-required

#11977 Bump version number for features
  .version
Labels: impact/no-changelog-required

#11980 Bump version post-release
  .version
Labels: impact/no-changelog-required

#11952 cmd/stack output: Inject requireStack and test output
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/stack_output_test.go
Labels: impact/no-changelog-required

#11953 cmd/stack output: Introduce a Writer abstraction
  pkg/cmd/pulumi/stack_output.go
Labels: impact/no-changelog-required

#11988 Bump release version
  .version
Labels: impact/no-changelog-required

#11935 [go/sdk] Delegate alias computation to the engine
  changelog/pending/20230120--sdk-go--delegate-alias-computation-to-the-engine.yaml
  sdk/go/pulumi/alias.go
  sdk/go/pulumi/context.go
  sdk/go/pulumi/context_test.go
  sdk/go/pulumi/rpc_test.go
Labels: kind/enhancement, language/go

#11878 Don't marshal/unmarshal deployments for import/export
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/state.go
  pkg/resource/stack/checkpoint.go
Labels: impact/no-changelog-required

#11957 cmd/stack output: Print to an io.Writer
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/stack_output_test.go
  pkg/cmd/pulumi/util.go
  sdk/go/common/util/cmdutil/console.go
Labels: impact/no-changelog-required

#12004 feat: enable simpler Go programtest replacements
  pkg/testing/integration/program.go
  pkg/testing/integration/program_test.go
Labels: impact/no-changelog-required

#12003 sdk/plugin/provider: Prevent use-before-configure races
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_plugin_test.go
Labels: impact/no-changelog-required

#12005 Push DefaultSecretsProvider up to pkg/cmd
  pkg/backend/backend.go
  pkg/backend/backend_test.go
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/stack.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/stack.go
  pkg/backend/httpstate/state.go
  pkg/backend/mock.go
  pkg/backend/query.go
  pkg/backend/stack.go
  pkg/backend/watch.go
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/query.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_graph.go
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/stack_output_test.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
  pkg/engine/deployment.go
  pkg/engine/query.go
Labels: impact/no-changelog-required

#12007 ci: Don't ignore smoke test failures on Windows
  .github/workflows/ci.yml
  pkg/cmd/pulumi/stack_output_fuzz_test.go
  pkg/cmd/pulumi/testdata/fuzz/FuzzPowershellStackOutputWriter/b5bbc3d0d660602a096a3956016c5a0f57eddd321f15e9c6276d05290424365a
Labels: impact/no-changelog-required, ci/test

#12021 Rename Smoke Tests
  .github/workflows/ci.yml
  .github/workflows/on-pr.yml
  .github/workflows/pr-test-acceptance-on-dispatch.yml
  pkg/cmd/pulumi/new_acceptance_test.go
  pkg/cmd/pulumi/policy_new_acceptance_test.go
  pkg/cmd/pulumi/policy_new_test.go
  scripts/get-job-matrix.py
  sdk/go/auto/errors_test.go
  tests/README.md
  tests/examples/examples_acceptance_test.go
  tests/integration/aliases/aliases_go_test.go
  tests/integration/aliases/aliases_nodejs_test.go
  tests/integration/aliases/aliases_py_test.go
  tests/integration/custom_timeouts/custom_timeouts_test.go
  tests/integration/delete_before_create/delete_before_create_test.go
  tests/integration/dependency_steps/dependency_steps_test.go
  tests/integration/double_pending_delete/double_pending_delete_test.go
  tests/integration/duplicate_urns/duplicate_urns_test.go
  tests/integration/integration_acceptance_test.go
  tests/integration/integration_go_acceptance_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_acceptance_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_acceptance_test.go
  tests/integration/integration_python_test.go
  tests/integration/partial_state/partial_state_test.go
  tests/integration/protect_resources/protect_test.go
  tests/integration/query/query_test.go
  tests/integration/read/import_acquire/import_acquire_test.go
  tests/integration/read/read_dbr/read_dbr_test.go
  tests/integration/read/read_relinquish/read_relinquish_test.go
  tests/integration/read/read_replace/read_dbr_test.go
  tests/integration/recreate_resource_check/resource_recreate_check_test.go
  tests/integration/steps/steps_test.go
  tests/integration/targets/targets_test.go
  tests/integration/transformations/transformations_nodejs_test.go
  tests/integration/transformations/transformations_py_test.go
  tests/integration/transformations/transformations_test.go
  tests/integration/types/types_test.go
Labels: impact/no-changelog-required

#12015 [sdks/python] Delegate alias computation to the engine
  changelog/pending/20230130--sdk-python--delegate-alias-computation-to-the-engine.yaml
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/settings.py
  sdk/python/lib/test/langhost/aliases/__main__.py
  sdk/python/lib/test/runtime/test_create_alias_specs.py
Labels: area/sdks, kind/enhancement, language/python

#12027 Clean up pkg/errors in go/common/tokens
  sdk/go/common/tokens/tokens.go
Labels: impact/no-changelog-required

#12031 ci/lint: Use golangci-lint-action
  .github/workflows/ci-lint.yml
  Makefile
Labels: impact/no-changelog-required
