Repository pulumi/pulumi, pull requests merged in 2023-04, with the labels that each got.

#12497 refactor(filestate): Don't use t.Setenv in tests
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/meta.go
  pkg/backend/filestate/meta_test.go
  pkg/backend/filestate/state.go
Labels: impact/no-changelog-required

#12496 filestate/projectStore: Optimize ListReferences
  pkg/backend/filestate/store.go
Labels: impact/no-changelog-required

#12585 Prepare release v3.61.0
  .version
Labels: impact/no-changelog-required

#12586 Freeze release v3.61.0
  .version
Labels: impact/no-changelog-required

#12590 pulumi-java: Upgrade to v0.9.0
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#12607 [pcl] Fixes the type signature of function "entries" to return list of key-value pair objects
  changelog/pending/20230405--programgen-nodejs-python--fixes-the-type-signature-of-pcl-function-entries-to-return-list-of-key-value-pair-objects.yaml
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/pcl/functions.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/entries-function-pp/entries-function.pp
  pkg/codegen/testing/test/testdata/entries-function-pp/nodejs/entries-function.ts
  pkg/codegen/testing/test/testdata/entries-function-pp/python/entries-function.py
Labels: area/codegen

#12605 Pass PULUMI_CONFIG through to provider plugins
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/package.go
  pkg/cmd/pulumi/plugin.go
  pkg/cmd/pulumi/policy_new.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/up.go
  pkg/engine/deployment.go
  pkg/engine/query.go
  sdk/go/common/resource/plugin/context.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/provider_plugin.go
  tests/integration/dynamic/nodejs-pulumi-config/Pulumi.yaml
  tests/integration/dynamic/nodejs-pulumi-config/index.ts
  tests/integration/dynamic/nodejs-pulumi-config/package.json
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#12610 freeze 3.61.1 in preparation for release.
  .version
Labels: impact/no-changelog-required

#12618 Bump version to 3.62.0
  .version
Labels: impact/no-changelog-required

#12620 Freeze 3.62.0
  .version
Labels: impact/no-changelog-required

#12630 update cli docs service -> clouds
  .github/PULL_REQUEST_TEMPLATE.md
  pkg/cmd/pulumi/console.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/logout.go
  pkg/cmd/pulumi/policy_disable.go
  pkg/cmd/pulumi/policy_enable.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/policy_rm.go
  pkg/cmd/pulumi/policy_validate.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_init_test.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_remote.go
Labels: impact/no-changelog-required

#12634 [sdk/nodejs] Upgrade json5
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#12635 doc(sdk/go): Clarify purpose of ResourceOptions, InvokeOptions
  sdk/go/pulumi/resource.go
Labels: impact/no-changelog-required

#12651 Create README.md for developer docs
  developer-docs/README.md
Labels: impact/no-changelog-required

#12663 Bump version to 3.63.0
  .version
Labels: impact/no-changelog-required

#12666 Freeze 3.63.0
  .version
Labels: impact/no-changelog-required

#12665 CONTRIBUTING: Require a supported version of Go
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#12674 Improve plugin install help text
  pkg/cmd/pulumi/plugin_install.go
Labels: impact/no-changelog-required

#12679 Don't require a Pulumi.yaml file from converter plugins
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#12680 Fix convert pcl copy
  pkg/util/afero/afero.go
Labels: impact/no-changelog-required

#12693 Remove the pulumi/templates `trigger-cron` step from the release
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#12698 Update pkg deps to ship Pulumi-Java v0.9.2
  pkg/go.mod
  pkg/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required, kind/engineering

#12702 Prepare to freeze code for release of v3.64.0
  .version
Labels: impact/no-changelog-required

#12703 Freeze 3.64.0
  .version
Labels: impact/no-changelog-required

#12708 Add some tests for the PluginMapper
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
  pkg/codegen/convert/mapper.go
  pkg/codegen/convert/plugin_mapper.go
  pkg/codegen/convert/plugin_mapper_test.go
Labels: impact/no-changelog-required

#12715 test(go/host): GetRequiredPlugins and GetProgramDependencies
  sdk/go/pulumi-language-go/main_test.go
  sdk/go/pulumi-language-go/testdata/sample/dep/go.mod
  sdk/go/pulumi-language-go/testdata/sample/dep/plug.go
  sdk/go/pulumi-language-go/testdata/sample/indirect-dep/go.mod
  sdk/go/pulumi-language-go/testdata/sample/indirect-dep/indirect.go
  sdk/go/pulumi-language-go/testdata/sample/plugin/go.mod
  sdk/go/pulumi-language-go/testdata/sample/plugin/plug.go
  sdk/go/pulumi-language-go/testdata/sample/plugin/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sample/prog/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/sample/prog/go.mod
  sdk/go/pulumi-language-go/testdata/sample/prog/main.go
Labels: impact/no-changelog-required

#12726 fix(go/host): Don't change working directory in test
  sdk/go/pulumi-language-go/main_test.go
Labels: impact/no-changelog-required

#12451 add rate limited url to http requests
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#12751 Prepare release v3.65.0
  .version
Labels: impact/no-changelog-required

#12718 Update Pulumi readme
  README.md
Labels: impact/no-changelog-required

#12732 fix(go/host): Use program directory
  changelog/pending/20230424--sdk-go--ensure-that-dependency-searches-happen-in-the-pulumi-program-directory.yaml
  sdk/go/pulumi-language-go/main.go
Labels: impact/no-changelog-required

#12755 fix(host/go): Use official modfile package
  sdk/go/pulumi-language-go/main.go
Labels: impact/no-changelog-required

#12752 Freeze v3.65.0
  .version
Labels: impact/no-changelog-required

#12762 Freeze v3.65.1
  .version
Labels: impact/no-changelog-required

#12758 Fix failure to load Pulumi.yaml when RelativeWorkDir provided.
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#12785 Fix missing \n in message
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required
