Repository pulumi/pulumi, pull requests merged in 2023-08, with the labels that each got.

#13641 bump version to v3.77.0
  .version
Labels: impact/no-changelog-required

#13649 test(codegen): Disable regress-11176
  pkg/codegen/testing/test/program_driver.go
Labels: impact/no-changelog-required

#13642 Freeze v3.77.0
  .version
Labels: impact/no-changelog-required

#13652 Revert "test(codegen): Disable regress-11176"
  pkg/codegen/testing/test/program_driver.go
Labels: impact/no-changelog-required

#13658 Freeze 3.77.1 for patch release.
  .version
Labels: impact/no-changelog-required

#13620 [dotnet/program-gen] Fixes code generation of ForExpressions
  changelog/pending/20230728--programgen-dotnet--fixes-code-generation-of-forexpressions-both-when-creating-a-list-or-a-dictionary.yaml
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/pcl/utilities.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/csharp-typed-for-expressions-pp/csharp-typed-for-expressions.pp
  pkg/codegen/testing/test/testdata/csharp-typed-for-expressions-pp/dotnet/csharp-typed-for-expressions.cs
  pkg/codegen/testing/test/testdata/entries-function-pp/dotnet/entries-function.cs
Labels: language/dotnet, area/codegen

#13630 [dotnet/program-gen] Fixes list initializer for plain lists in resource properties
  changelog/pending/20230731--programgen-dotnet--fixes-list-initializer-for-plain-lists-in-resource-properties.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/csharp-plain-lists-pp/csharp-plain-lists.pp
  pkg/codegen/testing/test/testdata/csharp-plain-lists-pp/dotnet/csharp-plain-lists.cs
Labels: language/dotnet, area/codegen

#13629 [nodejs/program-gen] Fixes parseProxyApply to handle nested outputs within index expressions
  changelog/pending/20230730--programgen-nodejs--fixes-parseproxyapply-to-handle-nested-outputs-within-index-expressions.yaml
  pkg/codegen/nodejs/gen_program_lower.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/regress-node-12507-pp/nodejs/regress-node-12507.ts
  pkg/codegen/testing/test/testdata/regress-node-12507-pp/regress-node-12507.pp
Labels: language/javascript, area/codegen

#13655 Don't dispatch the smoke-test-cli workflow to pulumi/examples on release
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#13672 Support localDependencies in the NodeJS codegen
  pkg/codegen/nodejs/gen_program.go
Labels: impact/no-changelog-required

#13693 Update .version to 3.78.1 to lock for release
  .version
Labels: impact/no-changelog-required

#13702 Remove ibm from pulumiverse list
  pkg/util/plugin.go
Labels: impact/no-changelog-required

#13710 ci/goteststats: Update repository location
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#13681 ci: Preliminary support for GitHub merge queues
  .github/workflows/on-merge.yml
  .github/workflows/on-pr.yml
  changelog/pending/20230809--ci--adds-support-for-githubs-native-merge-queues.yaml
Labels: ci/test

#13718 Update .version to 3.78.2 to lock for release
  .version
Labels: impact/no-changelog-required

#13703 Fix inconsistent names of supporting types in docs
  .github/workflows/ci-test-docs-generation.yml
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/templates/resource.tmpl
  pkg/codegen/testing/test/testdata/azure-native-nested-types/docs/documentdb/sqlresourcesqlcontainer/_index.md
  pkg/codegen/testing/test/testdata/dash-named-schema/docs/submodule1/moduleresource/_index.md
  pkg/codegen/testing/test/testdata/dashed-import-schema/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/dashed-import-schema/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/different-enum/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/different-enum/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/embedded-crd-types/docs/component/_index.md
  pkg/codegen/testing/test/testdata/enum-reference/docs/myModule/iamresource/_index.md
  pkg/codegen/testing/test/testdata/enum-reference/docs/replicatedbucket/_index.md
  pkg/codegen/testing/test/testdata/external-enum/docs/component/_index.md
  pkg/codegen/testing/test/testdata/external-resource-schema/docs/cat/_index.md
  pkg/codegen/testing/test/testdata/external-resource-schema/docs/component/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/overlayresource/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/typeuses/_index.md
  pkg/codegen/testing/test/testdata/plain-and-default/docs/moduleresource/_index.md
  pkg/codegen/testing/test/testdata/plain-object-defaults/docs/foo/_index.md
  pkg/codegen/testing/test/testdata/plain-object-defaults/docs/moduletest/_index.md
  pkg/codegen/testing/test/testdata/plain-object-defaults/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/docs/foo/_index.md
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/docs/moduletest/_index.md
  pkg/codegen/testing/test/testdata/plain-object-disable-defaults/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/plain-schema-gh6957/docs/staticpage/_index.md
  pkg/codegen/testing/test/testdata/provider-config-schema/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/cat/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/norecursive/_index.md
  pkg/codegen/testing/test/testdata/replace-on-change/docs/toystore/_index.md
  pkg/codegen/testing/test/testdata/resource-args-python-case-insensitive/docs/person/_index.md
  pkg/codegen/testing/test/testdata/resource-args-python/docs/person/_index.md
  pkg/codegen/testing/test/testdata/secrets/docs/resource/_index.md
  pkg/codegen/testing/test/testdata/simple-enum-schema/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/simple-enum-schema/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/simple-methods-schema/docs/foo/_index.md
  pkg/codegen/testing/test/testdata/simple-plain-schema-with-root-package/docs/component/_index.md
  pkg/codegen/testing/test/testdata/simple-plain-schema/docs/component/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/overlayresource/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/typeuses/_index.md
  pkg/codegen/testing/test/testdata/simple-yaml-schema/docs/typeuses/_index.md
Labels: impact/no-changelog-required

#13715 ci: Remove Bors
  .github/workflows/ci-lint.yml
  .github/workflows/on-merge.yml
  .github/workflows/on-pr-target.yml
  .github/workflows/on-pr.yml
  .github/workflows/release-pr.yml
  bors.toml
Labels: impact/no-changelog-required

#13716 ci: Remove linear history check
  .github/workflows/on-pr-target.yml
  scripts/git-linear-history-check.sh
Labels: impact/no-changelog-required

#13742 ci: Test with Go 1.20, 1.21
  CONTRIBUTING.md
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#13744 ci: No-op to test merge queue
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#13748 ci: Always report a ci-ok status on merge
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#13750 ci: Fix ci-ok check on merge
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#13749 [go/sdk-gen] Implement option to override the name of the generated internal module
  changelog/pending/20230821--sdkgen-go--implement-option-to-override-the-name-of-the-generated-internal-utilities-module.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/go/importer.go
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/argFunction.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/barResource.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/doc.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/fooResource.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/init.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/otherResource.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/provider.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/pulumiTypes.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/resource.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/typeUses.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/utilities/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/go/example/utilities/pulumiVersion.go
  pkg/codegen/testing/test/testdata/go-overridden-internal-module-name/schema.json
Labels: language/go, area/codegen

#13753 Unskip azure-native-pp generation for go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/azure-native-pp/go/azure-native.go
Labels: impact/no-changelog-required

#13759 [sdk/python] Update grpc-io from 1.56.0 to 1.56.2
  changelog/pending/20230823--sdk-python--update-grpc-io-from-1-56-0-to-1-56-2.yaml
  sdk/python/lib/setup.py
Labels: area/sdks, language/python

#13772 chore(cmdutil): Rename build-tagged files
  sdk/go/common/util/cmdutil/child_unix.go
  sdk/go/common/util/cmdutil/child_windows.go
Labels: impact/no-changelog-required

#13770 [sdk/nodejs] closure serializtion, lookup package.json from current directory up to parent directories
  changelog/pending/20230824--sdk-nodejs--when-using-closure-serializtion-lookup-package-json-up-from-current-working-directory-up-to-parent-directories-recursively.yaml
  sdk/nodejs/runtime/closure/codePaths.ts
Labels: area/sdks, language/javascript

#13783 Bump CLI version 3.79.0
  .version
Labels: impact/no-changelog-required

#13780 Split newStackChangeSecretsProviderCmd into command struct
  pkg/cmd/pulumi/stack_change_secrets_provider.go
Labels: impact/no-changelog-required

#13785 ci: Report ci-ok on version bumps
  .github/workflows/on-pr-default.yml
Labels: impact/no-changelog-required

#13787 Freeze 3.79.0
  .version
Labels: impact/no-changelog-required

#13788 ci: Report ci-ok on version bumps, take two
  .github/workflows/on-pr-default.yml
Labels: impact/no-changelog-required

#13793 ci(release-pr): gh pr create needs a body
  .github/workflows/release-pr.yml
Labels: impact/no-changelog-required

#13768 sdk/go/pulumix: Rename Cast to ConvertTyped
  sdk/go/pulumix/types.go
  sdk/go/pulumix/types_ext_test.go
Labels: impact/no-changelog-required

#13769 sdk/go/pulumix: Rename SpecializeOutput to Cast
  sdk/go/pulumix/array.go
  sdk/go/pulumix/array_test.go
  sdk/go/pulumix/context_test.go
  sdk/go/pulumix/map.go
  sdk/go/pulumix/map_test.go
  sdk/go/pulumix/ptr.go
  sdk/go/pulumix/ptr_test.go
  sdk/go/pulumix/types.go
Labels: impact/no-changelog-required

#13804 Support bailing from RunFunc
  pkg/cmd/pulumi/cancel.go
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/env.go
  pkg/cmd/pulumi/policy_rm.go
  pkg/cmd/pulumi/stack_rm.go
  sdk/go/common/util/cmdutil/exit.go
  sdk/go/common/util/cmdutil/exit_test.go
  sdk/go/common/util/result/result.go
  sdk/go/common/util/result/result_test.go
Labels: impact/no-changelog-required

#13811 Replace Bail result with BailError
  pkg/backend/apply.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/state_delete.go
  pkg/cmd/pulumi/state_rename.go
  pkg/cmd/pulumi/state_unprotect.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#13827 bump to v3.80.1 to freeze v3.80.0 for release.
  .version
Labels: impact/no-changelog-required

#13817 [workspace] Minor simplification for config merge
  sdk/go/common/workspace/config.go
Labels: impact/no-changelog-required

#13791 Add tests for stackChangeSecretsProviderCmd
  pkg/backend/filestate/backend_test.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_change_secrets_provider_test.go
  pkg/secrets/passphrase/manager.go
Labels: impact/no-changelog-required

#13834 docs: make variable declaration more consistency
  README.md
Labels: impact/no-changelog-required

#13819 Make language-python it's own module
  .github/workflows/ci.yml
  .goreleaser.yml
  Makefile
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/package_gen_sdk.go
  scripts/go-test.py
  scripts/go-wrapper.sh
  sdk/go/common/resource/plugin/diagnostic.go
  sdk/go/pulumi-language-go/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#13845 Revert "bump to v3.80.1 to freeze v3.80.0 for release."
  .version
Labels: impact/no-changelog-required

#13851 make(sdk/py): Fix install, dist, test_go, brew
  sdk/python/Makefile
Labels: impact/no-changelog-required

#13853 make(sdk/go): Use -C instead of cd for 'go' commands
  sdk/go/Makefile
Labels: impact/no-changelog-required
