Repository pulumi/pulumi, pull requests merged in 2023-11, with the labels that each got.

#14468 Make import error a bit more clear
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/import_test.go
Labels: impact/no-changelog-required

#14477 Update .version for 3.92.0
  .version
Labels: impact/no-changelog-required

#14481 Freeze v3.92.0
  .version
Labels: impact/no-changelog-required

#14485 Unfreeze v3.92.0
  .version
Labels: impact/no-changelog-required

#14484 [go/program-gen] Fix using inline invoke expressions inside resources, objects and arrays
  changelog/pending/20231102--programgen-go--fix-using-inline-invoke-expressions-inside-resources-objects-and-arrays.yaml
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_inline_invoke.go
  pkg/codegen/go/gen_program_test.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/inline-invokes-pp/dotnet/inline-invokes.cs
  pkg/codegen/testing/test/testdata/inline-invokes-pp/go/inline-invokes.go
  pkg/codegen/testing/test/testdata/inline-invokes-pp/inline-invokes.pp
  pkg/codegen/testing/test/testdata/inline-invokes-pp/nodejs/inline-invokes.ts
  pkg/codegen/testing/test/testdata/inline-invokes-pp/python/inline-invokes.py
Labels: language/go, area/codegen

#14488 Freeze v3.92.0
  .version
Labels: impact/no-changelog-required

#14517 Prepare for v3.93.0 release
  .version
Labels: impact/no-changelog-required

#14520 Freeze v3.93.0
  .version
Labels: impact/no-changelog-required

#14424 Fix recursive fixups in JavaScript protobuf generation
  proto/.checksum.txt
  proto/generate.sh
  sdk/nodejs/proto/alias_pb.js
  sdk/nodejs/proto/analyzer_pb.js
  sdk/nodejs/proto/codegen/hcl_pb.js
  sdk/nodejs/proto/codegen/loader_grpc_pb.js
  sdk/nodejs/proto/codegen/loader_pb.js
  sdk/nodejs/proto/codegen/mapper_grpc_pb.js
  sdk/nodejs/proto/codegen/mapper_pb.js
  sdk/nodejs/proto/converter_pb.js
  sdk/nodejs/proto/engine_pb.js
  sdk/nodejs/proto/errors_pb.js
  sdk/nodejs/proto/language_pb.js
  sdk/nodejs/proto/plugin_pb.js
  sdk/nodejs/proto/provider_pb.js
  sdk/nodejs/proto/resource_pb.js
  sdk/nodejs/proto/source_pb.js
  sdk/nodejs/proto/testing/language_grpc_pb.js
  sdk/nodejs/proto/testing/language_pb.js
Labels: impact/no-changelog-required

#14534 [resource] Add a generic NewProperty function
  sdk/go/common/resource/properties.go
  sdk/go/common/resource/properties_diff_test.go
  sdk/go/common/resource/properties_path_test.go
  sdk/go/common/resource/properties_test.go
Labels: impact/no-changelog-required

#14538 Replace PropertyValue type casts with method calls
  pkg/backend/backend_test.go
  pkg/codegen/testing/test/testdata/output-funcs-tfbridge20/go-extras/tests/codegen_test.go
  pkg/codegen/testing/test/testdata/output-funcs/go-extras/tests/codegen_test.go
  pkg/codegen/testing/test/testdata/plain-object-defaults/go-extras/tests/codegen_test.go
  pkg/importer/hcl2_test.go
Labels: impact/no-changelog-required

#14556 Prepare v3.94.0 release
  .version
Labels: impact/no-changelog-required

#14557 [cli] Colorize table headers
  pkg/cmd/pulumi/about_env.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/plugin_ls.go
  pkg/cmd/pulumi/policy_group_ls.go
  pkg/cmd/pulumi/policy_ls.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_ls.go
  pkg/cmd/pulumi/stack_tag.go
  pkg/cmd/pulumi/util.go
  sdk/go/common/util/cmdutil/console.go
Labels: impact/no-changelog-required

#14559 Freeze v3.94.0
  .version
Labels: impact/no-changelog-required

#14487 Add tokens.StackName
  pkg/backend/backend.go
  pkg/backend/display/display.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/store.go
  pkg/backend/filestate/store_test.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/api.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/httpstate/snapshot_test.go
  pkg/backend/httpstate/stack.go
  pkg/backend/httpstate/state.go
  pkg/backend/mock.go
  pkg/cmd/pulumi/cancel.go
  pkg/cmd/pulumi/config_test.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/import_test.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/replay_events.go
  pkg/cmd/pulumi/stack_change_secrets_provider_test.go
  pkg/cmd/pulumi/stack_ls_test.go
  pkg/cmd/pulumi/state_upgrade.go
  pkg/cmd/pulumi/state_upgrade_test.go
  pkg/engine/deployment_test.go
  pkg/engine/lifecycletest/test_plan.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/source_query.go
  pkg/resource/deploy/step_generator_test.go
  pkg/resource/deploy/target.go
  pkg/resource/edit/operations.go
  pkg/resource/edit/operations_test.go
  pkg/secrets/service/manager.go
  pkg/util/validation/stack.go
  pkg/util/validation/stack_test.go
  sdk/go/common/env/env.go
  sdk/go/common/tokens/stack_name.go
  sdk/go/common/tokens/stack_name_test.go
  sdk/go/common/util/env/env.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#14575 Run dotnet tests on 8
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#14552 Add a strict opinionated promise library
  pkg/backend/httpstate/diffs.go
  pkg/engine/lifecycletest/test_plan.go
  sdk/go/common/promise/promise.go
  sdk/go/common/promise/promise_test.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_plugin_test.go
Labels: impact/no-changelog-required

#14581 Update test matrix to run on Python 3.8.x
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#14589 Don't use callerCtx for cancellation in runWithContext
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/test_plan.go
Labels: impact/no-changelog-required

#14583 Freeze v3.94.1
  .version
Labels: impact/no-changelog-required

#14562 [config] Clean up toDecryptedPropertyValue
  pkg/resource/deploy/source_eval.go
  sdk/go/common/resource/config/map.go
  sdk/go/common/resource/config/map_test.go
  sdk/go/common/resource/config/object.go
  sdk/go/common/resource/config/object_test.go
  sdk/go/common/resource/config/plaintext.go
Labels: impact/no-changelog-required

#14590 Make `engine.NewEvent` type safe
  pkg/backend/apply_test.go
  pkg/backend/cancellation_scope.go
  pkg/backend/display/diff_test.go
  pkg/backend/display/events.go
  pkg/backend/display/events_test.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/backend/httpstate/backend.go
  pkg/cmd/pulumi/replay_events.go
  pkg/engine/destroy.go
  pkg/engine/events.go
  pkg/engine/import.go
  pkg/engine/query.go
  pkg/engine/refresh.go
  pkg/engine/update.go
Labels: impact/no-changelog-required

#14591 Update esc to v0.6.0
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#14602 Extend unknown providers test to cover Call and Invoke
  pkg/engine/lifecycletest/pulumi_test.go
Labels: impact/no-changelog-required

#14606 Freeze 3.94.2
  .version
Labels: impact/no-changelog-required

#14585 [sdk-gen] Add test case for schemas with assets and archives
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/assets-and-archives/docs/_index.md
  pkg/codegen/testing/test/testdata/assets-and-archives/docs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/assets-and-archives/docs/getassets/_index.md
  pkg/codegen/testing/test/testdata/assets-and-archives/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/assets-and-archives/docs/resourcewithassets/_index.md
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/GetAssets.cs
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/Inputs/TypeWithAssetsArgs.cs
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/Outputs/TypeWithAssets.cs
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/Provider.cs
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/README.md
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/ResourceWithAssets.cs
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/Utilities.cs
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/codegen-manifest.json
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/logo.png
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/assets-and-archives/dotnet/version.txt
  pkg/codegen/testing/test/testdata/assets-and-archives/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/doc.go
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/getAssets.go
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/init.go
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/internal/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/internal/pulumiVersion.go
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/provider.go
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/pulumiTypes.go
  pkg/codegen/testing/test/testdata/assets-and-archives/go/example/resourceWithAssets.go
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/README.md
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/getAssets.ts
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/index.ts
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/package.json
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/provider.ts
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/resourceWithAssets.ts
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/tsconfig.json
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/types/index.ts
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/types/input.ts
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/types/output.ts
  pkg/codegen/testing/test/testdata/assets-and-archives/nodejs/utilities.ts
  pkg/codegen/testing/test/testdata/assets-and-archives/python/codegen-manifest.json
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/README.md
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/__init__.py
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/_inputs.py
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/_utilities.py
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/get_assets.py
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/outputs.py
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/provider.py
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/py.typed
  pkg/codegen/testing/test/testdata/assets-and-archives/python/pulumi_example/resource_with_assets.py
  pkg/codegen/testing/test/testdata/assets-and-archives/python/setup.py
  pkg/codegen/testing/test/testdata/assets-and-archives/schema.json
Labels: impact/no-changelog-required, area/codegen

#14607 Send all events to the engine event stream
  pkg/backend/apply.go
  pkg/backend/display/display.go
  pkg/engine/events.go
  pkg/engine/lifecycletest/alias_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/update.go
  sdk/go/common/channel/channel.go
  sdk/go/common/channel/channel_test.go
Labels: impact/no-changelog-required

#14616 [go/sdk-gen] Fixes plain and optional properties for generated types for Go SDKs using generics
  changelog/pending/20231118--sdkgen-go--fixes-plain-and-optional-properties-for-generated-types-for-go-sdks-using-generics.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/doc.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/getAssets.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/init.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/internal/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/internal/pulumiVersion.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/provider.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/pulumiTypes.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/go/example/resourceWithAssets.go
  pkg/codegen/testing/test/testdata/assets-and-archives-go-generics-only/schema.json
  pkg/codegen/testing/test/testdata/output-funcs-go-generics-only/go/mypkg/pulumiTypes.go
  pkg/codegen/testing/test/testdata/output-funcs/go/mypkg/x/pulumiTypes.go
  pkg/codegen/testing/test/testdata/simple-plain-schema-go-generics-only/go/example/pulumiTypes.go
  pkg/codegen/testing/test/testdata/simple-plain-schema/go/example/x/pulumiTypes.go
Labels: language/go, area/codegen

#14628 [esc] Add commands for managing stack environments
  changelog/pending/20231121--cli-config--add-commands-for-managing-stack-environments.yaml
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/config_env.go
  pkg/cmd/pulumi/config_env_add.go
  pkg/cmd/pulumi/config_env_add_test.go
  pkg/cmd/pulumi/config_env_rm.go
  pkg/cmd/pulumi/config_env_rm_test.go
  pkg/cmd/pulumi/config_env_test.go
  pkg/cmd/pulumi/util.go
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/workspace/loaders.go
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/project_test.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: area/esc

#14634 [esc] Add a command to create an ESC env from stack config
  changelog/pending/20231122--cli-config--add-a-command-to-create-an-esc-environment-from-stack-config.yaml
  pkg/backend/backend.go
  pkg/backend/mock.go
  pkg/cmd/pulumi/config_env.go
  pkg/cmd/pulumi/config_env_init.go
  pkg/cmd/pulumi/config_env_init_test.go
  pkg/cmd/pulumi/config_env_test.go
  pkg/go.mod
Labels: area/esc

#14638 Try a direct build once a day
  .github/workflows/cron-direct-build.yml
Labels: impact/no-changelog-required

#14639 GenerateHCL2Definition should respect logical names
  pkg/importer/hcl2.go
  pkg/importer/hcl2_test.go
  pkg/importer/testdata/cases.json
Labels: impact/no-changelog-required

#14656 Fix test-language to not use the default loader for binding
  cmd/pulumi-test-language/interface.go
Labels: impact/no-changelog-required

#14644 Fix some lint issues in plugins_install_test.go
  sdk/go/common/workspace/plugins_install_test.go
Labels: impact/no-changelog-required

#14582 [ci] Add downstream codegen tests back
  .github/workflows/on-pr-close.yml
  .github/workflows/pr-test-codegen-downstream.yml
Labels: impact/no-changelog-required

#14663 Fix some more lint issues
  tests/integration/double_pending_delete/double_pending_delete_test.go
  tests/integration/integration_go_acceptance_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_acceptance_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_acceptance_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
  tests/integration/partial_state/partial_state_test.go
  tests/integration/protect_resources/protect_test.go
  tests/integration/steps/steps_test.go
Labels: impact/no-changelog-required

#14669 Add tests to catch Python codegen regressions.
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/regress-py-14539/python-extras/tests/test_codegen.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/codegen-manifest.json
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/README.md
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/__init__.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/_utilities.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/__init__.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/instance/__init__.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/instance/instance.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/instancebootdisk/__init__.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/instancebootdisk/_inputs.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/instancebootdisk/outputs.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/instancebootdiskinitializeparams/__init__.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/instancebootdiskinitializeparams/_inputs.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/compute/instancebootdiskinitializeparams/outputs.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/provider.py
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pulumi_gcp/py.typed
  pkg/codegen/testing/test/testdata/regress-py-14539/python/pyproject.toml
  pkg/codegen/testing/test/testdata/regress-py-14539/schema.json
Labels: impact/no-changelog-required

#14677 Add Zaid's arm converter to the known plugins
  pkg/util/plugin.go
Labels: impact/no-changelog-required

#14679 [sdk-gen/go] Generate non-plain type variants for types used as inputs inside unions
  changelog/pending/20231128--sdkgen-go--generate-non-plain-type-variants-for-types-used-as-inputs-inside-unions.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/different-enum/go/plant/pulumiEnums.go
  pkg/codegen/testing/test/testdata/different-enum/go/plant/tree/v1/pulumiEnums.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/docs/_index.md
  pkg/codegen/testing/test/testdata/unions-inside-arrays/docs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/docs/exampleserver/_index.md
  pkg/codegen/testing/test/testdata/unions-inside-arrays/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/ExampleServer.cs
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/Inputs/ServerPropertiesForReplicaArgs.cs
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/Inputs/ServerPropertiesForRestoreArgs.cs
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/Provider.cs
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/README.md
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/Utilities.cs
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/logo.png
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/dotnet/version.txt
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/doc.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/exampleServer.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/init.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/internal/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/internal/pulumiVersion.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/provider.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/pulumiTypes.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/x/doc.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/x/exampleServer.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/x/init.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/x/provider.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/go/example/x/pulumiTypes.go
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/README.md
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/exampleServer.ts
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/index.ts
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/package.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/provider.ts
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/tsconfig.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/types/index.ts
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/types/input.ts
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/types/output.ts
  pkg/codegen/testing/test/testdata/unions-inside-arrays/nodejs/utilities.ts
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/pulumi_example/README.md
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/pulumi_example/__init__.py
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/pulumi_example/_inputs.py
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/pulumi_example/_utilities.py
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/pulumi_example/example_server.py
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/pulumi_example/provider.py
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/pulumi_example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/pulumi_example/py.typed
  pkg/codegen/testing/test/testdata/unions-inside-arrays/python/setup.py
  pkg/codegen/testing/test/testdata/unions-inside-arrays/schema.json
Labels: language/go, area/codegen

#14686 Add clarifying text for `pulumi stack` command
  pkg/cmd/pulumi/stack.go
Labels: impact/no-changelog-required

#14308 feat: Add support for language specific settings for resources
  changelog/pending/20231022--sdkgen-dotnet--added-support-for-language-specific-settings-for-resources-and-support-for-overriding-resource-name-in-dotnet-codegen.yaml
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/importer.go
  pkg/codegen/schema/schema_test.go
Labels: needs-triage

#14696 Prepare for v3.95.0 release
  .version
Labels: impact/no-changelog-required

#14701 Reimport appdash from our mirror
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/cmd/pulumi/convert-trace.go
  pkg/cmd/pulumi/view-trace.go
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/util/cmdutil/trace.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/appdash_test.go
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required
