Repository pulumi/pulumi, pull requests merged in 2023-12, with the labels that each got.

#14681 [testing] Add integration tests for regressions in property name parsing
  tests/integration/valid-property-names/step1/.gitignore
  tests/integration/valid-property-names/step1/Pulumi.yaml
  tests/integration/valid-property-names/step1/index.ts
  tests/integration/valid-property-names/step1/package.json
  tests/integration/valid-property-names/step1/resource.ts
  tests/integration/valid-property-names/step2/index.ts
  tests/integration/valid-property-names/steps_test.go
Labels: impact/no-changelog-required

#14713 Skip TestFailsOnImplicitDependencyCyclesPython
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#14689 [schema] Fix package get-schema marking resource properties as plain
  pkg/codegen/schema/schema.go
  pkg/codegen/schema/schema_test.go
  pkg/codegen/testing/test/testdata/plain-properties-1.0.0.json
Labels: impact/no-changelog-required

#14706 [ci] improve test logging on retries
  scripts/retry
Labels: impact/no-changelog-required

#14688 Fix remaining lint issues
  .golangci.yml
  tests/integration/aliases/aliases_go_test.go
  tests/integration/aliases/aliases_nodejs_test.go
  tests/integration/aliases/aliases_py_test.go
  tests/integration/delete_before_create/delete_before_create_test.go
  tests/integration/dependency_steps/dependency_steps_test.go
  tests/integration/double_pending_delete/double_pending_delete_test.go
  tests/integration/duplicate_urns/duplicate_urns_test.go
  tests/integration/integration_go_acceptance_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_acceptance_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_acceptance_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_util_test.go
  tests/integration/partial_state/partial_state_test.go
  tests/integration/protect_resources/protect_test.go
  tests/integration/query/query_test.go
  tests/integration/read/import_acquire/import_acquire_test.go
  tests/integration/read/read_dbr/read_dbr_test.go
  tests/integration/read/read_relinquish/read_relinquish_test.go
  tests/integration/read/read_replace/read_dbr_test.go
  tests/integration/recreate_resource_check/resource_recreate_check_test.go
  tests/integration/steps/steps_test.go
  tests/integration/transformations/transformations_nodejs_test.go
  tests/integration/transformations/transformations_py_test.go
  tests/integration/types/types_test.go
Labels: impact/no-changelog-required

#14724 Replace ResourceSet with a generic set type
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/cmd/pulumi/destroy.go
  pkg/go.mod
  pkg/go.sum
  pkg/resource/deploy/step_generator.go
  pkg/resource/graph/dependency_graph.go
  pkg/resource/graph/dependency_graph_rapid_test.go
  pkg/resource/graph/dependency_graph_test.go
  pkg/resource/graph/resource_set.go
  pkg/resource/graph/resource_set_test.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#14667 [ci] Consolidate CodeCov Upload
  .github/workflows/ci-run-test.yml
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#14714 Check qualified type for root stackness
  pkg/backend/display/display.go
  pkg/backend/display/object_diff.go
  pkg/cmd/pulumi/stack.go
  pkg/importer/hcl2.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/snapshot.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/edit/operations.go
  pkg/resource/stack/checkpoint.go
  pkg/testing/integration/program.go
  sdk/go/pulumi/mocks.go
Labels: impact/no-changelog-required

#14742 [ProgramTest] Fix for PostPrepareProject option
  pkg/testing/integration/program.go
Labels: kind/bug, impact/no-changelog-required

#14744 [sdk-gen/go] Fix generating input collection types when used from an array of map of enums
  changelog/pending/20231204--sdkgen-go--fix-generating-input-collection-types-for-enums-when-used-from-an-array-of-map-of-enums.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/doc.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/exampleServer.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/init.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/internal/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/internal/pulumiVersion.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/provider.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/pulumiEnums.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/pulumiTypes.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/schema.json
Labels: language/go, area/codegen

#14726 Update go.mod for pulumi/appdash
  sdk/go.mod
  sdk/go.sum
  tests/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required

#14766 chore: Fix staticcheck failures
  tests/stack_test.go
Labels: impact/no-changelog-required

#14767 [ci] Python ProgramTests no longer re-use the same virtualenv.
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#14772 Prepare for v3.96.0 release
  .version
Labels: impact/no-changelog-required

#14787 Freeze v3.96.1
  .version
Labels: impact/no-changelog-required

#14792 Unskip test
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
Labels: impact/no-changelog-required

#14737 Use EqualError/ErrorContains instead of Error
  sdk/go/auto/errors_test.go
  sdk/go/auto/git_test.go
  sdk/go/auto/local_workspace_test.go
  sdk/go/common/resource/asset_test.go
  sdk/go/common/resource/config/key_test.go
  sdk/go/common/resource/config/map_test.go
  sdk/go/common/resource/plugin/provider_plugin_test.go
  sdk/go/common/resource/plugin/rpc_test.go
  sdk/go/common/resource/resource_id_test.go
  sdk/go/common/util/cmdutil/exit_test.go
  sdk/go/common/util/gitutil/git_test.go
  sdk/go/common/util/goversion/version_test.go
  sdk/go/common/util/mapper/mapper_test.go
  sdk/go/common/workspace/paths_test.go
  sdk/go/common/workspace/plugins_install_test.go
  sdk/go/common/workspace/plugins_test.go
  sdk/go/common/workspace/project_test.go
  sdk/go/common/workspace/templates_test.go
  sdk/go/common/workspace/templates_zip_test.go
  sdk/go/internal/types_test.go
  sdk/go/pulumi-language-go/main_test.go
  sdk/go/pulumi/config/config_test.go
  sdk/go/pulumi/internals/outputs_test.go
  sdk/go/pulumi/rpc_test.go
  sdk/go/pulumi/stack_reference_test.go
  sdk/go/pulumi/types_test.go
  sdk/go/pulumix/types_ext_test.go
  sdk/python/cmd/pulumi-language-python/main_test.go
Labels: impact/no-changelog-required

#14723 Just call plugin install directly in tests
  tests/smoke_test.go
Labels: impact/no-changelog-required

#14721 Lock in the plugin mapper
  pkg/codegen/convert/plugin_mapper.go
Labels: impact/no-changelog-required

#14805 Freeze v3.96.2
  .version
Labels: impact/no-changelog-required

#14798 [ci] Fix Run @actions/setup-go flake
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#14777 [test] fix `TestCreatingProjectWithEmptyConfig` flakiness
  pkg/cmd/pulumi/new_acceptance_test.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/stack_change_secrets_provider_test.go
  pkg/cmd/pulumi/stack_ls_test.go
Labels: impact/no-changelog-required

#14654 Pass root and main info to language host methods
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/install.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/policy_new.go
  pkg/cmd/pulumi/up.go
  pkg/resource/deploy/deploytest/languageruntime.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi-language-go/main_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main_test.go
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
  sdk/proto/go/language.pb.go
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
  sdk/python/lib/test/langhost/empty/test_empty.py
  sdk/python/lib/test/langhost/util.py
Labels: impact/no-changelog-required

#14771 [test] increase code coverage of `pkg/resource/deploy`
  pkg/engine/lifecycletest/source_query_test.go
  pkg/engine/lifecycletest/step_generator_test.go
  pkg/engine/lifecycletest/test_plan.go
Labels: impact/no-changelog-required

#14636 replace deprecated option with non-deprecated one
  .github/workflows/ci-build-binaries.yml
Labels: impact/no-changelog-required

#14673 [sdk-gen] Add test schema for inline union definitions
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/unions-inline/docs/_index.md
  pkg/codegen/testing/test/testdata/unions-inline/docs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inline/docs/exampleserver/_index.md
  pkg/codegen/testing/test/testdata/unions-inline/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/ExampleServer.cs
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/Inputs/ServerPropertiesForReplicaArgs.cs
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/Inputs/ServerPropertiesForRestoreArgs.cs
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/Provider.cs
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/Pulumi.Example.csproj
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/README.md
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/Utilities.cs
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/logo.png
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/unions-inline/dotnet/version.txt
  pkg/codegen/testing/test/testdata/unions-inline/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inline/go/example/doc.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/exampleServer.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/init.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/internal/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/internal/pulumiVersion.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/provider.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/unions-inline/go/example/pulumiTypes.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/x/doc.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/x/exampleServer.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/x/init.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/x/provider.go
  pkg/codegen/testing/test/testdata/unions-inline/go/example/x/pulumiTypes.go
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/README.md
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/exampleServer.ts
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/index.ts
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/package.json
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/provider.ts
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/tsconfig.json
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/types/index.ts
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/types/input.ts
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/types/output.ts
  pkg/codegen/testing/test/testdata/unions-inline/nodejs/utilities.ts
  pkg/codegen/testing/test/testdata/unions-inline/python/codegen-manifest.json
  pkg/codegen/testing/test/testdata/unions-inline/python/pulumi_example/README.md
  pkg/codegen/testing/test/testdata/unions-inline/python/pulumi_example/__init__.py
  pkg/codegen/testing/test/testdata/unions-inline/python/pulumi_example/_inputs.py
  pkg/codegen/testing/test/testdata/unions-inline/python/pulumi_example/_utilities.py
  pkg/codegen/testing/test/testdata/unions-inline/python/pulumi_example/example_server.py
  pkg/codegen/testing/test/testdata/unions-inline/python/pulumi_example/provider.py
  pkg/codegen/testing/test/testdata/unions-inline/python/pulumi_example/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/unions-inline/python/pulumi_example/py.typed
  pkg/codegen/testing/test/testdata/unions-inline/python/setup.py
  pkg/codegen/testing/test/testdata/unions-inline/schema.json
Labels: impact/no-changelog-required, area/codegen

#14760 Fix login help
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#14818 Add simple Go test with GOPROXY=direct
  .github/workflows/cron-direct-build.yml
Labels: impact/no-changelog-required

#14578 [go] Unit test for LanguageResources(...)
  pkg/codegen/go/gen_test.go
Labels: language/go, impact/no-changelog-required

#14827 use uuid instead of random number for test suffix
  sdk/nodejs/package.json
  sdk/nodejs/tests/automation/util.ts
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#14806 [ci] Re-enable code coverage and rebuild release binaries without coverage
  .github/workflows/ci-prepare-release.yml
  .github/workflows/ci.yml
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#14739 [sdk-gen/go] Fix generated usage documentation for enum input types
  changelog/pending/20231204--sdkgen-go--fix-generated-usage-documentation-for-enum-input-types.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/pulumiEnums.go
  pkg/codegen/testing/test/testdata/dashed-import-schema/go/plant-provider/pulumiEnums.go
  pkg/codegen/testing/test/testdata/dashed-import-schema/go/plant-provider/tree/v1/pulumiEnums.go
  pkg/codegen/testing/test/testdata/different-enum/go/plant/pulumiEnums.go
  pkg/codegen/testing/test/testdata/different-enum/go/plant/tree/v1/pulumiEnums.go
  pkg/codegen/testing/test/testdata/external-enum/go/example/local/pulumiEnums.go
  pkg/codegen/testing/test/testdata/naming-collisions/go/example/pulumiEnums.go
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/go/myedgeorder/pulumiEnums.go
  pkg/codegen/testing/test/testdata/plain-and-default/go/foo/pulumiEnums.go
  pkg/codegen/testing/test/testdata/provider-config-schema/go/configstation/pulumiEnums.go
  pkg/codegen/testing/test/testdata/regress-node-8110/go/my8110/pulumiEnums.go
  pkg/codegen/testing/test/testdata/simple-enum-schema/go/plant/pulumiEnums.go
  pkg/codegen/testing/test/testdata/simple-enum-schema/go/plant/tree/v1/pulumiEnums.go
  pkg/codegen/testing/test/testdata/simple-yaml-schema/go/example/pulumiEnums.go
Labels: language/go, area/codegen

#14835 Fix fmt.Errorf from 16d9f4c1670404c2cb2f15d2dd095f05dc8eec12
  sdk/go/common/resource/plugin/plugin.go
Labels: impact/no-changelog-required

#14830 Split up acceptance tests
  .github/workflows/ci.yml
  tests/integration/integration_go_acceptance_test.go
Labels: impact/no-changelog-required

#14844 increase the timeout for automation API tests
  sdk/nodejs/Makefile
Labels: impact/no-changelog-required

#14843 langhost test: retry if the langhost is unavailable
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
Labels: impact/no-changelog-required

#14640 create CI job to upload dev artifacts to S3
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-dev-release.yml
  .github/workflows/ci-prepare-release.yml
  .github/workflows/on-merge.yml
  .github/workflows/sign.yml
  .goreleaser.yml
Labels: impact/no-changelog-required

#14849 Update .version for 3.97
  .version
Labels: impact/no-changelog-required

#14850 Freeze .version for 3.97.0
  .version
Labels: impact/no-changelog-required

#14829 [program-gen] Fix duplicated import statements when instantiating a component multiple times
  changelog/pending/20231212--programgen-nodejs-python--fix-duplicated-import-statements-when-instantiating-a-component-multiple-times.yaml
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/testing/test/testdata/components-pp/components.pp
  pkg/codegen/testing/test/testdata/components-pp/dotnet/components.cs
  pkg/codegen/testing/test/testdata/components-pp/go/components.go
  pkg/codegen/testing/test/testdata/components-pp/nodejs/components.ts
  pkg/codegen/testing/test/testdata/components-pp/python/components.py
Labels: language/python, language/javascript, area/codegen

#14857 [program-gen] Fix generated utility functions for filebase64, filebase64sha256, sha1 and mimeType
  changelog/pending/20231214--programgen-dotnet-go-nodejs-python--fix-generated-utility-functions-for-filebase64-filebase64sha256-sha1-and-mimetype.yaml
  pkg/codegen/dotnet/utilities.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_utils.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/nodejs/gen_program_utils.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/testing/test/testdata/functions-pp/dotnet/functions.cs
  pkg/codegen/testing/test/testdata/functions-pp/functions.pp
  pkg/codegen/testing/test/testdata/functions-pp/go/functions.go
  pkg/codegen/testing/test/testdata/functions-pp/nodejs/functions.ts
  pkg/codegen/testing/test/testdata/functions-pp/python/functions.py
  pkg/codegen/testing/test/testdata/throw-not-implemented-pp/dotnet/throw-not-implemented.cs
Labels: area/codegen

#14815 on-merge: add steps to update the latest dev version
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#14862 do update-dev-version before ci-ok
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#14863 Replace some more uses of assert.Contains(err.Error()) with assert.ErrorContains
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/org_search_ai_test.go
  pkg/codegen/pcl/functions_test.go
  pkg/codegen/schema/schema_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  sdk/go/common/workspace/project_test.go
  tests/integration/integration_util_test.go
Labels: impact/no-changelog-required

#14859 [sdk-gen/go] Remove crd2pulumi dead code
  pkg/codegen/go/gen_crd2pulumi.go
Labels: impact/no-changelog-required

#14868 add the v prefix in the version in pulumi about back
  .github/workflows/ci-dev-release.yml
  .goreleaser.yml
Labels: impact/no-changelog-required

#14946 Prepare for v3.98.0
  .version
Labels: impact/no-changelog-required

#14947 Freeze v3.98.0
  .version
Labels: impact/no-changelog-required

#14870 fix goproxy environment variable in makefile
  build/common.mk
Labels: impact/no-changelog-required

#14856 Move nodejs feature checks to startup
  sdk/nodejs/log/index.ts
  sdk/nodejs/provider/server.ts
  sdk/nodejs/runtime/mocks.ts
  sdk/nodejs/runtime/resource.ts
  sdk/nodejs/runtime/rpc.ts
  sdk/nodejs/runtime/settings.ts
  sdk/nodejs/runtime/state.ts
  sdk/nodejs/tests/runtime/props.spec.ts
Labels: impact/no-changelog-required

#14831 [ci] `pkg/resource/deploy` coverage
  pkg/resource/deploy/builtins_test.go
  pkg/resource/deploy/deploytest/languageruntime_test.go
  pkg/resource/deploy/deploytest/pluginhost_test.go
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/deploytest/sink.go
  pkg/resource/deploy/manifest_test.go
  pkg/resource/deploy/plan_test.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/source_query_test.go
  pkg/resource/deploy/step_test.go
Labels: impact/no-changelog-required

#14867 strip the v prefix from the latest-dev-version file
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#14864 [program-gen/pcl] Avoid pretty printing large object graphs when encountering bind error in resource properties
  changelog/pending/20231216--programgen--avoid-pretty-printing-large-object-graphs-when-a-resource-property-doesnt-type-check-when-binding-pcl-programs.yaml
  pkg/codegen/hcl2/model/print_test.go
  pkg/codegen/pcl/binder_resource.go
Labels: area/codegen

#14964 ci-dev-release: remove extra quotes
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required

#14958 [program-gen/go] Fix required config variables of type bool and number
  changelog/pending/20231219--programgen-go--fix-required-config-variables-of-type-bool-and-number.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/config-variables-pp/config-variables.pp
  pkg/codegen/testing/test/testdata/config-variables-pp/dotnet/config-variables.cs
  pkg/codegen/testing/test/testdata/config-variables-pp/go/config-variables.go
  pkg/codegen/testing/test/testdata/config-variables-pp/nodejs/config-variables.ts
  pkg/codegen/testing/test/testdata/config-variables-pp/python/config-variables.py
Labels: area/codegen

#14965 Clean up uses of .Error()
  pkg/backend/errors.go
  pkg/backend/httpstate/client/client_test.go
  pkg/backend/httpstate/diffs.go
  pkg/backend/httpstate/diffs_post_1.20.go
  pkg/cmd/pulumi/errors.go
  pkg/cmd/pulumi/org_search.go
  pkg/cmd/pulumi/org_search_ai.go
  pkg/cmd/pulumi/package_extract_mapping.go
  pkg/cmd/pulumi/preview.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/pcl/binder.go
  pkg/codegen/python/gen.go
  pkg/engine/errors.go
  pkg/resource/analyzer/config_test.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/deploy/snapshot.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_query_test.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_executor.go
  pkg/resource/provider/main.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  pkg/secrets/passphrase/manager_test.go
  pkg/testing/integration/program.go
  pkg/util/rpcdebug/interceptors.go
  pkg/util/validation/stack_test.go
  pkg/workspace/plugin_test.go
  sdk/go/auto/errors.go
  sdk/go/common/util/result/result_test.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
  sdk/go/common/workspace/project_test.go
  sdk/go/common/workspace/templates.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi/config/require.go
  sdk/go/pulumi/context.go
  sdk/go/pulumi/generate/main.go
  sdk/go/pulumi/generate/templates/config-require.go.template
  sdk/go/pulumi/types_test.go
  sdk/nodejs/npm/npm.go
  sdk/nodejs/npm/yarn.go
  sdk/python/cmd/pulumi-language-python/main.go
  tests/integration/stack_reference/go/main.go
  tests/integration/stack_reference/go/step1/main.go
  tests/integration/stack_reference/go/step2/main.go
Labels: impact/no-changelog-required

#14966 avoid quotes in dev version number; take 2
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required

#14968 Prepare for v3.99.0 release
  .version
Labels: impact/no-changelog-required

#14974 Freeze v3.99.0
  .version
Labels: impact/no-changelog-required

#14971 [ci] `pkg/resource/deploy/deploytest/analyzer.go` coverage
  pkg/resource/deploy/deploytest/analyzer_test.go
Labels: impact/no-changelog-required

#14983 correct name of the output
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required

#14985 make sure to also upload zip files
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required

#13927 Rewrite filestate.RenameStack logic in terms of checkpoints
  pkg/backend/filestate/backend.go
  pkg/resource/edit/operations.go
  pkg/resource/edit/operations_test.go
Labels: impact/no-changelog-required

#14996 fix data race for mocked backendInstance
  pkg/cmd/pulumi/new_ai_test.go
Labels: impact/no-changelog-required

#14990 [go/program-gen] Add unit tests for argumentTypeName and go optional functions
  pkg/codegen/go/gen_program_expression_test.go
  pkg/codegen/go/gen_program_expressions.go
Labels: language/go, impact/no-changelog-required, area/codegen

#14955 [ci] `pkg/resource/deploy/source_query.go` coverage
  pkg/resource/deploy/source_query_test.go
Labels: impact/no-changelog-required

#14970 [ci] `pkg/resource/deploy/deploytest/provider.go` coverage
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/deploytest/provider_test.go
Labels: impact/no-changelog-required

#14981 [ci] `pkg/resource/deploy/target.go` coverage
  pkg/resource/deploy/target_test.go
Labels: impact/no-changelog-required

#14982 [ci] `pkg/resource/deploy/source_error.go` coverage
  pkg/resource/deploy/source_error_test.go
Labels: impact/no-changelog-required

#14979 [ci] `pkg/resource/deploy/source_eval.go` coverage
  pkg/resource/deploy/source_eval_test.go
Labels: impact/no-changelog-required

#14997 [ci] `pkg/resource/deploy/(step(_generator|_executor)?|import).go` coverage
  pkg/resource/deploy/import_test.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_executor_test.go
  pkg/resource/deploy/step_generator_test.go
  pkg/resource/deploy/step_test.go
Labels: impact/no-changelog-required

#15000 [program-gen/csharp,python] Allow object keys to be template expressions
  changelog/pending/20231223--programgen-dotnet-python--allow-object-keys-to-be-template-expressions-such-as-static-quoted-strings.yaml
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/dotnet/kubernetes-pod.cs
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/go/kubernetes-pod.go
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/kubernetes-pod.pp
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/nodejs/kubernetes-pod.ts
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/python/kubernetes-pod.py
Labels: language/python, language/dotnet, area/codegen

#15001 [program-gen/pcl] Fixes type-annotating nested resource properties when these have quoted keys
  changelog/pending/20231225--programgen--fixes-type-annotating-nested-resource-properties-when-these-have-quoted-keys.yaml
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/testdata/kubernetes-template-quoted-pp/dotnet/kubernetes-template-quoted.cs
  pkg/codegen/testing/test/testdata/kubernetes-template-quoted-pp/go/kubernetes-template-quoted.go
  pkg/codegen/testing/test/testdata/kubernetes-template-quoted-pp/kubernetes-template-quoted.pp
  pkg/codegen/testing/test/testdata/kubernetes-template-quoted-pp/nodejs/kubernetes-template-quoted.ts
  pkg/codegen/testing/test/testdata/kubernetes-template-quoted-pp/python/kubernetes-template-quoted.py
Labels: area/codegen

#15006 Fix data rate in backend/display/tree_test.go
  pkg/backend/display/tree_test.go
Labels: impact/no-changelog-required
