Repository pulumi/pulumi, pull requests merged in 2024-09, with the labels that each got.

#17126 Use cached loader in RPC codegen functions
  pkg/engine/lifecycletest/loader_test.go
  sdk/go/pulumi-language-go/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#17136 Pin @types/node in closure tests
  sdk/nodejs/tests/runtime/closure-integration-tests.ts
Labels: impact/no-changelog-required

#17128 chore: fix some function names
  pkg/codegen/docs/gen.go
  pkg/codegen/hcl2/model/scope.go
  pkg/codegen/hcl2/model/type_collection.go
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/0/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/0/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/0/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/1/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/1/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/1/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/1/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestResourcesTargeted/1/progress.stdout.txt
  pkg/engine/lifecycletest/update_plan_test.go
Labels: impact/no-changelog-required

#17138 Update golangci-lint
  .github/workflows/ci-lint.yml
Labels: impact/no-changelog-required

#17116 ResourceRefsGetResourceGo: also wait for the childs message to be registered
  tests/integration/resource_refs_get_resource/go/main.go
Labels: impact/no-changelog-required

#17087 wire up command line interface for running programs under a debugger
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/up.go
Labels: impact/no-changelog-required

#17139 Document that 'diffs' only supports top level keys
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
Labels: impact/no-changelog-required

#17143 Cleanup old comment
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#17148 Fix bug in param loader
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/loader_test.go
Labels: impact/no-changelog-required

#17152 debugging: more consistency for naming
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/up.go
  pkg/engine/update.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/source_eval.go
  proto/.checksum.txt
  proto/pulumi/engine.proto
  proto/pulumi/language.proto
  sdk/go/common/resource/plugin/host_server.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/pulumi/mocks.go
  sdk/nodejs/proto/engine_grpc_pb.d.ts
  sdk/nodejs/proto/engine_grpc_pb.js
  sdk/nodejs/proto/engine_pb.d.ts
  sdk/nodejs/proto/engine_pb.js
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/engine.pb.go
  sdk/proto/go/engine_grpc.pb.go
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/engine_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#17114 run acceptance tests for windows on PR rather than on merge
  .github/workflows/ci.yml
  .github/workflows/on-merge.yml
  .github/workflows/on-pr.yml
  .github/workflows/pr-test-acceptance-on-dispatch.yml
Labels: impact/no-changelog-required

#17150 Prepare for v3.131.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17144 Improve snapshot integrity panics depending on operation
  pkg/backend/diy/state.go
  pkg/backend/httpstate/state.go
  pkg/cmd/pulumi/errors.go
  pkg/resource/deploy/snapshot.go
Labels: impact/no-changelog-required

#17151 Freeze v3.131.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17159 Document providers and plugins
  docs/architecture/README.md
  docs/architecture/deployment-execution/providers.md
  docs/architecture/plugins.md
  docs/architecture/providers.md
Labels: impact/no-changelog-required

#17173 Add a `test_lifecycle` target to `Makefile`
  Makefile
Labels: impact/no-changelog-required

#17175 add the attach-debugger flag to automation API
  sdk/go/auto/optpreview/optpreview.go
  sdk/go/auto/optup/optup.go
  sdk/go/auto/stack.go
  sdk/nodejs/automation/stack.ts
  sdk/python/lib/pulumi/automation/_stack.py
Labels: impact/no-changelog-required

#17176 use passed in fail-fast strategy for windows tests
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#17161 Document testing in `pulumi/pulumi`
  cmd/pulumi-test-language/README.md
  docs/architecture/README.md
  docs/architecture/testing/README.md
  docs/architecture/testing/integration.md
  docs/architecture/testing/unit.md
  pkg/engine/lifecycletest/README.md
Labels: impact/no-changelog-required

#17162 Document code generation concepts
  docs/architecture/README.md
  pkg/codegen/README.md
  pkg/codegen/docs/README.md
  pkg/codegen/pcl/README.md
  pkg/codegen/programs.md
  pkg/codegen/schema/README.md
  pkg/codegen/sdks.md
Labels: impact/no-changelog-required

#17163 Flesh out documentation on language hosts and MLCs
  docs/architecture/README.md
  docs/architecture/languages.md
  docs/architecture/mlcs.md
Labels: impact/no-changelog-required

#17184 Sync panic error message with similar messages
  pkg/cmd/pulumi/main.go
Labels: impact/no-changelog-required

#17185 Use @types/node matching the ts version for integration tests
  sdk/nodejs/tests/runtime/closure-integration-tests.ts
Labels: impact/no-changelog-required

#17102 add debugging support to Go language host
  .github/workflows/ci-run-test.yml
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/go/pulumi-language-go/main.go
  tests/go.mod
  tests/go.sum
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required

#17156 add debugging support to Nodejs language host
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required

#17191 Add GitHub links to developer documentation
  docs/sphinx/conf.py
Labels: impact/no-changelog-required

#17197 Add tests to sdk/go/common/promise for coverage
  sdk/go/common/promise/promise_test.go
Labels: impact/no-changelog-required

#16885 Updated nodejs and python sdk docs on outputs
  sdk/nodejs/output.ts
  sdk/python/lib/pulumi/output.py
Labels: impact/no-changelog-required

#17179 add debugging support to Python language host
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#17193 remove PULUMI_BOT_TOKEN secret from being used by ci.yml
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#17195 Document get.pulumi.com to download PRs
  .github/workflows/ci-build-binaries.yml
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#17201 Replace pkg/errors.Wrap with fmt.Errorf
  pkg/cmd/pulumi/new_test.go
  pkg/go.mod
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/host_server.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/rpc.go
  sdk/go/common/util/cmdutil/args.go
  sdk/go/common/util/cmdutil/diag.go
  sdk/go/common/util/cmdutil/profile.go
  sdk/go/common/util/rpcutil/serve.go
Labels: impact/no-changelog-required

#17132 [go] Allow output-versioned invokes to resolve and maintain secrets
  changelog/pending/20240901--sdkgen-go--allow-output-versioned-invokes-to-resolve-and-maintain-secrets.yaml
  pkg/codegen/go/gen.go
  sdk/go/pulumi/context.go
  tests/testdata/codegen/assets-and-archives/go/example/getAssets.go
  tests/testdata/codegen/external-resource-schema/go/example/argFunction.go
  tests/testdata/codegen/functions-secrets/go/mypkg/funcWithSecrets.go
  tests/testdata/codegen/go-overridden-internal-module-name/go/example/argFunction.go
  tests/testdata/codegen/output-funcs-edgeorder/go/myedgeorder/listConfigurations.go
  tests/testdata/codegen/output-funcs-edgeorder/go/myedgeorder/listProductFamilies.go
  tests/testdata/codegen/output-funcs-tfbridge20/go/mypkg/getAmiIds.go
  tests/testdata/codegen/output-funcs-tfbridge20/go/mypkg/listStorageAccountKeys.go
  tests/testdata/codegen/output-funcs/go-extras/tests/codegen_test.go
  tests/testdata/codegen/output-funcs/go/mypkg/funcWithAllOptionalInputs.go
  tests/testdata/codegen/output-funcs/go/mypkg/funcWithDefaultValue.go
  tests/testdata/codegen/output-funcs/go/mypkg/funcWithDictParam.go
  tests/testdata/codegen/output-funcs/go/mypkg/funcWithListParam.go
  tests/testdata/codegen/output-funcs/go/mypkg/getBastionShareableLink.go
  tests/testdata/codegen/output-funcs/go/mypkg/getClientConfig.go
  tests/testdata/codegen/output-funcs/go/mypkg/getIntegrationRuntimeObjectMetadatum.go
  tests/testdata/codegen/output-funcs/go/mypkg/listStorageAccountKeys.go
  tests/testdata/codegen/plain-object-defaults/go/example/funcWithAllOptionalInputs.go
  tests/testdata/codegen/plain-object-disable-defaults/go/example/funcWithAllOptionalInputs.go
  tests/testdata/codegen/provider-config-schema/go/configstation/funcWithAllOptionalInputs.go
  tests/testdata/codegen/regress-8403/go/mongodbatlas/getCustomDbRoles.go
  tests/testdata/codegen/simple-resource-schema-custom-pypackage-name/go/example/argFunction.go
  tests/testdata/codegen/simple-resource-schema/go/example/argFunction.go
  tests/testdata/codegen/simple-yaml-schema/go/example/argFunction.go
  tests/testdata/codegen/urn-id-properties/go/urnid/test.go
Labels: language/go, area/codegen

#17207 Document state and snapshots
  docs/architecture/deployment-execution/state.md
Labels: impact/no-changelog-required

#17214 Bump NodeJS SDK dependencies
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#17233 Prepare for v3.132.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17234 Freeze v3.132.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17238 Refer to MLCs as component providers
  docs/architecture/README.md
  docs/architecture/deployment-execution/resource-registration.md
  docs/architecture/mlcs.md
  docs/architecture/providers.md
Labels: impact/no-changelog-required

#17244 Have `Host.Provider` accept a `PackageDescriptor`
  cmd/pulumi-test-language/test_host.go
  pkg/cmd/pulumi/package.go
  pkg/codegen/convert/plugin_mapper.go
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/loader_test.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/deploytest/pluginhost_test.go
  pkg/resource/deploy/import_test.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_query_test.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/mock.go
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#17235 Use AI settings from CreateUpdate to determine if Copilot is enabled
  pkg/backend/display/progress.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  pkg/cmd/pulumi/up.go
  sdk/go/common/apitype/updates.go
Labels: impact/no-changelog-required

#17250 Just use errors.Is instead of As and Is
  sdk/go/common/workspace/paths.go
Labels: impact/no-changelog-required

#17249 needsSaveProjectStackAfterSecretManger doesn't need stack parameter
  pkg/cmd/pulumi/crypto.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17254 Add a test for #14254
  pkg/engine/lifecycletest/target_test.go
Labels: impact/no-changelog-required

#17260 Allow conformance test to run without a core SDK
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l1empty_test.go
Labels: impact/no-changelog-required

#17264 Support ResolvePlugin for schema loading
  cmd/pulumi-test-language/test_host.go
Labels: impact/no-changelog-required

#17259 Add a minimal state delete test
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/state_delete.go
  pkg/cmd/pulumi/state_delete_test.go
Labels: impact/no-changelog-required

#17237 [nodejs] First-class output-versioned invokes
  changelog/pending/20240911--sdkgen-nodejs--first-class-output-versioned-invokes-in-nodejs.yaml
  pkg/codegen/nodejs/gen.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/simple-invoke-10.0.0/myInvoke.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/simple-invoke-10.0.0/unit.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/simple-invoke-10.0.0/myInvoke.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/simple-invoke-10.0.0/unit.ts
  sdk/nodejs/runtime/invoke.ts
  tests/testdata/codegen/assets-and-archives/nodejs/getAssets.ts
  tests/testdata/codegen/external-resource-schema/nodejs/argFunction.ts
  tests/testdata/codegen/functions-secrets/nodejs/funcWithSecrets.ts
  tests/testdata/codegen/output-funcs-edgeorder/nodejs/listConfigurations.ts
  tests/testdata/codegen/output-funcs-edgeorder/nodejs/listProductFamilies.ts
  tests/testdata/codegen/output-funcs-tfbridge20/nodejs/getAmiIds.ts
  tests/testdata/codegen/output-funcs-tfbridge20/nodejs/listStorageAccountKeys.ts
  tests/testdata/codegen/output-funcs/nodejs/funcWithAllOptionalInputs.ts
  tests/testdata/codegen/output-funcs/nodejs/funcWithConstInput.ts
  tests/testdata/codegen/output-funcs/nodejs/funcWithDefaultValue.ts
  tests/testdata/codegen/output-funcs/nodejs/funcWithDictParam.ts
  tests/testdata/codegen/output-funcs/nodejs/funcWithEmptyOutputs.ts
  tests/testdata/codegen/output-funcs/nodejs/funcWithListParam.ts
  tests/testdata/codegen/output-funcs/nodejs/getBastionShareableLink.ts
  tests/testdata/codegen/output-funcs/nodejs/getClientConfig.ts
  tests/testdata/codegen/output-funcs/nodejs/getIntegrationRuntimeObjectMetadatum.ts
  tests/testdata/codegen/output-funcs/nodejs/listStorageAccountKeys.ts
  tests/testdata/codegen/plain-object-defaults/nodejs/funcWithAllOptionalInputs.ts
  tests/testdata/codegen/plain-object-disable-defaults/nodejs/funcWithAllOptionalInputs.ts
  tests/testdata/codegen/provider-config-schema/nodejs/funcWithAllOptionalInputs.ts
  tests/testdata/codegen/regress-8403/nodejs/getCustomDbRoles.ts
  tests/testdata/codegen/regress-node-8110/nodejs/exampleFunc.ts
  tests/testdata/codegen/simple-plain-schema/nodejs/doFoo.ts
  tests/testdata/codegen/simple-resource-schema-custom-pypackage-name/nodejs/argFunction.ts
  tests/testdata/codegen/simple-resource-schema/nodejs/argFunction.ts
  tests/testdata/codegen/simple-yaml-schema/nodejs/argFunction.ts
  tests/testdata/codegen/simplified-invokes/nodejs/abs.ts
  tests/testdata/codegen/simplified-invokes/nodejs/absMultiArgs.ts
  tests/testdata/codegen/simplified-invokes/nodejs/absMultiArgsReducedOutput.ts
  tests/testdata/codegen/simplified-invokes/nodejs/absMultiArgsReducedOutputSwapped.ts
  tests/testdata/codegen/simplified-invokes/nodejs/absReducedOutput.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getArchive.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getArrayCustomResult.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getAsset.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getCustomResult.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getDictionary.ts
  tests/testdata/codegen/urn-id-properties/nodejs/test.ts
Labels: kind/enhancement, language/javascript, area/codegen

#17267 Couple of monitor support code cleanups from review
  sdk/go/internal/cmd.go
  sdk/go/internal/cmd_test.go
  sdk/nodejs/runtime/settings.ts
  sdk/python/lib/pulumi/_utils.py
  sdk/python/lib/pulumi/runtime/settings.py
Labels: impact/no-changelog-required

#17273 Update ESC dependency to v0.10.0
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
Labels: impact/no-changelog-required

#17272 Clean up stray files from #17267
  sdk/go/internal/cmd.go
  sdk/go/internal/cmd_test.go
Labels: impact/no-changelog-required

#17265 Freeze v3.133.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17270 python: add test showing that attaching a debugger works
  tests/integration/integration_go_test.go
  tests/integration/integration_python_test.go
  tests/integration/python/venv/requirements.txt
Labels: impact/no-changelog-required

#17239 Allow 'pulumi about' in nodejs projects to resolve dependencies from package files by walking up the file tree
  changelog/pending/20240911--sdk-nodejs--allow-pulumi-about-in-nodejs-projects-to-resolve-dependencies-from-package-files-by-walking-up-the-file-tree.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main_test.go
Labels: kind/bug, area/language-host

#16783 [nodejs] cancelation support for auto api
  changelog/pending/20240909--auto-nodejs--support-an-abort-channel-for-gracefully-canceling-operations.yaml
  sdk/nodejs/automation/cmd.ts
  sdk/nodejs/automation/stack.ts
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: language/javascript, area/automation-api

#17271 try to choose a consistent port for debugging
  sdk/go/pulumi-internal/netutil/netutil.go
  sdk/go/pulumi-internal/netutil/netutil_test.go
  sdk/go/pulumi-language-go/main.go
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#17300 Fix _sync_monitor_supports_parameterization
  sdk/python/lib/pulumi/runtime/settings.py
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#17301 Add l1-output-map conformance test
  cmd/pulumi-test-language/testdata/l1-output-map/main.pp
  cmd/pulumi-test-language/tests.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-map/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-map/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-map/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-map/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-map/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-map/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-map/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-map/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-map/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-map/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-map/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-map/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-map/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-map/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-map/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-map/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-map/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-map/requirements.txt
Labels: impact/no-changelog-required

#17293 Enable Copilot link by default
  pkg/backend/httpstate/backend.go
  pkg/cmd/pulumi/up.go
  sdk/go/common/env/env.go
Labels: impact/no-changelog-required

#17317 Fix Python min parameterization version
  pkg/codegen/python/gen.go
  tests/integration/integration_python_test.go
  tests/integration/python/parameterized/sdk/python/setup.py
Labels: impact/no-changelog-required

#17308 allow tests to run in parallel with linting
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#17314 Fix check for disableEntryCache in newPluginLoaderWithOptions
  pkg/codegen/schema/loader.go
Labels: impact/no-changelog-required

#17315 Add LanguageInfo to conformance tests
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  proto/.checksum.txt
  proto/pulumi/testing/language.proto
  sdk/nodejs/proto/testing/language_pb.d.ts
  sdk/nodejs/proto/testing/language_pb.js
  sdk/proto/go/testing/language.pb.go
  sdk/python/cmd/pulumi-language-python/language_test.go
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.pyi
Labels: impact/no-changelog-required

#17298 Prepare for v3.134.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17327 Fix Typo in preview.go Description
  pkg/cmd/pulumi/preview.go
Labels: impact/no-changelog-required

#17321 [conformance/go] Enable destroy, large-string and explicit-provider
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l2-destroy/0/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-destroy/0/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-destroy/0/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-destroy/1/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-destroy/1/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-destroy/1/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-explicit-provider/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-explicit-provider/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-explicit-provider/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-large-string/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-large-string/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-large-string/main.go
  sdk/go/pulumi-language-go/testdata/sdks/large-4.3.2/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/large-4.3.2/large/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/large-4.3.2/large/init.go
  sdk/go/pulumi-language-go/testdata/sdks/large-4.3.2/large/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/large-4.3.2/large/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/large-4.3.2/large/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/large-4.3.2/large/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/large-4.3.2/large/string.go
Labels: area/testing, language/go, impact/no-changelog-required

#17275 [python] First-class output-versioned invokes that maintain secrets
  changelog/pending/20240916--sdkgen-python--first-class-output-versioned-invokes-that-maintain-secrets-in-python.yaml
  cmd/pulumi-test-language/tests.go
  pkg/codegen/python/gen.go
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/my_invoke.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/unit.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/my_invoke.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/unit.py
  sdk/python/lib/pulumi/runtime/__init__.py
  sdk/python/lib/pulumi/runtime/invoke.py
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/test/langhost/invoke/__main__.py
  tests/testdata/codegen/assets-and-archives/python/pulumi_example/get_assets.py
  tests/testdata/codegen/external-resource-schema/python/pulumi_example/arg_function.py
  tests/testdata/codegen/functions-secrets/python/pulumi_mypkg/func_with_secrets.py
  tests/testdata/codegen/output-funcs-edgeorder/python/pulumi_myedgeorder/list_configurations.py
  tests/testdata/codegen/output-funcs-edgeorder/python/pulumi_myedgeorder/list_product_families.py
  tests/testdata/codegen/output-funcs-tfbridge20/python/pulumi_mypkg/get_ami_ids.py
  tests/testdata/codegen/output-funcs-tfbridge20/python/pulumi_mypkg/list_storage_account_keys.py
  tests/testdata/codegen/output-funcs/python-extras/tests/test_codegen.py
  tests/testdata/codegen/output-funcs/python/pulumi_mypkg/func_with_all_optional_inputs.py
  tests/testdata/codegen/output-funcs/python/pulumi_mypkg/func_with_default_value.py
  tests/testdata/codegen/output-funcs/python/pulumi_mypkg/func_with_dict_param.py
  tests/testdata/codegen/output-funcs/python/pulumi_mypkg/func_with_list_param.py
  tests/testdata/codegen/output-funcs/python/pulumi_mypkg/get_bastion_shareable_link.py
  tests/testdata/codegen/output-funcs/python/pulumi_mypkg/get_client_config.py
  tests/testdata/codegen/output-funcs/python/pulumi_mypkg/get_integration_runtime_object_metadatum.py
  tests/testdata/codegen/output-funcs/python/pulumi_mypkg/list_storage_account_keys.py
  tests/testdata/codegen/plain-object-defaults/python/pulumi_example/func_with_all_optional_inputs.py
  tests/testdata/codegen/plain-object-disable-defaults/python/pulumi_example/func_with_all_optional_inputs.py
  tests/testdata/codegen/provider-config-schema/python/pulumi_configstation/func_with_all_optional_inputs.py
  tests/testdata/codegen/python-typed-dict-disabled-setuppy/python/pulumi_typedDictDisabledExample/my_function.py
  tests/testdata/codegen/python-typed-dict-pyproject/python/pulumi_typedDictExample/my_function.py
  tests/testdata/codegen/python-typed-dict-setuppy/python/pulumi_typedDictExample/my_function.py
  tests/testdata/codegen/regress-8403/python/pulumi_mongodbatlas/get_custom_db_roles.py
  tests/testdata/codegen/regress-py-17219/python/pulumi_cloudinit/get_config.py
  tests/testdata/codegen/regress-py-tfbridge-611/python/pulumi_aws/x/iam/get_policy_document.py
  tests/testdata/codegen/simple-resource-schema-custom-pypackage-name/python/custom_py_package/arg_function.py
  tests/testdata/codegen/simple-resource-schema/python/pulumi_example/arg_function.py
  tests/testdata/codegen/simple-yaml-schema/python/pulumi_example/arg_function.py
  tests/testdata/codegen/urn-id-properties/python/pulumi_urnid/test.py
Labels: language/python, area/codegen

#17320 Centralize resource state dependency traversal
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_rename.go
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/snapshot.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/graph/dependency_graph.go
  sdk/go/common/resource/resource_state.go
  sdk/go/common/resource/resource_state_test.go
Labels: impact/no-changelog-required

#17331 Add more state delete tests
  pkg/cmd/pulumi/state_delete_test.go
Labels: impact/no-changelog-required

#17336 Allow passing an initial state at stack creation
  sdk/go/common/apitype/stacks.go
Labels: impact/no-changelog-required

#17337 don't run tests using poetry in parallel on windows
  tests/integration/integration_python_acceptance_test.go
Labels: impact/no-changelog-required

#17299 Freeze v3.134.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17349 [sdk/python] Always unwrap value from InvokeResult in invoke_async
  changelog/pending/20240924--sdk-python--always-unwrap-value-from-invokeresult-in-invoke_async.yaml
  sdk/python/lib/pulumi/runtime/invoke.py
  sdk/python/lib/test/langhost/invoke/__main__.py
Labels: language/python

#17348 Document secrets configure behavior
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/proto/go/provider_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.pyi
Labels: impact/no-changelog-required, kind/documentation

#17355 Run nodejs conformance tests with more parallelism
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
Labels: impact/no-changelog-required

#17366 Add a lifecycle test to show that ImportID works with parameterized providers
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProviderImport/up/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProviderImport/up/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProviderImport/up/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProviderImport/up/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProviderImport/up/progress.stdout.txt
Labels: impact/no-changelog-required

#17353 [sdk/nodejs] Short-circuit output invokes if inputs contains unknowns
  changelog/pending/20240924--sdk-nodejs--short-circuit-output-invokes-if-inputs-contains-unknowns.yaml
  sdk/nodejs/output.ts
  sdk/nodejs/runtime/invoke.ts
  sdk/nodejs/runtime/rpc.ts
  tests/testdata/codegen/output-funcs/nodejs-extras/tests/codegen.spec.ts
Labels: area/sdks, language/javascript

#17376 Revert #17338 and #17127
  pkg/backend/httpstate/state.go
  pkg/backend/httpstate/token_source.go
  pkg/backend/httpstate/token_source_test.go
Labels: impact/no-changelog-required

#17377 Freeze v3.134.1
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17332 [go/conformance] Fix l2-resource-primitives test
  pkg/codegen/hcl2/model/binder_expression.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-primitives/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-primitives/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-primitives/main.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-7.0.0/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/primitive-7.0.0/primitive/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-7.0.0/primitive/init.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-7.0.0/primitive/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-7.0.0/primitive/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-7.0.0/primitive/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-7.0.0/primitive/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/primitive-7.0.0/primitive/resource.go
Labels: language/go, impact/no-changelog-required, area/codegen

#17378 [go/conformance] Enable more Go conformance tests
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l2-engine-update-options/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-engine-update-options/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-engine-update-options/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-failed-create-continue-on-error/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-failed-create-continue-on-error/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-failed-create-continue-on-error/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-alpha/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-alpha/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-alpha/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-target-up-with-new-dependency/0/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-target-up-with-new-dependency/0/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-target-up-with-new-dependency/0/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-target-up-with-new-dependency/1/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-target-up-with-new-dependency/1/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-target-up-with-new-dependency/1/main.go
  sdk/go/pulumi-language-go/testdata/sdks/alpha-3.0.0-alpha.1.internal/alpha/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/alpha-3.0.0-alpha.1.internal/alpha/init.go
  sdk/go/pulumi-language-go/testdata/sdks/alpha-3.0.0-alpha.1.internal/alpha/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/alpha-3.0.0-alpha.1.internal/alpha/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/alpha-3.0.0-alpha.1.internal/alpha/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/alpha-3.0.0-alpha.1.internal/alpha/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/alpha-3.0.0-alpha.1.internal/alpha/resource.go
  sdk/go/pulumi-language-go/testdata/sdks/alpha-3.0.0-alpha.1.internal/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/fail_on_create-4.0.0/fail_on_create/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/fail_on_create-4.0.0/fail_on_create/init.go
  sdk/go/pulumi-language-go/testdata/sdks/fail_on_create-4.0.0/fail_on_create/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/fail_on_create-4.0.0/fail_on_create/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/fail_on_create-4.0.0/fail_on_create/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/fail_on_create-4.0.0/fail_on_create/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/fail_on_create-4.0.0/fail_on_create/resource.go
  sdk/go/pulumi-language-go/testdata/sdks/fail_on_create-4.0.0/go.mod
Labels: area/testing, language/go, impact/no-changelog-required

#17369 Let `Backend.CreateStack` accept an initial state
  cmd/pulumi-test-language/interface.go
  pkg/backend/backend.go
  pkg/backend/diy/backend.go
  pkg/backend/diy/backend_legacy_test.go
  pkg/backend/diy/backend_test.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/backend_test.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/mock.go
  pkg/cmd/pulumi/stack_init_test.go
  pkg/cmd/pulumi/state_move_test.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17371 Rename `createSecretsManager` to `createSecretsManagerForExistingStack`
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17389 [Go/conformance] Fix l2-primitive-ref and l2-resource-asset-archive
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_program.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l2-primitive-ref/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-primitive-ref/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-primitive-ref/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-asset-archive/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-asset-archive/archive.tar
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-asset-archive/folder/test.txt
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-asset-archive/subdir/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-asset-archive/subdir/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-asset-archive/test.txt
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/assetarchive/archiveResource.go
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/assetarchive/assetResource.go
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/assetarchive/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/assetarchive/init.go
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/assetarchive/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/assetarchive/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/assetarchive/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/assetarchive/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/asset-archive-5.0.0/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/primitiveref/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/primitiveref/init.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/primitiveref/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/primitiveref/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/primitiveref/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/primitiveref/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/primitiveref/pulumiTypes.go
  sdk/go/pulumi-language-go/testdata/sdks/primitive-ref-11.0.0/primitiveref/resource.go
  tests/testdata/codegen/using-dashes-pp/go/using-dashes.go
Labels: area/testing, language/go, impact/no-changelog-required, area/codegen

#17365 document property paths
  docs/architecture/types/property-path.md
Labels: impact/no-changelog-required

#17307 Add explanations about features to improve UX
  pkg/backend/backend.go
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/mock.go
  pkg/cmd/pulumi/deployment_settings_config.go
  pkg/cmd/pulumi/deployment_settings_config_test.go
  pkg/cmd/pulumi/deployment_settings_ops.go
  pkg/cmd/pulumi/deployment_settings_utils.go
  pkg/cmd/pulumi/util.go
  sdk/go/common/apitype/deployments.go
Labels: impact/no-changelog-required

#17368 Fix l1-output-map Go conformance test
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l1-output-map/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l1-output-map/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l1-output-map/main.go
  tests/testdata/codegen/aws-eks-pp/go/aws-eks.go
  tests/testdata/codegen/functions-pp/go/functions.go
  tests/testdata/codegen/simple-splat-pp/go/simple-splat.go
  tests/testdata/codegen/unknown-invoke-pp/go/unknown-invoke.go
Labels: area/testing, language/go, impact/no-changelog-required, area/codegen

#17397 Add clockwork for deterministic time testing
  pkg/backend/httpstate/state.go
  pkg/backend/httpstate/token_source.go
  pkg/backend/httpstate/token_source_test.go
  pkg/go.mod
  pkg/go.sum
  tests/go.sum
Labels: impact/no-changelog-required

#17402 language.proto: document deprecated fields better
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#17396 [go/conformance] Fix l2-invoke-simple and l2-invoke-variants tests
  pkg/codegen/go/gen_program_expressions.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-simple/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-simple/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-simple/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-variants/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-variants/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-variants/main.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/init.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/myInvoke.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/stringResource.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/unit.go
Labels: language/go, impact/no-changelog-required, area/codegen

#17420 [schema] Validate version is provided when package supports packing
  changelog/pending/20240928--sdkgen--validate-schema-version-is-provided-when-package-supports-packing.yaml
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema_test.go
Labels: kind/enhancement, area/codegen

#17412 change name of InvalidInputPropertiesError to InputPropertiesError
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  proto/.checksum.txt
  proto/pulumi/errors.proto
  sdk/nodejs/proto/errors_pb.d.ts
  sdk/nodejs/proto/errors_pb.js
  sdk/proto/go/errors.pb.go
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.py
  sdk/python/lib/pulumi/runtime/proto/errors_pb2.pyi
Labels: impact/no-changelog-required

#17430 Introduce snapshot metadata
  pkg/backend/diy/backend_legacy_test.go
  pkg/backend/diy/backend_test.go
  pkg/backend/snapshot.go
  pkg/backend/snapshot_test.go
  pkg/cmd/pulumi/state_delete_test.go
  pkg/cmd/pulumi/state_move_test.go
  pkg/engine/journal.go
  pkg/resource/deploy/deployment_test.go
  pkg/resource/deploy/snapshot.go
  pkg/resource/edit/operations_test.go
  pkg/resource/stack/deployment.go
  sdk/go/common/apitype/core.go
Labels: impact/no-changelog-required
