Repository pulumi/pulumi, pull requests merged in 2024-02, with the labels that each got.

#15335 Unfreeze v3.104.1
  sdk/.version
Labels: impact/no-changelog-required

#15337 Refreeze v3.104.1
  sdk/.version
Labels: impact/no-changelog-required

#15334 Auto-fix encrypted keys in the wrong format due to gocloud.dev upgrade regression
  changelog/pending/20240201--backend-diy--upgrade-gocloud-dev-and-fix-an-issue-with-azurekeyvault-keys.yaml
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/secrets/cloud/azure_test.go
  pkg/secrets/cloud/manager.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
Labels: impact/no-changelog-required

#15342 Freeze 3.104.2
  sdk/.version
Labels: impact/no-changelog-required

#15331 Update language runtime versions in README.md
  README.md
Labels: impact/no-changelog-required

#15373 Use camelCase for schema names
  pkg/codegen/testing/test/testdata/plain-and-default-go-generics-only/go/foo/moduleResource.go
  pkg/codegen/testing/test/testdata/plain-and-default-go-generics-only/schema.json
  pkg/codegen/testing/test/testdata/plain-and-default/docs/moduleresource/_index.md
  pkg/codegen/testing/test/testdata/plain-and-default/dotnet/ModuleResource.cs
  pkg/codegen/testing/test/testdata/plain-and-default/go-extras/tests/codegen_test.go
  pkg/codegen/testing/test/testdata/plain-and-default/go/foo/moduleResource.go
  pkg/codegen/testing/test/testdata/plain-and-default/go/foo/x/moduleResource.go
  pkg/codegen/testing/test/testdata/plain-and-default/nodejs/moduleResource.ts
  pkg/codegen/testing/test/testdata/plain-and-default/python/pulumi_foobar/module_resource.py
  pkg/codegen/testing/test/testdata/plain-and-default/schema.json
  pkg/codegen/testing/test/testdata/regress-py-14012/python/pulumi_foo/_inputs.py
  pkg/codegen/testing/test/testdata/regress-py-14012/schema.json
  pkg/codegen/testing/test/testdata/transpiled_examples/cue-random-pp/dotnet/dotnet.csproj
  pkg/codegen/testing/test/testdata/transpiled_examples/getting-started-pp/dotnet/dotnet.csproj
  pkg/codegen/testing/test/testdata/transpiled_examples/kubernetes-pp/dotnet/dotnet.csproj
  pkg/codegen/testing/test/testdata/transpiled_examples/random-pp/dotnet/dotnet.csproj
Labels: impact/no-changelog-required

#15377 Fix upgrade with ResourceReference
  sdk/go/common/resource/plugin/rpc.go
  sdk/go/common/resource/plugin/rpc_test.go
Labels: impact/no-changelog-required

#15324 Test GetDependencies and library versions in conformance testing
  cmd/pulumi-test-language/bad_provider.go
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/interface_test.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l1main_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  cmd/pulumi-test-language/runtime_options_test.go
  cmd/pulumi-test-language/simple_provider.go
  cmd/pulumi-test-language/testdata/snapshots/sdks/simple-2.0.0/test.txt
  cmd/pulumi-test-language/testdata/snapshots_bad/sdks/simple-2.0.0/test.txt
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-empty/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-main/subdir/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-output-bool/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-resource-simple/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/sdks/simple-2.0.0/README.md
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/sdks/simple-2.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/sdks/simple-2.0.0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/sdks/simple-2.0.0/provider.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/sdks/simple-2.0.0/resource.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/sdks/simple-2.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/sdks/simple-2.0.0/utilities.ts
  sdk/python/cmd/pulumi-language-python/testdata/projects/l1-empty/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/projects/l1-main/subdir/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/projects/l1-output-bool/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-resource-simple/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/sdks/simple-2.0.0/pulumi_simple/README.md
  sdk/python/cmd/pulumi-language-python/testdata/sdks/simple-2.0.0/pulumi_simple/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/sdks/simple-2.0.0/pulumi_simple/_utilities.py
  sdk/python/cmd/pulumi-language-python/testdata/sdks/simple-2.0.0/pulumi_simple/provider.py
  sdk/python/cmd/pulumi-language-python/testdata/sdks/simple-2.0.0/pulumi_simple/pulumi-plugin.json
  sdk/python/cmd/pulumi-language-python/testdata/sdks/simple-2.0.0/pulumi_simple/py.typed
  sdk/python/cmd/pulumi-language-python/testdata/sdks/simple-2.0.0/pulumi_simple/resource.py
  sdk/python/cmd/pulumi-language-python/testdata/sdks/simple-2.0.0/setup.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#15388 Set KeepOutputValues in deploytest.ResourceMonitor
  pkg/resource/deploy/deploytest/resourcemonitor.go
Labels: impact/no-changelog-required

#15391 Prepare for v3.105.0 release
  sdk/.version
Labels: impact/no-changelog-required

#15394 Freeze v3.105.0
  sdk/.version
Labels: impact/no-changelog-required

#15403 Add an engine test for Construct and Call dependency maps
  pkg/engine/lifecycletest/alias_test.go
  pkg/engine/lifecycletest/analyzer_test.go
  pkg/engine/lifecycletest/delete_before_replace_test.go
  pkg/engine/lifecycletest/golang_sdk_test.go
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/resource_reference_test.go
  pkg/engine/lifecycletest/source_query_test.go
  pkg/engine/lifecycletest/step_generator_test.go
  pkg/engine/lifecycletest/target_test.go
  pkg/engine/lifecycletest/update_plan_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/deploytest/resourcemonitor_test.go
  pkg/resource/deploy/source_eval_test.go
Labels: impact/no-changelog-required

#14157 build resourcedocsgen from registry
  .github/workflows/ci-test-docs-generation.yml
Labels: impact/no-changelog-required

#15419 [program-gen] Emit missing trivia for resources and local variables
  changelog/pending/20240211--programgen-dotnet-go-nodejs-python--emit-missing-trivia-for-resources-and-local-variables.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/testing/test/testdata/aws-eks-pp/go/aws-eks.go
  pkg/codegen/testing/test/testdata/aws-fargate-output-versioned-pp/nodejs/aws-fargate-output-versioned.ts
  pkg/codegen/testing/test/testdata/aws-fargate-output-versioned-pp/python/aws-fargate-output-versioned.py
  pkg/codegen/testing/test/testdata/aws-fargate-pp/dotnet/aws-fargate.cs
  pkg/codegen/testing/test/testdata/aws-fargate-pp/go/aws-fargate.go
  pkg/codegen/testing/test/testdata/aws-fargate-pp/nodejs/aws-fargate.ts
  pkg/codegen/testing/test/testdata/aws-fargate-pp/python/aws-fargate.py
  pkg/codegen/testing/test/testdata/aws-iam-policy-pp/go/aws-iam-policy.go
  pkg/codegen/testing/test/testdata/aws-s3-folder-pp/go/aws-s3-folder.go
  pkg/codegen/testing/test/testdata/aws-webserver-pp/dotnet/aws-webserver.cs
  pkg/codegen/testing/test/testdata/aws-webserver-pp/go/aws-webserver.go
  pkg/codegen/testing/test/testdata/aws-webserver-pp/nodejs/aws-webserver.ts
  pkg/codegen/testing/test/testdata/aws-webserver-pp/python/aws-webserver.py
  pkg/codegen/testing/test/testdata/components-pp/go/exampleComponent.go
  pkg/codegen/testing/test/testdata/functions-pp/dotnet/functions.cs
  pkg/codegen/testing/test/testdata/functions-pp/go/functions.go
  pkg/codegen/testing/test/testdata/functions-pp/nodejs/functions.ts
  pkg/codegen/testing/test/testdata/functions-pp/python/functions.py
  pkg/codegen/testing/test/testdata/invalid-go-sprintf-pp/go/invalid-go-sprintf.go
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/dotnet/kubernetes-pod.cs
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/go/kubernetes-pod.go
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/nodejs/kubernetes-pod.ts
  pkg/codegen/testing/test/testdata/kubernetes-pod-pp/python/kubernetes-pod.py
  pkg/codegen/testing/test/testdata/output-funcs-aws-pp/dotnet/output-funcs-aws.cs
  pkg/codegen/testing/test/testdata/output-funcs-aws-pp/go/output-funcs-aws.go
  pkg/codegen/testing/test/testdata/output-funcs-aws-pp/nodejs/output-funcs-aws.ts
  pkg/codegen/testing/test/testdata/output-funcs-aws-pp/python/output-funcs-aws.py
Labels: area/codegen

#15415 Fix enum rendering issue
  pkg/codegen/docs/templates/enums.tmpl
  pkg/codegen/testing/test/testdata/dashed-import-schema/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/dashed-import-schema/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/different-enum/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/different-enum/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/external-enum/docs/component/_index.md
  pkg/codegen/testing/test/testdata/other-owned/docs/overlayresource/_index.md
  pkg/codegen/testing/test/testdata/plain-and-default/docs/moduleresource/_index.md
  pkg/codegen/testing/test/testdata/provider-config-schema/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/simple-enum-schema/docs/tree/v1/nursery/_index.md
  pkg/codegen/testing/test/testdata/simple-enum-schema/docs/tree/v1/rubbertree/_index.md
  pkg/codegen/testing/test/testdata/simple-resource-schema/docs/overlayresource/_index.md
  pkg/codegen/testing/test/testdata/simple-yaml-schema/docs/typeuses/_index.md
Labels: impact/no-changelog-required

#15427 Prepare for v3.106.0 release
  sdk/.version
  tests/integration/integration_python_acceptance_test.go
Labels: impact/no-changelog-required

#15429 Update tests to run on Go 1.21 and 1.22
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#15384 Add test for legacy style names
  pkg/codegen/testing/test/sdk_driver.go
  pkg/codegen/testing/test/testdata/legacy-names/docs/HTTP_module/_index.md
  pkg/codegen/testing/test/testdata/legacy-names/docs/_index.md
  pkg/codegen/testing/test/testdata/legacy-names/docs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/legacy-names/docs/example_resource/_index.md
  pkg/codegen/testing/test/testdata/legacy-names/docs/provider/_index.md
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/Enums.cs
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/Example_resource.cs
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/HTTP_module/Inputs/RequestArgs.cs
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/HTTP_module/README.md
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/Provider.cs
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/Pulumi.Legacy_names.csproj
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/README.md
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/Utilities.cs
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/codegen-manifest.json
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/logo.png
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/legacy-names/dotnet/version.txt
  pkg/codegen/testing/test/testdata/legacy-names/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/doc.go
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/example_resource.go
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/http_module/pulumiTypes.go
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/init.go
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/internal/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/internal/pulumiVersion.go
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/provider.go
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/pulumiEnums.go
  pkg/codegen/testing/test/testdata/legacy-names/go/legacy_names/pulumiTypes.go
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/README.md
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/codegen-manifest.json
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/example_resource.ts
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/index.ts
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/package.json
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/provider.ts
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/tsconfig.json
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/types/enums/index.ts
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/types/index.ts
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/types/input.ts
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/types/output.ts
  pkg/codegen/testing/test/testdata/legacy-names/nodejs/utilities.ts
  pkg/codegen/testing/test/testdata/legacy-names/python/codegen-manifest.json
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/README.md
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/__init__.py
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/_enums.py
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/_utilities.py
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/example_resource.py
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/http_module/__init__.py
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/http_module/_inputs.py
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/provider.py
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/legacy-names/python/pulumi_legacy_names/py.typed
  pkg/codegen/testing/test/testdata/legacy-names/python/setup.py
  pkg/codegen/testing/test/testdata/legacy-names/schema.json
Labels: impact/no-changelog-required

#15439 [cli] Add otel export to convert-trace
  pkg/cmd/pulumi/convert-trace.go
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#15444 correct latest-dev-version file
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#15437 Freeze v3.106.0
  sdk/.version
Labels: impact/no-changelog-required

#15438 add CODEOWNERS file
  .github/CODEOWNERS
Labels: impact/no-changelog-required

#15440 only publish dev releases when the SDK has changes
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required

#15468 Pass in a header to indicate where the deployment initiated
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/httpstate/mock.go
  pkg/cmd/pulumi/util_remote.go
Labels: impact/no-changelog-required

#15451 Add InstrumentationScope to otelSpan
  pkg/cmd/pulumi/convert-trace.go
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#15466 ci: Use the latest version of setup-dotnet
  .github/workflows/ci-run-test.yml
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/pr-test-codegen-downstream.yml
Labels: impact/no-changelog-required

#15472 Fix dev release versions
  .github/workflows/ci-dev-release.yml
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#15371 [program-gen] Emit Output-returning JSON serialization methods without rewriting applies
  changelog/pending/20240204--programgen-dotnet-nodejs-python--emit-output-returning-json-serialization-methods-without-rewriting-applies-for-top-level-function-expression.yaml
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/dotnet/test.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/pcl/rewrite_apply.go
  pkg/codegen/pcl/rewrite_apply_test.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/testing/test/helpers.go
  pkg/codegen/testing/test/testdata/aws-eks-pp/dotnet/aws-eks.cs
  pkg/codegen/testing/test/testdata/aws-eks-pp/nodejs/aws-eks.ts
  pkg/codegen/testing/test/testdata/aws-eks-pp/python/aws-eks.py
  pkg/codegen/testing/test/testdata/aws-s3-folder-pp/dotnet/aws-s3-folder.cs
  pkg/codegen/testing/test/testdata/aws-s3-folder-pp/nodejs/aws-s3-folder.ts
  pkg/codegen/testing/test/testdata/aws-s3-folder-pp/python/aws-s3-folder.py
  pkg/codegen/testing/test/testdata/python-regress-14037-pp/python/python-regress-14037.py
Labels: language/python, language/javascript, language/dotnet, area/codegen

#15481 Prepare for v3.107.0 release
  sdk/.version
Labels: impact/no-changelog-required

#15483 Freeze v3.107.0
  sdk/.version
Labels: impact/no-changelog-required

#14000 Use slices.Reverse
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#15496 allow engine options to be passed in conformance tests
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/testdata/l2-engine-update-options/main.pp
  cmd/pulumi-test-language/tests.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-engine-update-options/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-engine-update-options/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-engine-update-options/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-engine-update-options/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-engine-update-options/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-engine-update-options/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-engine-update-options/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-engine-update-options/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-engine-update-options/requirements.txt
Labels: impact/no-changelog-required

#15523 fix diff check for releasing dev SDKs
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required
