Repository pulumi/pulumi, pull requests merged in 2024-03, with the labels that each got.

#15537 Prepare for v3.108.0 release
  sdk/.version
Labels: impact/no-changelog-required

#15550 Freeze v3.108.0
  sdk/.version
Labels: impact/no-changelog-required

#15544 Move @types/glob to dev dependencies
  pkg/codegen/nodejs/gen_test.go
  pkg/codegen/nodejs/test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/package.json
  tests/integration/integration_nodejs_acceptance_test.go
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#15504 Allow multiple updates in a single conformance test
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l2destroy_test.go
  cmd/pulumi-test-language/simple_provider.go
  cmd/pulumi-test-language/testdata/l2-destroy/0/main.pp
  cmd/pulumi-test-language/testdata/l2-destroy/1/main.pp
  cmd/pulumi-test-language/testdata/snapshots/projects/l2-destroy/0/Pulumi.yaml
  cmd/pulumi-test-language/testdata/snapshots/projects/l2-destroy/1/Pulumi.yaml
  cmd/pulumi-test-language/tests.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/0/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/0/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/1/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/1/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/1/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/1/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/1/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-destroy/0/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-destroy/0/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-destroy/0/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-destroy/0/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-destroy/1/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-destroy/1/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-destroy/1/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/projects/l2-destroy/1/requirements.txt
Labels: impact/no-changelog-required

#15555 Revert "push post-release changelog and go.mod updates straight to master"
  .github/workflows/on-pr.yml
  .github/workflows/on-release.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#15542 acquire plugin in python acceptance test
  tests/integration/integration_python_acceptance_test.go
Labels: impact/no-changelog-required, ci/test

#15567 Add a note about where to find the type token and lookup id
  pkg/cmd/pulumi/import.go
Labels: impact/no-changelog-required

#15569 Label the batchDecrypt endpoint
  pkg/backend/httpstate/client/api_endpoints.go
Labels: impact/no-changelog-required

#15559 Use a new PULUMI_HOME for every test environment
  sdk/go/common/testing/environment.go
  tests/smoke_test.go
Labels: impact/no-changelog-required

#15558 Cleanup so uses of `any` in the nodejs sdk
  sdk/nodejs/provider/server.ts
  sdk/nodejs/runtime/invoke.ts
  sdk/nodejs/runtime/resource.ts
  sdk/nodejs/runtime/rpc.ts
Labels: impact/no-changelog-required

#15560 document active imperative mood for changelog messages
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#15546 Remove check for version==nil in PluginLoader
  pkg/codegen/schema/loader.go
Labels: impact/no-changelog-required

#15572 Revert "Temporary changes to unblock v3.108.1 release"
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#15577 ci: Fix PR workflow errors
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#15581 Clean up unused import warnings
  proto/.checksum.txt
  proto/pulumi/callback.proto
  proto/pulumi/codegen/loader.proto
  proto/pulumi/codegen/mapper.proto
  proto/pulumi/converter.proto
  proto/pulumi/provider.proto
  proto/pulumi/testing/language.proto
  sdk/nodejs/proto/callback_grpc_pb.d.ts
  sdk/nodejs/proto/callback_grpc_pb.js
  sdk/nodejs/proto/callback_pb.d.ts
  sdk/nodejs/proto/callback_pb.js
  sdk/nodejs/proto/codegen/loader_grpc_pb.d.ts
  sdk/nodejs/proto/codegen/loader_grpc_pb.js
  sdk/nodejs/proto/codegen/loader_pb.d.ts
  sdk/nodejs/proto/codegen/loader_pb.js
  sdk/nodejs/proto/codegen/mapper_grpc_pb.d.ts
  sdk/nodejs/proto/codegen/mapper_grpc_pb.js
  sdk/nodejs/proto/codegen/mapper_pb.d.ts
  sdk/nodejs/proto/codegen/mapper_pb.js
  sdk/nodejs/proto/converter_grpc_pb.d.ts
  sdk/nodejs/proto/converter_grpc_pb.js
  sdk/nodejs/proto/converter_pb.d.ts
  sdk/nodejs/proto/converter_pb.js
  sdk/nodejs/proto/provider_grpc_pb.d.ts
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/nodejs/proto/provider_pb.d.ts
  sdk/nodejs/proto/provider_pb.js
  sdk/nodejs/proto/testing/language_grpc_pb.d.ts
  sdk/nodejs/proto/testing/language_grpc_pb.js
  sdk/nodejs/proto/testing/language_pb.d.ts
  sdk/nodejs/proto/testing/language_pb.js
  sdk/proto/go/callback.pb.go
  sdk/proto/go/codegen/loader.pb.go
  sdk/proto/go/codegen/mapper.pb.go
  sdk/proto/go/converter.pb.go
  sdk/proto/go/provider.pb.go
  sdk/proto/go/testing/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/callback_pb2.py
  sdk/python/lib/pulumi/runtime/proto/codegen/loader_pb2.py
  sdk/python/lib/pulumi/runtime/proto/codegen/mapper_pb2.py
  sdk/python/lib/pulumi/runtime/proto/converter_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.py
Labels: impact/no-changelog-required

#15582 show all paths when we have multipe local policy packs with the same name
  pkg/backend/display/progress.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#15584 don't run conformance test tests in parallel
  cmd/pulumi-test-language/internal_test.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l1main_test.go
  cmd/pulumi-test-language/l2destroy_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  cmd/pulumi-test-language/runtime_options_test.go
Labels: impact/no-changelog-required

#15585 Add a title prefix to downstream test PRs
  .github/workflows/pr-test-codegen-downstream.yml
Labels: impact/no-changelog-required

#15588 display/progress: sort the correct array
  pkg/backend/display/progress.go
Labels: impact/no-changelog-required

#15573 Unskip tests skipped in #15555, #15556, #15557
  pkg/codegen/nodejs/gen_test.go
  pkg/codegen/nodejs/test.go
  pkg/codegen/testing/test/testdata/embedded-crd-types/nodejs/package.json
  pkg/codegen/testing/test/testdata/embedded-crd-types/schema.json
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  tests/integration/integration_nodejs_acceptance_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/nodejs/codepaths-nested/nested/index.ts
  tests/integration/nodejs/codepaths-workspaces/infra/index.ts
  tests/integration/nodejs/codepaths/index.ts
Labels: impact/no-changelog-required

#15594 update go-change to the latest version
  .github/scripts/get-changelog
  Makefile
Labels: impact/no-changelog-required

#15595 Fix side-by-side tests
  sdk/nodejs/Makefile
  sdk/nodejs/tests/sxs_ts_test/.gitignore
  sdk/nodejs/tests/sxs_ts_test/package^3.json
  sdk/nodejs/tests/sxs_ts_test/package^4.json
  sdk/nodejs/tests/sxs_ts_test/package~3.8.3.json
  sdk/nodejs/tests/sxs_ts_test/yarn.lock
Labels: impact/no-changelog-required

#15604 clean up sdks dir for each conformance test
  cmd/pulumi-test-language/interface.go
Labels: impact/no-changelog-required

#15608 pass in AZURE_STORAGE_SAS_TOKEN when dispatching tests
  .github/workflows/pr-test-acceptance-on-dispatch.yml
Labels: impact/no-changelog-required

#15610 Prepare for v3.109.0 release
  sdk/.version
Labels: impact/no-changelog-required

#15616 Remove stray console.log
  sdk/nodejs/runtime/settings.ts
Labels: impact/no-changelog-required

#15492 Properly capture nodejs:crypto and global.crypto
  changelog/pending/20240222--sdk-nodejs--properly-capture-nodejs-crypto-and-global-crypto-in-node-19.yaml
  sdk/nodejs/runtime/closure/parseFunction.ts
  sdk/nodejs/tests/runtime/tsClosureCases.ts
Labels: ci/test

#15620 Freeze v3.109.0
  sdk/.version
Labels: impact/no-changelog-required

#15592 [program-gen/go] Fix optional primitive values being derefrenced
  changelog/pending/20240305--programgen-go--fix-optional-primitive-values-being-derefrenced.yaml
  pkg/codegen/go/gen_program_expressions.go
  tests/testdata/codegen/components-pp/go/exampleComponent.go
Labels: language/go, area/codegen

#15605 [program-gen] Fix panic when generating programs for MLC packages using external types
  changelog/pending/20240306--programgen-dotnet-go-python--fix-panic-when-generating-programs-for-mlc-packages-where-they-include-type-references-to-external-packages.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/test.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/nodejs/test.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/testing/test/helpers.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/utils/host.go
  tests/testdata/codegen/aws-static-website-0.4.0.json
  tests/testdata/codegen/aws-static-website-pp/aws-static-website.pp
  tests/testdata/codegen/aws-static-website-pp/dotnet/aws-static-website.cs
  tests/testdata/codegen/aws-static-website-pp/go/aws-static-website.go
  tests/testdata/codegen/aws-static-website-pp/nodejs/aws-static-website.ts
  tests/testdata/codegen/aws-static-website-pp/python/aws-static-website.py
Labels: language/python, language/go, language/dotnet, area/codegen

#15629 tag pkg automatically again
  .github/workflows/on-push.yml
  .github/workflows/release-pr.yml
Labels: impact/no-changelog-required

#15638 document --config option during preview
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/up.go
Labels: impact/no-changelog-required

#15642 mark snapshot tests as non-parallel
  pkg/backend/httpstate/snapshot_test.go
Labels: impact/no-changelog-required

#15645 Use picomatch 3.0.1 as peer dependency for fdir
  sdk/nodejs/package.json
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#15653 chore: remove repetitive words
  CONTRIBUTING.md
  pkg/backend/display/progress.go
Labels: impact/no-changelog-required

#15656 improve error message when gRPC fails
  sdk/nodejs/automation/server.ts
Labels: impact/no-changelog-required

#15660 l2-destroy test: sort the correct part of the slice
  cmd/pulumi-test-language/tests.go
Labels: impact/no-changelog-required

#15664 Add a missing test for the import system
  pkg/cmd/pulumi/import_test.go
Labels: impact/no-changelog-required

#15655 Prepare for v3.110.0 release
  sdk/.version
Labels: impact/no-changelog-required

#15673 Fix some grammer in import docs
  pkg/cmd/pulumi/import.go
Labels: impact/no-changelog-required

#15686 Freeze v3.110.0
  sdk/.version
Labels: impact/no-changelog-required

#15680 Ensure package generation for Go SDKs doesn't panic when encountering overly nested arrays or maps of primitive types
  changelog/pending/20240313--sdkgen-go--ensure-package-generation-for-go-doesnt-panic-when-encountering-overly-nested-arrays-or-maps-of-primitive-types.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/testing/test/sdk_driver.go
  tests/testdata/codegen/regress-go-15478/go/codegen-manifest.json
  tests/testdata/codegen/regress-go-15478/go/nestedTypes/doc.go
  tests/testdata/codegen/regress-go-15478/go/nestedTypes/init.go
  tests/testdata/codegen/regress-go-15478/go/nestedTypes/internal/pulumiUtilities.go
  tests/testdata/codegen/regress-go-15478/go/nestedTypes/internal/pulumiVersion.go
  tests/testdata/codegen/regress-go-15478/go/nestedTypes/provider.go
  tests/testdata/codegen/regress-go-15478/go/nestedTypes/pulumi-plugin.json
  tests/testdata/codegen/regress-go-15478/go/nestedTypes/pulumiTypes.go
  tests/testdata/codegen/regress-go-15478/go/nestedTypes/resource.go
  tests/testdata/codegen/regress-go-15478/schema.json
Labels: language/go, area/codegen

#15145 A property.Value implementation to replace resource.PropertyValue
  sdk/go/common/resource/properties.go
  sdk/go/common/resource/properties_diff.go
  sdk/go/common/resource/property_compatibility.go
  sdk/go/common/resource/property_compatibility_test.go
  sdk/go/property/equal.go
  sdk/go/property/map.go
  sdk/go/property/reference.go
  sdk/go/property/testing/equal_test.go
  sdk/go/property/testing/rapid.go
  sdk/go/property/values.go
  sdk/go/property/values_test.go
Labels: impact/no-changelog-required

#15651 Update descriptions for property types defined in an external package
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/utils.go
  tests/testdata/codegen/embedded-crd-types/docs/component/_index.md
  tests/testdata/codegen/enum-reference/docs/myModule/iamresource/_index.md
  tests/testdata/codegen/external-enum/docs/component/_index.md
  tests/testdata/codegen/external-resource-schema/docs/argfunction/_index.md
  tests/testdata/codegen/external-resource-schema/docs/cat/_index.md
  tests/testdata/codegen/external-resource-schema/docs/component/_index.md
  tests/testdata/codegen/external-resource-schema/docs/workload/_index.md
  tests/testdata/codegen/hyphen-url/docs/registrygeoreplication/_index.md
  tests/testdata/codegen/methods-return-plain-resource/docs/configurer/_index.md
  tests/testdata/codegen/plain-schema-gh6957/docs/staticpage/_index.md
  tests/testdata/codegen/simple-methods-schema/docs/foo/_index.md
Labels: impact/no-changelog-required

#15694 Add context.Context to transform functions
  sdk/go/pulumi/context.go
  sdk/go/pulumi/transform.go
  tests/integration/transforms/go/simple/main.go
Labels: impact/no-changelog-required

#15698 Prepare for 3.111.0 release
  sdk/.version
Labels: impact/no-changelog-required

#15699 Freeze 3.111.0
  sdk/.version
Labels: impact/no-changelog-required

#15671 Use sets for dependencies inside the engine
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/resource/deploy/source_eval.go
Labels: impact/no-changelog-required

#15706 Freeze 3.111.1
  sdk/.version
Labels: impact/no-changelog-required

#15717 Bump google.golang.org/protobuf, golang.org/x/crypto, and github.com/moby/moby
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/benchmarks/go-alias-norm/go.mod
  tests/benchmarks/go-alias-norm/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/about/go/go.mod
  tests/integration/about/go/go.sum
  tests/integration/config_basic/go/go.mod
  tests/integration/config_basic/go/go.sum
  tests/integration/config_missing/go/go.mod
  tests/integration/config_missing/go/go.sum
  tests/integration/config_secrets_warn/go/go.mod
  tests/integration/config_secrets_warn/go/go.sum
  tests/integration/construct_component/go/go.mod
  tests/integration/construct_component/go/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_methods/go/go.mod
  tests/integration/construct_component_methods/go/go.sum
  tests/integration/construct_component_methods_errors/go/go.mod
  tests/integration/construct_component_methods_errors/go/go.sum
  tests/integration/construct_component_methods_resources/go/go.mod
  tests/integration/construct_component_methods_resources/go/go.sum
  tests/integration/construct_component_methods_unknown/go/go.mod
  tests/integration/construct_component_methods_unknown/go/go.sum
  tests/integration/construct_component_output_values/go/go.mod
  tests/integration/construct_component_output_values/go/go.sum
  tests/integration/construct_component_plain/go/go.mod
  tests/integration/construct_component_plain/go/go.sum
  tests/integration/construct_component_provider/go/go.mod
  tests/integration/construct_component_provider/go/go.sum
  tests/integration/construct_component_provider_explicit/go/go.mod
  tests/integration/construct_component_provider_explicit/go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required

#15703 add some more debug output to CI script
  scripts/go-test.py
Labels: impact/no-changelog-required

#15722 make parallel test more likely to fail when there are problems
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: impact/no-changelog-required

#15723 properly check if the cache is primed
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#15745 Remove trustDependencies option
  pkg/engine/deployment.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/deploy/step_generator_test.go
  sdk/go/common/workspace/project.go
Labels: impact/no-changelog-required

#15746 codegen testing: use latest pulumi dotnet version
  pkg/codegen/testing/test/helpers.go
Labels: impact/no-changelog-required

#15747 Add snapshot edit facilities to conformance testing
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  cmd/pulumi-test-language/snapshot_test.go
  cmd/pulumi-test-language/snapshots.go
  cmd/pulumi-test-language/testdata/snapshots_edit/projects/l1-empty/Pulumi.yaml
  cmd/pulumi-test-language/testdata/snapshots_edit/projects/l2-resource-simple/Pulumi.yaml
  cmd/pulumi-test-language/testdata/snapshots_edit/sdks/simple-2.0.0/test.txt
  proto/.checksum.txt
  proto/pulumi/testing/language.proto
  sdk/nodejs/proto/testing/language_pb.d.ts
  sdk/nodejs/proto/testing/language_pb.js
  sdk/proto/go/testing/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.pyi
Labels: impact/no-changelog-required

#15752 Fix flaky TestPropertyDependenciesAdapter
  pkg/engine/lifecycletest/delete_before_replace_test.go
  pkg/go.mod
Labels: impact/no-changelog-required

#15759 Fix version scripts
  scripts/reversion.js
  scripts/set-version.py
  sdk/nodejs/version.ts
Labels: impact/no-changelog-required

#15760 Make TestConstructComponentConfigureProviderPython less flaky
  tests/integration/construct_component_configure_provider/python/requirements.txt
  tests/integration/integration_python_acceptance_test.go
Labels: impact/no-changelog-required

#15765 Add `context.Context` to `cachingCrypter.encryptSecret`
  pkg/resource/stack/deployment.go
  pkg/resource/stack/secrets.go
Labels: impact/no-changelog-required

#15766 Make local dependencies absolute or relative paths
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/python/gen_program.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-empty/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-main/subdir/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-output-bool/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-destroy/1/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-engine-update-options/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-resource-simple/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-target-up-with-new-dependency/0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l2-target-up-with-new-dependency/1/package.json
  sdk/python/cmd/pulumi-language-python/language_test.go
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-empty/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-main/subdir/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-bool/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-destroy/0/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-destroy/1/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-engine-update-options/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-simple/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-target-up-with-new-dependency/0/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-target-up-with-new-dependency/1/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-empty/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-main/subdir/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-bool/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-destroy/0/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-destroy/1/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-engine-update-options/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-simple/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-target-up-with-new-dependency/0/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-target-up-with-new-dependency/1/requirements.txt
Labels: impact/no-changelog-required

#15768 Always use the snapshot secret manager
  pkg/backend/diy/backend_legacy_test.go
  pkg/backend/diy/backend_test.go
  pkg/backend/diy/state.go
  pkg/backend/httpstate/snapshot.go
  pkg/backend/httpstate/snapshot_test.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_change_secrets_provider_test.go
  pkg/cmd/pulumi/stack_export.go
  pkg/cmd/pulumi/stack_import.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/state_edit_encoder.go
  pkg/resource/deploy/snapshot.go
  pkg/resource/stack/checkpoint.go
  pkg/resource/stack/deployment.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#15762 Remove outdated comment in go.mod
  pkg/go.mod
Labels: impact/no-changelog-required

#15773 [program-gen/csharp] Fixes generated code for a list of resources used in resource option DependsOn
  changelog/pending/20240324--programgen-dotnet--fixed-generated-code-for-a-list-of-resources-used-in-resource-option-dependson.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/testing/test/program_driver.go
  tests/testdata/codegen/aws-fargate-pp/dotnet/aws-fargate.cs
  tests/testdata/codegen/aws-resource-options-4.26-pp/dotnet/aws-resource-options-4.26.cs
  tests/testdata/codegen/aws-resource-options-5.16.2-pp/dotnet/aws-resource-options-5.16.2.cs
  tests/testdata/codegen/depends-on-array-pp/depends-on-array.pp
  tests/testdata/codegen/depends-on-array-pp/dotnet/depends-on-array.cs
  tests/testdata/codegen/depends-on-array-pp/go/depends-on-array.go
  tests/testdata/codegen/depends-on-array-pp/nodejs/depends-on-array.ts
  tests/testdata/codegen/depends-on-array-pp/python/depends-on-array.py
Labels: language/dotnet, area/codegen

#15779 Ignore .mono directory
  .gitignore
Labels: impact/no-changelog-required

#15775 Do not open P1s on upgrade tests
  .github/workflows/pr-test-codegen-downstream.yml
Labels: impact/no-changelog-required

#15757 Move mockpackage tests to closure integration tests
  changelog/pending/20240325--sdk-nodejs--move-mockpackage-tests-to-closure-integration-tests.yaml
  sdk/nodejs/.eslintrc.js
  sdk/nodejs/Makefile
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/package.json
  sdk/nodejs/tests/runtime/closure-integreation-tests.ts
  sdk/nodejs/tests/runtime/package.spec.ts
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage-src/lib/external.d.ts
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage-src/lib/external.js
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage-src/lib/index.d.ts
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage-src/lib/index.d.ts.map
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage-src/lib/index.js
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage-src/package.json
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage/lib/external.d.ts
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage/lib/external.js
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage/lib/index.d.ts
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage/lib/index.d.ts.map
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage/lib/index.js
  sdk/nodejs/tests/runtime/testdata/closure-tests/mockpackage/package.json
  sdk/nodejs/tests/runtime/testdata/closure-tests/test.ts
  sdk/nodejs/tsconfig.json
  sdk/nodejs/yarn.lock
Labels: ci/test

#15643 Revert "Revert "Disable `--rerun-fails` in tests""
  scripts/go-test.py
Labels: impact/no-changelog-required

#15785 only update homebrew tap after pulumi-version is updated
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#15794 Prepare for v3.112.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#15792 Add a link to the Import documentation from API docs pages
  pkg/cmd/pulumi/import.go
  pkg/codegen/docs/templates/resource.tmpl
  tests/testdata/codegen/azure-native-nested-types/docs/documentdb/sqlresourcesqlcontainer/_index.md
Labels: impact/no-changelog-required

#15799 Freeze v3.112.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#15771 [program-gen/tests] Replace discriminated unions test program with a program from a synthetic schema of basic unions
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/utils/host.go
  tests/testdata/codegen/basic-unions-0.1.0.json
  tests/testdata/codegen/basic-unions-pp/basic-unions.pp
  tests/testdata/codegen/basic-unions-pp/dotnet/basic-unions.cs
  tests/testdata/codegen/basic-unions-pp/go/basic-unions.go
  tests/testdata/codegen/basic-unions-pp/nodejs/basic-unions.ts
  tests/testdata/codegen/basic-unions-pp/python/basic-unions.py
  tests/testdata/codegen/discriminated-union-pp/discriminated-union.pp
  tests/testdata/codegen/discriminated-union-pp/dotnet/discriminated-union.cs
  tests/testdata/codegen/discriminated-union-pp/nodejs/discriminated-union.ts
  tests/testdata/codegen/discriminated-union-pp/python/discriminated-union.py
Labels: impact/no-changelog-required

#15800 [cli] Additional tests for environments + config
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/config_test.go
Labels: impact/no-changelog-required

#15814 fix checking for changes in on push job
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required

#15824 Add a conformance test for number outputs
  cmd/pulumi-test-language/testdata/l1-output-number/main.pp
  cmd/pulumi-test-language/tests.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-number/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-number/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-number/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-number/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-number/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-number/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-number/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-number/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-number/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-number/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-number/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-number/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-number/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-number/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-number/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-number/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-number/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-number/requirements.txt
Labels: impact/no-changelog-required

#15823 Test string outputs in conformance tests
  cmd/pulumi-test-language/testdata/l1-output-string/main.pp
  cmd/pulumi-test-language/tests.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/python/gen_program_expressions.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-string/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-string/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-string/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-string/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-string/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-string/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-string/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-string/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-string/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-string/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-string/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-string/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-string/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-string/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-string/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-string/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-string/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-string/requirements.txt
Labels: impact/no-changelog-required

#15825 ci: Use the latest version of actions/setup-go
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-info.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/ci.yml
  .github/workflows/cron-direct-build.yml
  .github/workflows/on-pr-changelog.yml
  .github/workflows/pr-test-codegen-downstream.yml
  .github/workflows/release-pr.yml
Labels: impact/no-changelog-required

#15826 ci: Use the latest version of actions/setup-python
  .github/workflows/ci-build-sdks.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/pr-test-codegen-downstream.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#15827 ci: Use the latest version of actions/setup-node
  .github/workflows/ci-build-sdks.yml
  .github/workflows/ci-dev-release.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/pr-test-codegen-downstream.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#15828 ci: Use latest version of jaxxstorm/action-install-gh-release
  .github/workflows/ci-run-test.yml
  .github/workflows/on-push.yml
  .github/workflows/pr-test-codegen-downstream.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#15837 ci: Replace gradle-build-action with actions/setup-gradle
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#15838 ci: Use latest version of peter-evans/create-or-update-comment
  .github/workflows/on-pr-changelog.yml
  .github/workflows/pr-test-acceptance-on-dispatch.yml
  .github/workflows/pr-test-docs-generation-on-dispatch.yml
Labels: impact/no-changelog-required

#15835 ci: Use latest version of golangci/golangci-lint-action
  .github/workflows/ci-lint.yml
Labels: impact/no-changelog-required

#15836 ci: Use latest version of actions/setup-java
  .github/workflows/ci-run-test.yml
  .github/workflows/pr-test-codegen-downstream.yml
Labels: impact/no-changelog-required

#15832 ci: Use latest version of actions/checkout
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-build-sdks.yml
  .github/workflows/ci-dev-release.yml
  .github/workflows/ci-info.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-prepare-release.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/ci.yml
  .github/workflows/cron-direct-build.yml
  .github/workflows/on-pr-changelog.yml
  .github/workflows/on-push.yml
  .github/workflows/on-release.yml
  .github/workflows/pr-test-codegen-downstream.yml
  .github/workflows/rebase.yml
  .github/workflows/release-homebrew-tap.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/sign.yml
  .github/workflows/trigger-release-docs-event.yml
Labels: impact/no-changelog-required

#15833 ci: Use latest version of actions/cache
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#15834 ci: Use latest version of dorny/paths-filter
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#15839 ci: Use latest version of peter-evans/find-comment
  .github/workflows/on-pr-changelog.yml
Labels: impact/no-changelog-required
