Repository pulumi/pulumi, pull requests merged in 2024-10, with the labels that each got.

#17403 Support topologically sorting snapshots
  pkg/graph/toposort.go
  pkg/resource/deploy/snapshot.go
  pkg/resource/deploy/snapshot_test.go
Labels: impact/no-changelog-required

#17408 Support pruning snapshots
  pkg/resource/deploy/snapshot.go
  pkg/resource/deploy/snapshot_test.go
Labels: impact/no-changelog-required

#17441 prepare 3.135.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17442 Freeze 3.135.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17410 fix dll loading errors in windows CI
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/backend/diy/project/go.mod
  tests/integration/backend/diy/project/go.sum
  tests/integration/construct_component_configure_provider/go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
  tests/integration/go/parameterized/go.mod
  tests/integration/go/parameterized/go.sum
  tests/integration/stack_outputs_program_error/go/step1/go.mod
  tests/integration/stack_outputs_program_error/go/step1/go.sum
  tests/integration/stack_outputs_resource_error/go/step1/go.mod
  tests/integration/stack_outputs_resource_error/go/step1/go.sum
  tests/integration/transformations/go/simple/go.mod
  tests/integration/transformations/go/simple/go.sum
  tests/integration/transforms/go/simple/go.mod
  tests/integration/transforms/go/simple/go.sum
Labels: impact/no-changelog-required

#17454 Return pruned resources from `Snapshot.Prune`
  pkg/resource/deploy/snapshot.go
  pkg/resource/deploy/snapshot_test.go
Labels: impact/no-changelog-required

#17466 community-pr tests: don't pass PULUMI_BOT_TOKEN to ci.yml
  .github/workflows/pr-test-acceptance-on-dispatch.yml
Labels: impact/no-changelog-required

#17468 Update integration.md
  docs/architecture/testing/integration.md
Labels: impact/no-changelog-required

#17456 Enable some more linting rules
  .golangci.yml
  pkg/backend/display/diff.go
  pkg/backend/display/display.go
  pkg/backend/display/object_diff.go
  pkg/backend/display/progress.go
  pkg/backend/display/watch.go
  pkg/backend/diy/backend.go
  pkg/backend/diy/state.go
  pkg/backend/httpstate/stack.go
  pkg/backend/httpstate/state.go
  pkg/backend/watch.go
  pkg/cmd/pulumi/config_env.go
  pkg/cmd/pulumi/convert-trace.go
  pkg/cmd/pulumi/package_add.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/util_remote.go
  pkg/codegen/docs/constructor_syntax_generator.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/nodejs/test.go
  pkg/codegen/pcl/binder_nodes.go
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/schema/bind.go
  pkg/codegen/testing/test/program_driver.go
  pkg/engine/lifecycletest/continue_on_error_test.go
  pkg/engine/project.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator_test.go
  pkg/resource/edit/operations.go
  pkg/resource/stack/deployment.go
  pkg/secrets/passphrase/manager_test.go
  pkg/testing/integration/program.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/resource_id_test.go
  sdk/go/common/tokens/stack_name_test.go
  sdk/go/common/util/gitutil/git.go
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/templates.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/python/cmd/pulumi-language-python/main.go
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#17470 ci: Free disk space on Ubuntu
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#17469 Freeze v3.135.1
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17477 snapshot prune: check that the elements match instead of equals
  pkg/resource/deploy/snapshot_test.go
Labels: impact/no-changelog-required

#17460 [sdk/python] Send plain values to the engine in output invokes and keep track of input dependencies/secrets
  changelog/pending/20241003--sdk-python--send-plain-values-to-the-engine-in-output-invokes-and-keep-track-of-input-dependencies.yaml
  cmd/pulumi-test-language/providers/simple_invoke_provider.go
  cmd/pulumi-test-language/testdata/l2-invoke-dependencies/main.pp
  cmd/pulumi-test-language/testdata/l2-invoke-secrets/main.pp
  cmd/pulumi-test-language/tests.go
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-dependencies/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-dependencies/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-dependencies/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-secrets/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-secrets/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-secrets/main.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-invoke-10.0.0/simpleinvoke/secretInvoke.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/simple-invoke-10.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/simple-invoke-10.0.0/secretInvoke.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/simple-invoke-10.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/simple-invoke-10.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/simple-invoke-10.0.0/secretInvoke.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/simple-invoke-10.0.0/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-dependencies/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-dependencies/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-dependencies/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-dependencies/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-secrets/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-secrets/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-secrets/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-secrets/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/secret_invoke.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-dependencies/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-dependencies/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-dependencies/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-dependencies/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-secrets/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-secrets/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-secrets/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-secrets/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/secret_invoke.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-dependencies/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-dependencies/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-dependencies/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-dependencies/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-secrets/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-secrets/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-secrets/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-secrets/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/simple-invoke-10.0.0/pulumi_simple_invoke/secret_invoke.py
  sdk/python/lib/pulumi/runtime/invoke.py
  sdk/python/lib/pulumi/runtime/rpc.py
Labels: area/sdks, language/python

#17479 [sdk/nodejs] Maintain secretness and input dependencies of output invokes
  changelog/pending/20241004--sdk-nodejs--maintain-secretness-and-input-dependencies-of-output-invokes.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-dependencies/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-dependencies/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-dependencies/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-dependencies/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-dependencies/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-secrets/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-secrets/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-secrets/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-secrets/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-secrets/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-dependencies/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-dependencies/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-dependencies/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-dependencies/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-dependencies/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-secrets/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-secrets/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-secrets/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-secrets/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-secrets/tsconfig.json
  sdk/nodejs/runtime/invoke.ts
  sdk/nodejs/runtime/rpc.ts
  sdk/nodejs/tests/runtime/rpc.spec.ts
  sdk/nodejs/tsconfig.json
Labels: area/sdks, language/javascript

#17492 Fix flake in TestSnapshotPrune_FixesDanglingReferences
  pkg/resource/deploy/snapshot_test.go
Labels: impact/no-changelog-required

#17485 Upgrade to latest pylint version
  sdk/python/.pylintrc
  sdk/python/requirements.txt
Labels: impact/no-changelog-required

#17482 [sdk/python] Handle nested structures properly when unwrapping secrets from invoke inputs
  changelog/pending/20241005--sdk-python--handle-nested-structures-properly-when-unwrapping-secrets-from-invoke-inputs.yaml
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/test/test_next_serialize.py
Labels: area/sdks, language/python

#17490 Prepare for v3.136.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17502 always run multiple stacks concurrently test locally
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: impact/no-changelog-required

#17491 Freeze v3.136.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17498 Add docs on how to run language conformance tests
  cmd/pulumi-test-language/README.md
Labels: impact/no-changelog-required

#17509 Freeze v3.136.1
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17524 Fix language conformance tests for TMPDIR with //
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
Labels: impact/no-changelog-required

#17536 Adjust the link path used in generated CLI docs
  pkg/cmd/pulumi/gen_markdown.go
Labels: impact/no-changelog-required

#17538 [pcl] Detect and error on binding component nodes that self-reference their source
  changelog/pending/20241010--programgen--detect-and-error-on-binding-component-nodes-in-pcl-programs-that-self-reference-their-source.yaml
  pkg/codegen/pcl/binder_component.go
  pkg/codegen/pcl/binder_test.go
Labels: area/codegen

#17544 Port over developer documentation on Pulumi types
  docs/architecture/README.md
  docs/architecture/deployment-execution/resource-registration.md
  docs/architecture/providers.md
  docs/architecture/types/README.md
Labels: impact/no-changelog-required

#17557 Prepare for v3.137.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17559 Remove unused deployment option
  pkg/resource/deploy/deployment.go
Labels: impact/no-changelog-required

#17569 [program-gen] Fix PCL bind error "cannot iterate over a value of type number"
  changelog/pending/20241017--programgen--fix-pcl-bind-error-cannot-iterate-over-a-value-of-type-number-when-conditionals-are-used-in-range-expressions.yaml
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/binder_test.go
Labels: area/codegen

#17558 Freeze v3.137.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17603 Link developer docu in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#17602 Update README.md
  developer-docs/README.md
Labels: impact/no-changelog-required

#17604 Explain how to contribute to dev docs
  docs/writing.md
Labels: impact/no-changelog-required

#17584 Factor out the lifecycle testing framework
  pkg/backend/httpstate/snapshot_test.go
  pkg/engine/lifecycletest/alias_test.go
  pkg/engine/lifecycletest/analyzer_test.go
  pkg/engine/lifecycletest/continue_on_error_test.go
  pkg/engine/lifecycletest/delete_before_replace_test.go
  pkg/engine/lifecycletest/framework/framework.go
  pkg/engine/lifecycletest/golang_sdk_test.go
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/loader_test.go
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/pending_delete_test.go
  pkg/engine/lifecycletest/pending_replace_test.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/refresh_legacy_diff_test.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/resource_reference_test.go
  pkg/engine/lifecycletest/retain_on_delete_test.go
  pkg/engine/lifecycletest/source_query_test.go
  pkg/engine/lifecycletest/step_generator_test.go
  pkg/engine/lifecycletest/target_test.go
  pkg/engine/lifecycletest/transformation_test.go
  pkg/engine/lifecycletest/update_plan_test.go
Labels: impact/no-changelog-required

#17623 Support generating random resources in lifecycle tests
  pkg/engine/lifecycletest/fuzzing/pretty.go
  pkg/engine/lifecycletest/fuzzing/resource.go
  pkg/engine/lifecycletest/fuzzing/stack.go
  pkg/go.mod
Labels: impact/no-changelog-required

#17631 Nit: Use slice.Prealloc in slice.Map and slice.MapError
  sdk/go/common/slice/slice.go
Labels: impact/no-changelog-required

#17626 Support generating random providers in lifecycle tests
  pkg/engine/lifecycletest/fuzzing/provider.go
Labels: impact/no-changelog-required

#17499 Document that args should be read from in preference to variables
  developer-docs/providers/implementers-guide.md
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
Labels: impact/no-changelog-required

#17634 Language conformance for gRPC Check/Configure with schema-based secrets
  cmd/pulumi-test-language/providers/config_grpc_provider.go
  cmd/pulumi-test-language/testdata/l2-provider-grpc-config-schema-secret/main.pp
  cmd/pulumi-test-language/tests.go
  sdk/go/pulumi-language-go/testdata/projects/l2-provider-grpc-config-schema-secret/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-provider-grpc-config-schema-secret/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-provider-grpc-config-schema-secret/main.go
  sdk/go/pulumi-language-go/testdata/sdks/config-grpc-1.0.0/configgrpc/config/config.go
  sdk/go/pulumi-language-go/testdata/sdks/config-grpc-1.0.0/configgrpc/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/config-grpc-1.0.0/configgrpc/pulumiTypes.go
  sdk/go/pulumi-language-go/testdata/sdks/config-grpc-1.0.0/configgrpc/toSecret.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-grpc-config-schema-secret/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-grpc-config-schema-secret/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-grpc-config-schema-secret/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-grpc-config-schema-secret/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-grpc-config-schema-secret/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/config-grpc-1.0.0/config/vars.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/config-grpc-1.0.0/provider.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/config-grpc-1.0.0/toSecret.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/config-grpc-1.0.0/types/input.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/config-grpc-1.0.0/types/output.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-grpc-config-schema-secret/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-grpc-config-schema-secret/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-grpc-config-schema-secret/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-grpc-config-schema-secret/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-grpc-config-schema-secret/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/config-grpc-1.0.0/config/vars.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/config-grpc-1.0.0/provider.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/config-grpc-1.0.0/toSecret.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/config-grpc-1.0.0/types/input.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/config-grpc-1.0.0/types/output.ts
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-grpc-config-schema-secret/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-grpc-config-schema-secret/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-grpc-config-schema-secret/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-grpc-config-schema-secret/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/config-grpc-1.0.0/pulumi_config_grpc/_inputs.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/config-grpc-1.0.0/pulumi_config_grpc/config/__init__.pyi
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/config-grpc-1.0.0/pulumi_config_grpc/config/vars.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/config-grpc-1.0.0/pulumi_config_grpc/outputs.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/config-grpc-1.0.0/pulumi_config_grpc/provider.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/config-grpc-1.0.0/pulumi_config_grpc/to_secret.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-grpc-config-schema-secret/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-grpc-config-schema-secret/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-grpc-config-schema-secret/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-grpc-config-schema-secret/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/config-grpc-1.0.0/pulumi_config_grpc/_inputs.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/config-grpc-1.0.0/pulumi_config_grpc/config/__init__.pyi
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/config-grpc-1.0.0/pulumi_config_grpc/config/vars.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/config-grpc-1.0.0/pulumi_config_grpc/outputs.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/config-grpc-1.0.0/pulumi_config_grpc/provider.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/config-grpc-1.0.0/pulumi_config_grpc/to_secret.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-grpc-config-schema-secret/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-grpc-config-schema-secret/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-grpc-config-schema-secret/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-grpc-config-schema-secret/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/config-grpc-1.0.0/pulumi_config_grpc/_inputs.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/config-grpc-1.0.0/pulumi_config_grpc/config/__init__.pyi
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/config-grpc-1.0.0/pulumi_config_grpc/config/vars.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/config-grpc-1.0.0/pulumi_config_grpc/outputs.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/config-grpc-1.0.0/pulumi_config_grpc/provider.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/config-grpc-1.0.0/pulumi_config_grpc/to_secret.py
Labels: impact/no-changelog-required

#17627 Support generating random fixtures in lifecycle tests
  pkg/engine/lifecycletest/README.md
  pkg/engine/lifecycletest/fuzzing/README.md
  pkg/engine/lifecycletest/fuzzing/fixture.go
  pkg/engine/lifecycletest/fuzzing/plan.go
Labels: impact/no-changelog-required

#17635 Assert that secrets do not leak in the gRPC tests
  cmd/pulumi-test-language/tests.go
Labels: impact/no-changelog-required

#17655 Generate reproductions for fuzz failures
  pkg/engine/lifecycletest/fuzzing/README.md
  pkg/engine/lifecycletest/fuzzing/fixture.go
  pkg/engine/lifecycletest/fuzzing/reprogen.go
Labels: impact/no-changelog-required
