Repository pulumi/pulumi, pull requests merged in 2024-06, with the labels that each got.

#16307 Fix documentation comments in the NodeJS SDK
  sdk/nodejs/automation/events.ts
  sdk/nodejs/output.ts
  sdk/nodejs/resource.ts
  sdk/nodejs/utils.ts
Labels: impact/no-changelog-required

#16313 Refine the error message when a full stack name is not supplied
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#16320 Revert "Prefer pluginDownloadURLOverrides over PluginDownloadURL specified in the package"
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#16318 avoid new issues being created when dispatched acceptance tests fail
  .github/workflows/pr-test-acceptance-on-dispatch.yml
Labels: impact/no-changelog-required

#16323 Prepare for v3.119.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16324 Freeze v3.119.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16297 [go/program-gen] Fix union type type resolution in Go program generation
  changelog/pending/20240530--programgen-go--fix-union-type-type-resolution-in-go-program-generation.yaml
  pkg/codegen/pcl/binder_resource.go
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/azure-native-v2-eventgrid.pp
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/dotnet/azure-native-v2-eventgrid.cs
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/go/azure-native-v2-eventgrid.go
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/nodejs/azure-native-v2-eventgrid.ts
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/python/azure-native-v2-eventgrid.py
  tests/testdata/codegen/basic-unions-pp/go/basic-unions.go
  tests/testdata/codegen/unions-inline/docs/exampleserver/_index.md
Labels: language/go, area/codegen

#16342 [cli/import] Add flag --json which would serialize the import diffs, operations, and overall output as JSON
  changelog/pending/20240606--cli-import--add-flag-json-to-pulumi-import-which-would-serialize-the-import-diffs-operations-and-overall-output-as-json.yaml
  pkg/cmd/pulumi/import.go
Labels: area/import

#16357 Clean up deployment options
  pkg/engine/deployment.go
  pkg/engine/deployment_test.go
  pkg/engine/destroy.go
  pkg/engine/import.go
  pkg/engine/refresh.go
  pkg/engine/update.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/deployment_test.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/import_test.go
  pkg/resource/deploy/source.go
  pkg/resource/deploy/source_error.go
  pkg/resource/deploy/source_error_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/source_null.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_executor.go
  pkg/resource/deploy/step_executor_test.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/deploy/step_generator_test.go
  pkg/resource/deploy/step_test.go
Labels: impact/no-changelog-required

#16362 Add explict provider test to conformance tests
  cmd/pulumi-test-language/testdata/l2-explicit-provider/main.pp
  cmd/pulumi-test-language/tests.go
  pkg/codegen/python/gen_program.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-provider/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-provider/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-provider/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-provider/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-provider/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-provider/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-provider/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-provider/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-provider/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-provider/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-explicit-provider/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-explicit-provider/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-explicit-provider/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-explicit-provider/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-failed-create-continue-on-error/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-target-up-with-new-dependency/1/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-explicit-provider/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-explicit-provider/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-explicit-provider/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-explicit-provider/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-failed-create-continue-on-error/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-target-up-with-new-dependency/1/__main__.py
  tests/testdata/codegen/aws-fargate-output-versioned-pp/python/aws-fargate-output-versioned.py
  tests/testdata/codegen/aws-fargate-pp/python/aws-fargate.py
  tests/testdata/codegen/aws-resource-options-4.26-pp/python/aws-resource-options-4.26.py
  tests/testdata/codegen/aws-resource-options-5.16.2-pp/python/aws-resource-options-5.16.2.py
  tests/testdata/codegen/components-pp/python/another_component.py
  tests/testdata/codegen/components-pp/python/exampleComponent.py
  tests/testdata/codegen/components-pp/python/simpleComponent.py
  tests/testdata/codegen/depends-on-array-pp/python/depends-on-array.py
  tests/testdata/codegen/python-resource-names-pp/python/python-resource-names.py
  tests/testdata/codegen/retain-on-delete-pp/python/retain-on-delete.py
Labels: impact/no-changelog-required

#16376 Prepare for pulumi 3.120.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16380 Freeze 3.120.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16387 Regenerate test `package-lock.json` files
  sdk/go/auto/test/errors/compilation_error/typescript/package-lock.json
  sdk/go/auto/test/errors/runtime_error/javascript/package-lock.json
  sdk/go/auto/test/errors/runtime_error/typescript/package-lock.json
  sdk/nodejs/tests/automation/data/tcfg/package-lock.json
  sdk/python/lib/test/automation/errors/compilation_error/typescript/package-lock.json
  sdk/python/lib/test/automation/errors/runtime_error/javascript/package-lock.json
  sdk/python/lib/test/automation/errors/runtime_error/typescript/package-lock.json
  tests/integration/nodejs/esm-srcdir-ts/package-lock.json
Labels: impact/no-changelog-required

#16381 Update pu/pu apitype to support Deployment Settings yaml marshalling
  sdk/go/common/apitype/deployments.go
Labels: impact/no-changelog-required

#16382 Update pu/pu to support new Deployment Settings endpoints
  pkg/backend/backend.go
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/mock.go
Labels: impact/no-changelog-required

#16367 Remove `Step.Apply`'s `preview` parameter
  pkg/backend/snapshot_test.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_executor.go
  pkg/resource/deploy/step_test.go
Labels: impact/no-changelog-required

#16407 [cli/plugin] Fix plugin install command when plugin type is tool
  changelog/pending/20240616--cli-plugin--fix-plugin-install-command-when-plugin-type-is-tool.yaml
  pkg/util/plugin.go
  sdk/go/common/workspace/plugins.go
Labels: area/cli, area/plugins

#16346 Query language runtime for options during “pulumi new”
  changelog/pending/20240607--cli-new--allow-passing-runtime-options-as-args-in-pulumi-new.yaml
  changelog/pending/20240607--cli-new--query-language-runtime-for-options-during-pulumi-new.yaml
  changelog/pending/20240610--sdk-python--automatically-converts-requirements-txt-to-pyproject-toml-when-using-poetry.yaml
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/new_test.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/languageruntime_test.go
  pkg/resource/deploy/source_query_test.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/go/pulumi-language-go/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/proto/language_grpc_pb.d.ts
  sdk/nodejs/proto/language_grpc_pb.js
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/language.pb.go
  sdk/proto/go/language_grpc.pb.go
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.pyi
  sdk/python/toolchain/poetry.go
  sdk/python/toolchain/poetry_test.go
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
  tests/integration/integration_python_acceptance_test.go
Labels: ci/test

#16398 Update pu/pu to support the new settings pull command + new deployment file
  pkg/cmd/pulumi/deployment.go
  pkg/cmd/pulumi/pulumi.go
  sdk/go/common/workspace/loaders.go
  sdk/go/common/workspace/paths.go
  sdk/go/common/workspace/paths_test.go
  sdk/go/common/workspace/project.go
Labels: impact/no-changelog-required

#16421 Vendor the inflector library
  pkg/codegen/pcl/rewrite_apply.go
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#16424 ci: Bump `macos-11` runner to `macos-12`
  .github/workflows/download-pulumi-cron.yml
Labels: impact/no-changelog-required

#15854 fix: advise people of the ESLint Plugin for catching interpolation issues
  sdk/nodejs/output.ts
Labels: impact/no-changelog-required

#16430 Prepare for v3.121.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16447 Freeze v3.121.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16151 Set range in python codegen default SDK version
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_test.go
  sdk/python/cmd/pulumi-language-python/testdata/sdks/old-1.0.0/setup.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/asset-archive-5.0.0/setup.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/fail_on_create-4.0.0/setup.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/large-2.0.0/setup.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/large-4.3.2/setup.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/simple-2.0.0/setup.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/asset-archive-5.0.0/pyproject.toml
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/fail_on_create-4.0.0/pyproject.toml
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/large-4.3.2/pyproject.toml
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/simple-2.0.0/pyproject.toml
  tests/testdata/codegen/assets-and-archives/python/setup.py
  tests/testdata/codegen/cyclic-types/python/setup.py
  tests/testdata/codegen/dash-named-schema/python/setup.py
  tests/testdata/codegen/dashed-import-schema/python/setup.py
  tests/testdata/codegen/different-enum/python/setup.py
  tests/testdata/codegen/external-resource-schema/python/setup.py
  tests/testdata/codegen/functions-secrets/python/setup.py
  tests/testdata/codegen/hyphenated-symbols/python/setup.py
  tests/testdata/codegen/legacy-names/python/setup.py
  tests/testdata/codegen/methods-return-plain-resource/python/setup.py
  tests/testdata/codegen/naming-collisions/python/setup.py
  tests/testdata/codegen/nested-module/python/setup.py
  tests/testdata/codegen/output-funcs-edgeorder/python/setup.py
  tests/testdata/codegen/output-funcs-tfbridge20/python/setup.py
  tests/testdata/codegen/output-funcs/python/setup.py
  tests/testdata/codegen/plain-and-default/python/setup.py
  tests/testdata/codegen/plain-object-defaults/python/setup.py
  tests/testdata/codegen/plain-object-disable-defaults/python/setup.py
  tests/testdata/codegen/provider-config-schema/python/setup.py
  tests/testdata/codegen/provider-type-schema/python/setup.py
  tests/testdata/codegen/regress-8403/python/setup.py
  tests/testdata/codegen/regress-node-8110/python/setup.py
  tests/testdata/codegen/regress-py-12546/python/setup.py
  tests/testdata/codegen/regress-py-12980/python/setup.py
  tests/testdata/codegen/regress-py-14012/python/setup.py
  tests/testdata/codegen/replace-on-change/python/setup.py
  tests/testdata/codegen/resource-args-python-case-insensitive/python/setup.py
  tests/testdata/codegen/resource-args-python/python/setup.py
  tests/testdata/codegen/resource-property-overlap/python/setup.py
  tests/testdata/codegen/secrets/python/setup.py
  tests/testdata/codegen/simple-enum-schema/python/setup.py
  tests/testdata/codegen/simple-methods-schema-single-value-returns/python/setup.py
  tests/testdata/codegen/simple-methods-schema/python/setup.py
  tests/testdata/codegen/simple-plain-schema-with-root-package/python/setup.py
  tests/testdata/codegen/simple-plain-schema/python/setup.py
  tests/testdata/codegen/simple-resource-schema-custom-pypackage-name/python/setup.py
  tests/testdata/codegen/simple-resource-schema/python/setup.py
  tests/testdata/codegen/simple-resource-with-aliases/python/setup.py
  tests/testdata/codegen/simple-schema-pyproject/python/pyproject.toml
  tests/testdata/codegen/simple-yaml-schema/python/setup.py
  tests/testdata/codegen/unions-inline/python/setup.py
  tests/testdata/codegen/unions-inside-arrays/python/setup.py
  tests/testdata/codegen/urn-id-properties/python/setup.py
  tests/testdata/codegen/using-shared-types-in-config/python/setup.py
Labels: impact/no-changelog-required

#16458 Keep package refs separate from providers
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/go/pulumi/mocks.go
  sdk/nodejs/cmd/pulumi-language-nodejs/proxy.go
  sdk/nodejs/proto/resource_grpc_pb.d.ts
  sdk/nodejs/proto/resource_grpc_pb.js
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/proto/go/resource_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.pyi
Labels: impact/no-changelog-required

#16468 unflake TestConfigEnvAddCmd/no_effects
  pkg/cmd/pulumi/config_env_add_test.go
Labels: impact/no-changelog-required

#16418 New Deployment Settings commands to init, update and clear the config
  pkg/cmd/pulumi/deployment.go
Labels: impact/no-changelog-required

#15960 ci: Remove retry script
  scripts/get-job-matrix.py
  scripts/retry
Labels: impact/no-changelog-required

#16477 Fix TestConfigEnvAddCmd flake
  pkg/cmd/pulumi/config_env_add_test.go
Labels: impact/no-changelog-required

#16471 Fix TestTerminate_gracefulShutdown/python flake
  sdk/go/common/util/cmdutil/term_test.go
  sdk/go/common/util/cmdutil/testdata/graceful.py
Labels: impact/no-changelog-required

#16482 Fix TestConfigEnvAddCmd flake
  pkg/cmd/pulumi/config_env_add_test.go
Labels: impact/no-changelog-required

#16495 fudge numbers to avoid flakyness in token renewal tests
  pkg/backend/httpstate/token_source_test.go
Labels: impact/no-changelog-required

#16501 Temporarily skip flaky TestTokenSource test
  pkg/backend/httpstate/token_source_test.go
Labels: impact/no-changelog-required

#16496 Fix TestConfigEnvXXX flakes
  pkg/cmd/pulumi/config_env_add_test.go
  pkg/cmd/pulumi/config_env_init_test.go
  pkg/cmd/pulumi/config_env_ls_test.go
  pkg/cmd/pulumi/config_env_rm_test.go
  pkg/cmd/pulumi/config_env_test.go
Labels: impact/no-changelog-required

#16494 cloud backend test: retry creating secrets manager
  pkg/secrets/cloud/manager_test.go
Labels: impact/no-changelog-required

#16511 fail fast whenever a job fails
  .github/workflows/ci.yml
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#16515 Skip TestTokenSourceWithQuicklyExpiringInitialToken
  pkg/backend/httpstate/token_source_test.go
Labels: impact/no-changelog-required

#16493 implement skeleton command for `pulumi state move`
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_move_test.go
  pkg/resource/graph/dependency_graph.go
  pkg/resource/stack/checkpoint.go
  sdk/go/common/resource/urn/urn.go
Labels: impact/no-changelog-required

#16518 also show stdout and stderr when listing tests fails
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#16521 reduce the usage of PULUMI_BOT_TOKEN
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-info.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/on-push.yml
  .github/workflows/pr-test-codegen-downstream.yml
Labels: impact/no-changelog-required

#16532 ci: Set `GITHUB_TOKEN` when running tests
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#16485 Update `upload-artifact` and `download-artifact` actions
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-build-sdks.yml
  .github/workflows/ci-dev-release.yml
  .github/workflows/ci-prepare-release.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/ci.yml
  .github/workflows/sign.yml
Labels: impact/no-changelog-required

#16508 Fix a typo in user prompt
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required

#16415 Remove the GitHub pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: impact/no-changelog-required

#16524 mark the whole CI workflow as fail-fast
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#16535 Prepare for v3.122.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required
