Repository pulumi/pulumi, pull requests merged in 2024-08, with the labels that each got.

#16845 [Go] Enable l2-resource-simple conformance test
  cmd/pulumi-test-language/interface.go
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/schema/package_reference.go
  scripts/tidy.sh
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-simple/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-simple/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-simple/main.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-2.0.0/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/simple-2.0.0/simple/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-2.0.0/simple/init.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-2.0.0/simple/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-2.0.0/simple/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-2.0.0/simple/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/simple-2.0.0/simple/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/simple-2.0.0/simple/resource.go
Labels: area/testing, language/go, impact/no-changelog-required, area/codegen

#16856 Tiny cleanup to an integration test
  tests/integration/aliases/go/retype_parents/step2/main.go
Labels: impact/no-changelog-required

#16858 devdocs: Document ignore changes interaction with Check
  developer-docs/providers/implementers-guide.md
Labels: impact/no-changelog-required

#16869 Prepare for v3.128.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16872 Parse conformance programs to decide which packages are needed for SDKs
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/internal_test.go
  cmd/pulumi-test-language/providers/bad_provider.go
  cmd/pulumi-test-language/testdata/internal-bad-schema/main.pp
  cmd/pulumi-test-language/tests.go
Labels: impact/no-changelog-required

#16875 Package versions are required for parameterized packages
  pkg/cmd/pulumi/package.go
  pkg/resource/deploy/providers/provider.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/deploy/source_eval.go
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_server.go
Labels: impact/no-changelog-required

#16870 Freeze v3.128.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16891 Add --local to GeneratePackage and gen-sdk
  cmd/pulumi-test-language/interface.go
  pkg/cmd/pulumi/package_gen_sdk.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/languageruntime_test.go
  pkg/resource/deploy/source_query_test.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#16898 Fix a typo
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#16903 re-enable TestResourceRefsGetResourceNode
  tests/integration/integration_nodejs_test.go
  tests/integration/resource_refs_get_resource/nodejs/index.ts
Labels: impact/no-changelog-required

#16907 Add support for public bare git repos on deployment settings
  pkg/cmd/pulumi/deployment_settings_config.go
  pkg/cmd/pulumi/deployment_settings_config_test.go
Labels: impact/no-changelog-required

#16919 Bump PulumiDotnetSDKVersion after dotnet release
  pkg/codegen/testing/test/helpers.go
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#16922 Split windows acceptance tests into 2 partitions
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#16884 Add regression test for config overloads
  tests/integration/integration_python_test.go
  tests/integration/python/config-getter-types/.gitignore
  tests/integration/python/config-getter-types/Pulumi.yaml
  tests/integration/python/config-getter-types/__main__.py
  tests/integration/python/config-getter-types/requirements.txt
Labels: impact/no-changelog-required

#16912 [sdk-gen] Support parameterized .NET provider SDKs
  changelog/pending/20240808--sdkgen-dotnet--support-parameterized-net-provider-sdks.yaml
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/templates.go
  pkg/codegen/testing/test/helpers.go
  tests/testdata/codegen/assets-and-archives/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/azure-native-nested-types/dotnet/Pulumi.AzureNative.csproj
  tests/testdata/codegen/config-variables/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/cyclic-types/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/dash-named-schema/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/dashed-import-schema/dotnet/Pulumi.Plant.csproj
  tests/testdata/codegen/functions-secrets/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/hyphen-url/dotnet/Pulumi.Registrygeoreplication.csproj
  tests/testdata/codegen/legacy-names/dotnet/Pulumi.Legacy_names.csproj
  tests/testdata/codegen/naming-collisions/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/nested-module-thirdparty/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/output-funcs-edgeorder/dotnet/Pulumi.Myedgeorder.csproj
  tests/testdata/codegen/output-funcs-tfbridge20/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/output-funcs/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/plain-and-default/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/plain-object-defaults/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/plain-object-disable-defaults/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/provider-type-schema/dotnet/Pulumi.ProviderType.csproj
  tests/testdata/codegen/regress-8403/dotnet/Pulumi.Mongodbatlas.csproj
  tests/testdata/codegen/regress-node-8110/dotnet/Pulumi.My8110.csproj
  tests/testdata/codegen/replace-on-change/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-args-python-case-insensitive/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-args-python/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-property-overlap/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/secrets/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/simple-enum-schema/dotnet/Pulumi.Plant.csproj
  tests/testdata/codegen/simple-methods-schema-single-value-returns/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-methods-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-plain-schema-with-root-package/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-plain-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-resource-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-resource-with-aliases/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/unions-inline/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/unions-inside-arrays/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/urn-id-properties/dotnet/Pulumi.Urnid.csproj
  tests/testdata/codegen/using-shared-types-in-config/dotnet/Pulumi.Credentials.csproj
Labels: language/dotnet, area/codegen

#16902 Fix up local dependencies in .NET codegen
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/dotnet/utilities.go
Labels: impact/no-changelog-required

#16929 Use better names for `package add`-generated SDKs
  pkg/cmd/pulumi/package_add.go
Labels: impact/no-changelog-required

#16931 Prepare for v3.129.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16927 Add Nodejs and Python instructions for `package add`
  pkg/cmd/pulumi/package_add.go
Labels: impact/no-changelog-required

#16934 Bump dotnet SDK version after release
  pkg/codegen/testing/test/helpers.go
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#16935 Use Pulumi v3.66.1 in .NET sdk-gen
  pkg/codegen/dotnet/gen.go
  tests/testdata/codegen/assets-and-archives/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/azure-native-nested-types/dotnet/Pulumi.AzureNative.csproj
  tests/testdata/codegen/config-variables/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/cyclic-types/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/dash-named-schema/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/dashed-import-schema/dotnet/Pulumi.Plant.csproj
  tests/testdata/codegen/functions-secrets/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/hyphen-url/dotnet/Pulumi.Registrygeoreplication.csproj
  tests/testdata/codegen/legacy-names/dotnet/Pulumi.Legacy_names.csproj
  tests/testdata/codegen/naming-collisions/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/nested-module-thirdparty/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/output-funcs-edgeorder/dotnet/Pulumi.Myedgeorder.csproj
  tests/testdata/codegen/output-funcs-tfbridge20/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/output-funcs/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/plain-and-default/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/plain-object-defaults/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/plain-object-disable-defaults/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/provider-type-schema/dotnet/Pulumi.ProviderType.csproj
  tests/testdata/codegen/regress-8403/dotnet/Pulumi.Mongodbatlas.csproj
  tests/testdata/codegen/regress-node-8110/dotnet/Pulumi.My8110.csproj
  tests/testdata/codegen/replace-on-change/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-args-python-case-insensitive/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-args-python/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-property-overlap/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/secrets/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/simple-enum-schema/dotnet/Pulumi.Plant.csproj
  tests/testdata/codegen/simple-methods-schema-single-value-returns/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-methods-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-plain-schema-with-root-package/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-plain-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-resource-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-resource-with-aliases/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/unions-inline/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/unions-inside-arrays/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/urn-id-properties/dotnet/Pulumi.Urnid.csproj
  tests/testdata/codegen/using-shared-types-in-config/dotnet/Pulumi.Credentials.csproj
Labels: impact/no-changelog-required

#16738 Add parameterized providers to Go
  pkg/codegen/go/gen.go
  scripts/tidy.sh
  sdk/go/pulumi/context.go
  sdk/go/pulumi/resource.go
  tests/integration/go/parameterized/Pulumi.yaml
  tests/integration/go/parameterized/go.mod
  tests/integration/go/parameterized/go.sum
  tests/integration/go/parameterized/main.go
  tests/integration/go/parameterized/sdk/go/pkg/doEcho.go
  tests/integration/go/parameterized/sdk/go/pkg/doc.go
  tests/integration/go/parameterized/sdk/go/pkg/echo.go
  tests/integration/go/parameterized/sdk/go/pkg/failsOnCreate.go
  tests/integration/go/parameterized/sdk/go/pkg/failsOnDelete.go
  tests/integration/go/parameterized/sdk/go/pkg/go.mod
  tests/integration/go/parameterized/sdk/go/pkg/init.go
  tests/integration/go/parameterized/sdk/go/pkg/internal/pulumiUtilities.go
  tests/integration/go/parameterized/sdk/go/pkg/internal/pulumiVersion.go
  tests/integration/go/parameterized/sdk/go/pkg/provider.go
  tests/integration/go/parameterized/sdk/go/pkg/pulumi-plugin.json
  tests/integration/go/parameterized/sdk/go/pkg/random.go
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required

#16936 .NET link instructions in pulumi package add
  pkg/cmd/pulumi/package_add.go
Labels: impact/no-changelog-required

#16938 Go link instructions in pulumi package add
  pkg/cmd/pulumi/package_add.go
Labels: impact/no-changelog-required

#16943 Use exact IEEE double min and max values in output test
  cmd/pulumi-test-language/testdata/l1-output-number/main.pp
Labels: impact/no-changelog-required

#16932 Freeze v3.129.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16904 Fix deployment settings serialization and keys consistency
  pkg/backend/httpstate/client/client_test.go
  pkg/cmd/pulumi/deployment_settings_utils_test.go
  sdk/go/common/apitype/deployments.go
Labels: impact/no-changelog-required

#16952 Use grpc providers in conformance tests
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/test_host.go
  cmd/pulumi-test-language/tests.go
Labels: impact/no-changelog-required

#16966 Fix potential nil panic in FindExecutable
  sdk/go/common/util/executable/executable.go
Labels: impact/no-changelog-required

#16962 Fixing a few pylint errors in the python test folder
  sdk/python/lib/test/automation/test_local_workspace.py
  sdk/python/lib/test/langhost/inheritance_translation/__main__.py
  sdk/python/lib/test/langhost/input_values_for_outputs/__main__.py
  sdk/python/lib/test/langhost/output_property_dependencies/__main__.py
  sdk/python/lib/test/langhost/stack_output/__main__.py
  sdk/python/lib/test/test_broken_dynamic_provider.py
  sdk/python/lib/test/test_deprecated.py
  sdk/python/lib/test/test_monitor_termination.py
  sdk/python/lib/test/test_resource.py
  sdk/python/lib/test/test_stack_reference.py
  sdk/python/lib/test/test_stack_registers_outputs.py
  sdk/python/lib/test/test_types_input_type.py
  sdk/python/lib/test/test_types_output_type.py
Labels: impact/no-changelog-required

#16967 Fix potential nil panic in InitError.Error
  sdk/go/common/resource/plugin/provider_plugin.go
Labels: impact/no-changelog-required

#16971 Don't add 'version.txt' file twice if RespectSchemaVersion and SupportPack are set
  pkg/codegen/dotnet/gen.go
Labels: impact/no-changelog-required

#16988 [programgen] Unskip some Python and .NET tests
  pkg/codegen/testing/test/program_driver.go
  tests/testdata/codegen/aws-s3-folder-pp/dotnet/aws-s3-folder.cs
Labels: impact/no-changelog-required

#16992 fix help text for --stack in state edit
  pkg/cmd/pulumi/state_edit.go
Labels: impact/no-changelog-required

#16994 fix help text for --stack in state edit
  pkg/cmd/pulumi/state_edit.go
Labels: impact/no-changelog-required

#16995 correct spelling of variable
  pkg/cmd/pulumi/util_remote.go
Labels: impact/no-changelog-required

#16993 fix usage string for convert-trace
  pkg/cmd/pulumi/convert-trace.go
Labels: impact/no-changelog-required

#16985 [programgen/nodejs] Unskip some tests
  pkg/codegen/testing/test/program_driver.go
Labels: impact/no-changelog-required

#16961 Build all binaries in pull requests
  .github/workflows/ci.yml
  .github/workflows/on-pr.yml
  .github/workflows/pr-test-acceptance-on-dispatch.yml
Labels: impact/no-changelog-required

#17006 Add semicolon output functions
  pkg/codegen/nodejs/gen.go
  tests/testdata/codegen/simplified-invokes/nodejs/absMultiArgs.ts
  tests/testdata/codegen/simplified-invokes/nodejs/absMultiArgsReducedOutput.ts
  tests/testdata/codegen/simplified-invokes/nodejs/absMultiArgsReducedOutputSwapped.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getArchive.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getArrayCustomResult.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getAsset.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getCustomResult.ts
  tests/testdata/codegen/simplified-invokes/nodejs/getDictionary.ts
Labels: impact/no-changelog-required, ci/test

#17030 Bump .NET version after 3.66.2 release
  pkg/codegen/testing/test/helpers.go
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#17041 [pkg] Update `github.com/pgavlin/text`
  pkg/go.mod
  pkg/go.sum
  tests/go.sum
Labels: impact/no-changelog-required

#17039 Clean up multi-error rendering
  sdk/go/common/util/cmdutil/exit.go
  sdk/go/common/util/cmdutil/exit_test.go
Labels: impact/no-changelog-required

#16953 Introduce Sphinx-backed developer documentation
  .readthedocs.yaml
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/diagrams.md
  docs/documentation.md
  docs/requirements.txt
  docs/sphinx/_ext/.gitkeep
  docs/sphinx/_static/custom.css
  docs/sphinx/conf.py
  docs/sphinx/index.html.template
  docs/writing.md
Labels: impact/no-changelog-required

#17048 Prepare for v3.130.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17058 Log error in symmetricCrypterFromPhraseAndState
  pkg/secrets/passphrase/manager.go
Labels: impact/no-changelog-required

#17049 Freeze v3.130.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17053 remove changelog comment
  .github/scripts/get-changelog-comment
  .github/workflows/on-community-pr.yml
  .github/workflows/on-pr-changelog.yml
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#17080 Remove path usage from deploytest
  pkg/codegen/testing/utils/host.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/deploytest/pluginhost_test.go
Labels: impact/no-changelog-required

#17065 Prepare golangci-lint upgrade
  pkg/backend/display/internal/terminal/term.go
  pkg/backend/diy/backend_test.go
  pkg/backend/httpstate/backend.go
  pkg/backend/watch.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/pulumi.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/hcl2/model/diagnostics.go
  pkg/codegen/pcl/binder_component.go
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/step_generator.go
  pkg/testing/integration/pulumi.go
  pkg/testing/integration/util.go
  pkg/util/tracing/tracing.go
  sdk/go/common/resource/archive/archive.go
  sdk/go/common/resource/config/plaintext.go
  sdk/go/common/resource/plugin/diagnostic.go
  sdk/go/common/testing/environment.go
  sdk/go/common/util/archive/archive.go
  sdk/go/common/util/cmdutil/console.go
  sdk/go/common/util/cmdutil/console_password.go
  sdk/go/common/util/cmdutil/exit.go
  sdk/go/common/util/rpcutil/writer_test.go
  sdk/go/common/workspace/project.go
  sdk/go/internal/workgroup_test.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi/provider/provider.go
  sdk/nodejs/cmd/pulumi-language-nodejs/proxy.go
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#17027 Add link to Copilot in CLI printDiagnostics
  pkg/backend/display/options.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/engine/lifecycletest/test_plan.go
Labels: impact/no-changelog-required

#17079 Refactor and fix bug in progress_test
  pkg/backend/display/progress_test.go
  pkg/backend/display/testdata/not-truncated/failed-stacks-dont-rewrite-operations.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/failed-stacks-dont-rewrite-operations.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/failed-stacks-dont-rewrite-operations.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/stack-output-resource-diff.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/stack-output-resource-diff.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/stack-output-resource-diff.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/template-body.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/template-body.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/template-body.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-2.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-2.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-2.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-3.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-3.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-3.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-4.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-4.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-4.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-5.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-5.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up-5.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/up.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/url-encoded-stack-output-diff.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/url-encoded-stack-output-diff.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/url-encoded-stack-output-diff.json.interactive-80x24-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/webserver-userdata.json.interactive-100x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/webserver-userdata.json.interactive-200x80-cooked.stdout.txt
  pkg/backend/display/testdata/not-truncated/webserver-userdata.json.interactive-80x24-cooked.stdout.txt
Labels: impact/no-changelog-required

#17077 Add loader_target to RunRequest
  pkg/engine/lifecycletest/loader_test.go
  pkg/resource/deploy/source_eval.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#17089 Add workspace.Context for mocking workspace functions
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/config_env.go
  pkg/cmd/pulumi/config_env_init.go
  pkg/cmd/pulumi/config_env_test.go
  pkg/cmd/pulumi/console.go
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/deployment_run.go
  pkg/cmd/pulumi/deployment_settings_config.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/install.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/logout.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/org.go
  pkg/cmd/pulumi/org_search.go
  pkg/cmd/pulumi/org_search_ai.go
  pkg/cmd/pulumi/package_add.go
  pkg/cmd/pulumi/plugin.go
  pkg/cmd/pulumi/policy_group_ls.go
  pkg/cmd/pulumi/policy_ls.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/query.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_history.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_ls.go
  pkg/cmd/pulumi/stack_select.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_remote.go
  pkg/cmd/pulumi/watch.go
  pkg/cmd/pulumi/whoami.go
  pkg/workspace/context.go
  pkg/workspace/mock.go
Labels: impact/no-changelog-required

#17091 Make a PULUMI_BACKEND_URL an env.Var instance
  pkg/cmd/pulumi/new_acceptance_test.go
  sdk/go/common/env/env.go
  sdk/go/common/workspace/creds.go
Labels: impact/no-changelog-required

#17104 Use esc/workspace.DefaultPulumiWorkspace in env cmd
  pkg/cmd/pulumi/env.go
Labels: impact/no-changelog-required

#17103 Lift pkgWorkspace.Instance to top level command functions
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/cancel.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/config_env.go
  pkg/cmd/pulumi/config_env_init.go
  pkg/cmd/pulumi/config_env_test.go
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/convert_test.go
  pkg/cmd/pulumi/deployment_run.go
  pkg/cmd/pulumi/deployment_settings_config.go
  pkg/cmd/pulumi/deployment_settings_ops.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/package_add.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_export.go
  pkg/cmd/pulumi/stack_graph.go
  pkg/cmd/pulumi/stack_history.go
  pkg/cmd/pulumi/stack_import.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/stack_output_test.go
  pkg/cmd/pulumi/stack_rename.go
  pkg/cmd/pulumi/stack_rm.go
  pkg/cmd/pulumi/stack_select.go
  pkg/cmd/pulumi/stack_tag.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/state_delete.go
  pkg/cmd/pulumi/state_edit.go
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_rename.go
  pkg/cmd/pulumi/state_unprotect.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_remote.go
  pkg/cmd/pulumi/watch.go
Labels: impact/no-changelog-required

#17105 Move GetBackendConfigDefaultOrg to pkg workspace
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/stack.go
  pkg/cmd/pulumi/org.go
  pkg/cmd/pulumi/org_search.go
  pkg/cmd/pulumi/org_search_ai.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/util.go
  pkg/workspace/creds.go
  sdk/go/common/workspace/creds.go
Labels: impact/no-changelog-required

#17098 Copy Parameterization to the codegen package
  proto/.checksum.txt
  proto/pulumi/codegen/loader.proto
  sdk/nodejs/proto/codegen/loader_pb.d.ts
  sdk/nodejs/proto/codegen/loader_pb.js
  sdk/proto/go/codegen/loader.pb.go
  sdk/python/lib/pulumi/runtime/proto/codegen/loader_pb2.py
  sdk/python/lib/pulumi/runtime/proto/codegen/loader_pb2.pyi
Labels: impact/no-changelog-required

#17100 Give Node.js and Python coverage files unique names to improve code coverage quality
  .github/workflows/ci-run-test.yml
  sdk/python/scripts/test_auto.sh
  sdk/python/scripts/test_fast.sh
Labels: impact/no-changelog-required

#17106 Add GetStoredCredentials to pkg workspace
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/backend_test.go
  pkg/cmd/pulumi/logout.go
  pkg/cmd/pulumi/pulumi.go
  pkg/workspace/context.go
  pkg/workspace/mock.go
Labels: impact/no-changelog-required

#17109 Support PULUMI_SHOW_COPILOT_LINK to enable 'explainFailure' link
  pkg/backend/display/options.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/cmd/pulumi/up.go
  pkg/engine/lifecycletest/test_plan.go
  sdk/go/common/env/env.go
Labels: impact/no-changelog-required

#17097 Make LoaderClient public
  pkg/codegen/schema/loader_client.go
Labels: impact/no-changelog-required

#17072 implement the engine bits for debugging support
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/test_host.go
  pkg/backend/display/diff.go
  pkg/backend/display/events.go
  pkg/backend/display/json.go
  pkg/backend/display/progress.go
  pkg/backend/display/query.go
  pkg/backend/display/watch.go
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/install.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/package.go
  pkg/cmd/pulumi/plugin.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/engine/debugging.go
  pkg/engine/deployment.go
  pkg/engine/events.go
  pkg/engine/query.go
  pkg/engine/update.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_query_test.go
  proto/.checksum.txt
  proto/pulumi/engine.proto
  proto/pulumi/language.proto
  sdk/go/common/apitype/events.go
  sdk/go/common/resource/plugin/context.go
  sdk/go/common/resource/plugin/debugging.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/host_server.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/pulumi/mocks.go
  sdk/nodejs/proto/engine_grpc_pb.d.ts
  sdk/nodejs/proto/engine_grpc_pb.js
  sdk/nodejs/proto/engine_pb.d.ts
  sdk/nodejs/proto/engine_pb.js
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/engine.pb.go
  sdk/proto/go/engine_grpc.pb.go
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/engine_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/engine_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#17107 Move GetCurrentCloudURL to pkg workspace
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/ai.go
  pkg/cmd/pulumi/ai_web.go
  pkg/cmd/pulumi/console.go
  pkg/cmd/pulumi/deployment_run.go
  pkg/cmd/pulumi/deployment_settings_config.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/logout.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/new_acceptance_test.go
  pkg/cmd/pulumi/org.go
  pkg/cmd/pulumi/org_search.go
  pkg/cmd/pulumi/org_search_ai.go
  pkg/cmd/pulumi/org_search_ai_test.go
  pkg/cmd/pulumi/org_search_test.go
  pkg/cmd/pulumi/policy_group_ls.go
  pkg/cmd/pulumi/policy_ls.go
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/query.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/stack_init_test.go
  pkg/cmd/pulumi/stack_ls.go
  pkg/cmd/pulumi/stack_select.go
  pkg/cmd/pulumi/state_upgrade.go
  pkg/cmd/pulumi/state_upgrade_test.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_remote.go
  pkg/cmd/pulumi/whoami.go
  pkg/cmd/pulumi/whoami_test.go
  pkg/workspace/creds.go
  pkg/workspace/creds_test.go
  pkg/workspace/mock.go
  sdk/go/common/workspace/creds.go
Labels: impact/no-changelog-required

#17112 Move GetCloudInsecure to pkg workspace
  pkg/cmd/pulumi/policy_publish.go
  pkg/cmd/pulumi/util.go
  pkg/workspace/creds.go
  sdk/go/common/workspace/creds.go
Labels: impact/no-changelog-required

#17108 Support loading parameterized schemas in the schema loader
  cmd/pulumi-test-language/interface.go
  pkg/codegen/docs/static_schema_loader.go
  pkg/codegen/pcl/binder_resource_test.go
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/loader_client.go
  pkg/codegen/schema/loader_test.go
  pkg/codegen/schema/mock_pulumi_schema.go
  sdk/go/common/resource/plugin/mock.go
Labels: impact/no-changelog-required

#17115 Fix GetPluginInfo with shimless project plugins
  pkg/cmd/pulumi/plugin.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#17119 Document developer documentation deployments
  docs/documentation.md
  docs/sphinx/conf.py
Labels: impact/no-changelog-required

#17113 Document that `CallResponse.returnDependencies` is augmented by the engine
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/nodejs/proto/provider_pb.d.ts
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
Labels: impact/no-changelog-required, kind/documentation

#17125 Switch back to `os/user` to get the current user
  .goreleaser.yml
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/backend/diy/backend.go
  pkg/backend/diy/backend_test.go
  pkg/cmd/pulumi/pulumi.go
  pkg/go.mod
  pkg/go.sum
  pkg/testing/integration/program.go
  sdk/go.mod
  sdk/go.sum
  sdk/go/common/tools/paths.go
  sdk/go/common/workspace/paths.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required
