Repository pulumi/pulumi, pull requests merged in 2024-11, with the labels that each got.

#17654 Add the ability to fuzz parents and aliases
  pkg/engine/lifecycletest/fuzzing/program.go
  pkg/engine/lifecycletest/fuzzing/resource.go
  pkg/engine/lifecycletest/fuzzing/snapshot.go
Labels: impact/no-changelog-required

#17659 Generate reproductions for fuzz failures
  pkg/engine/lifecycletest/fuzzing/README.md
  pkg/engine/lifecycletest/fuzzing/fixture.go
  pkg/engine/lifecycletest/fuzzing/reprogen.go
Labels: impact/no-changelog-required

#17670 Remove unused id-token: write permission ci-build-binaries
  .github/workflows/ci-build-binaries.yml
Labels: impact/no-changelog-required

#17672 exclude lifecycletest from codecov
  codecov.yml
Labels: impact/no-changelog-required

#17364 Add simple performance gate to integration tests
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-dev-release.yml
  .github/workflows/ci-performance-gate.yml
  .github/workflows/ci-prepare-release.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/on-merge.yml
  .github/workflows/on-pr.yml
  .github/workflows/sign.yml
  Makefile
  pkg/testing/integration/program.go
  scripts/get-job-matrix.py
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_util_test.go
  tests/performance/README.md
  tests/performance/performance_test.go
  tests/performance/python/component/Pulumi.yaml
  tests/performance/python/component/__main__.py
  tests/performance/python/component/echo.py
  tests/performance/python/component/requirements.txt
  tests/performance/python/empty/Pulumi.yaml
  tests/performance/python/empty/__main__.py
  tests/performance/python/empty/requirements.txt
  tests/performance/python/parents/Pulumi.yaml
  tests/performance/python/parents/__main__.py
  tests/performance/python/parents/echo.py
  tests/performance/python/parents/requirements.txt
Labels: impact/no-changelog-required

#17677 Fix language conformance tests
  cmd/pulumi-test-language/interface_test.go
Labels: impact/no-changelog-required

#17678 Port over documentation on importing resources
  docs/architecture/deployment-execution/README.md
  docs/architecture/deployment-execution/import.md
Labels: impact/no-changelog-required

#17676 build release binaries in parallel with other CI steps
  .github/workflows/ci-dev-release.yml
  .github/workflows/ci-prepare-release.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/ci.yml
  .github/workflows/sign.yml
Labels: impact/no-changelog-required

#17692 Update pulumi --help documentation to use bucketv2/BucketV2
  pkg/cmd/pulumi/org_search.go
Labels: impact/no-changelog-required

#17674 remove prepare-release step from on-pr workflow
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#17566 refactor InputPropertyErrors to be part of the rpcerror package
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_server.go
  sdk/go/common/util/rpcutil/rpcerror/rpcerror.go
  sdk/go/pulumi/provider.go
  tests/integration/integration_util_test.go
Labels: impact/no-changelog-required

#17682 Document `ResourceProvider.CheckConfig`
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/proto/go/provider.pb.go
  sdk/proto/go/provider_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.pyi
Labels: impact/no-changelog-required

#17693 Prepare for v3.138.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17702 simplify the keep running in the service backend
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/state.go
Labels: impact/no-changelog-required

#17690 Update README.md to add UTMs to links
  README.md
Labels: impact/no-changelog-required

#17703 increase the timeout for running CI tests
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#17701 Bump gRPC dependencies and migrate `grpc.Dial`
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l1main_test.go
  cmd/pulumi-test-language/l2continue_on_error_test.go
  cmd/pulumi-test-language/l2destroy_test.go
  cmd/pulumi-test-language/l2large_test.go
  cmd/pulumi-test-language/l2resourceasset_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  cmd/pulumi-test-language/runtime_options_test.go
  cmd/pulumi-test-language/test_host.go
  pkg/codegen/convert/mapper_client.go
  pkg/codegen/schema/loader_client.go
  pkg/engine/lifecycletest/loader_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/plugin_host.go
  pkg/go.mod
  pkg/go.sum
  pkg/resource/deploy/deploytest/languageruntime_test.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/deploytest/provider_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/provider/host.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/util/rpcutil/health.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi/context.go
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  sdk/python/cmd/pulumi-language-python/language_test.go
  sdk/python/cmd/pulumi-language-python/main.go
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/integration_util_test.go
Labels: impact/no-changelog-required

#17694 Freeze v3.138.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17665 Pass ESC Environments on stack update
  pkg/backend/backend.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_test.go
  pkg/cmd/pulumi/watch.go
Labels: impact/no-changelog-required

#17715 Fix checking assertions in the log callback of nodejs engine tests
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
Labels: impact/no-changelog-required

#17204 enable coverage for PRs
  .github/workflows/ci.yml
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#17717 Add Go tests for fuzzing the engine
  Makefile
  docs/architecture/deployment-execution/state.md
  pkg/engine/lifecycletest/fuzz_test.go
  pkg/engine/lifecycletest/fuzzing/README.md
  pkg/engine/lifecycletest/fuzzing/plan.go
  pkg/engine/lifecycletest/fuzzing/provider.go
  pkg/engine/lifecycletest/fuzzing/resource.go
  pkg/engine/lifecycletest/fuzzing/snapshot.go
Labels: impact/no-changelog-required

#17720 Move EscEnvironmentMetadata to apitype
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_test.go
  sdk/go/common/apitype/updates.go
Labels: impact/no-changelog-required

#17696 [PCL] Support generating invokes options from PCL for invokes
  changelog/pending/20241106--programgen-dotnet-go-nodejs-python--support-generating-invokes-options-from-pcl-for-invokes.yaml
  cmd/pulumi-test-language/testdata/l2-invoke-options/main.pp
  cmd/pulumi-test-language/tests.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/pcl/invoke.go
  pkg/codegen/pcl/utilities.go
  pkg/codegen/python/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-options/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-options/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-invoke-options/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-options/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-options/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-options/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-options/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-invoke-options/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-options/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-options/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-options/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-options/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-invoke-options/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-options/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-options/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-options/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-invoke-options/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-options/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-options/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-options/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-invoke-options/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-options/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-options/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-options/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-invoke-options/requirements.txt
  tests/testdata/codegen/csharp-invoke-options-pp/csharp-invoke-options.pp
  tests/testdata/codegen/csharp-invoke-options-pp/dotnet/csharp-invoke-options.cs
Labels: area/codegen

#17739 run the full language matrix of tests daily
  .github/workflows/cron-test-all.yml
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#17744 document property paths in the providers implementers guide
  developer-docs/providers/implementers-guide.md
Labels: impact/no-changelog-required

#17764 add missing permissions to the cron-test-all job
  .github/workflows/cron-test-all.yml
Labels: impact/no-changelog-required

#17765 Bump some dependencies recommended by Dependabot
  docs/requirements.txt
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#17771 Prepare for v3.139.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17761 [TF circular reference] Allow specifying mutually dependant components in PCL
  changelog/pending/20241113--programgen--allow-specifying-mutually-dependant-components-in-pcl.yaml
  pkg/codegen/pcl/binder_nodes.go
  pkg/codegen/pcl/binder_test.go
  tests/testdata/codegen/mutually-dependant-components-pp/first/main.pp
  tests/testdata/codegen/mutually-dependant-components-pp/main.pp
  tests/testdata/codegen/mutually-dependant-components-pp/second/main.pp
  tests/testdata/codegen/self-referencing-components-pp/component/main.pp
  tests/testdata/codegen/self-referencing-components-pp/main.pp
Labels: area/codegen

#17772 Freeze v3.139.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17737 Generate more accurate reproductions when fuzzing
  pkg/engine/lifecycletest/fuzzing/program.go
  pkg/engine/lifecycletest/fuzzing/reprogen.go
  pkg/engine/lifecycletest/fuzzing/resource.go
  pkg/engine/lifecycletest/fuzzing/snapshot.go
Labels: impact/no-changelog-required

#17767 add lint_fix Makefile targets
  Makefile
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: impact/no-changelog-required

#17781 pass correct permissions to the ci.yml workflow
  .github/workflows/cron-test-all.yml
Labels: impact/no-changelog-required

#17799 pass context to git clone utilities
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/policy_new.go
  pkg/cmd/pulumi/up.go
  sdk/go/common/util/gitutil/git.go
  sdk/go/common/workspace/templates.go
  sdk/go/common/workspace/templates_test.go
Labels: impact/no-changelog-required

#17800 document GitCloneOrPull
  sdk/go/common/util/gitutil/git.go
Labels: impact/no-changelog-required

#17802 Prepare v3.140.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17806 Freeze version 3.140.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17793 [sdk] Implement deferred output for nodejs and python
  changelog/pending/20241116--sdk-nodejs-python--implement-deferred-output-for-nodejs-and-python.yaml
  sdk/nodejs/output.ts
  sdk/nodejs/tests/output.spec.ts
  sdk/python/lib/pulumi/__init__.py
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/test/test_output.py
Labels: area/sdks, language/python, language/javascript

#17834 Prepare v3.141.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17810 Protobuf definition for autonaming configuration
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/nodejs/proto/provider_pb.d.ts
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
Labels: impact/no-changelog-required

#17836 fix RunPlugin for NodeJS
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  tests/integration/integration_go_test.go
  tests/integration/run_plugin/go/Pulumi.yaml
  tests/integration/run_plugin/go/go.mod
  tests/integration/run_plugin/go/go.sum
  tests/integration/run_plugin/go/main.go
  tests/integration/run_plugin/provider-go/PulumiPlugin.yaml
  tests/integration/run_plugin/provider-go/go.mod
  tests/integration/run_plugin/provider-go/go.sum
  tests/integration/run_plugin/provider-go/main.go
  tests/integration/run_plugin/provider-nodejs/PulumiPlugin.yaml
  tests/integration/run_plugin/provider-nodejs/index.ts
  tests/integration/run_plugin/provider-nodejs/package-lock.json
  tests/integration/run_plugin/provider-nodejs/package.json
  tests/integration/run_plugin/provider-python/PulumiPlugin.yaml
  tests/integration/run_plugin/provider-python/__main__.py
  tests/integration/run_plugin/provider-python/requirements.txt
Labels: impact/no-changelog-required

#17842 Enable unused-import rule for Python
  sdk/python/.pylintrc
  sdk/python/lib/pulumi/automation/_remote_workspace.py
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/pulumi/config.py
  sdk/python/lib/pulumi/dynamic/__main__.py
  sdk/python/lib/pulumi/dynamic/dynamic.py
  sdk/python/lib/pulumi/log.py
  sdk/python/lib/pulumi/metadata.py
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/invoke.py
  sdk/python/lib/pulumi/runtime/known_types.py
  sdk/python/lib/pulumi/runtime/mocks.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/stack.py
Labels: impact/no-changelog-required

#17843 Enable unsubscriptable-object rule for Python
  sdk/python/.pylintrc
Labels: impact/no-changelog-required

#17865 Add some examples and caveats for the Go SDK
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#17870 Prepare v3.142.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17873 Freeze v3.142.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17872 Remove PluginDownloadURL from Parameterization
  pkg/codegen/dotnet/gen.go
  pkg/codegen/go/gen.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/python/gen.go
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#17846 Disable import-outside-toplevel rule for Python
  sdk/python/.pylintrc
  sdk/python/lib/pulumi/_types.py
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/pulumi/invoke.py
  sdk/python/lib/pulumi/log.py
  sdk/python/lib/pulumi/runtime/_callbacks.py
  sdk/python/lib/pulumi/runtime/invoke.py
  sdk/python/lib/pulumi/runtime/known_types.py
  sdk/python/lib/pulumi/runtime/mocks.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/lib/pulumi/runtime/stack.py
Labels: impact/no-changelog-required

#17859 [program-gen] Emit deferred outputs for mutually dependant components
  changelog/pending/20241125--programgen-dotnet-nodejs-python--emit-deferred-outputs-for-mutually-dependant-components.yaml
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/pcl/binder_component.go
  pkg/codegen/pcl/binder_test.go
  pkg/codegen/pcl/utilities.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/testing/test/program_driver.go
  tests/testdata/codegen/deferred-outputs-pp/deferred-outputs.pp
  tests/testdata/codegen/deferred-outputs-pp/dotnet/First.cs
  tests/testdata/codegen/deferred-outputs-pp/dotnet/Second.cs
  tests/testdata/codegen/deferred-outputs-pp/dotnet/deferred-outputs.cs
  tests/testdata/codegen/deferred-outputs-pp/first/main.pp
  tests/testdata/codegen/deferred-outputs-pp/nodejs/deferred-outputs.ts
  tests/testdata/codegen/deferred-outputs-pp/nodejs/first.ts
  tests/testdata/codegen/deferred-outputs-pp/nodejs/second.ts
  tests/testdata/codegen/deferred-outputs-pp/python/deferred-outputs.py
  tests/testdata/codegen/deferred-outputs-pp/python/first.py
  tests/testdata/codegen/deferred-outputs-pp/python/second.py
  tests/testdata/codegen/deferred-outputs-pp/second/main.pp
Labels: language/python, language/javascript, language/dotnet, area/codegen
