Repository pulumi/pulumi, pull requests merged in 2024-04, with the labels that each got.

#15784 Display full type names in Python references in the docs
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/utils.go
  pkg/codegen/docs/utils_test.go
  tests/testdata/codegen/embedded-crd-types/docs/component/_index.md
  tests/testdata/codegen/enum-reference/docs/myModule/iamresource/_index.md
  tests/testdata/codegen/external-enum/docs/component/_index.md
  tests/testdata/codegen/external-resource-schema/docs/argfunction/_index.md
  tests/testdata/codegen/external-resource-schema/docs/cat/_index.md
  tests/testdata/codegen/external-resource-schema/docs/component/_index.md
  tests/testdata/codegen/external-resource-schema/docs/workload/_index.md
  tests/testdata/codegen/hyphen-url/docs/registrygeoreplication/_index.md
  tests/testdata/codegen/kubernetes20/docs/core/v1/configmap/_index.md
  tests/testdata/codegen/kubernetes20/docs/core/v1/configmaplist/_index.md
  tests/testdata/codegen/kubernetes20/docs/helm/v3/release/_index.md
  tests/testdata/codegen/legacy-names/docs/example_resource/_index.md
  tests/testdata/codegen/methods-return-plain-resource/docs/configurer/_index.md
  tests/testdata/codegen/plain-object-defaults/docs/moduletest/_index.md
  tests/testdata/codegen/plain-object-disable-defaults/docs/moduletest/_index.md
  tests/testdata/codegen/plain-schema-gh6957/docs/staticpage/_index.md
  tests/testdata/codegen/provider-config-schema/docs/provider/_index.md
  tests/testdata/codegen/simple-methods-schema/docs/foo/_index.md
Labels: impact/no-changelog-required

#15861 Fix nil pointer dereference in pulumi new --ai
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#15866 Add negative number to the number output conformance test
  cmd/pulumi-test-language/testdata/l1-output-number/main.pp
  cmd/pulumi-test-language/tests.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-number/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-number/index.ts
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-number/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-number/__main__.py
Labels: impact/no-changelog-required

#15867 chore: fix function name in comment
  pkg/backend/display/rows.go
  pkg/backend/httpstate/client/client.go
Labels: impact/no-changelog-required

#15870 Use `assert.NoError` rather than `assert.Nil`
  sdk/go/pulumi/generate/templates/types_builtins_test.go.template
  sdk/go/pulumi/types_builtins_test.go
Labels: impact/no-changelog-required

#15793 feat: declare a new type for 'any resource'
  pkg/codegen/pcl/binder_component.go
  pkg/codegen/schema/schema.go
  sdk/go/pulumi/generate/templates/types_builtins.go.template
  sdk/go/pulumi/types_builtins.go
Labels: impact/no-changelog-required

#15878 Use a generic wrapper around `sync.Map`
  pkg/resource/deploy/builtins.go
  pkg/resource/deploy/builtins_test.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/import_test.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_executor.go
  pkg/resource/deploy/step_executor_test.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/deploy/step_test.go
  pkg/util/gsync/syncmap.go
Labels: impact/no-changelog-required

#15886 use yarn less in nodejs codegen tests
  pkg/codegen/nodejs/test.go
Labels: impact/no-changelog-required

#15892 [csharp/program-gen] Removes trailing whitespace from emitted DependsOn resource option expressions
  changelog/pending/20240409--programgen-dotnet--removes-trailing-whitespace-from-emitted-dependson-resource-option-expressions.yaml
  pkg/codegen/dotnet/gen_program.go
  tests/testdata/codegen/aws-fargate-pp/dotnet/aws-fargate.cs
  tests/testdata/codegen/aws-resource-options-4.26-pp/dotnet/aws-resource-options-4.26.cs
  tests/testdata/codegen/aws-resource-options-5.16.2-pp/dotnet/aws-resource-options-5.16.2.cs
  tests/testdata/codegen/depends-on-array-pp/dotnet/depends-on-array.cs
Labels: area/codegen

#15899 Add array conformance test
  cmd/pulumi-test-language/testdata/l1-output-array/main.pp
  cmd/pulumi-test-language/tests.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/stack/deployment.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-array/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-array/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-array/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-array/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-array/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-array/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-array/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-array/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-array/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-array/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-array/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-array/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-array/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-array/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-array/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-array/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-array/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-array/requirements.txt
Labels: impact/no-changelog-required

#15907 Make sure TestCall test doesn't flake
  pkg/resource/deploy/source_eval_test.go
Labels: impact/no-changelog-required

#15915 Prepare for v3.113.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#15917 Disable -race in dev builds
  .github/workflows/ci-dev-release.yml
  changelog/pending/20240409--cli--dev-cli-is-now-built-with-race-detection-turned-on.yaml
Labels: impact/no-changelog-required

#15871 Test SnapshotManager and Journal in engine tests
  pkg/backend/inmemoryPersister.go
  pkg/backend/snapshot.go
  pkg/engine/combinedManager.go
  pkg/engine/lifecycletest/delete_before_replace_test.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/test_plan.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_executor.go
Labels: impact/no-changelog-required

#15909 Add AWS access key to environment variables
  .github/workflows/ci-run-test.yml
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#15906 Add fixed key tests for GCP and AWS key management
  pkg/secrets/cloud/aws_test.go
  pkg/secrets/cloud/gcp_test.go
Labels: impact/no-changelog-required

#15829 test: schema support for testprovider
  tests/testprovider/.gitignore
  tests/testprovider/echo.go
  tests/testprovider/fails_on_create.go
  tests/testprovider/fails_on_delete.go
  tests/testprovider/main.go
  tests/testprovider/random.go
Labels: impact/no-changelog-required

#15923 Fix warning about Snapshot write failed for previews
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#15925 Revert "Freeze v3.113.0 (#15920)"
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#15929 Lift context parameter to SerializeDeployment/Resource/Operations/Properties
  pkg/backend/display/events.go
  pkg/backend/display/json.go
  pkg/backend/diy/backend_legacy_test.go
  pkg/backend/diy/backend_test.go
  pkg/backend/httpstate/snapshot.go
  pkg/backend/httpstate/snapshot_test.go
  pkg/cmd/pulumi/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack_change_secrets_provider_test.go
  pkg/cmd/pulumi/stack_export.go
  pkg/cmd/pulumi/stack_import.go
  pkg/cmd/pulumi/stack_output.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/state_edit_encoder.go
  pkg/importer/hcl2_test.go
  pkg/importer/language_test.go
  pkg/resource/stack/checkpoint.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  pkg/resource/stack/plan.go
  pkg/resource/stack/secrets_test.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#15933 Reenable TestPythonTranslation and delete stack reference tests
  tests/integration/integration_go_acceptance_test.go
  tests/integration/integration_nodejs_acceptance_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_acceptance_test.go
  tests/integration/integration_python_test.go
  tests/integration/stack_reference/go/Pulumi.yaml
  tests/integration/stack_reference/go/go.mod
  tests/integration/stack_reference/go/go.sum
  tests/integration/stack_reference/go/main.go
  tests/integration/stack_reference/go/step1/main.go
  tests/integration/stack_reference/go/step2/main.go
  tests/integration/stack_reference/nodejs/Pulumi.yaml
  tests/integration/stack_reference/nodejs/index.ts
  tests/integration/stack_reference/nodejs/package.json
  tests/integration/stack_reference/nodejs/step1/index.ts
  tests/integration/stack_reference/nodejs/step2/index.ts
  tests/integration/stack_reference/nodejs/tsconfig.json
  tests/integration/stack_reference/python/Pulumi.yaml
  tests/integration/stack_reference/python/__main__.py
  tests/integration/stack_reference/python/requirements.txt
  tests/integration/stack_reference/python/step1/__main__.py
  tests/integration/stack_reference/python/step2/__main__.py
  tests/integration/stack_reference_multi/python/exporter/.gitignore
  tests/integration/stack_reference_multi/python/exporter/Pulumi.yaml
  tests/integration/stack_reference_multi/python/exporter/__main__.py
  tests/integration/stack_reference_multi/python/exporter/requirements.txt
  tests/integration/stack_reference_multi/python/importer/.gitignore
  tests/integration/stack_reference_multi/python/importer/Pulumi.yaml
  tests/integration/stack_reference_multi/python/importer/__main__.py
  tests/integration/stack_reference_multi/python/importer/requirements.txt
  tests/integration/stack_reference_secrets/nodejs/step1/Pulumi.yaml
  tests/integration/stack_reference_secrets/nodejs/step1/index.ts
  tests/integration/stack_reference_secrets/nodejs/step1/package.json
  tests/integration/stack_reference_secrets/nodejs/step1/tsconfig.json
  tests/integration/stack_reference_secrets/nodejs/step2/index.ts
Labels: impact/no-changelog-required

#15928 Freeze v3.113.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#15950 Add missing `typescript` dependency to sxs_ts_test
  sdk/nodejs/tests/sxs_ts_test/package~3.8.3.json
Labels: impact/no-changelog-required

#15936 Allow CopyFile to copy symlinks
  sdk/go/common/util/fsutil/copy.go
Labels: impact/no-changelog-required

#15951 chore: fix some comments
  pkg/codegen/schema/schema.go
  sdk/go/auto/remote_workspace.go
Labels: impact/no-changelog-required

#15935 Add StackReference conformance test
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/testdata/l1-stack-reference/main.pp
  cmd/pulumi-test-language/tests.go
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/pcl/functions.go
  pkg/codegen/python/gen_program_expressions.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-stack-reference/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-stack-reference/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-stack-reference/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-stack-reference/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-stack-reference/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-stack-reference/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-stack-reference/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-stack-reference/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-stack-reference/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-stack-reference/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-stack-reference/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-stack-reference/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-stack-reference/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-stack-reference/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-stack-reference/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-stack-reference/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-stack-reference/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-stack-reference/requirements.txt
Labels: impact/no-changelog-required

#15955 Update dotnet language host
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#15963 update dotnet SDK version in codegen tests
  pkg/codegen/testing/test/helpers.go
Labels: impact/no-changelog-required

#15966 add issue template for flaky tests
  .github/ISSUE_TEMPLATE/flaky_test.yaml
Labels: impact/no-changelog-required

#15962 Replace non-updating filtered template counter
  pkg/cmd/pulumi/new.go
Labels: impact/no-changelog-required

#15974 [backend] Fix dependency sorting in mustWrite
  changelog/pending/20240418--backend--fix-incorrect-dependency-sorting-in-snapshot.yaml
  pkg/backend/snapshot.go
Labels: impact/no-changelog-required

#15978 Freeze 3.113.1
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#15970 Allow setting version during generation
  pkg/cmd/pulumi/package_gen_sdk.go
Labels: impact/no-changelog-required

#15983 Freeze v3.113.2
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#15977 upgrade to latest version of golangci-lint
  .github/workflows/ci-lint.yml
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l1main_test.go
  cmd/pulumi-test-language/l2destroy_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  cmd/pulumi-test-language/runtime_options_test.go
  pkg/cmd/pulumi/new_ai.go
  pkg/cmd/pulumi/state_edit.go
  pkg/codegen/docs/constructor_syntax_extractor.go
  pkg/codegen/docs/constructor_syntax_generator.go
  pkg/codegen/docs/gen.go
  pkg/codegen/go/gen.go
  pkg/codegen/go/gen_program_expression_test.go
  pkg/engine/lifecycletest/test_plan.go
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/import_test.go
  pkg/resource/deploy/target_test.go
  pkg/testing/integration/command.go
  sdk/go/auto/cmd.go
  sdk/go/auto/local_workspace.go
  sdk/go/auto/stack.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi/callback.go
  sdk/go/pulumi/context.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/python/cmd/pulumi-language-python/language_test.go
  sdk/python/cmd/pulumi-language-python/main.go
  tests/integration/integration_go_acceptance_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_acceptance_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
  tests/roundtrip_test.go
  tests/testprovider/echo.go
  tests/testprovider/fails_on_delete.go
Labels: impact/no-changelog-required

#15987 Fixes to pass dotnet conformance
  pkg/cmd/pulumi/package_gen_sdk.go
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_test.go
Labels: impact/no-changelog-required

#15999 Change the link to Stack References docs
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#16001 Freeze v3.113.3
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16003 disable parallelism for all snapshot tests
  pkg/backend/httpstate/snapshot_test.go
Labels: impact/no-changelog-required

#16012 Lift context parameter for ApplyProjectConfig
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/config_test.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
  sdk/go/common/workspace/config.go
  sdk/go/common/workspace/project_test.go
Labels: impact/no-changelog-required

#16013 Finish supporting dotnet conformance
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/templates.go
Labels: impact/no-changelog-required

#16002 Add tests for providers with transforms
  sdk/go/pulumi/context.go
  tests/integration/transforms/go/simple/main.go
  tests/integration/transforms/go/simple/random.go
  tests/integration/transforms/nodejs/simple/index.ts
  tests/integration/transforms/nodejs/simple/random.ts
  tests/integration/transforms/python/simple/__main__.py
  tests/integration/transforms/python/simple/random_.py
  tests/integration/transforms/transforms_test.go
Labels: impact/no-changelog-required

#16017 fix dev release dependencies
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required

#16032 skip GCP tests if credentials are not set
  pkg/secrets/cloud/gcp_test.go
Labels: impact/no-changelog-required

#16010 test: Update deps
  tests/integration/construct_component_configure_provider/go/go.mod
  tests/integration/construct_component_configure_provider/go/go.sum
  tests/integration/construct_component_configure_provider/go/main.go
  tests/integration/integration_go_acceptance_test.go
  tests/testdata/codegen/methods-return-plain-resource/go/metaprovider/configurer.go
  tests/testdata/codegen/methods-return-plain-resource/go/metaprovider/init.go
  tests/testdata/codegen/methods-return-plain-resource/go/metaprovider/provider.go
  tests/testdata/codegen/methods-return-plain-resource/schema.json
Labels: impact/no-changelog-required

#16044 chore: fix function names in comment
  pkg/cmd/pulumi/convert_test.go
  pkg/cmd/pulumi/gen_completion.go
  pkg/cmd/pulumi/package.go
  pkg/cmd/pulumi/util_test.go
Labels: impact/no-changelog-required

#16049 Update version of dotnet we run tests against
  pkg/codegen/testing/test/helpers.go
Labels: impact/no-changelog-required

#15607 remove chdir
  pkg/engine/deployment.go
Labels: impact/no-changelog-required, ci/test

#16061 Prepare for v3.114.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16060 Run pulumi-test-language tests in parallel
  cmd/pulumi-test-language/internal_test.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l1main_test.go
  cmd/pulumi-test-language/l2continue_on_error_test.go
  cmd/pulumi-test-language/l2destroy_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  cmd/pulumi-test-language/runtime_options_test.go
Labels: impact/no-changelog-required

#16063 Use a fresh context for automation api runs
  changelog/pending/20240426--auto-python--ensure-async-context-is-not-shared-between-multiple-programs.yaml
  sdk/python/lib/pulumi/automation/_server.py
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/pulumi/runtime/settings.py
Labels: ci/test

#16057 Cleanup output futures list as they complete
  changelog/pending/20240425--sdk-python--fix-a-memory-leak-in-tracking-outputs.yaml
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/pulumi/runtime/settings.py
  sdk/python/lib/pulumi/runtime/stack.py
  tests/integration/integration_python_test.go
  tests/integration/python_await/output_leak/.gitignore
  tests/integration/python_await/output_leak/Pulumi.yaml
  tests/integration/python_await/output_leak/__main__.py
  tests/integration/python_await/output_leak/requirements.txt
Labels: ci/test

#16062 Freeze v3.114.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16078 Run NodeJS conformance tests in parallel
  cmd/pulumi-test-language/interface.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
Labels: impact/no-changelog-required

#16070 be consistent in the way we round seconds
  pkg/backend/display/events.go
Labels: impact/no-changelog-required

#16040 Start mypy linting lib/test
  sdk/python/lib/test/langhost/invoke_types/outputs.py
  sdk/python/lib/test/langhost/types/__main__.py
  sdk/python/lib/test/test_next_serialize.py
  sdk/python/lib/test/test_resource.py
  sdk/python/lib/test/test_translate_output_properties.py
  sdk/python/lib/test/test_types_input_type.py
  sdk/python/lib/test/test_types_input_type_types.py
  sdk/python/lib/test/test_types_output_type.py
  sdk/python/lib/test/test_types_resource_types.py
  sdk/python/lib/test/test_utils.py
Labels: impact/no-changelog-required

#16087 temporarily skip TestLanguageNewSmoke for java
  tests/smoke_test.go
Labels: impact/no-changelog-required
