Repository pulumi/pulumi, pull requests merged in 2024-12, with the labels that each got.

#17735 Fixed a bug where token information was not present in types
  changelog/pending/20241109--auto-go-nodejs-python--fixed-a-bug-where-token-information-was-not-present-in-types.yaml
  sdk/go/auto/workspace.go
  sdk/nodejs/automation/workspace.ts
  sdk/python/lib/pulumi/automation/_local_workspace.py
  sdk/python/lib/pulumi/automation/_workspace.py
Labels: area/automation-api

#17891 Update pulumiverse plugin list
  pkg/go.mod
  pkg/go.sum
  pkg/util/generate/main.go
  pkg/util/generate/templates/pulumiverse_list.go.template
  pkg/util/plugin.go
  pkg/util/pulumiverse_list.go
  tests/go.sum
Labels: impact/no-changelog-required

#17895 Move `sdk/go/common/channel` to `pkg`
  pkg/backend/display/display.go
  pkg/backend/httpstate/state.go
  pkg/channel/channel.go
  pkg/channel/channel_test.go
Labels: impact/no-changelog-required

#17896 Remove `sdk/go/common/tools/gen.go`
  sdk/go/common/tools/gen.go
Labels: impact/no-changelog-required

#17898 Move `sdk/go/common/tools/path` to `pkg`
  pkg/testing/integration/program.go
  pkg/testing/integration/util.go
  sdk/go/common/testing/environment.go
  sdk/go/common/testing/environment_test.go
  sdk/go/common/tools/paths.go
Labels: impact/no-changelog-required

#17894 Add GetRequiredPackages to the language host
  pkg/cmd/pulumi/install.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/update_plan_test.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/languageruntime_test.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/deploytest/pluginhost_test.go
  pkg/resource/deploy/source_query_test.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  proto/pulumi/plugin.proto
  proto/pulumi/resource.proto
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/langruntime_test.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi-language-go/main_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/proto/language_grpc_pb.d.ts
  sdk/nodejs/proto/language_grpc_pb.js
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/nodejs/proto/plugin_pb.d.ts
  sdk/nodejs/proto/plugin_pb.js
  sdk/proto/go/language.pb.go
  sdk/proto/go/language_grpc.pb.go
  sdk/proto/go/plugin.pb.go
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.pyi
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.py
  sdk/python/lib/pulumi/runtime/proto/plugin_pb2.pyi
Labels: impact/no-changelog-required

#17906 Fix data race in token source test
  pkg/backend/httpstate/token_source_test.go
Labels: impact/no-changelog-required

#17900 Use PCL packages to decide the expected program dependencies
  cmd/pulumi-test-language/interface.go
Labels: impact/no-changelog-required

#17911 Break out metadata management from `pkg/cmd/pulumi/util`
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/metadata/metadata.go
  pkg/cmd/pulumi/metadata/metadata_test.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_test.go
  pkg/cmd/pulumi/watch.go
Labels: impact/no-changelog-required

#17912 Break out plan I/O from `pkg/cmd/pulumi/util`
  pkg/cmd/pulumi/plan/plan.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17920 Remove dead code from Go program generation
  pkg/codegen/go/gen_program_expressions.go
Labels: impact/no-changelog-required

#17917 Drop Python 3.8 from full-language-matrix-test
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#17913 Break out table rendering from `pkg/cmd/pulumi/util`
  pkg/cmd/pulumi/about_env.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/config_env.go
  pkg/cmd/pulumi/plugin_ls.go
  pkg/cmd/pulumi/policy_group_ls.go
  pkg/cmd/pulumi/policy_ls.go
  pkg/cmd/pulumi/stack.go
  pkg/cmd/pulumi/stack_ls.go
  pkg/cmd/pulumi/stack_tag.go
  pkg/cmd/pulumi/ui/table.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17914 Move `pulumi new` helpers out of `pkg/cmd/pulumi/util`
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17932 Log policy pack download URLs
  pkg/backend/httpstate/policypack.go
Labels: impact/no-changelog-required

#17928 Remove second go.mod in parameterized packages
  pkg/cmd/pulumi/package_add.go
  pkg/codegen/go/gen.go
  tests/integration/go/parameterized/go.mod
Labels: impact/no-changelog-required

#17938 Break out `pulumi about`
  pkg/cmd/pulumi/about/about.go
  pkg/cmd/pulumi/about/about_env.go
  pkg/cmd/pulumi/about/about_test.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#17941 Clean up environment variable checks in `pkg/cmd`
  pkg/cmd/pulumi/ai.go
  pkg/cmd/pulumi/convert-trace.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/plugin_rm.go
  pkg/cmd/pulumi/policy_rm.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/query.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/replay_events.go
  pkg/cmd/pulumi/stack_rm.go
  pkg/cmd/pulumi/state_delete.go
  pkg/cmd/pulumi/state_edit.go
  pkg/cmd/pulumi/state_rename.go
  pkg/cmd/pulumi/state_unprotect.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/cmd/pulumi/util_remote.go
  pkg/cmd/pulumi/view-trace.go
  pkg/cmd/pulumi/watch.go
Labels: impact/no-changelog-required

#17942 Break out `pulumi ai`
  pkg/cmd/pulumi/ai/ai.go
  pkg/cmd/pulumi/ai/ai_web.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#17944 Split out more `survey` helpers into `ui`
  pkg/cmd/pulumi/deployment_settings_utils.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/new_ai.go
  pkg/cmd/pulumi/policy_new.go
  pkg/cmd/pulumi/state.go
  pkg/cmd/pulumi/state_edit.go
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_rename.go
  pkg/cmd/pulumi/state_repair.go
  pkg/cmd/pulumi/ui/survey.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17958 Tiny fixes in pulumi.json descriptions
  pkg/codegen/schema/pulumi.json
Labels: impact/no-changelog-required

#17957 Improve CLI help for "pulumi package add"
  pkg/cmd/pulumi/package_add.go
Labels: impact/no-changelog-required

#17959 Remove Gitpod support
  .gitpod.yml
  .gitpod/Dockerfile
  CONTRIBUTING.md
  README.md
Labels: impact/no-changelog-required

#17962 Make directories in ProviderHandshake optional
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/nodejs/proto/provider_pb.d.ts
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
Labels: impact/no-changelog-required

#17929 Enable l2-parameterized-resource in go conformance
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l2-parameterized-resource/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-parameterized-resource/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-parameterized-resource/main.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/helloWorld.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/init.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/pulumi-plugin.json
Labels: impact/no-changelog-required

#17946 Break `promptForValue` out of `pulumi new`
  pkg/cmd/pulumi/deployment_settings_utils.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/new_acceptance_test.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/stack_init.go
  pkg/cmd/pulumi/ui/survey.go
  pkg/cmd/pulumi/up.go
Labels: impact/no-changelog-required

#17947 Abstract time formatting in `pkg/cmd/pulumi`
  pkg/cmd/pulumi/cmd/time.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/plugin_ls.go
  pkg/cmd/pulumi/stack_history.go
  pkg/cmd/pulumi/stack_ls.go
Labels: impact/no-changelog-required

#17951 Break out the `stack ...` command hierarchy
  pkg/cmd/pulumi/cancel.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/config_test.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/new_test.go
  pkg/cmd/pulumi/plugin_rm.go
  pkg/cmd/pulumi/policy_rm.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/stack/io.go
  pkg/cmd/pulumi/stack/secrets.go
  pkg/cmd/pulumi/stack/stack.go
  pkg/cmd/pulumi/stack/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack/stack_change_secrets_provider_test.go
  pkg/cmd/pulumi/stack/stack_export.go
  pkg/cmd/pulumi/stack/stack_graph.go
  pkg/cmd/pulumi/stack/stack_graph_test.go
  pkg/cmd/pulumi/stack/stack_history.go
  pkg/cmd/pulumi/stack/stack_import.go
  pkg/cmd/pulumi/stack/stack_init.go
  pkg/cmd/pulumi/stack/stack_init_test.go
  pkg/cmd/pulumi/stack/stack_ls.go
  pkg/cmd/pulumi/stack/stack_ls_test.go
  pkg/cmd/pulumi/stack/stack_output.go
  pkg/cmd/pulumi/stack/stack_output_fuzz_test.go
  pkg/cmd/pulumi/stack/stack_output_test.go
  pkg/cmd/pulumi/stack/stack_rename.go
  pkg/cmd/pulumi/stack/stack_rm.go
  pkg/cmd/pulumi/stack/stack_select.go
  pkg/cmd/pulumi/stack/stack_tag.go
  pkg/cmd/pulumi/stack/stack_test.go
  pkg/cmd/pulumi/stack/stack_unselect.go
  pkg/cmd/pulumi/state_edit.go
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_upgrade.go
  pkg/cmd/pulumi/ui/survey.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17952 Break out `config ...` commands into their own package
  pkg/cmd/pulumi/config/config.go
  pkg/cmd/pulumi/config/config_env.go
  pkg/cmd/pulumi/config/config_env_add.go
  pkg/cmd/pulumi/config/config_env_add_test.go
  pkg/cmd/pulumi/config/config_env_init.go
  pkg/cmd/pulumi/config/config_env_init_test.go
  pkg/cmd/pulumi/config/config_env_ls.go
  pkg/cmd/pulumi/config/config_env_ls_test.go
  pkg/cmd/pulumi/config/config_env_rm.go
  pkg/cmd/pulumi/config/config_env_rm_test.go
  pkg/cmd/pulumi/config/config_env_test.go
  pkg/cmd/pulumi/config/io.go
  pkg/cmd/pulumi/config/io_test.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/env.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/logs.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/watch.go
Labels: impact/no-changelog-required

#17953 Break out the `state ...` command hierarchy
  pkg/cmd/pulumi/cmd/terminal.go
  pkg/cmd/pulumi/cmd/terminal_test.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/policy_new.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/state/io.go
  pkg/cmd/pulumi/state/state.go
  pkg/cmd/pulumi/state/state_delete.go
  pkg/cmd/pulumi/state/state_delete_test.go
  pkg/cmd/pulumi/state/state_edit.go
  pkg/cmd/pulumi/state/state_edit_encoder.go
  pkg/cmd/pulumi/state/state_edit_test.go
  pkg/cmd/pulumi/state/state_move.go
  pkg/cmd/pulumi/state/state_move_test.go
  pkg/cmd/pulumi/state/state_rename.go
  pkg/cmd/pulumi/state/state_rename_test.go
  pkg/cmd/pulumi/state/state_repair.go
  pkg/cmd/pulumi/state/state_repair_render.go
  pkg/cmd/pulumi/state/state_repair_test.go
  pkg/cmd/pulumi/state/state_unprotect.go
  pkg/cmd/pulumi/state/state_upgrade.go
  pkg/cmd/pulumi/state/state_upgrade_test.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#17991 Remove unused function
  pkg/engine/update.go
Labels: impact/no-changelog-required

#17966 Break out diagnostic printing functions in `pkg/cmd`
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/diag/diag.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/package_gen_sdk.go
Labels: impact/no-changelog-required

#17993 Test import uses the expected provider version
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/testdata/output/TestImportDefaultProvider/0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestImportDefaultProvider/0/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportDefaultProvider/0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportDefaultProvider/0/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestImportDefaultProvider/0/progress.stdout.txt
  tests/smoke_test.go
Labels: impact/no-changelog-required

#17967 Break out the `package ...` command hierarchy
  pkg/cmd/pulumi/packagecmd/package.go
  pkg/cmd/pulumi/packagecmd/package_add.go
  pkg/cmd/pulumi/packagecmd/package_extract_mapping.go
  pkg/cmd/pulumi/packagecmd/package_extract_schema.go
  pkg/cmd/pulumi/packagecmd/package_gen_sdk.go
  pkg/cmd/pulumi/packagecmd/package_pack_sdk.go
  pkg/cmd/pulumi/packagecmd/package_publish.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#18000 Move GetRequiredPlugins from sdk/go/common to pkg/engine
  pkg/cmd/pulumi/about/about.go
  pkg/cmd/pulumi/plugin.go
  pkg/engine/plugins.go
  sdk/go/common/resource/plugin/host.go
Labels: impact/no-changelog-required

#17968 Break out the `deployment ...` command hierarchy
  pkg/cmd/pulumi/deployment/deployment.go
  pkg/cmd/pulumi/deployment/deployment_run.go
  pkg/cmd/pulumi/deployment/deployment_settings_config.go
  pkg/cmd/pulumi/deployment/deployment_settings_config_test.go
  pkg/cmd/pulumi/deployment/deployment_settings_ops.go
  pkg/cmd/pulumi/deployment/deployment_settings_utils.go
  pkg/cmd/pulumi/deployment/deployment_settings_utils_test.go
  pkg/cmd/pulumi/deployment/remote.go
  pkg/cmd/pulumi/deployment/remote_test.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
Labels: impact/no-changelog-required

#18001 `pulumi package gen-sdk`: Write where the SDK was generated to
  pkg/cmd/pulumi/packagecmd/package_gen_sdk.go
Labels: impact/no-changelog-required

#17970 Break out the `plugin ...` command hierarchy
  pkg/cmd/pulumi/plugin/plugin.go
  pkg/cmd/pulumi/plugin/plugin_install.go
  pkg/cmd/pulumi/plugin/plugin_install_test.go
  pkg/cmd/pulumi/plugin/plugin_ls.go
  pkg/cmd/pulumi/plugin/plugin_rm.go
  pkg/cmd/pulumi/plugin/plugin_run.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#17974 Break out `*-trace` commands
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/trace/convert.go
  pkg/cmd/pulumi/trace/io.go
  pkg/cmd/pulumi/trace/view.go
Labels: impact/no-changelog-required

#18007 Check language plugins in about tests
  .goreleaser.yml
  Makefile
  pkg/backend/httpstate/client/api.go
  pkg/backend/snapshot.go
  pkg/backend/snapshot_test.go
  pkg/cmd/pulumi/about/about.go
  pkg/cmd/pulumi/cmd/cmd.go
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/main.go
  pkg/cmd/pulumi/metadata/metadata.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/pulumi_test.go
  pkg/cmd/pulumi/stack/io.go
  pkg/cmd/pulumi/state/state_repair.go
  pkg/cmd/pulumi/version.go
  pkg/codegen/report/report.go
  pkg/codegen/report/report_test.go
  pkg/resource/deploy/deployment_test.go
  pkg/resource/deploy/plan.go
  pkg/resource/edit/operations_test.go
  pkg/version/version.go
  scripts/brew.sh
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#18011 Prepare for v3.143.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17998 Fail codecov CI check based on patch coverage goal
  codecov.yml
Labels: impact/no-changelog-required

#18008 Only return providers from gatherPluginsFromProgram
  cmd/pulumi-test-language/test_host.go
  pkg/engine/plugins.go
Labels: impact/no-changelog-required

#18022 Quick fix to treat esc-sdk as a non-plugin
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#18012 Freeze v3.143.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17999 Factor out conformance testing framework
  cmd/pulumi-test-language/grpc.go
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/interface_test.go
  cmd/pulumi-test-language/tests.go
  cmd/pulumi-test-language/tests/assert.go
  cmd/pulumi-test-language/tests/types.go
Labels: impact/no-changelog-required

#17975 Break out the `login` and `logout` commands
  pkg/cmd/pulumi/auth/login.go
  pkg/cmd/pulumi/auth/logout.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#18026 [codegen/dotnet] Emit local dependencies in restore sources deterministically
  changelog/pending/20241212--programgen-dotnet--emit-local-dependencies-in-restore-sources-deterministically.yaml
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/gen_program.go
Labels: language/dotnet, area/codegen

#17976 Break out the `logs` command
  pkg/cmd/pulumi/logs/logs.go
  pkg/cmd/pulumi/logs/logs_test.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#18031 Add an integration test for the provider refresh warning
  tests/smoke_test.go
Labels: impact/no-changelog-required

#17995 Add a lifecycle test for autonaming
  pkg/engine/lifecycletest/autonaming_test.go
  pkg/engine/lifecycletest/testdata/output/TestAutonaming/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestAutonaming/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestAutonaming/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestAutonaming/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestAutonaming/progress.stdout.txt
Labels: impact/no-changelog-required

#18036 Typo in error message
  cmd/pulumi-test-language/interface.go
Labels: impact/no-changelog-required

#16980 Add winget install test back to download cron workflow
  .github/workflows/download-pulumi-cron.yml
Labels: impact/no-changelog-required

#18003 Break out internal and L1 conformance tests
  cmd/pulumi-test-language/tests/internal_bad_schema.go
  cmd/pulumi-test-language/tests/l1_builtin_info.go
  cmd/pulumi-test-language/tests/l1_empty.go
  cmd/pulumi-test-language/tests/l1_main.go
  cmd/pulumi-test-language/tests/l1_output_array.go
  cmd/pulumi-test-language/tests/l1_output_bool.go
  cmd/pulumi-test-language/tests/l1_output_map.go
  cmd/pulumi-test-language/tests/l1_output_number.go
  cmd/pulumi-test-language/tests/l1_output_string.go
  cmd/pulumi-test-language/tests/l1_stack_reference.go
  cmd/pulumi-test-language/tests/tests.go
Labels: impact/no-changelog-required

#17977 Break out the `new ...` command hierarchy
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/newcmd/config.go
  pkg/cmd/pulumi/newcmd/config_test.go
  pkg/cmd/pulumi/newcmd/install.go
  pkg/cmd/pulumi/newcmd/io.go
  pkg/cmd/pulumi/newcmd/io_test.go
  pkg/cmd/pulumi/newcmd/new.go
  pkg/cmd/pulumi/newcmd/new_acceptance_test.go
  pkg/cmd/pulumi/newcmd/new_ai.go
  pkg/cmd/pulumi/newcmd/new_ai_test.go
  pkg/cmd/pulumi/newcmd/new_test.go
  pkg/cmd/pulumi/newcmd/stack.go
  pkg/cmd/pulumi/newcmd/template.go
  pkg/cmd/pulumi/newcmd/template_test.go
  pkg/cmd/pulumi/policy_new.go
  pkg/cmd/pulumi/policy_test.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#18042 [sdkgen/dotnet] Compute restore sources from local dependencies and referenced packages
  changelog/pending/20241213--sdkgen-dotnet--compute-restore-sources-from-local-dependencies-and-referenced-packages.yaml
  pkg/codegen/dotnet/gen.go
  pkg/codegen/utilities_test.go
  pkg/codegen/utilities_types.go
Labels: language/dotnet, area/codegen

#18004 Break out L2 resource conformance tests
  cmd/pulumi-test-language/tests/l2_resource_alpha.go
  cmd/pulumi-test-language/tests/l2_resource_asset_archive.go
  cmd/pulumi-test-language/tests/l2_resource_config.go
  cmd/pulumi-test-language/tests/l2_resource_parent_inheritance.go
  cmd/pulumi-test-language/tests/l2_resource_primitives.go
  cmd/pulumi-test-language/tests/l2_resource_secret.go
  cmd/pulumi-test-language/tests/l2_resource_simple.go
  cmd/pulumi-test-language/tests/tests.go
Labels: impact/no-changelog-required

#17978 Break out the `policy ...` command hierarchy
  pkg/cmd/pulumi/install.go
  pkg/cmd/pulumi/policy/io.go
  pkg/cmd/pulumi/policy/policy.go
  pkg/cmd/pulumi/policy/policy_disable.go
  pkg/cmd/pulumi/policy/policy_enable.go
  pkg/cmd/pulumi/policy/policy_group_ls.go
  pkg/cmd/pulumi/policy/policy_ls.go
  pkg/cmd/pulumi/policy/policy_new.go
  pkg/cmd/pulumi/policy/policy_new_acceptance_test.go
  pkg/cmd/pulumi/policy/policy_new_test.go
  pkg/cmd/pulumi/policy/policy_publish.go
  pkg/cmd/pulumi/policy/policy_publish_test.go
  pkg/cmd/pulumi/policy/policy_rm.go
  pkg/cmd/pulumi/policy/policy_test.go
  pkg/cmd/pulumi/policy/policy_validate.go
  pkg/cmd/pulumi/policy/testdata/.gitignore
  pkg/cmd/pulumi/policy/testdata/PulumiPolicy.yaml
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#18034 Refine autonaming config calculation on provider/resource level
  pkg/resource/autonaming/config.go
  pkg/resource/autonaming/config_test.go
Labels: impact/no-changelog-required

#17979 Break out the `convert` command
  pkg/cmd/pulumi/convert/convert.go
  pkg/cmd/pulumi/convert/convert_test.go
  pkg/cmd/pulumi/convert/io.go
  pkg/cmd/pulumi/convert/pcl_testdata/main.pp
  pkg/cmd/pulumi/convert/testdata/.gitignore
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#18005 Break out L2 invoke conformance tests
  cmd/pulumi-test-language/tests/l2_invoke_dependencies.go
  cmd/pulumi-test-language/tests/l2_invoke_options.go
  cmd/pulumi-test-language/tests/l2_invoke_options_depends_on.go
  cmd/pulumi-test-language/tests/l2_invoke_secrets.go
  cmd/pulumi-test-language/tests/l2_invoke_simple.go
  cmd/pulumi-test-language/tests/l2_invoke_variants.go
  cmd/pulumi-test-language/tests/tests.go
Labels: impact/no-changelog-required

#18032 Document provider Diff response requirements
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/proto/go/provider.pb.go
  sdk/proto/go/provider_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.pyi
Labels: impact/no-changelog-required

#17981 Break out the `console` command
  pkg/cmd/pulumi/console/console.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#17983 Break out the `cancel` command
  pkg/cmd/pulumi/cancel/cancel.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#18052 Add tests for `config rm` and `config rm-all`
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#18053 Remove docsgen from `pulumi/pulumi`
  .github/workflows/ci-test-docs-generation.yml
  .github/workflows/pr-test-codegen-downstream.yml
  .github/workflows/pr-test-docs-gen-on-pr.yml
  .github/workflows/pr-test-docs-generation-on-dispatch.yml
  pkg/codegen/docs/README.md
  pkg/codegen/docs/constructor_syntax_extractor.go
  pkg/codegen/docs/constructor_syntax_generator.go
  pkg/codegen/docs/constructor_syntax_generator_test.go
  pkg/codegen/docs/description.go
  pkg/codegen/docs/description_test.go
  pkg/codegen/docs/examples.go
  pkg/codegen/docs/gen.go
  pkg/codegen/docs/gen_function.go
  pkg/codegen/docs/gen_kubernetes.go
  pkg/codegen/docs/gen_method.go
  pkg/codegen/docs/gen_test.go
  pkg/codegen/docs/package_tree.go
  pkg/codegen/docs/package_tree_test.go
  pkg/codegen/docs/static_schema_loader.go
  pkg/codegen/docs/templates/constructor_args.tmpl
  pkg/codegen/docs/templates/constructor_params.tmpl
  pkg/codegen/docs/templates/enums.tmpl
  pkg/codegen/docs/templates/examples.tmpl
  pkg/codegen/docs/templates/function.tmpl
  pkg/codegen/docs/templates/header.tmpl
  pkg/codegen/docs/templates/index.tmpl
  pkg/codegen/docs/templates/index_categories.tmpl
  pkg/codegen/docs/templates/package_details.tmpl
  pkg/codegen/docs/templates/properties.tmpl
  pkg/codegen/docs/templates/read_inputs.tmpl
  pkg/codegen/docs/templates/resource.tmpl
  pkg/codegen/docs/templates/utils.tmpl
  pkg/codegen/docs/templates/yaml_constructor.tmpl
  pkg/codegen/docs/testdata/TestDecomposeDocstringDescription/certificate-validation-description.golden
  pkg/codegen/docs/testdata/TestDecomposeDocstringDescription/lambda-description.golden
  pkg/codegen/docs/testdata/TestProcessDescription/lambda-description.golden
  pkg/codegen/docs/testdata/TestProcessDescription/scaleway-k8s-cluster-description.golden
  pkg/codegen/docs/testdata/certificate-validation-description.md
  pkg/codegen/docs/testdata/lambda-description.md
  pkg/codegen/docs/testdata/scaleway-k8s-cluster-description.md
  pkg/codegen/docs/utils.go
  pkg/codegen/docs/utils_test.go
  pkg/go.mod
  pkg/go.sum
  scripts/get-language-providers.sh
  tests/go.sum
Labels: impact/no-changelog-required

#17984 Break out the `install` command
  pkg/cmd/pulumi/install/install.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#17986 Break out the `schema ...` hierarchy
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/schema/schema.go
  pkg/cmd/pulumi/schema/schema_check.go
Labels: impact/no-changelog-required

#18060 don't make backups if the object doesn't exist
  pkg/backend/diy/state.go
Labels: impact/no-changelog-required

#18063 Honor opts.PreviewCommandlineFlags in preview after refresh
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#17987 Break out the `query` command
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/query/query.go
Labels: impact/no-changelog-required

#18066 fix race condition in tail better
  sdk/go/common/tail/tail.go
  sdk/go/common/tail/tail_test.go
Labels: impact/no-changelog-required

#17988 Break out the `env` command
  pkg/cmd/pulumi/env/env.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#17989 Break out remaining commands
  pkg/cmd/pulumi/completion/gen.go
  pkg/cmd/pulumi/markdown/gen.go
  pkg/cmd/pulumi/pulumi.go
Labels: impact/no-changelog-required

#18073 add hide lifecycletest testdata in diffs by default
  .gitattributes
Labels: impact/no-changelog-required

#18075 unflake unhandledInterrupt test
  sdk/go/common/util/cmdutil/term_test.go
Labels: impact/no-changelog-required

#18079 Update golang.org/x/net
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required

#18082 Prepare for v3.144.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#18085 Temporarily skip downstream AWSX test
  .github/workflows/pr-test-codegen-downstream.yml
Labels: impact/no-changelog-required

#18083 Freeze v3.144.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#17579 Added new contents of package.json to see how our tests react
  sdk/nodejs/cmd/pulumi-language-nodejs/main_test.go
Labels: impact/no-changelog-required

#18106 reenable concurrent update test
  sdk/go/auto/errors_test.go
Labels: impact/no-changelog-required

#18113 [programgen/go] Fix importing module names that aren't lower-case
  changelog/pending/20241224--programgen-go--fix-importing-module-names-in-go-programs-that-arent-lower-case.yaml
  pkg/codegen/go/gen_program.go
  tests/testdata/codegen/synthetic-resource-properties-pp/go/synthetic-resource-properties.go
Labels: language/go, area/codegen

#18123 Fix minimum python version in pyproject.toml
  scripts/get-job-matrix.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18127 make python auto api tests work with DIY backend
  sdk/python/lib/test/automation/test_errors.py
  sdk/python/lib/test/automation/test_isolation.py
  sdk/python/lib/test/automation/test_local_workspace.py
  sdk/python/lib/test/automation/test_utils.py
Labels: impact/no-changelog-required
