Repository pulumi/pulumi, pull requests merged in 2024-01, with the labels that each got.

#15020 Delete unused go testdata
  pkg/codegen/testing/test/testdata/hyphen-url/go/codegen-manifest.json
  pkg/codegen/testing/test/testdata/hyphen-url/go/registrygeoreplication/doc.go
  pkg/codegen/testing/test/testdata/hyphen-url/go/registrygeoreplication/init.go
  pkg/codegen/testing/test/testdata/hyphen-url/go/registrygeoreplication/provider.go
  pkg/codegen/testing/test/testdata/hyphen-url/go/registrygeoreplication/pulumi-plugin.json
  pkg/codegen/testing/test/testdata/hyphen-url/go/registrygeoreplication/pulumiUtilities.go
  pkg/codegen/testing/test/testdata/hyphen-url/go/registrygeoreplication/registryGeoReplication.go
Labels: impact/no-changelog-required

#14649 Add test for azure secrets
  .github/workflows/ci-run-test.yml
  .github/workflows/ci.yml
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/secrets/cloud/aws_test.go
  pkg/secrets/cloud/azure_test.go
  pkg/secrets/cloud/gcp_test.go
  pkg/secrets/cloud/manager_test.go
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.sum
Labels: impact/no-changelog-required

#15030 Remove Colorization.Auto
  sdk/go/common/diag/colors/diag.go
  sdk/go/common/util/cmdutil/diag.go
Labels: impact/no-changelog-required

#15027 Validate journal close in test_plan
  pkg/engine/journal.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/test_plan.go
Labels: impact/no-changelog-required

#15010 Fix AI prompt repetition on Windows
  changelog/pending/20240103--cli-new--fixes-repeated-ai-prompt-on-windows.yaml
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/new_ai.go
  pkg/cmd/pulumi/new_ai_test.go
Labels: impact/no-changelog-required

#15037 Prepare for v3.100.0 release
  .version
Labels: impact/no-changelog-required

#15048 Switch to API Token for PyPi uploads
  .github/workflows/release.yml
  sdk/python/Makefile
Labels: impact/no-changelog-required

#15052 show test command in test name
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#15054 Temporary change to unblock v3.100.0 release
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#15058 Revert temporary workflow changes
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#15061 Temporarily disable large Windows runners
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required, ci/test

#15017 Add Base64SecretsProvider for testing
  cmd/pulumi-test-language/interface.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/httpstate/backend_test.go
  pkg/operations/resources_test.go
  pkg/resource/stack/deployment_test.go
  pkg/secrets/b64/provider.go
Labels: impact/no-changelog-required

#15065 Add work target to initialize a go workspace
  CONTRIBUTING.md
  Makefile
Labels: impact/no-changelog-required

#15067 fix typo in --remote-git-branch usage string
  pkg/cmd/pulumi/util_remote.go
Labels: impact/no-changelog-required

#15070 Attempt to run Windows tests on small runners
  pkg/testing/integration/program_test.go
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required, ci/test

#15018 Verify partial journals in engine tests
  pkg/engine/lifecycletest/test_plan.go
  pkg/resource/deploy/snapshot.go
Labels: impact/no-changelog-required

#15113 [CI] Ignore python mypy typecheck on google.protobuf.pyext to re-enable CI builds
  sdk/python/lib/pulumi/runtime/rpc.py
Labels: language/python, impact/no-changelog-required, area/build

#15118 Prepare for v3.101.0 release
  .version
Labels: impact/no-changelog-required

#15119 Freeze v3.101.0
  .version
Labels: impact/no-changelog-required

#15130 Freeze v3.101.1
  .version
Labels: impact/no-changelog-required

#15121 go-wrapper: fix script if PULUMI_TEST_COVERAGE_PATH is set
  scripts/go-wrapper.sh
Labels: impact/no-changelog-required

#15154 Clean up project usage
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/install.go
  pkg/cmd/pulumi/plugin.go
  pkg/engine/plugins.go
  pkg/engine/update.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/pulumi-language-go/main_test.go
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#14953 Renable tests disabled due to appdash
  pkg/codegen/go/gen_program_test.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/test/sdk_driver.go
Labels: impact/no-changelog-required

#15158 Remove deprecated Protobufs imports
  .golangci.yml
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/go.mod
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/deploytest/pluginhost_test.go
  pkg/resource/deploy/source.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_query.go
  pkg/resource/deploy/source_query_test.go
  pkg/resource/provider/component_provider.go
  pkg/util/rpcdebug/interceptors.go
  sdk/go.mod
  sdk/go/auto/stack.go
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/host_server.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_plugin_test.go
  sdk/go/common/resource/plugin/provider_server.go
  sdk/go/common/resource/plugin/rpc.go
  sdk/go/common/resource/plugin/rpc_rapid_test.go
  sdk/go/common/resource/plugin/rpc_test.go
  sdk/go/common/util/rpcutil/rpcerror/rpcerror.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi/context.go
  sdk/go/pulumi/mocks.go
  sdk/go/pulumi/rpc_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/proxy.go
  sdk/proto/go/analyzer.pb.go
  sdk/proto/go/analyzer_grpc.pb.go
  sdk/proto/go/engine.pb.go
  sdk/proto/go/engine_grpc.pb.go
  sdk/proto/go/language.pb.go
  sdk/proto/go/language_grpc.pb.go
  sdk/proto/go/provider.pb.go
  sdk/proto/go/provider_grpc.pb.go
  sdk/proto/go/resource.pb.go
  sdk/proto/go/resource_grpc.pb.go
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/main.go
  tests/go.mod
  tests/integration/aliases/go/retype_remote_component_and_child/provider/main.go
  tests/integration/construct_component/testcomponent-go/main.go
  tests/integration/construct_component/testcomponent2-go/main.go
  tests/integration/construct_component_plain/testcomponent-go/main.go
  tests/integration/construct_component_provider_explicit/testcomponent-go/main.go
  tests/integration/construct_component_resource_options/testcomponent-go/main.go
  tests/integration/construct_component_unknown/testcomponent-go/main.go
  tests/integration/go/component-configure-panic/testcomponent-go/main.go
  tests/testprovider/echo.go
  tests/testprovider/fails_on_create.go
  tests/testprovider/fails_on_delete.go
  tests/testprovider/main.go
  tests/testprovider/random.go
Labels: impact/no-changelog-required

#15162 Move some asset code to pkg
  pkg/asset/massage.go
  pkg/backend/display/object_diff.go
  pkg/engine/events.go
  sdk/go/common/resource/asset.go
Labels: impact/no-changelog-required

#15165 Move goversion out of sdk/common to the go language host
  sdk/go.mod
  sdk/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/goversion/version.go
  sdk/go/pulumi-language-go/goversion/version_test.go
  sdk/go/pulumi-language-go/main.go
Labels: impact/no-changelog-required

#15167 Enable importas linter
  .golangci.yml
  pkg/resource/provider/host.go
  sdk/go/common/resource/plugin/check.go
  sdk/go/common/resource/plugin/host_server.go
Labels: impact/no-changelog-required

#15028 turn on the golangci-lint exhaustive linter
  .golangci.yml
  pkg/backend/apply.go
  pkg/backend/display/internal/terminal/term.go
  pkg/backend/display/json.go
  pkg/backend/display/object_diff.go
  pkg/backend/display/progress.go
  pkg/backend/display/query.go
  pkg/backend/display/watch.go
  pkg/backend/filestate/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  pkg/codegen/dotnet/gen.go
  pkg/codegen/go/gen.go
  pkg/codegen/hcl2/model/type_opaque.go
  pkg/codegen/hcl2/syntax/comments.go
  pkg/codegen/hcl2/syntax/tokens.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/nodejs/tstypes/tstypes_test.go
  pkg/codegen/python/gen.go
  pkg/engine/events.go
  pkg/engine/eventsink.go
  pkg/engine/journal.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/update_test.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/provider/host.go
  sdk/go/common/apitype/history.go
  sdk/go/common/diag/colors/diag.go
  sdk/go/common/diag/sink.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_server.go
  sdk/go/common/resource/properties.go
  sdk/go/common/util/cmdutil/console.go
  sdk/go/common/util/deepcopy/copy.go
  sdk/go/common/util/mapper/mapper_encode.go
  sdk/go/common/util/yamlutil/edit.go
  sdk/go/common/workspace/project.go
  sdk/go/internal/types.go
  sdk/go/pulumi/provider.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/types.go
Labels: impact/no-changelog-required

#15168 Move buildutil out of sdk/common to the go language host
  sdk/go.mod
  sdk/go/pulumi-language-go/buildutil/semver.go
  sdk/go/pulumi-language-go/buildutil/semver_test.go
  sdk/go/pulumi-language-go/main.go
Labels: impact/no-changelog-required

#15115 [python/sdk] Allow remote components to use output property called id
  changelog/pending/20240117--sdk-python--allow-remote-components-to-use-output-property-called-id.yaml
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/rpc.py
  tests/go.mod
  tests/integration/construct_component_id_output/python/.gitignore
  tests/integration/construct_component_id_output/python/Pulumi.yaml
  tests/integration/construct_component_id_output/python/__main__.py
  tests/integration/construct_component_id_output/python/component.py
  tests/integration/construct_component_id_output/python/requirements.txt
  tests/integration/construct_component_id_output/testcomponent-go/.gitignore
  tests/integration/construct_component_id_output/testcomponent-go/PulumiPlugin.yaml
  tests/integration/construct_component_id_output/testcomponent-go/main.go
  tests/integration/integration_python_test.go
Labels: area/sdks, language/python

#15175 set up secrets in acceptance test job
  .github/workflows/pr-test-acceptance-on-dispatch.yml
Labels: impact/no-changelog-required

#15176 Delete obsolete release.sh script
  scripts/release.sh
Labels: impact/no-changelog-required

#15177 Prepare for v3.102.0 release
  .version
Labels: impact/no-changelog-required

#15178 define necessary secret in ci.yml
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#15179 Freeze v3.102.0
  .version
Labels: impact/no-changelog-required

#15180 Check PCL outputs can have arbitrary labels
  pkg/codegen/testing/test/testdata/logical-name-pp/dotnet/logical-name.cs
  pkg/codegen/testing/test/testdata/logical-name-pp/go/logical-name.go
  pkg/codegen/testing/test/testdata/logical-name-pp/logical-name.pp
  pkg/codegen/testing/test/testdata/logical-name-pp/nodejs/logical-name.ts
  pkg/codegen/testing/test/testdata/logical-name-pp/python/logical-name.py
Labels: impact/no-changelog-required

#15187 add test showing encryptedkey in state will keep working
  pkg/secrets/cloud/azure_test.go
Labels: impact/no-changelog-required

#15193 Update python langhost test for pulumi-random change
  sdk/python/cmd/pulumi-language-python/main_test.go
Labels: impact/no-changelog-required

#15161 Add azure login test
  .github/workflows/ci-run-test.yml
  .github/workflows/ci.yml
  tests/go.mod
  tests/go.sum
  tests/integration/backend/filestate/backend_azure_test.go
  tests/integration/backend/filestate/project/Pulumi.yaml
  tests/integration/backend/filestate/project/go.mod
  tests/integration/backend/filestate/project/go.sum
  tests/integration/backend/filestate/project/main.go
Labels: impact/no-changelog-required

#15196 Fix NodeJS alias objects at the protocol level.
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
Labels: impact/no-changelog-required

#15217 Disable `--rerun-fails` in tests
  scripts/go-test.py
Labels: impact/no-changelog-required, ci/test

#15220 [ci] Install `setuptools` in virtual environment
  .github/workflows/ci-build-sdks.yml
Labels: impact/no-changelog-required

#15225 ProgramTest: Python: Use correct venv path for projects with `main` option
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#15221 Upgrade pylint to 3.0.3
  sdk/python/.pylintrc
  sdk/python/requirements.txt
Labels: impact/no-changelog-required

#15222 [sdk/python] Install local SDK in automation API test
  sdk/python/lib/test/automation/errors/runtime_error/python/requirements.txt
  sdk/python/lib/test/automation/test_errors.py
Labels: impact/no-changelog-required

#15223 [sdk/python] Fix test to install local Pulumi SDK
  sdk/python/cmd/pulumi-language-python/main_test.go
Labels: impact/no-changelog-required

#15226 [tests/integration] Remove `pulumi` from `requirements.txt`
  tests/integration/enums/python/requirements.txt
  tests/integration/large_resource/python/requirements.txt
  tests/integration/python/duplicate-output/requirements.txt
  tests/integration/python/missing-main/requirements.txt
  tests/integration/python/stack_truncate/main_dir_specified/bar/requirements.txt
  tests/integration/python/stack_truncate/main_specified/requirements.txt
  tests/integration/python/stack_truncate/normal/requirements.txt
  tests/integration/python_await/create_inside_apply/requirements.txt
  tests/integration/python_await/error_handling/requirements.txt
  tests/integration/python_await/failure/requirements.txt
  tests/integration/python_await/failure_exported_output/requirements.txt
  tests/integration/python_await/failure_multiple_unexported_outputs/requirements.txt
  tests/integration/python_await/multiple_outputs/requirements.txt
  tests/integration/python_await/success/requirements.txt
Labels: impact/no-changelog-required

#15234 Revert "Disable `--rerun-fails` in tests"
  scripts/go-test.py
Labels: impact/no-changelog-required

#15244 Freeze v3.103.0
  sdk/.version
Labels: impact/no-changelog-required

#15252 Freeze v3.103.1
  sdk/.version
Labels: impact/no-changelog-required

#15241 Add language tests to CI
  .github/workflows/ci.yml
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
Labels: impact/no-changelog-required

#15253 [program-gen/ts] Fixes generated expression for filebase64 function to use fs.readFileSync directly
  changelog/pending/20240125--programgen-nodejs--fixes-generated-expression-for-filebase64-function-to-use-fs-readfilesync-directly-with-base64-encoding-option.yaml
  pkg/codegen/nodejs/gen_program_expressions.go
  pkg/codegen/testing/test/testdata/functions-pp/nodejs/functions.ts
Labels: language/javascript, area/codegen

#15257 Unskip tests
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  tests/integration/construct_component_configure_provider/python/requirements.txt
  tests/integration/integration_python_acceptance_test.go
  tests/smoke_test.go
Labels: impact/no-changelog-required

#15157 Move assets and archives to their own package
  pkg/backend/display/object_diff.go
  pkg/engine/events.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  sdk/go/common/resource/archive/archive.go
  sdk/go/common/resource/archive/archive_test.go
  sdk/go/common/resource/asset.go
  sdk/go/common/resource/asset/asset.go
  sdk/go/common/resource/asset_test.go
  sdk/go/common/resource/mapper_test.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_plugin_test.go
  sdk/go/common/resource/plugin/rpc.go
  sdk/go/common/resource/plugin/rpc_test.go
  sdk/go/common/resource/properties.go
  sdk/go/common/resource/properties_diff_test.go
  sdk/go/common/resource/sig/sig.go
  sdk/go/common/resource/testing/rapid.go
  sdk/go/pulumi/provider_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/rpc_test.go
Labels: impact/no-changelog-required

#15231 upgrade grpc-js to latest release
  sdk/nodejs/package.json
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#15263 Improve Go Automation SDK ProjectBackend documentation
  sdk/go/common/workspace/project.go
Labels: impact/no-changelog-required

#15191 [conformance tests] Fix run root and use program info everywhere
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  pkg/cmd/pulumi/about.go
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/install.go
  pkg/cmd/pulumi/new.go
  pkg/cmd/pulumi/package_gen_sdk.go
  pkg/cmd/pulumi/package_pack_sdk.go
  pkg/cmd/pulumi/plugin.go
  pkg/cmd/pulumi/policy_new.go
  pkg/engine/lifecycletest/source_query_test.go
  pkg/engine/lifecycletest/test_plan.go
  pkg/engine/plugin_host.go
  pkg/engine/plugins.go
  pkg/engine/query.go
  pkg/engine/update.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/languageruntime_test.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/deploytest/pluginhost_test.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/source_query.go
  pkg/resource/deploy/source_query_test.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/plugin.go
Labels: impact/no-changelog-required

#15267 Reformat python files using latest black release
  sdk/python/lib/pulumi/_utils.py
  sdk/python/lib/pulumi/automation/_local_workspace.py
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/pulumi/automation/events.py
  sdk/python/lib/pulumi/dynamic/__main__.py
  sdk/python/lib/pulumi/output.py
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/invoke.py
  sdk/python/lib/pulumi/runtime/resource.py
  sdk/python/lib/pulumi/runtime/settings.py
Labels: impact/no-changelog-required

#15269 [tests] testBuilder: Use specified package name
  pkg/engine/lifecycletest/test_plan.go
Labels: impact/no-changelog-required

#15273 [sdk/go] Use `filepath.Join` rather than `path.Join`
  sdk/go/auto/cmd.go
  sdk/go/auto/cmd_test.go
Labels: impact/no-changelog-required

#15280 [sdk-gen/go] Remove pulumix references from generated enums in non-generic SDKs
  changelog/pending/20240127--sdkgen-go--remove-pulumix-references-from-generated-enums.yaml
  pkg/codegen/go/gen.go
  pkg/codegen/testing/test/testdata/array-of-enum-map/go/example/pulumiEnums.go
  pkg/codegen/testing/test/testdata/dashed-import-schema/go/plant-provider/pulumiEnums.go
  pkg/codegen/testing/test/testdata/dashed-import-schema/go/plant-provider/tree/v1/pulumiEnums.go
  pkg/codegen/testing/test/testdata/different-enum/go/plant/pulumiEnums.go
  pkg/codegen/testing/test/testdata/different-enum/go/plant/tree/v1/pulumiEnums.go
  pkg/codegen/testing/test/testdata/external-enum/go/example/local/pulumiEnums.go
  pkg/codegen/testing/test/testdata/naming-collisions/go/example/pulumiEnums.go
  pkg/codegen/testing/test/testdata/output-funcs-edgeorder/go/myedgeorder/pulumiEnums.go
  pkg/codegen/testing/test/testdata/provider-config-schema/go/configstation/pulumiEnums.go
  pkg/codegen/testing/test/testdata/regress-node-8110/go/my8110/pulumiEnums.go
  pkg/codegen/testing/test/testdata/simple-yaml-schema/go/example/pulumiEnums.go
Labels: language/go, area/codegen

#15285 Pin pytest to v7
  sdk/python/requirements.txt
Labels: impact/no-changelog-required

#15286 Add a flag to not write out bad snapshots
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
Labels: impact/no-changelog-required

#15287 Test main in conformance tests
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l1empty_test.go
  cmd/pulumi-test-language/l1main_test.go
  cmd/pulumi-test-language/l2resourcesimple_test.go
  cmd/pulumi-test-language/testdata/l1-main/main.pp
  cmd/pulumi-test-language/testdata/snapshots/projects/l1-main/Pulumi.yaml
  cmd/pulumi-test-language/testdata/snapshots_bad/projects/l2-resource-simple/Pulumi.yaml
  cmd/pulumi-test-language/tests.go
  pkg/codegen/nodejs/gen_program.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-main/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-main/subdir/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-main/subdir/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-main/subdir/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/projects/l1-main/subdir/tsconfig.json
Labels: impact/no-changelog-required

#15288 Test runtime options in conformance tests
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/runtime_options_test.go
  cmd/pulumi-test-language/testdata/snapshots_runtime_options/projects/l1-empty/Pulumi.yaml
Labels: impact/no-changelog-required

#15243 reduce the number of partitions for macos runners
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#15289 Add sequence diagram about pulumi-test-language
  cmd/pulumi-test-language/README.md
Labels: impact/no-changelog-required

#15268 Rename self-managed to diy-backend
  pkg/backend/filestate/backend.go
  pkg/backend/filestate/backend_test.go
  pkg/backend/filestate/meta.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/state_upgrade.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  sdk/go/common/env/env.go
  sdk/go/common/util/env/env.go
  sdk/go/common/util/env/env_test.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#15291 add tests for aws and gcp
  tests/go.mod
  tests/integration/backend/filestate/backend_aws_test.go
  tests/integration/backend/filestate/backend_azure_test.go
  tests/integration/backend/filestate/backend_gcp_test.go
  tests/integration/backend/filestate/helpers.go
Labels: impact/no-changelog-required

#15310 ci: remove unnecessary TODO
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#15311 Fix flakey test
  tests/smoke_test.go
  tests/testdata/import_node/index.ts
Labels: impact/no-changelog-required

#15315 ci: Bump Node.js versions
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required, ci/test

#15314 Rename filestate to DIY
  changelog/config.yaml
  cmd/pulumi-test-language/interface.go
  pkg/backend/backend.go
  pkg/backend/diy/backend.go
  pkg/backend/diy/backend_legacy_test.go
  pkg/backend/diy/backend_test.go
  pkg/backend/diy/bucket.go
  pkg/backend/diy/bucket_test.go
  pkg/backend/diy/doc.go
  pkg/backend/diy/lock.go
  pkg/backend/diy/meta.go
  pkg/backend/diy/meta_test.go
  pkg/backend/diy/pool.go
  pkg/backend/diy/pool_test.go
  pkg/backend/diy/snapshot.go
  pkg/backend/diy/stack.go
  pkg/backend/diy/state.go
  pkg/backend/diy/store.go
  pkg/backend/diy/store_test.go
  pkg/backend/filestate/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/query.go
  pkg/cmd/pulumi/config.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/import.go
  pkg/cmd/pulumi/login.go
  pkg/cmd/pulumi/new_acceptance_test.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/state_upgrade.go
  pkg/cmd/pulumi/state_upgrade_test.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util.go
  pkg/testing/integration/program.go
  sdk/go/auto/errors.go
  sdk/go/auto/remote_stack.go
  sdk/go/auto/stack.go
  sdk/go/common/env/env.go
  sdk/nodejs/automation/errors.ts
  sdk/nodejs/automation/remoteStack.ts
  sdk/nodejs/automation/stack.ts
  sdk/python/lib/pulumi/automation/_remote_stack.py
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/pulumi/automation/errors.py
  sdk/python/lib/pulumi/policy/__main__.py
  tests/integration/backend/diy/backend_aws_test.go
  tests/integration/backend/diy/backend_azure_test.go
  tests/integration/backend/diy/backend_gcp_test.go
  tests/integration/backend/diy/helpers.go
  tests/integration/backend/diy/project/Pulumi.yaml
  tests/integration/backend/diy/project/go.mod
  tests/integration/backend/diy/project/go.sum
  tests/integration/backend/diy/project/main.go
  tests/integration/integration_nodejs_test.go
  tests/main_test.go
  tests/smoke_test.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#15297 Don't mutate RegisterResourceRequest
  pkg/engine/lifecycletest/provider_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
Labels: impact/no-changelog-required, ci/test

#15325 Freeze v3.104.0
  sdk/.version
Labels: impact/no-changelog-required
