Repository pulumi/pulumi, pull requests merged in 2024-05, with the labels that each got.

#16091 Handful of mypy fixes in the python test code
  sdk/python/lib/test/automation/errors/runtime_error/python/__main__.py
  sdk/python/lib/test/langhost/future_failure/__main__.py
  sdk/python/lib/test/langhost/large_resource/__main__.py
  sdk/python/lib/test/langhost/one_complex_resource/__main__.py
  sdk/python/lib/test/langhost/output_property_dependencies/__main__.py
  sdk/python/lib/test/langhost/property_dependencies/__main__.py
  sdk/python/lib/test/langhost/stack_output/__main__.py
  sdk/python/lib/test/test_next_serialize.py
  sdk/python/lib/test/test_output.py
Labels: impact/no-changelog-required

#16106 ci: Bump version to 1.115
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16107 Freeze v3.115.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16114 reenable parallelism in httpstate snapshot_test
  pkg/backend/httpstate/snapshot_test.go
Labels: impact/no-changelog-required

#16117 truncate debug log output in conformance tests
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/python/cmd/pulumi-language-python/language_test.go
Labels: impact/no-changelog-required

#16121 Freeze v3.115.1
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16118 avoid showing repeated messages
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/python/cmd/pulumi-language-python/language_test.go
Labels: impact/no-changelog-required

#16130 Freeze v3.115.2
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16137 Adding unmarshaling logic for DockerImage
  sdk/go/common/apitype/deployments.go
Labels: impact/no-changelog-required

#15961 fix: close files in PCL binder
  pkg/codegen/pcl/binder_component.go
Labels: impact/no-changelog-required

#16150 Suggest pulumi install in error message instead of yarn install
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required

#16158 Prepare for v3.116.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16176 Freeze v3.116.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16182 remove extraneous `ContinueOnError` field
  pkg/backend/backend.go
Labels: impact/no-changelog-required

#16198 update dotnet version in tests to latest
  pkg/codegen/testing/test/helpers.go
Labels: impact/no-changelog-required

#16196 Freeze v3.116.1
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16195 correct spelling of diagnostics
  pkg/resource/deploy/source_eval.go
Labels: impact/no-changelog-required

#16174 Add Paramaterize to provider interface
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/interface_test.go
  cmd/pulumi-test-language/providers/asset_archive_provider.go
  cmd/pulumi-test-language/providers/bad_provider.go
  cmd/pulumi-test-language/providers/fail_on_create_provider.go
  cmd/pulumi-test-language/providers/large_provider.go
  cmd/pulumi-test-language/providers/simple_provider.go
  pkg/cmd/pulumi/package.go
  pkg/codegen/schema/loader.go
  pkg/engine/lifecycletest/import_test.go
  pkg/resource/deploy/builtins.go
  pkg/resource/deploy/builtins_test.go
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/deploytest/provider_test.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/deploy/providers/registry_test.go
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_server.go
  sdk/go/common/resource/plugin/provider_unimplemented.go
  sdk/nodejs/proto/provider_grpc_pb.d.ts
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/nodejs/proto/provider_pb.d.ts
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/provider.pb.go
  sdk/proto/go/provider_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.pyi
Labels: impact/no-changelog-required

#16213 language_test: allow more characters in the log before truncating
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/python/cmd/pulumi-language-python/language_test.go
Labels: impact/no-changelog-required

#16225 Lock state access in `builtinProvider.getResource`
  pkg/resource/deploy/builtins.go
Labels: impact/no-changelog-required

#16227 Fix race in language conformance tests Log method
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/python/cmd/pulumi-language-python/language_test.go
Labels: impact/no-changelog-required

#16208 [engine/import] Guess ID references of dependant resources when generating code for import operations
  changelog/pending/20240515--engine--guess-id-references-of-dependant-resources-when-generating-code-for-import-operations.yaml
  pkg/importer/hcl2.go
  pkg/importer/hcl2_test.go
  pkg/importer/language.go
Labels: area/import

#16239 chore: Upgrade gocloud.dev/secrets/hashivault
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#16241 RegisterProvider engine work
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/testdata/output/TestPackageRef/0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestPackageRef/0/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestPackageRef/0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestPackageRef/0/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestPackageRef/0/progress.stdout.txt
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/source_query.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/go/pulumi/mocks.go
  sdk/nodejs/cmd/pulumi-language-nodejs/proxy.go
  sdk/nodejs/proto/resource_grpc_pb.d.ts
  sdk/nodejs/proto/resource_grpc_pb.js
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/proto/go/resource_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.pyi
Labels: impact/no-changelog-required

#16233 Update set-default command description
  pkg/cmd/pulumi/org.go
Labels: impact/no-changelog-required

#16256 Prepare for v3.117.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16263 Freeze v3.117.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16272 fix name of Makefile target
  Makefile
Labels: impact/no-changelog-required

#16284 Prepare for v3.118.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16267 [go/program-gen] Implement importPathPattern in Go language options to override emitted paths in generated Go programs
  changelog/pending/20240525--programgen-go--implement-importpathpattern-in-go-language-options-to-override-emitted-paths-in-generated-go-programs.yaml
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/importer.go
  pkg/codegen/testing/test/program_driver.go
  pkg/codegen/testing/utils/host.go
  tests/testdata/codegen/azure-native-2.41.0.json
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/azure-native-v2-eventgrid.pp
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/dotnet/azure-native-v2-eventgrid.cs
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/go/azure-native-v2-eventgrid.go
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/nodejs/azure-native-v2-eventgrid.ts
  tests/testdata/codegen/azure-native-v2-eventgrid-pp/python/azure-native-v2-eventgrid.py
Labels: area/codegen

#16223 [docs] Fix generating constructor examples for resources that have numeric enums as input
  changelog/pending/20240517--docs--fix-generating-constructor-examples-for-resources-that-have-enumeric-enums-as-input.yaml
  pkg/codegen/docs/constructor_syntax_generator.go
  pkg/codegen/docs/constructor_syntax_generator_test.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/pcl/binder_schema.go
  pkg/codegen/python/gen_program_expressions.go
  tests/testdata/codegen/dashed-import-schema/docs/tree/v1/nursery/_index.md
  tests/testdata/codegen/dashed-import-schema/docs/tree/v1/rubbertree/_index.md
  tests/testdata/codegen/different-enum/docs/tree/v1/nursery/_index.md
  tests/testdata/codegen/different-enum/docs/tree/v1/rubbertree/_index.md
  tests/testdata/codegen/enum-reference/docs/myModule/iamresource/_index.md
  tests/testdata/codegen/external-enum/docs/component/_index.md
  tests/testdata/codegen/legacy-names/docs/example_resource/_index.md
  tests/testdata/codegen/plain-and-default/docs/moduleresource/_index.md
  tests/testdata/codegen/simple-enum-schema/docs/tree/v1/nursery/_index.md
  tests/testdata/codegen/simple-enum-schema/docs/tree/v1/rubbertree/_index.md
Labels: area/docs, area/codegen

#16296 Freeze v3.118.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required
