Repository pulumi/pulumi, pull requests merged in 2024-07, with the labels that each got.

#16534 Update `goreleaser/goreleaser-action`
  .github/workflows/ci-build-binaries.yml
Labels: impact/no-changelog-required

#16537 only retry tests when they are running in the merge queue
  .github/workflows/ci-run-test.yml
  .github/workflows/ci.yml
  .github/workflows/on-merge.yml
Labels: impact/no-changelog-required

#16492 Update pu/pu to support deployment run command
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/mock.go
  pkg/cmd/pulumi/deployment.go
  pkg/cmd/pulumi/destroy.go
  pkg/cmd/pulumi/preview.go
  pkg/cmd/pulumi/refresh.go
  pkg/cmd/pulumi/up.go
  pkg/cmd/pulumi/util_remote.go
  sdk/go/common/apitype/deployments.go
Labels: impact/no-changelog-required

#16542 Fix NodeJS SDK mocking of custom resource reads
  sdk/nodejs/runtime/mocks.ts
  sdk/nodejs/tests_with_mocks/mocks.spec.ts
Labels: impact/no-changelog-required

#16523 rewrite the URN when resources are being moved between projects
  pkg/cmd/pulumi/state_move.go
  sdk/go/common/resource/urn/urn.go
  sdk/go/common/resource/urn/urn_test.go
Labels: impact/no-changelog-required

#16547 Freeze v3.122.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16553 Upgrade `codecov/codecov-action`
  .github/workflows/ci.yml
Labels: impact/no-changelog-required

#16552 Upgrade `aws-actions/configure-aws-credentials`
  .github/workflows/ci-dev-release.yml
  .github/workflows/pr-test-codegen-downstream.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#16234 [engine/import] Guess references to properties between dependant resources during import
  changelog/pending/20240520--engine--guess-references-to-deeply-nested-properties-between-dependant-resources-during-import.yaml
  pkg/cmd/pulumi/import.go
  pkg/importer/hcl2.go
  pkg/importer/hcl2_test.go
  pkg/importer/language.go
  pkg/importer/language_test.go
Labels: area/import

#16548 Add Paramaterization to the Pulumi schema
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/pulumi.json
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#16567 always mark ci-ok as green for community PRs
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#16467 Add conformance tests for remote assets
  cmd/pulumi-test-language/l2resourceasset_test.go
  cmd/pulumi-test-language/testdata/l2-resource-asset-archive/subdir/main.pp
  cmd/pulumi-test-language/tests.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-asset-archive/subdir/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-asset-archive/subdir/index.ts
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-asset-archive/subdir/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-asset-archive/subdir/__main__.py
Labels: impact/no-changelog-required

#16527 save snapshots after we moved the resources
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_move_test.go
Labels: impact/no-changelog-required

#16573 Fix conditional execution of `ci-ok` for community PRs
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#16564 New deployment settings wizards and environment variables management comands
  pkg/backend/backend.go
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/mock.go
  pkg/cmd/pulumi/deployment.go
  sdk/go/common/apitype/deployments.go
  sdk/go/common/util/cmdutil/console.go
  sdk/go/common/util/gitutil/git.go
  sdk/go/common/util/gitutil/git_test.go
  sdk/go/common/workspace/loaders.go
Labels: impact/no-changelog-required

#16581 Reorganize deployment settings commands
  pkg/cmd/pulumi/deployment_run.go
  pkg/cmd/pulumi/deployment_settings_config.go
  pkg/cmd/pulumi/deployment_settings_ops.go
Labels: impact/no-changelog-required

#16574 [docs/go-program-gen] Fix generating constructor syntax examples for kubernetes
  changelog/pending/20240703--docs--fix-generating-constructor-syntax-examples-for-kubernetes.yaml
  pkg/codegen/docs/constructor_syntax_generator.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/go/gen_program_ternaries.go
  tests/testdata/codegen/azure-native-pp/go/azure-native.go
  tests/testdata/codegen/kubernetes-pod-pp/go/kubernetes-pod.go
  tests/testdata/codegen/kubernetes20/docs/core/v1/configmap/_index.md
  tests/testdata/codegen/kubernetes20/docs/core/v1/configmaplist/_index.md
  tests/testdata/codegen/kubernetes20/docs/helm/v3/release/_index.md
  tests/testdata/codegen/kubernetes20/docs/yaml/configgroup/_index.md
  tests/testdata/codegen/kubernetes20/docs/yaml/v2/configgroup/_index.md
Labels: area/docs, area/codegen

#16594 Skip the inspect step for community PRs
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#16577 Keep plugin values together in RegisterPackageRequest
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/providers/provider.go
  pkg/resource/deploy/source_eval.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
Labels: impact/no-changelog-required

#16588 [go/program-gen] Do not emit index module for resources without a schema
  changelog/pending/20240705--programgen-go--do-not-emit-index-module-for-resources-without-a-schema.yaml
  pkg/codegen/go/gen_program.go
  tests/testdata/codegen/unknown-invoke-pp/go/unknown-invoke.go
  tests/testdata/codegen/unknown-resource-pp/go/unknown-resource.go
Labels: language/go, area/codegen

#16583 [docs/go-program-gen] Fix generating constructor syntax examples in Go for package awsx
  changelog/pending/20240704--docs--fix-generating-constructor-syntax-examples-in-go-for-package-awsx.yaml
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/binder_test.go
  tests/testdata/codegen/aws-static-website-pp/dotnet/aws-static-website.cs
  tests/testdata/codegen/embedded-crd-types/docs/component/_index.md
  tests/testdata/codegen/enum-reference/docs/myModule/iamresource/_index.md
  tests/testdata/codegen/external-resource-schema/docs/component/_index.md
  tests/testdata/codegen/simple-plain-schema/docs/component/_index.md
Labels: area/docs, language/go, area/codegen

#16607 Prepare for v3.123.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16538 state_move: add more tests and a couple of fixes
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_move_test.go
Labels: impact/no-changelog-required

#16606 Change parameterization to be bytes based
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/resource/deploy/providers/provider.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/deploy/source_eval.go
  proto/.checksum.txt
  proto/pulumi/provider.proto
  proto/pulumi/resource.proto
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/nodejs/proto/provider_pb.d.ts
  sdk/nodejs/proto/provider_pb.js
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/provider.pb.go
  sdk/proto/go/resource.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
  tests/testprovider/main.go
Labels: impact/no-changelog-required

#16614 Change parameterization in schemas to base64 strings
  pkg/codegen/schema/pulumi.json
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#16616 Improve TypeDocs for `sdk/nodejs/automation`
  sdk/nodejs/automation/cmd.ts
  sdk/nodejs/automation/config.ts
  sdk/nodejs/automation/errors.ts
  sdk/nodejs/automation/events.ts
  sdk/nodejs/automation/localWorkspace.ts
  sdk/nodejs/automation/minimumVersion.ts
  sdk/nodejs/automation/projectSettings.ts
  sdk/nodejs/automation/remoteStack.ts
  sdk/nodejs/automation/remoteWorkspace.ts
  sdk/nodejs/automation/server.ts
  sdk/nodejs/automation/stack.ts
  sdk/nodejs/automation/stackSettings.ts
  sdk/nodejs/automation/tag.ts
  sdk/nodejs/automation/workspace.ts
Labels: impact/no-changelog-required

#16608 Freeze v3.123.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16562 error out on duplicate providers/resources
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_move_test.go
Labels: impact/no-changelog-required

#16580 Update deployment settings git configuration to support directories that are not a git repo
  pkg/cmd/pulumi/deployment_settings_config.go
  sdk/go/common/util/gitutil/git.go
  sdk/go/common/util/gitutil/git_test.go
Labels: impact/no-changelog-required

#16625 Fix incorrect YAML type checking of StackReference outputs
  pkg/codegen/schema/mock_pulumi_schema.go
Labels: impact/no-changelog-required

#16559 implement engine support for invoke transforms
  pkg/engine/lifecycletest/testdata/output/TestTransformInvoke/-0-0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestTransformInvoke/-0-0/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestTransformInvoke/-0-0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestTransformInvoke/-0-0/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestTransformInvoke/-0-0/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestTransformInvokeTransformProvider/-0-0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestTransformInvokeTransformProvider/-0-0/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestTransformInvokeTransformProvider/-0-0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestTransformInvokeTransformProvider/-0-0/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestTransformInvokeTransformProvider/-0-0/progress.stdout.txt
  pkg/engine/lifecycletest/transformation_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/go/pulumi/mocks.go
  sdk/nodejs/cmd/pulumi-language-nodejs/proxy.go
  sdk/nodejs/proto/resource_grpc_pb.d.ts
  sdk/nodejs/proto/resource_grpc_pb.js
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/proto/go/resource_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.pyi
Labels: impact/no-changelog-required

#16633 state_move: improve usage text
  pkg/cmd/pulumi/state_move.go
Labels: impact/no-changelog-required

#16640 Prepare for 3.124.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16643 Freeze 3.124.1
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16645 Test provider `Delete` parameter marshalling
  sdk/go/common/resource/plugin/provider_plugin_test.go
Labels: impact/no-changelog-required

#16585 Unify user prompts + cleanups + previous feedback
  pkg/cmd/pulumi/deployment_settings_config.go
  pkg/cmd/pulumi/deployment_settings_ops.go
  pkg/cmd/pulumi/util.go
Labels: impact/no-changelog-required

#16622 Improve TypeDocs for `sdk/nodejs`
  sdk/nodejs/asset/archive.ts
  sdk/nodejs/asset/asset.ts
  sdk/nodejs/dynamic/index.ts
  sdk/nodejs/errors.ts
  sdk/nodejs/invoke.ts
  sdk/nodejs/iterable/index.ts
  sdk/nodejs/log/index.ts
  sdk/nodejs/metadata.ts
  sdk/nodejs/output.ts
  sdk/nodejs/provider/internals.ts
  sdk/nodejs/provider/provider.ts
  sdk/nodejs/provider/server.ts
  sdk/nodejs/queryable/index.ts
  sdk/nodejs/resource.ts
  sdk/nodejs/stackReference.ts
  sdk/nodejs/tsutils.ts
  sdk/nodejs/utils.ts
Labels: impact/no-changelog-required

#16621 Improve TypeDocs for `sdk/nodejs/runtime`
  sdk/nodejs/runtime/asyncIterableUtil.ts
  sdk/nodejs/runtime/callbacks.ts
  sdk/nodejs/runtime/closure/codePaths.ts
  sdk/nodejs/runtime/closure/createClosure.ts
  sdk/nodejs/runtime/closure/parseFunction.ts
  sdk/nodejs/runtime/closure/rewriteSuper.ts
  sdk/nodejs/runtime/closure/serializeClosure.ts
  sdk/nodejs/runtime/closure/utils.ts
  sdk/nodejs/runtime/closure/v8.ts
  sdk/nodejs/runtime/closure/v8Hooks.ts
  sdk/nodejs/runtime/config.ts
  sdk/nodejs/runtime/debuggable.ts
  sdk/nodejs/runtime/invoke.ts
  sdk/nodejs/runtime/mocks.ts
  sdk/nodejs/runtime/resource.ts
  sdk/nodejs/runtime/rpc.ts
  sdk/nodejs/runtime/settings.ts
  sdk/nodejs/runtime/stack.ts
  sdk/nodejs/runtime/state.ts
Labels: impact/no-changelog-required

#16647 try to further reduce the pulumi bot token usage
  .github/workflows/ci-info.yml
  .github/workflows/ci-prepare-release.yml
  .github/workflows/on-pr-changelog.yml
  .github/workflows/on-pr.yml
Labels: impact/no-changelog-required

#16661 Use modfile to generate the go.mod in GenerateProgram
  pkg/codegen/go/gen_program.go
Labels: impact/no-changelog-required

#16675 Fix an incorrect error check in NodeJS integration tests
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#16658 Use python names for dictionary literals when inside a typed dictionary input
  changelog/pending/20240715--sdk-python--use-python-names-for-dictionary-literals-when-inside-a-typed-dictionary-input.yaml
  pkg/codegen/python/gen_program.go
  pkg/codegen/python/gen_program_expressions.go
  tests/testdata/codegen/typeddict-pp/python/typeddict.py
Labels: ci/test

#16662 Adding conformance tests for Go
  sdk/go/common/util/fsutil/copy.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/main.go
Labels: impact/no-changelog-required

#16684 Change Go dependency tests to use real dependencies
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi-language-go/main_test.go
  sdk/go/pulumi-language-go/testdata/sample/dep/go.mod
  sdk/go/pulumi-language-go/testdata/sample/dep/plug.go
  sdk/go/pulumi-language-go/testdata/sample/indirect-dep/go.mod
  sdk/go/pulumi-language-go/testdata/sample/indirect-dep/indirect.go
  sdk/go/pulumi-language-go/testdata/sample/plugin/go.mod
  sdk/go/pulumi-language-go/testdata/sample/plugin/plug.go
  sdk/go/pulumi-language-go/testdata/sample/plugin/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sample/prog-gowork/go.work.sum
  sdk/go/pulumi-language-go/testdata/sample/prog-gowork/prog/go.mod
  sdk/go/pulumi-language-go/testdata/sample/prog-gowork/prog/go.sum
  sdk/go/pulumi-language-go/testdata/sample/prog-gowork/prog/main.go
  sdk/go/pulumi-language-go/testdata/sample/prog-subdir/go.mod
  sdk/go/pulumi-language-go/testdata/sample/prog-subdir/go.sum
  sdk/go/pulumi-language-go/testdata/sample/prog-subdir/infra/main.go
  sdk/go/pulumi-language-go/testdata/sample/prog/go.mod
  sdk/go/pulumi-language-go/testdata/sample/prog/go.sum
  sdk/go/pulumi-language-go/testdata/sample/prog/main.go
Labels: impact/no-changelog-required

#16686 Enable the l1-empty test for Go
  cmd/pulumi-test-language/interface.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_test.go
  scripts/tidy.sh
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/main.go
  sdk/go/pulumi-language-go/testdata/projects/l1-empty/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l1-empty/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l1-empty/main.go
Labels: impact/no-changelog-required

#16692 Remove unused PropertySet type
  sdk/go/common/resource/properties.go
Labels: impact/no-changelog-required

#16691 name invoke transforms RegisterInvokeTransform in the Go SDK
  sdk/go/pulumi/context.go
  tests/integration/transforms/go/simple/main.go
Labels: impact/no-changelog-required

#16694 Prepare for v3.125.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16689 Refactor MissingError handling
  pkg/cmd/pulumi/convert.go
  pkg/cmd/pulumi/package.go
  pkg/cmd/pulumi/plugin_run.go
  pkg/codegen/schema/loader.go
Labels: impact/no-changelog-required

#16695 Freeze v3.125.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16717 Rename 'package' to 'packageRef'
  pkg/codegen/python/gen.go
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
  sdk/python/lib/pulumi/runtime/resource.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/provider.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/random.py
Labels: impact/no-changelog-required

#16719 Exclude .git and sdk/proto from gofumpt
  build/common.mk
Labels: impact/no-changelog-required

#16698 Enable l1-output-bool test in Go conformance
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l1-output-bool/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l1-output-bool/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l1-output-bool/main.go
Labels: impact/no-changelog-required

#16734 Enable l1-main for Go conformance tests
  pkg/codegen/go/gen_program.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l1-main/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l1-main/subdir/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l1-main/subdir/main.go
Labels: impact/no-changelog-required

#16739 convert: make the help texts more consistent
  pkg/cmd/pulumi/convert.go
Labels: impact/no-changelog-required

#16753 Enable l1-output-number conformance test for Go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/testing/test/program_driver.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l1-output-number/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l1-output-number/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l1-output-number/main.go
  tests/testdata/codegen/single-or-none-pp/go/single-or-none.go
  tests/testdata/codegen/throw-not-implemented-pp/go/throw-not-implemented.go
Labels: impact/no-changelog-required

#16718 Add a test of sending primitive values for a resource
  cmd/pulumi-test-language/interface_test.go
  cmd/pulumi-test-language/providers/primitive_provider.go
  cmd/pulumi-test-language/testdata/l2-resource-primitives/main.pp
  cmd/pulumi-test-language/tests.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-primitives/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-primitives/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-primitives/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-primitives/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-primitives/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/primitive-7.0.0/README.md
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/primitive-7.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/primitive-7.0.0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/primitive-7.0.0/provider.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/primitive-7.0.0/resource.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/primitive-7.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/primitive-7.0.0/utilities.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-primitives/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-primitives/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-primitives/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-primitives/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-primitives/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/primitive-7.0.0/README.md
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/primitive-7.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/primitive-7.0.0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/primitive-7.0.0/provider.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/primitive-7.0.0/resource.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/primitive-7.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/primitive-7.0.0/utilities.ts
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-primitives/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-primitives/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-primitives/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-primitives/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/primitive-7.0.0/pulumi_primitive/README.md
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/primitive-7.0.0/pulumi_primitive/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/primitive-7.0.0/pulumi_primitive/_utilities.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/primitive-7.0.0/pulumi_primitive/provider.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/primitive-7.0.0/pulumi_primitive/pulumi-plugin.json
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/primitive-7.0.0/pulumi_primitive/py.typed
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/primitive-7.0.0/pulumi_primitive/resource.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/primitive-7.0.0/setup.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-primitives/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-primitives/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-primitives/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-primitives/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/primitive-7.0.0/pulumi_primitive/README.md
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/primitive-7.0.0/pulumi_primitive/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/primitive-7.0.0/pulumi_primitive/_utilities.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/primitive-7.0.0/pulumi_primitive/provider.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/primitive-7.0.0/pulumi_primitive/pulumi-plugin.json
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/primitive-7.0.0/pulumi_primitive/py.typed
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/primitive-7.0.0/pulumi_primitive/resource.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/primitive-7.0.0/pyproject.toml
Labels: impact/no-changelog-required

#16755 Freeze 3.126.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16748 Remove an unused parameter from argumentTypeName
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expression_test.go
  pkg/codegen/go/gen_program_expressions.go
Labels: impact/no-changelog-required

#16730 Run Environment.DeleteIfNotFailed after tests complete
  tests/about_test.go
  tests/config_test.go
  tests/integration/integration_acceptance_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_acceptance_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_acceptance_test.go
  tests/integration/integration_python_test.go
  tests/integration/integration_test.go
  tests/integration/policy/policy_test.go
  tests/integration/targets/targets_test.go
  tests/preview_only_test.go
  tests/roundtrip_test.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#16731 Revert "Pin node to 22.4.x to workaround breakage"
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#16780 state_move improve output slightly
  pkg/cmd/pulumi/state_move.go
  pkg/cmd/pulumi/state_move_test.go
Labels: impact/no-changelog-required

#16615 [autmation/nodejs] Implement Stack.import() to specify and import resources into a stack
  changelog/pending/20240710--auto-nodejs--implement-stack-import-in-automation-api-to-specify-and-import-resources-into-a-stack.yaml
  sdk/nodejs/automation/stack.ts
  sdk/nodejs/tests/automation/data/import/Pulumi.yaml
  sdk/nodejs/tests/automation/data/import/expected_generated_code.txt
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: language/javascript, area/automation-api

#16668 [python/automation] Implement Stack.import_resources() for batch importing resources into a stack
  changelog/pending/20240715--auto-python--implement-stack-import_resources-for-batch-importing-resources-into-a-stack.yaml
  sdk/python/lib/pulumi/automation/_stack.py
  sdk/python/lib/test/automation/data/import/Pulumi.yaml
  sdk/python/lib/test/automation/data/import/expected_generated_code.yaml
  sdk/python/lib/test/automation/test_local_workspace.py
Labels: language/python, area/automation-api

#16776 Add parameterized invoke support to the engine
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/resource_reference_test.go
  pkg/engine/lifecycletest/source_query_test.go
  pkg/engine/lifecycletest/transformation_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
Labels: impact/no-changelog-required

#16794 Skip TestConfigCommandsUsingEnvironments
  tests/config_test.go
Labels: impact/no-changelog-required

#16795 Don't use os.Stdout in tests
  sdk/nodejs/cmd/pulumi-language-nodejs/main_test.go
Labels: impact/no-changelog-required

#16785 Fix default provider names for parameterized providers
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/destroy/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/destroy/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/refresh/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/refresh/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/up/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/up/eventstream.json
  pkg/resource/deploy/providers/provider.go
Labels: impact/no-changelog-required

#16786 [cli/import] Fix undefined variable errors in code generation when imported resources use a parent or provider
  changelog/pending/20240724--cli-import--fix-undefined-variable-errors-in-code-generation-when-imported-resources-use-a-parent-or-provider.yaml
  pkg/cmd/pulumi/import.go
  pkg/codegen/pcl/binder_test.go
  pkg/importer/language_test.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/languageruntime_test.go
  pkg/resource/deploy/source_query_test.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/language.pb.go
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: area/codegen, area/import

#16788 Prepare for v3.127.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16721 Implement Stack.ImportResources() for batch importing resources into a stack via the automation API
  changelog/pending/20240719--auto-go--implement-stack-importresources-for-batch-importing-resources-into-a-stack-via-the-automation-api.yaml
  sdk/go/auto/local_workspace_test.go
  sdk/go/auto/optimport/optimport.go
  sdk/go/auto/stack.go
  sdk/go/auto/test/import/Pulumi.yaml
  sdk/go/auto/test/import/expected_generated_code.yaml
Labels: language/go, area/automation-api

#16787 Add links to StackSummary to for clients like Copilot
  sdk/go/common/apitype/stacks.go
Labels: impact/no-changelog-required

#16789 Freeze v3.127.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/lib/setup.py
Labels: impact/no-changelog-required

#16784 Add parameterized read support to the engine
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/source_query_test.go
  pkg/engine/lifecycletest/step_generator_test.go
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/destroy/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/destroy/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/destroy/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/refresh/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/refresh/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/refresh/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/up/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/up/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/up/progress.stdout.txt
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
Labels: impact/no-changelog-required

#16811 sdk/go: fix test_fast Makefile target
  sdk/go/Makefile
Labels: impact/no-changelog-required

#16809 Download Pulumi Cron: allow previous version for homebrew and chocolatey
  .github/workflows/download-pulumi-cron.yml
Labels: impact/no-changelog-required

#16793 Update lifecycle test APIs to match provider APIs
  pkg/engine/lifecycletest/alias_test.go
  pkg/engine/lifecycletest/continue_on_error_test.go
  pkg/engine/lifecycletest/delete_before_replace_test.go
  pkg/engine/lifecycletest/golang_sdk_test.go
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/pending_replace_test.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/refresh_legacy_diff_test.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/lifecycletest/resource_reference_test.go
  pkg/engine/lifecycletest/retain_on_delete_test.go
  pkg/engine/lifecycletest/source_query_test.go
  pkg/engine/lifecycletest/step_generator_test.go
  pkg/engine/lifecycletest/target_test.go
  pkg/engine/lifecycletest/transformation_test.go
  pkg/engine/lifecycletest/update_plan_test.go
  pkg/resource/deploy/deploytest/provider.go
  pkg/resource/deploy/deploytest/provider_test.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/step_test.go
Labels: impact/no-changelog-required

#16813 Add parameterized `Call` support to the engine
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/source_query_test.go
  pkg/resource/deploy/deploytest/resourcemonitor.go
  pkg/resource/deploy/deploytest/resourcemonitor_test.go
  pkg/resource/deploy/source_eval.go
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/nodejs/proto/resource_pb.d.ts
  sdk/nodejs/proto/resource_pb.js
  sdk/proto/go/resource.pb.go
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
Labels: impact/no-changelog-required

#16814 refactor: make ProgramTest inline better
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#16824 Test parameterized `Construct` support in the engine
  pkg/engine/lifecycletest/parameterized_test.go
Labels: impact/no-changelog-required

#16830 Use `snake_case` for package refences in the Python SDK
  pkg/codegen/python/gen.go
  sdk/python/lib/pulumi/resource.py
  sdk/python/lib/pulumi/runtime/resource.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/provider.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/random.py
Labels: impact/no-changelog-required

#16725 Document news ignore changes processing in the provider protocol
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/proto/go/provider.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
Labels: impact/no-changelog-required

#16827 Support explicit parameterized providers
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/destroy/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/destroy/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/destroy/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/refresh/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/refresh/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/refresh/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/up/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/up/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestReplacementParameterizedProvider/up/progress.stdout.txt
  pkg/resource/deploy/source_eval.go
Labels: impact/no-changelog-required

#16832 Add support for parameterized invokes in Python
  pkg/codegen/python/gen.go
  sdk/python/lib/pulumi/runtime/invoke.py
  tests/integration/integration_python_test.go
  tests/integration/python/parameterized/__main__.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/__init__.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/do_echo.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/echo.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/fails_on_create.py
  tests/integration/python/parameterized/sdk/python/pulumi_pkg/fails_on_delete.py
  tests/testprovider/echo.go
  tests/testprovider/fails_on_create.go
  tests/testprovider/fails_on_delete.go
  tests/testprovider/main.go
  tests/testprovider/random.go
Labels: impact/no-changelog-required

#16834 [Go] Re-enable l1-output-string conformance test
  pkg/codegen/go/gen_program_expressions.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l1-output-string/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l1-output-string/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l1-output-string/main.go
Labels: area/testing, language/go, impact/no-changelog-required, area/codegen

#16836 [Go] Re-enable l1-output-array conformance test
  pkg/codegen/go/gen_program.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/projects/l1-output-array/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l1-output-array/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l1-output-array/main.go
Labels: area/testing, language/go, impact/no-changelog-required, area/codegen

#16677 Add deployment settings tests, cleanup and better handling of non interactive sessions
  pkg/cmd/pulumi/deployment_run.go
  pkg/cmd/pulumi/deployment_settings_config.go
  pkg/cmd/pulumi/deployment_settings_config_test.go
  pkg/cmd/pulumi/deployment_settings_ops.go
  pkg/cmd/pulumi/deployment_settings_utils.go
  pkg/cmd/pulumi/deployment_settings_utils_test.go
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required, ci/test

#16817 [config] Re-enable TestConfigCommandsUsingEnvironments
  tests/config_test.go
Labels: impact/no-changelog-required

#16846 Fix l2-resource-config to test name and pluginDownloadURL correctly
  cmd/pulumi-test-language/providers/config_provider.go
  cmd/pulumi-test-language/tests.go
Labels: impact/no-changelog-required

#16850 fix typo in an error message
  sdk/nodejs/runtime/resource.ts
Labels: impact/no-changelog-required
