Repository pulumi/pulumi, pull requests merged in 2025-01, with the labels that each got.

#17798 add NewPluginSpec helper function
  pkg/cmd/pulumi/operations/import.go
  pkg/cmd/pulumi/plugin/plugin_install.go
  pkg/cmd/pulumi/plugin/plugin_run.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#18135 DeferredOutput
  sdk/go/internal/types.go
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_test.go
Labels: impact/no-changelog-required

#18142 Prepare for v3.145.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18149 chore: fix some typos in comment
  proto/.checksum.txt
  proto/build-container/Dockerfile
  proto/build-container/scripts/utils.sh
Labels: impact/no-changelog-required

#18153 Add a conformance test for component-hydrated resource references
  cmd/pulumi-test-language/tests/l2_component_component_resource_ref.go
  cmd/pulumi-test-language/tests/testdata/l2-component-component-resource-ref/main.pp
  sdk/go/pulumi-language-go/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-component-component-resource-ref/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-component-component-resource-ref/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-component-component-resource-ref/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-component-component-resource-ref/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-component-component-resource-ref/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-component-component-resource-ref/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-component-component-resource-ref/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-component-component-resource-ref/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-component-component-resource-ref/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-component-component-resource-ref/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-component-component-resource-ref/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-component-component-resource-ref/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-component-component-resource-ref/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-component-component-resource-ref/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-component-component-resource-ref/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-component-component-resource-ref/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-component-component-resource-ref/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-component-component-resource-ref/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-component-component-resource-ref/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-component-component-resource-ref/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-component-component-resource-ref/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-component-component-resource-ref/requirements.txt
Labels: impact/no-changelog-required

#18151 Move getAllTransitivelyReferencedResourceURNs to dependsOn
  sdk/nodejs/runtime/dependsOn.ts
  sdk/nodejs/runtime/resource.ts
  sdk/nodejs/runtime/rpc.ts
Labels: impact/no-changelog-required

#18178 Unflake TestRunCanceled
  sdk/go/auto/cmd_test.go
  sdk/go/auto/testdata/slow/main.go
Labels: impact/no-changelog-required

#18154 Re-add `l2-map-keys` and `l2-provider-grpc-config`
  cmd/pulumi-test-language/tests/l2_map_keys.go
  cmd/pulumi-test-language/tests/l2_provider_grpc_config.go
Labels: impact/no-changelog-required

#18143 Freeze v3.145.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18182 Fix TestListPackages
  sdk/python/toolchain/toolchain_test.go
Labels: impact/no-changelog-required

#18193 Add more documentation on PCL
  pkg/codegen/hcl2/README.md
  pkg/codegen/hcl2/model/spec.md
  pkg/codegen/pcl/README.md
  pkg/codegen/pcl/binding.md
Labels: impact/no-changelog-required

#18219 fix TestConvertTerraformProviderGo test
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required

#18192 Clean up and test PCL object type annotations
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/dotnet/gen_program_expressions.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/hcl2/model/type_object.go
  pkg/codegen/hcl2/model/type_test.go
  pkg/codegen/pcl/binder_schema.go
  pkg/codegen/pcl/invoke.go
  pkg/codegen/pcl/utilities.go
Labels: impact/no-changelog-required

#18217 Update hcl2 Readme
  pkg/codegen/hcl2/README.md
Labels: impact/no-changelog-required

#18241 Prepare for v3.146.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18224 Conformance test the `protect` resource option
  cmd/pulumi-test-language/tests/l2_resource_option_protect.go
  cmd/pulumi-test-language/tests/testdata/l2-resource-option-protect/main.pp
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-protect/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-protect/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-protect/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-protect/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-protect/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-protect/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-protect/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-protect/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-protect/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-protect/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-protect/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-protect/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-protect/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-protect/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-protect/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-protect/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-protect/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-protect/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-protect/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-protect/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-protect/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-protect/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-protect/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-protect/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-protect/requirements.txt
Labels: impact/no-changelog-required

#18226 Conformance test the `deletedWith` resource option
  cmd/pulumi-test-language/tests/l2_resource_option_deleted_with.go
  cmd/pulumi-test-language/tests/testdata/l2-resource-option-deleted-with/main.pp
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-deleted-with/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-deleted-with/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-deleted-with/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-deleted-with/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-deleted-with/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-deleted-with/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-deleted-with/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-deleted-with/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-deleted-with/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-deleted-with/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-deleted-with/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-deleted-with/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-deleted-with/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-deleted-with/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-deleted-with/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-deleted-with/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-deleted-with/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-deleted-with/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-deleted-with/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-deleted-with/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-deleted-with/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-deleted-with/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-deleted-with/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-deleted-with/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-deleted-with/requirements.txt
Labels: impact/no-changelog-required

#18225 Conformance test the `retainOnDelete` resource option
  cmd/pulumi-test-language/tests/l2_resource_option_retain_on_delete.go
  cmd/pulumi-test-language/tests/testdata/l2-resource-option-retain-on-delete/main.pp
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-retain-on-delete/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-retain-on-delete/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-option-retain-on-delete/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-retain-on-delete/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-retain-on-delete/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-retain-on-delete/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-retain-on-delete/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-option-retain-on-delete/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-retain-on-delete/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-retain-on-delete/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-retain-on-delete/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-retain-on-delete/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-option-retain-on-delete/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-retain-on-delete/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-retain-on-delete/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-retain-on-delete/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-option-retain-on-delete/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-retain-on-delete/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-retain-on-delete/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-retain-on-delete/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-option-retain-on-delete/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-retain-on-delete/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-retain-on-delete/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-retain-on-delete/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-option-retain-on-delete/requirements.txt
Labels: impact/no-changelog-required

#18244 Add some PCL cheatsheet-style documentation
  pkg/codegen/pcl/README.md
Labels: impact/no-changelog-required

#18248 Remove failing test for loading Git metadata from CI
  pkg/cmd/pulumi/metadata/metadata_test.go
Labels: impact/no-changelog-required

#18242 Freeze v3.146.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18256 Temporary changes to unblock v3.146.0 release
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#18137 Remove urnSet
  sdk/go/pulumi/context.go
  sdk/go/pulumi/provider.go
  sdk/go/pulumi/provider_test.go
  sdk/go/pulumi/rpc.go
  sdk/go/pulumi/urnset.go
Labels: impact/no-changelog-required

#18258 Revert "Temporary changes to unblock v3.146.0 release (#18256)"
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#18252 Include standard error for failed Python commands
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#18272 Allow provider version mismatches when `import`ing resources
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/loader_test.go
  pkg/importer/hcl2.go
  pkg/importer/hcl2_test.go
Labels: impact/no-changelog-required

#18276 Allow resource annotations to be publicly queried
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/call.go
Labels: impact/no-changelog-required

#18282 Improve instructions that we print for importing a Node.js generated SDK
  pkg/cmd/pulumi/packagecmd/project_sdk_link.go
  pkg/cmd/pulumi/packagecmd/project_sdk_link_test.go
Labels: impact/no-changelog-required

#18292 Fix TestListPackages
  sdk/python/toolchain/toolchain_test.go
Labels: impact/no-changelog-required

#18297 Prepare for v3.147.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18291 Fix dev releases for the Python SDK
  .github/workflows/ci-dev-release.yml
Labels: impact/no-changelog-required

#18283 [engine/refresh] Skip acquiring program packages during refresh when running inline automation programs
  changelog/pending/20250117--engine--skip-acquiring-program-packages-during-refresh-when-running-inline-automation-programs.yaml
  pkg/cmd/pulumi/operations/refresh.go
  pkg/engine/refresh.go
  pkg/engine/update.go
Labels: area/engine

#18300 Fix small typo
  sdk/nodejs/stackReference.ts
Labels: impact/no-changelog-required

#18303 Add some skeletal documentation on the built-in provider
  docs/architecture/providers/README.md
  docs/architecture/providers/built-in.md
  docs/architecture/types/README.md
Labels: impact/no-changelog-required

#18302 Allow resource annotations to be publicly queried, for real
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/call.go
Labels: impact/no-changelog-required

#18307 Upgrade astral-sh/setup-uv to v5
  .github/workflows/ci-build-sdks.yml
  .github/workflows/ci-dev-release.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#18306 Freeze v3.147.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18305 add test infrastructure for `pulumi config set`
  pkg/cmd/pulumi/config/config.go
  pkg/cmd/pulumi/config/config_test.go
Labels: impact/no-changelog-required

#18295 Preview conformance tests
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/l2_destroy_test.go
  cmd/pulumi-test-language/providers/simple_invoke_provider.go
  cmd/pulumi-test-language/providers/simple_provider.go
  cmd/pulumi-test-language/tests/l2_failed_create_continue_on_error.go
  cmd/pulumi-test-language/tests/types.go
Labels: area/testing, impact/no-changelog-required

#18364 Don't create two plugin hosts in ProviderFromSource
  pkg/cmd/pulumi/packagecmd/project_sdk_link.go
Labels: impact/no-changelog-required

#18343 Allow pip 25
  changelog/pending/20250128--sdk-python--allow-pip-25.yaml
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: ci/test

#18390 fix flaky TestRunCanceled
  sdk/go/auto/cmd_test.go
Labels: impact/no-changelog-required

#18397 Prepare 3.148.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18398 Freeze v3.148.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18402 Add non-parameterised smoke test for the destroy upgrade warning
  tests/smoke_test.go
Labels: impact/no-changelog-required
