Repository pulumi/pulumi, pull requests merged in 2025-04, with the labels that each got.

#18868 Add Refresh program support to the engine
  pkg/backend/snapshot.go
  pkg/cmd/pulumi/operations/refresh.go
  pkg/engine/deployment.go
  pkg/engine/destroy.go
  pkg/engine/journal.go
  pkg/engine/lifecycletest/refresh_test.go
  pkg/engine/refresh.go
  pkg/engine/update.go
  pkg/resource/deploy/deployment.go
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/deploy/step_generator_events.go
  pkg/resource/deploy/step_generator_test.go
Labels: impact/no-changelog-required

#19087 Freeze v3.160.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19001 Add l1-output-null test
  cmd/pulumi-test-language/tests/l1_builtin_try.go
  cmd/pulumi-test-language/tests/l1_output_null.go
  cmd/pulumi-test-language/tests/testdata/l1-builtin-try/main.pp
  cmd/pulumi-test-language/tests/testdata/l1-output-null/main.pp
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/hcl2/model/type.go
  pkg/codegen/nodejs/gen_program_expressions.go
  sdk/go/pulumi-language-go/testdata/projects/l1-output-null/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l1-output-null/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l1-output-null/main.go
  sdk/go/pulumi/rpc.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-builtin-try/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-null/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-null/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-null/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-null/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-output-null/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-builtin-try/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-null/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-null/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-null/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-null/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-output-null/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-output-null/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-output-null/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-output-null/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-output-null/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-null/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-null/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-null/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-output-null/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-null/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-null/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-null/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-output-null/requirements.txt
  tests/testdata/codegen/invoke-inside-conditional-range-pp/nodejs/invoke-inside-conditional-range.ts
  tests/testdata/codegen/kubernetes-operator-pp/nodejs/kubernetes-operator.ts
Labels: impact/no-changelog-required

#19094 pin jlumbroso/free-disk-space action
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#19099 speed up python performance tests with this one simple trick
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#19100 We only support python3, there's no need to use six anymore
  sdk/python/lib/pulumi/runtime/rpc.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19092 Use dotnet language host based codegen
  pkg/cmd/pulumi/packagecmd/project_sdk_link.go
Labels: impact/no-changelog-required

#19029 split tests module into more partitions
  .github/workflows/ci.yml
  tests/about/about_test.go
  tests/config/config_test.go
  tests/history/history_test.go
  tests/login/login_test.go
  tests/policy_new/policy_new_test.go
  tests/preview_only/preview_only_test.go
  tests/remote/remote_test.go
  tests/roundtrip/roundtrip_test.go
  tests/stack/stack_test.go
  tests/stack/testdata/simple_tags/Pulumi.yaml
  tests/stack/testdata/simple_tags/index.ts
  tests/stack/testdata/simple_tags/package.json
Labels: impact/no-changelog-required

#19101 further speed up python conformance tests when uv is available
  sdk/python/cmd/pulumi-language-python/main.go
Labels: impact/no-changelog-required

#19072 Add enum support for Python component schema inference
  changelog/pending/20250330--sdk-python--add-enum-support-for-python-component-schema-inference.yaml
  sdk/python/lib/pulumi/provider/experimental/analyzer.py
  sdk/python/lib/pulumi/provider/experimental/component.py
  sdk/python/lib/pulumi/provider/experimental/provider.py
  sdk/python/lib/pulumi/provider/experimental/schema.py
  sdk/python/lib/test/provider/experimental/test_analyzer.py
  sdk/python/lib/test/provider/experimental/testdata/analyzer-errors/enum-type/component.py
  sdk/python/lib/test/provider/experimental/testdata/docstrings/component.py
  tests/integration/component_provider/python/component-provider-host/nodejs/index.ts
  tests/integration/component_provider/python/component-provider-host/provider/component.py
  tests/integration/component_provider/python/component-provider-host/python/__main__.py
  tests/integration/component_provider/python/component-provider-host/yaml/Pulumi.yaml
  tests/integration/integration_python_test.go
Labels: ci/test

#19107 exclude virtualenv from being checked by mypy
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/toolchain/pip.go
  sdk/python/toolchain/poetry.go
  sdk/python/toolchain/toolchain.go
  sdk/python/toolchain/uv.go
Labels: impact/no-changelog-required

#19117 Update github.com/golang-jwt/jwt/
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#19119 Update Jinja in docs
  docs/requirements.txt
Labels: impact/no-changelog-required

#19120 Update mocha test runner
  sdk/nodejs/package.json
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#19112 cache SDK artifacts in conformance tests
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/interface_test.go
  cmd/pulumi-test-language/internal_test.go
  cmd/pulumi-test-language/l1_empty_test.go
  cmd/pulumi-test-language/l1_main_test.go
  cmd/pulumi-test-language/l2_continue_on_error_test.go
  cmd/pulumi-test-language/l2_destroy_test.go
  cmd/pulumi-test-language/l2_large_test.go
  cmd/pulumi-test-language/l2_resource_asset_test.go
  cmd/pulumi-test-language/l2_resource_simple_test.go
  cmd/pulumi-test-language/program_overrides_test.go
  cmd/pulumi-test-language/runtime_options_test.go
  pkg/util/gsync/syncmap.go
Labels: impact/no-changelog-required

#19130 Remove some more StreamInvoke code
  developer-docs/providers/implementers-guide.md
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/nodejs/cmd/dynamic-provider/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/run/index.ts
  sdk/nodejs/package.json
  sdk/nodejs/provider/server.ts
  sdk/nodejs/queryable/index.ts
  sdk/nodejs/runtime/asyncIterableUtil.ts
  sdk/nodejs/runtime/invoke.ts
  sdk/nodejs/runtime/resource.ts
  sdk/nodejs/runtime/settings.ts
  sdk/nodejs/runtime/stack.ts
  sdk/nodejs/runtime/state.ts
  sdk/nodejs/tests/runtime/asyncIterableUtil.spec.ts
  sdk/nodejs/tests/runtime/langhost/run.spec.ts
  sdk/nodejs/tests/runtime/settings.spec.ts
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#19127 Update ESC dependency to v0.13.0
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required, dependencies

#19140 Pick the right `refresh` when running programs
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#19139 Update yarn.lock
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#19147 Test that component outputs are mapped from snake_case to camelCase
  sdk/python/lib/test/provider/experimental/test_provider.py
Labels: impact/no-changelog-required

#19137 partition the tests module by test instead of by package
  .github/workflows/ci.yml
  scripts/tidy.sh
  tests/smoke/main_test.go
  tests/smoke/smoke_test.go
  tests/smoke/testdata/aws_tf/main.tf
  tests/smoke/testdata/bad_random_pp/main.pp
  tests/smoke/testdata/component_pp/main.pp
  tests/smoke/testdata/component_pp/rc/main.pp
  tests/smoke/testdata/import_node/.gitignore
  tests/smoke/testdata/import_node/Pulumi.yaml
  tests/smoke/testdata/import_node/index.ts
  tests/smoke/testdata/import_node/package.json
  tests/smoke/testdata/import_node/tsconfig.json
  tests/smoke/testdata/random_go/Pulumi.yaml
  tests/smoke/testdata/random_go/go.mod
  tests/smoke/testdata/random_go/main.go
  tests/smoke/testdata/random_pp/main.pp
  tests/smoke/testdata/random_python/Pulumi.yaml
  tests/smoke/testdata/random_python/__main__.py
  tests/smoke/testdata/random_python/requirements.txt
  tests/smoke/testdata/random_typescript/Pulumi.yaml
  tests/smoke/testdata/random_typescript/index.ts
  tests/smoke/testdata/random_typescript/package.json
  tests/smoke/testdata/random_typescript/tsconfig.json
  tests/smoke/testdata/random_yaml/Pulumi.yaml
  tests/smoke/testdata/relative_plugin_node/.gitignore
  tests/smoke/testdata/relative_plugin_node/Pulumi.yaml
  tests/smoke/testdata/relative_plugin_node/component.ts
  tests/smoke/testdata/relative_plugin_node/index.ts
  tests/smoke/testdata/relative_plugin_node/package.json
  tests/smoke/testdata/relative_plugin_node/random.ts
  tests/smoke/testdata/relative_plugin_node/tsconfig.json
  tests/smoke/testdata/simple_schema/schema.json
Labels: impact/no-changelog-required

#19162 ci: Use the latest version of baptiste0928/cargo-install
  .github/workflows/sign.yml
Labels: impact/no-changelog-required

#19070 Support Copilot summarizing errors discovered in the preview phase of an update
  pkg/backend/apply.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#19144 Wait longer for sentinel file in TestRunCanceled
  sdk/go/auto/cmd_test.go
Labels: impact/no-changelog-required

#19152 Format cmd/pulumi-language-python-exec
  sdk/python/.gitignore
  sdk/python/cmd/pulumi-language-python-exec
  sdk/python/pyproject.toml
Labels: impact/no-changelog-required

#19145 Freeze 3.161.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19160 Remove a deprecated copy of pulumi-ts-provider from tests
  tests/integration/packageadd-remote/provider/pulumi-ts-provider/package.json
  tests/integration/packageadd-remote/provider/pulumi-ts-provider/src/analyzer.ts
  tests/integration/packageadd-remote/provider/pulumi-ts-provider/src/index.ts
  tests/integration/packageadd-remote/provider/pulumi-ts-provider/src/instantiator.ts
  tests/integration/packageadd-remote/provider/pulumi-ts-provider/src/provider.ts
  tests/integration/packageadd-remote/provider/pulumi-ts-provider/src/schema.ts
  tests/integration/packageadd-remote/provider/pulumi-ts-provider/src/schemaSpec.ts
  tests/integration/packageadd-remote/provider/pulumi-ts-provider/tsconfig.json
  tests/integration/packageadd-remote/provider/ts/index.ts
  tests/integration/packageadd-remote/provider/ts/package.json
  tests/integration/packageadd-remote/provider/ts/selfSignedCert.ts
  tests/integration/packageadd-remote/provider/ts/tsconfig.json
Labels: impact/no-changelog-required

#19169 Fixes a DATA RACE flake in the TestCaptureProgressEvents tests
  pkg/backend/display/progress_test.go
Labels: impact/no-changelog-required

#19173 Freeze v3.162.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19176 [sdk/nodejs] Add comment about dependency
  sdk/nodejs/queryable/index.ts
Labels: impact/no-changelog-required

#19086 API types & endpoint for managing cloud stack config
  pkg/backend/httpstate/client/client.go
  sdk/go/common/apitype/core.go
Labels: impact/no-changelog-required

#19193 fix package_add panic when there's no version in the schema
  pkg/cmd/pulumi/packagecmd/package_add.go
  tests/integration/integration_nodejs_test.go
  tests/integration/packageadd-namespace/provider/schema.json
Labels: impact/no-changelog-required

#19195 stack_test: make each test copy testproj to its own temp dir
  sdk/go/auto/stack_test.go
Labels: impact/no-changelog-required

#19179 Fix dependency graphing in the presence of deleted resources
  pkg/engine/lifecycletest/protect_test.go
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/0/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/0/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/0/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/1/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/1/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/1/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/1/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/1/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/2/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/2/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/2/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/2/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestProtectedDeleteChainsWithDuplicateDeletedResources/2/progress.stdout.txt
  pkg/resource/graph/dependency_graph.go
  pkg/resource/graph/dependency_graph_test.go
Labels: impact/no-changelog-required

#19200 fix race in TestGetDocLinkForPulumiType test
  pkg/codegen/go/doc_test.go
Labels: impact/no-changelog-required

#19203 Remove outdated comments about property.Values
  sdk/go/property/values.go
Labels: impact/no-changelog-required

#18719 fix coverage for integration tests
  .github/workflows/ci-run-test.yml
  pkg/testing/integration/command.go
  sdk/go/common/testing/environment.go
Labels: impact/no-changelog-required

#19205 [components/typescript] Refactor and simplify analyzeType method
  sdk/nodejs/provider/experimental/analyzer.ts
Labels: impact/no-changelog-required

#19211 Remove unused provider implementation
  tests/integration/packageadd-remote/provider/ts/PulumiPlugin.yaml
  tests/integration/packageadd-remote/provider/ts/example/Pulumi.yaml
  tests/integration/packageadd-remote/provider/ts/index.ts
  tests/integration/packageadd-remote/provider/ts/package.json
  tests/integration/packageadd-remote/provider/ts/tsconfig.json
Labels: impact/no-changelog-required

#19071 add dependencies field to the schema
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/providers/namespaced_provider.go
  cmd/pulumi-test-language/tests/l2_namespaced_provider.go
  cmd/pulumi-test-language/tests/testdata/l2-namespaced-provider/main.pp
  pkg/codegen/dotnet/gen_test.go
  pkg/codegen/go/gen_test.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/nodejs/gen_test.go
  pkg/codegen/python/gen.go
  pkg/codegen/python/gen_resource_mappings_test.go
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/pulumi.json
  pkg/codegen/schema/schema.go
  pkg/codegen/testing/test/helpers.go
  sdk/go/pulumi-language-go/testdata/projects/l2-namespaced-provider/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-namespaced-provider/main.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/componentCallable.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/componentCustomRefInputOutput.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/componentCustomRefOutput.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/custom.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/init.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/component/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/component-13.3.7/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/namespaced-16.0.0/namespaced/resource.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-namespaced-provider/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-namespaced-provider/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/resource.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-namespaced-provider/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-namespaced-provider/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/resource.ts
  sdk/python/cmd/pulumi-language-python/main.go
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-namespaced-provider/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-namespaced-provider/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/namespaced-16.0.0/a_namespace_namespaced/resource.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-namespaced-provider/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-namespaced-provider/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/namespaced-16.0.0/a_namespace_namespaced/resource.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-namespaced-provider/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-namespaced-provider/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/namespaced-16.0.0/a_namespace_namespaced/resource.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/namespaced-16.0.0/pyproject.toml
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#19229 Remove unused testfiles
  sdk/python/lib/test/provider/experimental/testdata/complex-args/PulumiPlugin.yaml
  sdk/python/lib/test/provider/experimental/testdata/missing-input/PulumiPlugin.yaml
Labels: impact/no-changelog-required

#19230 Freeze v3.163.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19241 remove no-longer-necessary replace
  pkg/go.mod
  pkg/go.sum
Labels: impact/no-changelog-required

#19201 Use shared MockBackendInstance test helper
  pkg/cmd/pulumi/packagecmd/package_publish_test.go
  pkg/cmd/pulumi/stack/stack_change_secrets_provider_test.go
  pkg/cmd/pulumi/stack/stack_ls_test.go
  pkg/cmd/pulumi/stack/stack_test.go
Labels: impact/no-changelog-required

#19244 Use ImportID not ID for import strings
  pkg/resource/deploy/import.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
  pkg/resource/deploy/step_test.go
Labels: impact/no-changelog-required

#19251 Tidy up Node.js component provider tests
  tests/integration/component_provider/nodejs/component-provider-host/python/Pulumi.yaml
  tests/integration/component_provider/nodejs/component-provider-host/yaml/Pulumi.yaml
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#19257 Round trip computed property.Value's through gRPC
  sdk/go/common/resource/property_compatibility.go
  sdk/go/common/resource/property_compatibility_test.go
Labels: impact/no-changelog-required

#19262 Test analyzer config
  pkg/engine/lifecycletest/analyzer_test.go
Labels: impact/no-changelog-required

#19258 Expose `resource.{To,From}ResourcePropertyMap`
  sdk/go/common/resource/property_compatibility.go
Labels: impact/no-changelog-required

#19265 Remove unused `GetModuleDocLink` from `DocLanguageHelper`
  pkg/codegen/docs.go
  pkg/codegen/dotnet/doc.go
  pkg/codegen/go/doc.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#19259 Implement `fmt.GoStringer` for `property.{Value,Map,Array}`
  sdk/go/property/fmt.go
  sdk/go/property/fmt_test.go
Labels: impact/no-changelog-required

#19269 factor out SortedKeys function into maputil
  pkg/codegen/dotnet/gen.go
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/utilities.go
  pkg/codegen/python/gen_program.go
  pkg/codegen/utilities.go
  sdk/go/common/util/maputil/sorted.go
Labels: impact/no-changelog-required

#19276 Fix typo in journal code
  pkg/engine/journal.go
Labels: impact/no-changelog-required

#19281 Format & lint pulumi.json
  .github/workflows/ci-lint.yml
  Makefile
  build/common.mk
  pkg/codegen/schema/pulumi.json
Labels: impact/no-changelog-required

#19271 Test spawning an analyzer
  pkg/engine/lifecycletest/analyzer_test.go
  sdk/go/common/resource/plugin/analyzer_plugin_test.go
  sdk/go/common/resource/plugin/testdata/analyzer/main.go
  sdk/go/common/resource/plugin/testdata/analyzer/pulumi-analyzer-policy-test
  sdk/go/common/resource/plugin/testdata/analyzer/pulumi-analyzer-policy-test.cmd
  sdk/go/common/resource/plugin/testdata/policypack/PulumiPolicy.yaml
Labels: impact/no-changelog-required

#19278 sdk/{nodejs,python}/Makefile: export GOBIN before using it
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: impact/no-changelog-required

#19287 pin @pulumi/random in test
  tests/integration/component_provider/nodejs/component-provider-host/provider/package.json
Labels: impact/no-changelog-required

#19294 Remove component provider docs
  sdk/nodejs/provider/experimental/ComponentProvider.md
  sdk/python/lib/pulumi/provider/experimental/ComponentProvider.md
Labels: impact/no-changelog-required

#19267 Addresses UX feedback on the Copilot Error summary feature
  pkg/backend/display/ai.go
  pkg/backend/display/ai_test.go
  pkg/backend/display/options.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/backend/httpstate/backend.go
  pkg/cmd/pulumi/operations/destroy.go
  pkg/cmd/pulumi/operations/io.go
  pkg/cmd/pulumi/operations/preview.go
  pkg/cmd/pulumi/operations/refresh.go
  pkg/cmd/pulumi/operations/up.go
  pkg/engine/lifecycletest/framework/framework.go
  sdk/go/common/env/env.go
Labels: impact/no-changelog-required

#19300 Bump Java to 1.10.0 and YAML to 1.17.0
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#19308 remove "Debug branch name" step
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#19268 Simplify `DocLanguageHelper.GetFunctionName`
  pkg/codegen/docs.go
  pkg/codegen/dotnet/doc.go
  pkg/codegen/go/doc.go
  pkg/codegen/go/doc_test.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#19296 Freeze 3.164.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19285 Use the new property.Value system for plugin config
  pkg/engine/lifecycletest/analyzer_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/update.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/analyzer_plugin_test.go
  sdk/go/common/resource/plugin/config.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/testdata/analyzer/main.go
Labels: impact/no-changelog-required

#19284 Remove the 'deletes' field, just use 'dones'
  pkg/backend/snapshot.go
  pkg/backend/snapshot_test.go
  pkg/engine/journal.go
  pkg/engine/lifecycletest/destroy_test.go
  pkg/engine/lifecycletest/target_test.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#19320 Pass kind to RunPlugin
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#19318 Lazily import language blocks from `schema.PackageReference`s
  pkg/codegen/schema/loader_test.go
  pkg/codegen/schema/package_reference.go
Labels: impact/no-changelog-required

#19326 Fix make format
  Makefile
  build/common.mk
Labels: impact/no-changelog-required

#19329 Freeze 3.165.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19330 Require uv 0.6.16
  .mise.toml
Labels: impact/no-changelog-required

#19340 Update some import tests
  pkg/engine/lifecycletest/continue_on_error_test.go
  pkg/engine/lifecycletest/import_test.go
Labels: impact/no-changelog-required

#19332 Add tests for `(DocLanguageHelper).GetLanguageTypeString`
  cmd/pulumi-test-language/go.sum
  pkg/codegen/docs_integ_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.sum
Labels: impact/no-changelog-required

#19312 parse error at plugin startup as gRPC error
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/resource/plugin/plugin_test.go
  sdk/go/common/resource/plugin/testdata/provider-language/main.go
  sdk/go/common/resource/plugin/testdata/provider-language/pulumi-language-test
  sdk/go/common/resource/plugin/testdata/provider-language/pulumi-language-test.cmd
  sdk/go/common/resource/plugin/testdata/test-plugin/PulumiPlugin.yaml
Labels: impact/no-changelog-required

#19348 Implement stack creation with cloud config
  pkg/backend/backend.go
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
  sdk/go/common/apitype/stacks.go
Labels: impact/no-changelog-required

#19364 Fix casing of stack config JSON properties
  sdk/go/common/apitype/core.go
Labels: impact/no-changelog-required

#19371 Freeze 3.166.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19324 Add default org lookup against the backend if not locally configured by user
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/stack.go
  pkg/backend/httpstate/stack_test.go
  pkg/backend/mock.go
  pkg/backend/organizations.go
  pkg/backend/organizations_test.go
  pkg/cmd/pulumi/newcmd/new.go
  pkg/cmd/pulumi/newcmd/new_acceptance_test.go
  pkg/cmd/pulumi/newcmd/new_test.go
  pkg/cmd/pulumi/newcmd/stack.go
  pkg/cmd/pulumi/org/org.go
  pkg/cmd/pulumi/org/org_search.go
  pkg/cmd/pulumi/org/org_search_ai.go
  pkg/cmd/pulumi/org/org_search_test.go
  pkg/cmd/pulumi/packagecmd/package_publish.go
  pkg/cmd/pulumi/packagecmd/package_publish_test.go
  pkg/cmd/pulumi/policy/policy_publish.go
  pkg/cmd/pulumi/policy/policy_publish_test.go
  tests/integration/integration_test.go
  tests/stack/stack_test.go
Labels: impact/no-changelog-required
