Repository pulumi/pulumi, pull requests merged in 2025-05, with the labels that each got.

#19368 Add legacy default org logic for back compat during version upgrade
  pkg/backend/organizations.go
  pkg/backend/organizations_test.go
  pkg/backend/state/stacks.go
  pkg/backend/state/stacks_test.go
Labels: impact/no-changelog-required

#19306 Replace `GetLanguageTypeString` with `GetTypeName`
  pkg/codegen/docs.go
  pkg/codegen/docs_integration_test.go
  pkg/codegen/dotnet/doc.go
  pkg/codegen/dotnet/doc_test.go
  pkg/codegen/go/doc.go
  pkg/codegen/go/gen.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
  pkg/codegen/python/gen.go
  pkg/codegen/python/python_test.go
Labels: impact/no-changelog-required

#19351 Remove `dotnet.DocLanguageHelper.Namespaces`
  pkg/codegen/dotnet/doc.go
  pkg/codegen/dotnet/doc_test.go
Labels: impact/no-changelog-required

#19415 Cleanup go:build compiler directives
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/backend/httpstate/client/marshal.go
  pkg/backend/httpstate/client/marshal_pre_1.20.go
  pkg/backend/httpstate/diffs.go
  pkg/backend/httpstate/diffs_post_1.20.go
  pkg/backend/httpstate/diffs_pre_1.20.go
  pkg/cmd/pulumi/stack/stack_output_fuzz_test.go
  pkg/go.mod
  pkg/go.sum
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
Labels: impact/no-changelog-required

#19413 Update tests/integration/go/parameterized/go.mod deps
  scripts/tidy.sh
  tests/integration/go/parameterized/actual_program.txt
  tests/integration/go/parameterized/go.mod
  tests/integration/go/parameterized/go.sum
  tests/integration/go/parameterized/main.go
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required

#19313 `DocLanguageHelper`: `*schema.Package` -> `schema.PackageReference`
  pkg/codegen/docs.go
  pkg/codegen/docs_integration_test.go
  pkg/codegen/dotnet/doc.go
  pkg/codegen/dotnet/doc_test.go
  pkg/codegen/go/doc.go
  pkg/codegen/go/doc_test.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#19138 Adds FeatureFlagged Copilot assisted "Explain" option when Previewing Updates
  pkg/backend/apply.go
  pkg/backend/display/ai.go
  pkg/backend/display/ai_test.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/backend_test.go
  pkg/backend/httpstate/client/ai.go
  pkg/backend/httpstate/client/ai_test.go
  pkg/backend/httpstate/client/client.go
  sdk/go/common/apitype/ai.go
Labels: impact/no-changelog-required

#19422 cache intermediate results for type conversions
  pkg/codegen/hcl2/model/type.go
  pkg/codegen/hcl2/model/type_const.go
  pkg/codegen/hcl2/model/type_enum.go
  pkg/codegen/hcl2/model/type_list.go
  pkg/codegen/hcl2/model/type_map.go
  pkg/codegen/hcl2/model/type_none.go
  pkg/codegen/hcl2/model/type_object.go
  pkg/codegen/hcl2/model/type_opaque.go
  pkg/codegen/hcl2/model/type_output.go
  pkg/codegen/hcl2/model/type_promise.go
  pkg/codegen/hcl2/model/type_set.go
  pkg/codegen/hcl2/model/type_test.go
  pkg/codegen/hcl2/model/type_tuple.go
  pkg/codegen/hcl2/model/type_union.go
  pkg/codegen/pcl/functions_test.go
Labels: impact/no-changelog-required

#19437 Add some NodeJS request types
  sdk/nodejs/provider/server.ts
Labels: impact/no-changelog-required

#19426 Support `providers` in PCL and program generation
  cmd/pulumi-test-language/providers/component_provider.go
  cmd/pulumi-test-language/tests/l2_explicit_providers.go
  cmd/pulumi-test-language/tests/testdata/l2-explicit-providers/main.pp
  pkg/codegen/dotnet/gen_program.go
  pkg/codegen/go/gen_program.go
  pkg/codegen/go/gen_program_expressions.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/resource.go
  pkg/codegen/python/gen_program.go
  sdk/go/pulumi-language-go/testdata/projects/l2-explicit-providers/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-explicit-providers/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-explicit-providers/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-providers/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-providers/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-providers/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-providers/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-explicit-providers/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-providers/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-providers/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-providers/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-providers/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-explicit-providers/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-explicit-providers/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-explicit-providers/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-explicit-providers/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-explicit-providers/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-explicit-providers/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-explicit-providers/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-explicit-providers/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-explicit-providers/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-explicit-providers/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-explicit-providers/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-explicit-providers/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-explicit-providers/requirements.txt
Labels: impact/no-changelog-required

#19447 Fix the return type of the PCL `call` intrinsic
  pkg/codegen/pcl/call.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-component-call-simple/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-call-explicit/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-call/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-component-call-simple/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-call-explicit/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-call/index.ts
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-component-call-simple/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-call-explicit/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-call/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-component-call-simple/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-call-explicit/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-call/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-component-call-simple/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-call-explicit/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-call/__main__.py
Labels: impact/no-changelog-required

#19423 Deduplicate dependencies for `property.Value`
  sdk/go/property/values.go
  sdk/go/property/values_test.go
Labels: impact/no-changelog-required

#19451 Freeze 3.168.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19456 Remove `--path-prefix` from `golangci-lint`
  Makefile
Labels: impact/no-changelog-required

#19457 Temporary changes to unblock v3.168.0 release
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#19460 Revert "Temporary changes to unblock v3.168.0 release (#19457)"
  .github/workflows/on-release-manual-dispatch.yml
  .github/workflows/release.yml
Labels: impact/no-changelog-required

#19408 Views: Adopt on `plugin.Provider`
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_plugin_test.go
  sdk/go/common/resource/plugin/provider_server.go
Labels: impact/no-changelog-required

#19400 Use require single resource in invoke conformance tests
  cmd/pulumi-test-language/tests/l2_invoke_scalar.go
  cmd/pulumi-test-language/tests/l2_invoke_simple.go
Labels: impact/no-changelog-required

#19461 Fix UseLocalPulumiBuild
  sdk/go/common/testing/environment.go
Labels: impact/no-changelog-required

#19473 Freeze 3.169.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19446 remove nolint statements for no longer used linters
  pkg/cmd/pulumi/newcmd/new.go
  pkg/cmd/pulumi/operations/up.go
  pkg/cmd/pulumi/operations/watch.go
  sdk/go/common/testing/environment.go
  sdk/go/internal/types.go
  sdk/go/pulumi/generate/templates/types_builtins.go.template
  sdk/go/pulumi/provider_linked.go
  sdk/go/pulumi/rpc_test.go
  sdk/go/pulumi/types.go
  sdk/go/pulumi/types_builtins.go
  tests/integration/integration_util_test.go
  tests/testprovider/main.go
Labels: impact/no-changelog-required

#19478 Unflake test_config_file_option
  sdk/python/lib/test/automation/test_config_file.py
  sdk/python/lib/test/automation/test_utils.py
Labels: impact/no-changelog-required

#19455 Simplify plugin spec definition
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#19484 Add documentation for the `property` package
  sdk/go/property/README.md
  sdk/go/property/values.go
Labels: impact/no-changelog-required

#19468 Fixes rendering `--copilot` error summary on auth errors
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#19488 Python codegen shouldn't fail when we are missing `PackageInfo`
  pkg/codegen/docs_integration_test.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#19491 fix flaky TestResourceRefsGetResourcePython test
  tests/integration/resource_refs_get_resource/python/__main__.py
Labels: impact/no-changelog-required

#19493 codegen/python: don't use builtins.* prefix for docs (part 2)
  pkg/codegen/docs_integration_test.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#19501 Remove unnecessary line from `slice.MapError`
  developer-docs/go.sum
  sdk/go/common/slice/slice.go
  sdk/go/common/slice/slice_test.go
Labels: impact/no-changelog-required

#19469 Fixes link in `--copilot` error summary appearing.
  pkg/backend/display/ai.go
  pkg/backend/display/ai_test.go
Labels: impact/no-changelog-required

#19470 Refactor dependency information retrieval
  sdk/python/lib/pulumi/provider/experimental/analyzer.py
Labels: impact/no-changelog-required

#19424 Add a benchmark for `GetPropertyNames`
  pkg/codegen/docs_integration_test.go
Labels: impact/no-changelog-required

#19512 rename deprecated goreleaser options
  .goreleaser.yml
Labels: impact/no-changelog-required

#19524 Add display tests to TestImportOption
  pkg/engine/lifecycletest/import_test.go
  pkg/engine/lifecycletest/testdata/output/TestImportOption/0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/0/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/1/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/1/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/10/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/10/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/2/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/2/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/3/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/3/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/4/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/4/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/5/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/5/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/6/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/7/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/7/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/8/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestImportOption/8/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestImportOption/9/eventstream.json
Labels: impact/no-changelog-required

#19492 [codegen/nodejs] Do not import during docs generation
  pkg/codegen/docs_integration_test.go
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/schema/package_reference.go
Labels: impact/no-changelog-required

#19516 plumb attachDebugger flag through to RunPlugin
  cmd/pulumi-test-language/test_host.go
  pkg/engine/debugging.go
  pkg/engine/deployment.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/converter_plugin.go
  sdk/go/common/resource/plugin/debugging.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/mock.go
  sdk/go/common/resource/plugin/plugin.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/nodejs/proto/language_pb.d.ts
  sdk/nodejs/proto/language_pb.js
  sdk/proto/go/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
Labels: impact/no-changelog-required

#19529 Registry search methods in `backend`
  pkg/backend/backenderr/backenderr.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/httpstate/client/client_test.go
  pkg/backend/httpstate/package_registry.go
  pkg/backend/mock.go
  pkg/backend/package_registry.go
  sdk/go/common/apitype/package.go
Labels: impact/no-changelog-required

#19510 Specify discussion category for release
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#19520 Update `package add` docs
  docs/architecture/providers/parameterized.md
  pkg/cmd/pulumi/packagecmd/package_add.go
Labels: impact/no-changelog-required

#19482 Unify the error message for invalid semver
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
Labels: impact/no-changelog-required

#19543 Improve diagnostic event capture for cloud backends
  pkg/backend/httpstate/client/client.go
  pkg/backend/httpstate/client/client_test.go
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/pulumi_test.go
Labels: impact/no-changelog-required, ci/test

#19556 Freeze 3.170.0 draft release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19563 Remove unused argument
  pkg/cmd/pulumi/newcmd/new.go
  pkg/cmd/pulumi/operations/up.go
  pkg/cmd/pulumi/templates/org.go
  pkg/cmd/pulumi/templates/templates.go
  pkg/cmd/pulumi/templates/templates_test.go
Labels: impact/no-changelog-required

#19564 Don't return a backend with no logged in user
  pkg/cmd/pulumi/backend/login_manager.go
  pkg/cmd/pulumi/templates/org.go
Labels: impact/no-changelog-required

#19560 Revert "Add default orgs as an API capability (#18928)"
  sdk/go/common/apitype/service.go
Labels: impact/no-changelog-required

#19567 Set GOCOVERDIR in addition to PULUMI_GOCOVERDIR in tests
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#19569 Add `DocLanguageHelper.GetModuleName`
  pkg/codegen/docs.go
  pkg/codegen/docs_integration_test.go
  pkg/codegen/dotnet/doc.go
  pkg/codegen/go/doc.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#19472 Adds /api/capabilities checking for `--copilot`
  pkg/backend/apply.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/ai.go
  sdk/go/common/apitype/ai.go
  sdk/go/common/apitype/service.go
  sdk/go/common/apitype/service_test.go
Labels: impact/no-changelog-required

#19579 Mark `LoadPackageReference` as deprecated
  pkg/codegen/pcl/binder.go
  pkg/codegen/pcl/binder_nodes.go
  pkg/codegen/pcl/binder_resource.go
  pkg/codegen/pcl/binder_schema.go
  pkg/codegen/pcl/binder_schema_test.go
  pkg/codegen/schema/loader.go
Labels: impact/no-changelog-required

#19586 Print stdout/err if go test --list fails
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#19532 allow filtering the runnable types that can be debugged
  cmd/pulumi-test-language/test_host.go
  pkg/cmd/pulumi/operations/preview.go
  pkg/cmd/pulumi/operations/up.go
  pkg/engine/debugging.go
  pkg/engine/debugging_test.go
  pkg/engine/update.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_eval.go
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/converter_plugin.go
  sdk/go/common/resource/plugin/debugging.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/mock.go
  sdk/go/common/resource/plugin/provider_plugin.go
Labels: impact/no-changelog-required

#19542 Return Copilot explainPreview errors to the user
  pkg/backend/apply.go
  pkg/backend/apply_test.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/client.go
Labels: impact/no-changelog-required

#19555 Refine import docs
  pkg/cmd/pulumi/operations/import.go
Labels: area/cli, area/docs, impact/no-changelog-required

#19575 Add `DocLanguageHelper.GetResourceName`
  pkg/codegen/docs.go
  pkg/codegen/docs_integration_test.go
  pkg/codegen/dotnet/doc.go
  pkg/codegen/go/doc.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/python/doc.go
Labels: impact/no-changelog-required

#19573 make the `build` target build the whole repo
  Makefile
  sdk/go/Makefile
  tests/testutil/test_main_util.go
Labels: impact/no-changelog-required

#19545 implement plugin debugging in Go
  sdk/go/pulumi-language-go/main.go
  tests/integration/debug-plugin/go-plugin/PulumiPlugin.yaml
  tests/integration/debug-plugin/go-plugin/go.mod
  tests/integration/debug-plugin/go-plugin/go.sum
  tests/integration/debug-plugin/go-plugin/main.go
  tests/integration/debug-plugin/program/Pulumi.yaml
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required

#19577 Update integration test docs
  docs/architecture/testing/integration.md
Labels: impact/no-changelog-required

#19582 [convert] Ensure convert uses the output project directory as the working directory
  changelog/pending/20250516--programgen--ensure-package-parameterization-during-convert-uses-the-output-project-directory-as-the-working-directory.yaml
  pkg/cmd/pulumi/convert/convert.go
Labels: area/codegen

#19612 Bump ESC to 0.14.2
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/go.sum
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/go.sum
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/construct_component_configure_provider/testcomponent-go/go.mod
  tests/integration/construct_component_configure_provider/testcomponent-go/go.sum
  tests/integration/construct_component_provider_propagation/go/go.mod
  tests/integration/construct_component_provider_propagation/go/go.sum
  tests/integration/construct_component_resource_options/go/go.mod
  tests/integration/construct_component_resource_options/go/go.sum
  tests/integration/construct_nested_component/go/go.mod
  tests/integration/construct_nested_component/go/go.sum
Labels: impact/no-changelog-required

#19613 Freeze changes for `3.171.0`
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19599 Clean up a load of nolint comments
  pkg/backend/diy/backend_legacy_test.go
  pkg/backend/diy/backend_test.go
  pkg/backend/httpstate/backend_test.go
  pkg/backend/snapshot_test.go
  pkg/cmd/pulumi/metadata/metadata_test.go
  pkg/cmd/pulumi/newcmd/new_test.go
  pkg/codegen/schema/docs_test.go
  pkg/codegen/schema/schema_test.go
  pkg/secrets/cloud/aws_test.go
  pkg/secrets/cloud/manager_test.go
  pkg/secrets/passphrase/manager_test.go
  sdk/go/auto/cmd_test.go
  sdk/go/common/tokens/stack_name_test.go
  sdk/go/common/util/gitutil/git_test.go
  sdk/go/common/workspace/plugins_install_nodejs_test.go
  sdk/go/common/workspace/plugins_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main_test.go
  sdk/python/toolchain/pip_test.go
  sdk/python/toolchain/toolchain_test.go
  tests/integration/integration_go_test.go
  tests/integration/integration_nodejs_test.go
  tests/integration/integration_python_acceptance_test.go
  tests/integration/policy/policy_test.go
  tests/smoke/smoke_test.go
  tests/stack/stack_test.go
Labels: impact/no-changelog-required

#19626 Make the language tester a host itself
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/test_host.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/python/cmd/pulumi-language-python/language_test.go
Labels: impact/no-changelog-required

#19624 remove downstream codegen tests
  .github/workflows/pr-test-codegen-downstream.yml
Labels: impact/no-changelog-required

#19632 Instead of nil ptr panic use contract.Failf
  pkg/resource/deploy/resource_status.go
Labels: impact/no-changelog-required

#19634 Close grpc connections on host close in conformance tests
  cmd/pulumi-test-language/test_host.go
Labels: impact/no-changelog-required

#19643 Tweak ordering & document
  Makefile
Labels: impact/no-changelog-required

#19642 Fix makefile for osx
  Makefile
Labels: impact/no-changelog-required

#19644 Make color of Copilot summarize-error output more readable
  changelog/pending/20250523--cli-display--fix-color-of-copilot-summarize-error-so-its-more-readable-on-light-terminals.yaml
  pkg/backend/display/ai.go
Labels: impact/no-changelog-required

#19657 Add l2-failed-create test
  cmd/pulumi-test-language/tests/l2_failed_create.go
  cmd/pulumi-test-language/tests/testdata/l2-failed-create/main.pp
  sdk/go/pulumi-language-go/testdata/projects/l2-failed-create/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/projects/l2-failed-create/go.mod
  sdk/go/pulumi-language-go/testdata/projects/l2-failed-create/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-failed-create/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-failed-create/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-failed-create/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-failed-create/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-failed-create/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-failed-create/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-failed-create/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-failed-create/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-failed-create/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-failed-create/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-failed-create/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-failed-create/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-failed-create/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-failed-create/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-failed-create/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-failed-create/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-failed-create/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-failed-create/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-failed-create/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-failed-create/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-failed-create/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-failed-create/requirements.txt
Labels: impact/no-changelog-required

#19651 retry downloads form upstream in `make ensure`
  Makefile
  docs/Makefile
  scripts/retry
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: impact/no-changelog-required

#19668 Update README.md to make Java stable
  README.md
Labels: impact/no-changelog-required

#19631 Add a conformance test for policy
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/interface_test.go
  cmd/pulumi-test-language/policy_simple_test.go
  cmd/pulumi-test-language/test_host.go
  cmd/pulumi-test-language/tests/policy_simple.go
  cmd/pulumi-test-language/tests/testdata/policies/simple/PulumiPolicy.yaml
  cmd/pulumi-test-language/tests/testdata/policy-simple/main.pp
  cmd/pulumi-test-language/tests/testdata/snapshots/projects/policy-simple/Pulumi.yaml
  cmd/pulumi-test-language/tests/types.go
  proto/.checksum.txt
  proto/pulumi/testing/language.proto
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/analyzer_plugin_test.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/policies/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/policies/simple/PulumiPolicy.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/policies/simple/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/policies/simple/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/policies/simple/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/policy-simple/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/policy-simple/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/policy-simple/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/policy-simple/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/policy-simple/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/policy-simple/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/policy-simple/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/policy-simple/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/policy-simple/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/policy-simple/tsconfig.json
  sdk/nodejs/proto/testing/language_pb.d.ts
  sdk/nodejs/proto/testing/language_pb.js
  sdk/proto/go/testing/language.pb.go
  sdk/python/cmd/pulumi-language-python/language_test.go
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/policy-simple/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/policy-simple/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/policy-simple/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/policy-simple/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/policies/simple/PulumiPolicy.yaml
  sdk/python/cmd/pulumi-language-python/testdata/policies/simple/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/policies/simple/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/policy-simple/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/policy-simple/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/policy-simple/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/policy-simple/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/policy-simple/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/policy-simple/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/policy-simple/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/policy-simple/requirements.txt
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.pyi
Labels: impact/no-changelog-required

#19673 Update the .NET SDK to v3.82.1
  pkg/codegen/testing/test/helpers.go
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#19678 improve error handling in lifecycletest framework
  pkg/engine/lifecycletest/framework/framework.go
Labels: impact/no-changelog-required

#19684 Freeze v3.173.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19689 Install the Pulumi dev release before running the direct cron build
  .github/workflows/cron-direct-build.yml
Labels: impact/no-changelog-required

#19629 Mark unused policy fields as reserved in protocol
  proto/.checksum.txt
  proto/pulumi/analyzer.proto
  sdk/go/common/resource/plugin/analyzer.go
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/nodejs/proto/analyzer_pb.d.ts
  sdk/nodejs/proto/analyzer_pb.js
  sdk/proto/go/analyzer.pb.go
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.py
  sdk/python/lib/pulumi/runtime/proto/analyzer_pb2.pyi
Labels: impact/no-changelog-required
