Repository pulumi/pulumi, pull requests merged in 2025-02, with the labels that each got.

#18415 Skip TestDestroyUpgradeWarningParameterized on Windows
  tests/smoke_test.go
Labels: impact/no-changelog-required

#18429 Add language host binary Make instructions to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/docs, impact/no-changelog-required

#18404 Stream standard output and error when installing dependencies
  cmd/pulumi-test-language/interface.go
  pkg/cmd/pulumi/install/install.go
  pkg/cmd/pulumi/newcmd/install.go
  pkg/cmd/pulumi/policy/io.go
  pkg/resource/deploy/deploytest/languageruntime.go
  pkg/resource/deploy/deploytest/languageruntime_test.go
  pkg/resource/deploy/source_query_test.go
  pkg/util/cmdutil/install_dependencies.go
  sdk/go/common/resource/plugin/langruntime.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main.go
Labels: impact/no-changelog-required

#18426 Flesh out documentation for language runtime gRPCs
  docs/architecture/plugins.md
  proto/.checksum.txt
  proto/pulumi/language.proto
  sdk/nodejs/proto/language_grpc_pb.js
  sdk/proto/go/language.pb.go
  sdk/proto/go/language_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/language_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/language_pb2_grpc.pyi
Labels: impact/no-changelog-required

#18441 add additional debugging output to TestConvertTerraformProviderPython
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#18445 Add some clarification around conformance test stack resources.
  cmd/pulumi-test-language/README.md
Labels: impact/no-changelog-required

#18386 Remove Mention of Resolved Issue in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#18428 Bump minimum pulumi version for Parameterized Go codegen to v3.147.0
  pkg/codegen/go/gen.go
  sdk/go/pulumi-language-go/testdata/sdks/goodbye-2.0.0/go.mod
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/go.mod
Labels: impact/no-changelog-required

#18452 temporarily skip TestLanguageConvert tests for java for windows
  tests/smoke_test.go
Labels: impact/no-changelog-required

#18427 chore: clarifying packageRef use in proto docs
  proto/.checksum.txt
  proto/pulumi/resource.proto
  sdk/nodejs/proto/resource_grpc_pb.js
  sdk/proto/go/resource.pb.go
  sdk/proto/go/resource_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/resource_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/resource_pb2_grpc.pyi
Labels: impact/no-changelog-required

#18460 skip flaky TestUpdatePlans test on windows
  sdk/go/auto/stack_test.go
Labels: impact/no-changelog-required

#18097 Remove groups from json schema regex
  pkg/codegen/schema/pulumi.json
Labels: impact/no-changelog-required

#18475 Append coverage data
  sdk/python/scripts/test_auto.sh
  sdk/python/scripts/test_fast.sh
Labels: impact/no-changelog-required

#18477 Add PulumiHomeDir to ProgramTestOptions
  pkg/testing/integration/program.go
Labels: impact/no-changelog-required

#18471 Bump bundled .Net and YAML versions
  pkg/codegen/testing/test/helpers.go
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#18479 Upload test results to codecov
  .github/workflows/ci-run-test.yml
  scripts/go-test.py
Labels: impact/no-changelog-required

#18473 [Experimental/Components] Ensure component and type module is relative to the provider
  sdk/python/lib/pulumi/provider/experimental/analyzer.py
  sdk/python/lib/test/provider/experimental/test_analyzer.py
  tests/integration/integration_python_test.go
Labels: impact/no-changelog-required

#18474 Don't always rebuild targets with `%.ensure` dependencies
  .gitignore
  Makefile
  build/common.mk
  sdk/go/Makefile
  sdk/nodejs/Makefile
  sdk/python/Makefile
Labels: impact/no-changelog-required

#18488 Detect when we are in the merge queue and override the branch name
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#18491 Don’t set the files option codecov/test-results-action
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#18494 Freeze v3.149.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18490 Collect junit reports for python tests
  .gitignore
  sdk/python/scripts/test_auto.sh
  sdk/python/scripts/test_fast.sh
Labels: impact/no-changelog-required

#18507 Remove unused `pulumi new` template code
  pkg/cmd/pulumi/newcmd/new.go
  pkg/cmd/pulumi/newcmd/template.go
  sdk/go/common/workspace/project.go
  sdk/go/common/workspace/templates.go
Labels: impact/no-changelog-required

#18514 Fix IsAsset and IsArchive doc comment
  sdk/go/common/resource/properties.go
Labels: impact/no-changelog-required

#18527 Readme updates to use links that don't redirect and standardize UTMs
  README.md
Labels: impact/no-changelog-required

#18539 prepare 3.150.0 release
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18442 [Experimental/Components] Add a tutorial on writing a component provider
  sdk/python/lib/pulumi/provider/experimental/ComponentProvider.md
Labels: impact/no-changelog-required

#18538 Freeze v3.150.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18512 Better error reporting on TestUniqueProviderVersions to let you know what version to set to
  cmd/pulumi-test-language/interface_test.go
Labels: impact/no-changelog-required

#18572 Set branch name for test reports on merge
  .github/workflows/ci-run-test.yml
Labels: impact/no-changelog-required

#18577 update python component tutorial
  sdk/python/lib/pulumi/provider/experimental/ComponentProvider.md
Labels: impact/no-changelog-required

#18585 document PULUMI_INTEGRATION_REBUILD_BINARIES
  docs/architecture/testing/integration.md
Labels: impact/no-changelog-required

#18584 factor out function for setting up binary rebuilding
  tests/integration/main_test.go
  tests/main_test.go
  tests/testutil/test_main_util.go
Labels: impact/no-changelog-required

#18591 Refactor capabilities
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/backend_test.go
  pkg/backend/httpstate/client/client_test.go
  pkg/backend/httpstate/mock.go
  pkg/backend/httpstate/snapshot.go
  pkg/backend/httpstate/snapshot_test.go
  pkg/cmd/pulumi/backend/login_manager.go
  pkg/cmd/pulumi/org/org_search_test.go
  sdk/go/common/apitype/service.go
  sdk/go/common/apitype/service_test.go
Labels: impact/no-changelog-required

#18604 Remove unused done channel from RefreshStep
  pkg/resource/deploy/deployment_executor.go
  pkg/resource/deploy/step.go
Labels: impact/no-changelog-required

#18603 Simplify deployment deserialization encyption
  cmd/pulumi-test-language/interface.go
  pkg/backend/display/events.go
  pkg/backend/snapshot_test.go
  pkg/cmd/pulumi/config/io.go
  pkg/cmd/pulumi/config/io_test.go
  pkg/cmd/pulumi/logs/logs.go
  pkg/cmd/pulumi/newcmd/config.go
  pkg/cmd/pulumi/operations/destroy.go
  pkg/cmd/pulumi/operations/import.go
  pkg/cmd/pulumi/operations/preview.go
  pkg/cmd/pulumi/operations/refresh.go
  pkg/cmd/pulumi/operations/up.go
  pkg/cmd/pulumi/operations/watch.go
  pkg/cmd/pulumi/plan/plan.go
  pkg/cmd/pulumi/stack/secrets.go
  pkg/cmd/pulumi/stack/secrets_test.go
  pkg/cmd/pulumi/stack/stack_change_secrets_provider.go
  pkg/cmd/pulumi/stack/stack_change_secrets_provider_test.go
  pkg/importer/hcl2_test.go
  pkg/importer/language_test.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/deployment_test.go
  pkg/resource/stack/plan.go
  pkg/resource/stack/secrets.go
  pkg/resource/stack/secrets_test.go
  pkg/secrets/b64/manager.go
  pkg/secrets/cloud/aws_test.go
  pkg/secrets/cloud/azure_test.go
  pkg/secrets/cloud/gcp_test.go
  pkg/secrets/cloud/manager.go
  pkg/secrets/cloud/manager_test.go
  pkg/secrets/manager.go
  pkg/secrets/mock.go
  pkg/secrets/passphrase/manager.go
  pkg/secrets/service/manager.go
  sdk/go/common/lazy/lazy.go
Labels: impact/no-changelog-required

#18611 Fix passing of Name and Type to some provider methods
  pkg/resource/deploy/providers/registry_test.go
  pkg/resource/deploy/source_query.go
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_test.go
Labels: impact/no-changelog-required

#18621 Fix format specifier for config set error
  pkg/cmd/pulumi/config/config.go
Labels: impact/no-changelog-required

#18626 Add Mise to `pulumi/pulumi`
  .mise.toml
  docs/README.md
  docs/contributing/README.md
  docs/contributing/development.md
  docs/documentation/README.md
  docs/documentation/diagrams.md
  docs/documentation/writing.md
Labels: impact/no-changelog-required

#18629 Update `mise` quickstart instructions
  docs/contributing/development.md
Labels: area/docs, impact/no-changelog-required

#18616 Use local templates for smoke tests
  scripts/tidy.sh
  tests/smoke_test.go
  tests/testdata/random_go/Pulumi.yaml
  tests/testdata/random_go/go.mod
  tests/testdata/random_go/main.go
  tests/testdata/random_python/Pulumi.yaml
  tests/testdata/random_python/__main__.py
  tests/testdata/random_python/requirements.txt
  tests/testdata/random_typescript/Pulumi.yaml
  tests/testdata/random_typescript/index.ts
  tests/testdata/random_typescript/package.json
  tests/testdata/random_typescript/tsconfig.json
Labels: impact/no-changelog-required

#18631 [Experimental/Components]: Handle maps
  sdk/nodejs/provider/experimental/analyzer.ts
  sdk/nodejs/tests/provider/experimental/analyzer.spec.ts
  sdk/nodejs/tests/provider/experimental/testdata/map-types/index.ts
Labels: impact/no-changelog-required

#18655 add more randomness to random stack names
  sdk/go/common/testing/util.go
Labels: impact/no-changelog-required

#18653 Support `--clear-pending-creates` for `refresh` command in NodeJS Automation API.
  changelog/pending/20250220--auto-nodejs--support-clear-pending-creates-in-the-nodejs-automation-api.yaml
  sdk/nodejs/automation/stack.ts
Labels: kind/enhancement, language/javascript, area/automation-api

#18656 [Experimental/Components]: Fix up unbalanced quotes
  sdk/nodejs/provider/experimental/analyzer.ts
Labels: impact/no-changelog-required

#18658 Add `--clear-pending-creates` to `refresh` command in Python Automation API
  .mise.toml
  changelog/pending/20250220--auto-python--add-clear-pending-creates-to-the-refresh-command-in-the-python-automation-api.yaml
  sdk/python/lib/pulumi/automation/_stack.py
Labels: kind/enhancement, language/python, area/automation-api

#18662 Preview-only refresh in NodeJS
  changelog/pending/20250220--auto-nodejs--add-the-preview-only-flag-to-the-refresh-command-in-the-nodejs-automation-api.yaml
  sdk/nodejs/automation/stack.ts
Labels: kind/enhancement, language/javascript, area/automation-api

#18639 Experimental/Components]: Handle assets and archives
  sdk/nodejs/provider/experimental/analyzer.ts
  sdk/nodejs/tests/provider/experimental/analyzer.spec.ts
  sdk/nodejs/tests/provider/experimental/testdata/asset-archive-types/index.ts
Labels: impact/no-changelog-required

#18663 Prepare for 3.151.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18630 Default to UnknownID in providers.NewReference
  pkg/engine/lifecycletest/continue_on_error_test.go
  pkg/engine/lifecycletest/delete_before_replace_test.go
  pkg/engine/lifecycletest/parameterized_test.go
  pkg/engine/lifecycletest/provider_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/engine/lifecycletest/target_test.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/providers/reference.go
Labels: impact/no-changelog-required

#18666 Repalce ProviderParameterization with workspace.Parameterization
  pkg/engine/plugins.go
  pkg/importer/hcl2.go
  pkg/resource/deploy/import.go
  pkg/resource/deploy/providers/provider.go
  pkg/resource/deploy/providers/registry.go
  pkg/resource/deploy/source_eval.go
Labels: impact/no-changelog-required

#18664 Bump language dependencies for 3.151.0
  pkg/codegen/testing/test/helpers.go
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#18675 Freeze 3.151.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18677 Remove Info from Source
  pkg/resource/deploy/source.go
  pkg/resource/deploy/source_error.go
  pkg/resource/deploy/source_error_test.go
  pkg/resource/deploy/source_eval.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/deploy/source_null.go
Labels: impact/no-changelog-required

#18681 Prepare for 3.152.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18682 Freeze 3.152.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18654 [Experimental/Component]: support optional types in unions
  sdk/nodejs/provider/experimental/analyzer.ts
  sdk/nodejs/tests/provider/experimental/analyzer.spec.ts
  sdk/nodejs/tests/provider/experimental/testdata/map-types/index.ts
  sdk/nodejs/tests/provider/experimental/testdata/optional-types/index.ts
Labels: impact/no-changelog-required

#18660 [Experimental/Components]: Infer doc comments
  sdk/nodejs/provider/experimental/analyzer.ts
  sdk/nodejs/provider/experimental/schema.ts
  sdk/nodejs/tests/provider/experimental/analyzer.spec.ts
  sdk/nodejs/tests/provider/experimental/testdata/component-description/index.ts
Labels: impact/no-changelog-required

#18689 [Experimental/components] Skip tests and .files while analyzing Python components
  sdk/python/lib/pulumi/provider/experimental/analyzer.py
  sdk/python/lib/test/provider/experimental/test_analyzer.py
  sdk/python/lib/test/provider/experimental/testdata/excluded-files/.projectrc.py
  sdk/python/lib/test/provider/experimental/testdata/excluded-files/component.py
  sdk/python/lib/test/provider/experimental/testdata/excluded-files/tests/test_skipme.py
Labels: impact/no-changelog-required

#18693 [Experimental/Components]: minor typescript cleanups
  sdk/nodejs/provider/experimental/analyzer.ts
Labels: impact/no-changelog-required

#18636 [Experimental/Components]: Handle arrays
  sdk/nodejs/provider/experimental/analyzer.ts
  sdk/nodejs/tests/provider/experimental/analyzer.spec.ts
  sdk/nodejs/tests/provider/experimental/testdata/array-types/index.ts
Labels: impact/no-changelog-required

#18695 Fill in some more Name and Type fields on requests
  pkg/resource/deploy/step.go
  pkg/resource/deploy/step_test.go
Labels: impact/no-changelog-required

#18698 [Experimental/Components]: add typescript guide
  sdk/nodejs/provider/experimental/ComponentProvider.md
Labels: impact/no-changelog-required

#18710 package: also suggest disambiguating for local directories
  pkg/cmd/pulumi/packagecmd/project_sdk_link.go
Labels: impact/no-changelog-required

#18711 Prepare for 3.153.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/OBIN
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18716 [sdk/nodejs] Append coverage data
  sdk/nodejs/Makefile
Labels: impact/no-changelog-required

#18722 fix sdk/python/Makefile, remove stray file
  sdk/python/Makefile
  sdk/python/OBIN
Labels: impact/no-changelog-required

#18690 introduce helper function for exiterr, and use it in language tests
  sdk/go/common/util/errutil/format_exiterr.go
  sdk/go/pulumi-language-go/main.go
  sdk/python/toolchain/toolchain.go
  sdk/python/toolchain/toolchain_test.go
  sdk/python/toolchain/uv.go
Labels: impact/no-changelog-required

#18730 Freeze v3.153.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18727 Update to net8
  .github/workflows/ci-build-sdks.yml
  .github/workflows/ci-run-test.yml
  .github/workflows/release.yml
  pkg/codegen/testing/test/dotnet.go
  sdk/nodejs/tests/automation/data/testproj_dotnet/TestProj.csproj
  tests/testdata/codegen/transpiled_examples/cue-random-pp/dotnet/dotnet.csproj
  tests/testdata/codegen/transpiled_examples/getting-started-pp/dotnet/dotnet.csproj
  tests/testdata/codegen/transpiled_examples/kubernetes-pp/dotnet/dotnet.csproj
  tests/testdata/codegen/transpiled_examples/random-pp/dotnet/dotnet.csproj
Labels: impact/no-changelog-required

#18724 [Experimental/Components]: return an error for resource references
  sdk/nodejs/provider/experimental/analyzer.ts
  sdk/nodejs/tests/provider/experimental/analyzer.spec.ts
  sdk/nodejs/tests/provider/experimental/testdata/resource-reference/index.ts
Labels: impact/no-changelog-required

#18737 Add another missing Name and Type
  pkg/resource/deploy/step_generator.go
Labels: impact/no-changelog-required

#18742 (hopefully) fix flaky TestRunCanceled
  sdk/go/auto/cmd_test.go
Labels: impact/no-changelog-required

#18739 try to fix flake in TestGeneratedPackage
  pkg/codegen/dotnet/gen_test.go
Labels: impact/no-changelog-required

#18720 add namespace field to pulumi.json
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/package_reference.go
  pkg/codegen/schema/pulumi.json
  pkg/codegen/schema/schema.go
Labels: impact/no-changelog-required

#18745 Add comment about TargetFramework
  pkg/codegen/dotnet/templates.go
Labels: impact/no-changelog-required

#18747 Add RegisterResource diagram for Construct
  docs/architecture/providers/components.md
Labels: impact/no-changelog-required

#18728 De-duplicate the build for `make build` and `make test`
  Makefile
Labels: impact/no-changelog-required

#18755 use namespace instead of publisher for Go package generation
  pkg/codegen/go/gen.go
Labels: impact/no-changelog-required
