Repository pulumi/pulumi, pull requests merged in 2025-03, with the labels that each got.

#18770 Freeze v3.153.1
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18774 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: impact/no-changelog-required

#18754 fix test backend usage in automation test
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
Labels: impact/no-changelog-required

#18776 Rename batch crypt types
  pkg/backend/httpstate/client/client.go
  pkg/backend/httpstate/client/client_test.go
  pkg/cmd/pulumi/config/io_test.go
  pkg/cmd/pulumi/stack/stack_history_test.go
  pkg/engine/lifecycletest/pulumi_test.go
  pkg/resource/deploy/source_eval_test.go
  pkg/resource/stack/deployment.go
  pkg/resource/stack/secrets.go
  pkg/resource/stack/secrets_test.go
  pkg/secrets/mock.go
  pkg/secrets/passphrase/manager.go
  pkg/secrets/service/manager.go
  sdk/go/common/apitype/service.go
  sdk/go/common/apitype/service_test.go
  sdk/go/common/apitype/stacks.go
  sdk/go/common/resource/config/crypt.go
  sdk/go/common/resource/config/value_test.go
Labels: impact/no-changelog-required

#18775 provide friendlier exception when dict has no type arguments
  sdk/python/lib/pulumi/provider/experimental/analyzer.py
  sdk/python/lib/test/provider/experimental/test_analyzer.py
Labels: impact/no-changelog-required

#18750 Add `make test_watch`, a test-watching command for NodeJS
  sdk/nodejs/Makefile
  sdk/nodejs/package.json
  sdk/nodejs/tests/automation/localWorkspace.spec.ts
  sdk/nodejs/tsconfig.json
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#18789 add num accounts to policy group summary
  sdk/go/common/apitype/policy.go
Labels: impact/no-changelog-required

#18791 Only lift can to output space if needed
  pkg/codegen/pcl/functions.go
  pkg/codegen/pcl/functions_test.go
Labels: impact/no-changelog-required

#18758 Add `make test_watch`, a test-watching command for Python
  sdk/python/Makefile
  sdk/python/lib/test/automation/test_isolation.py
  sdk/python/lib/test/automation/test_local_workspace.py
  sdk/python/pyproject.toml
  sdk/python/pytest.ini
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18736 [Experimental/Components]: make provider version optional
  sdk/python/lib/pulumi/provider/experimental/metadata.py
  sdk/python/lib/pulumi/provider/experimental/schema.py
  sdk/python/lib/pulumi/provider/provider.py
  sdk/python/lib/pulumi/provider/server.py
Labels: impact/no-changelog-required

#18795 nodejs: remove dependency on @opentelemetry/semantic-conventions
  sdk/nodejs/cmd/run/tracing.ts
  sdk/nodejs/package.json
  sdk/nodejs/yarn.lock
Labels: impact/no-changelog-required

#18797 Flesh out documentation on converters
  docs/architecture/README.md
  docs/architecture/converters.md
  docs/architecture/plugins.md
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/proto/go/provider.pb.go
  sdk/proto/go/provider_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.pyi
Labels: impact/no-changelog-required

#18787 Support overriding programs in conformance tests
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/interface.go
  cmd/pulumi-test-language/program_overrides_test.go
  cmd/pulumi-test-language/tests/testdata/overrides/l1-empty/Pulumi.yaml
  cmd/pulumi-test-language/tests/testdata/overrides/l2-destroy/0/Pulumi.yaml
  cmd/pulumi-test-language/tests/testdata/overrides/l2-destroy/1/Pulumi.yaml
  proto/.checksum.txt
  proto/pulumi/testing/language.proto
  sdk/nodejs/proto/testing/language_pb.d.ts
  sdk/nodejs/proto/testing/language_pb.js
  sdk/proto/go/testing/language.pb.go
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.py
  sdk/python/lib/pulumi/runtime/proto/testing/language_pb2.pyi
Labels: impact/no-changelog-required

#18798 Don't Exit in ArgsFunc
  sdk/go/common/util/cmdutil/args.go
Labels: impact/no-changelog-required

#18796 Bind the type for try more precisely
  pkg/codegen/pcl/functions.go
  pkg/codegen/pcl/functions_test.go
Labels: impact/no-changelog-required

#18806 Fix make build to copy to go bin
  Makefile
Labels: impact/no-changelog-required

#18808 Prepare for 3.154.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18788 Test state delete directly via cobra
  pkg/cmd/pulumi/state/state_delete.go
  pkg/cmd/pulumi/state/state_delete_test.go
  sdk/go/common/util/cmdutil/args.go
Labels: impact/no-changelog-required

#18803 developer-docs: Document pulumi refresh
  developer-docs/providers/implementers-guide.md
Labels: impact/no-changelog-required

#18822 Refactor: Structured error for missing an env required when non-interactive use
  pkg/backend/errors.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/backend_test.go
  sdk/go/common/env/env.go
Labels: impact/no-changelog-required

#18825 Refactor: Add structured errors when a template isn't found
  sdk/go/common/workspace/templates.go
  sdk/go/common/workspace/templates_test.go
Labels: impact/no-changelog-required

#18809 Extend `Handshake` responses to allow more configuration
  proto/.checksum.txt
  proto/pulumi/provider.proto
  sdk/go/common/resource/plugin/provider.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_server.go
  sdk/nodejs/proto/provider_grpc_pb.js
  sdk/nodejs/proto/provider_pb.d.ts
  sdk/nodejs/proto/provider_pb.js
  sdk/proto/go/provider.pb.go
  sdk/proto/go/provider_grpc.pb.go
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2.pyi
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.py
  sdk/python/lib/pulumi/runtime/proto/provider_pb2_grpc.pyi
Labels: impact/no-changelog-required

#18827 Freeze 3.154.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18840 Update from exp/maps to maps in the conformance tests
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/providers/component_property_deps_provider.go
  cmd/pulumi-test-language/providers/component_provider.go
  cmd/pulumi-test-language/providers/plain_provider.go
  cmd/pulumi-test-language/providers/ref_ref_provider.go
Labels: impact/no-changelog-required

#18816 Fold a couple of simple commands into just cobra runs
  pkg/cmd/pulumi/packagecmd/package_pack_sdk.go
  pkg/cmd/pulumi/packagecmd/package_publish.go
  pkg/cmd/pulumi/plugin/plugin_run.go
Labels: impact/no-changelog-required

#18835 refactor: use t.TempDir() instead of os.MkdirTemp
  pkg/cmd/pulumi/deployment/deployment_settings_utils_test.go
  sdk/go/auto/cmd_test.go
  sdk/go/common/util/gitutil/git_test.go
Labels: impact/no-changelog-required

#18817 print all diagnostic errors when getting the schema failed
  pkg/cmd/pulumi/packagecmd/package_add.go
Labels: impact/no-changelog-required

#18845 Make `whoami` just a cobra command
  pkg/cmd/pulumi/pulumi.go
  pkg/cmd/pulumi/whoami/whoami.go
  pkg/cmd/pulumi/whoami/whoami_test.go
Labels: impact/no-changelog-required

#18858 Bump Java to 1.5.0
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#18844 use full Go version in pulumi-test-language/go.mod
  cmd/pulumi-test-language/go.mod
Labels: impact/no-changelog-required

#18848 [node/components] Add more context to error messages in schema inference
  sdk/nodejs/provider/experimental/analyzer.ts
  sdk/nodejs/tests/provider/experimental/analyzer.spec.ts
  sdk/nodejs/tests/provider/experimental/testdata/bad-property-type/sub-type/index.ts
  sdk/nodejs/tests/provider/experimental/testdata/bad-property-type/top-level/index.ts
  sdk/nodejs/tests/provider/experimental/testdata/yarn.lock
Labels: impact/no-changelog-required

#18867 Reduce encryption batch size
  pkg/resource/stack/secrets.go
Labels: impact/no-changelog-required

#18870 Add a program destroy test with explicit providers
  pkg/engine/lifecycletest/destroy_test.go
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/0/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/0/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/0/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/1/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/1/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/1/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/1/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestExplicitProviderUpdateDestroyWithProgram/1/progress.stdout.txt
Labels: impact/no-changelog-required

#18869 Bump Java to 1.6.0
  scripts/get-language-providers.sh
Labels: impact/no-changelog-required

#18859 Freeze 3.155.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18861 Add the ability to list org templates in via the service backend
  pkg/backend/backend.go
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/api.go
  pkg/backend/httpstate/client/api_endpoints.go
  pkg/backend/httpstate/client/client.go
  pkg/backend/httpstate/client/client_test.go
  pkg/backend/mock.go
  sdk/go/common/apitype/templates.go
  sdk/go/common/workspace/project.go
Labels: impact/no-changelog-required

#18880 Replace redundant integration test with conformance test
  cmd/pulumi-test-language/interface.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/overrides/l2-component-property-deps/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/overrides/l2-component-property-deps/go.mod
  sdk/go/pulumi-language-go/testdata/overrides/l2-component-property-deps/main.go
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/componentpropertydeps/component.go
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/componentpropertydeps/custom.go
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/componentpropertydeps/doc.go
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/componentpropertydeps/init.go
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/componentpropertydeps/internal/pulumiUtilities.go
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/componentpropertydeps/internal/pulumiVersion.go
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/componentpropertydeps/provider.go
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/componentpropertydeps/pulumi-plugin.json
  sdk/go/pulumi-language-go/testdata/sdks/component-property-deps-1.33.7/go.mod
  tests/integration/construct_component_property_deps/go/Pulumi.yaml
  tests/integration/construct_component_property_deps/go/go.mod
  tests/integration/construct_component_property_deps/go/go.sum
  tests/integration/construct_component_property_deps/go/main.go
  tests/integration/construct_component_property_deps/testcomponent-go/.gitignore
  tests/integration/construct_component_property_deps/testcomponent-go/PulumiPlugin.yaml
  tests/integration/construct_component_property_deps/testcomponent-go/main.go
  tests/integration/integration_go_test.go
Labels: impact/no-changelog-required

#18876 [python/components] Better error message for a missing type
  sdk/python/lib/pulumi/provider/experimental/analyzer.py
Labels: impact/no-changelog-required

#18878 Run lifecycle tests with parallelism
  pkg/engine/lifecycletest/framework/framework.go
Labels: impact/no-changelog-required

#18883 Freeze version 3.156
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18886 Update step counter atomicly
  pkg/backend/display/events.go
  pkg/engine/events.go
  pkg/engine/update.go
Labels: impact/no-changelog-required

#18889 Remove unused QueryOptions structs
  pkg/cmd/pulumi/org/org_search.go
  pkg/cmd/pulumi/org/org_search_ai.go
Labels: impact/no-changelog-required

#18890 Remove unused filestate code
  pkg/backend/filestate/backend.go
Labels: impact/no-changelog-required

#18873 Improve parameterize docs
  docs/architecture/providers/parameterized.md
  sdk/go/common/resource/plugin/provider.go
Labels: impact/no-changelog-required

#18894 Test conditionals in TestApplyRewriter
  pkg/codegen/pcl/rewrite_apply_test.go
Labels: impact/no-changelog-required

#18904 Load Steps variable with atomic
  pkg/engine/update.go
Labels: impact/no-changelog-required

#18850 [conformance] Test parameterized remote components
  cmd/pulumi-test-language/providers/parameterized_provider.go
  cmd/pulumi-test-language/tests/l2_parameterized_resource.go
  cmd/pulumi-test-language/tests/testdata/l2-parameterized-resource/main.pp
  sdk/go/pulumi-language-go/testdata/projects/l2-parameterized-resource/main.go
  sdk/go/pulumi-language-go/testdata/sdks/goodbye-2.0.0/goodbye/goodbyeComponent.go
  sdk/go/pulumi-language-go/testdata/sdks/goodbye-2.0.0/goodbye/init.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/helloWorldComponent.go
  sdk/go/pulumi-language-go/testdata/sdks/subpackage-2.0.0/subpackage/init.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-parameterized-resource/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/goodbye-2.0.0/goodbyeComponent.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/goodbye-2.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/goodbye-2.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/subpackage-2.0.0/helloWorldComponent.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/subpackage-2.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/subpackage-2.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-parameterized-resource/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/goodbye-2.0.0/goodbyeComponent.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/goodbye-2.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/goodbye-2.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/subpackage-2.0.0/helloWorldComponent.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/subpackage-2.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/subpackage-2.0.0/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-parameterized-resource/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/goodbye-2.0.0/pulumi_goodbye/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/goodbye-2.0.0/pulumi_goodbye/goodbye_component.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/subpackage-2.0.0/pulumi_subpackage/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/subpackage-2.0.0/pulumi_subpackage/hello_world_component.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-parameterized-resource/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/goodbye-2.0.0/pulumi_goodbye/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/goodbye-2.0.0/pulumi_goodbye/goodbye_component.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/subpackage-2.0.0/pulumi_subpackage/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/subpackage-2.0.0/pulumi_subpackage/hello_world_component.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-parameterized-resource/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/goodbye-2.0.0/pulumi_goodbye/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/goodbye-2.0.0/pulumi_goodbye/goodbye_component.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/subpackage-2.0.0/pulumi_subpackage/__init__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/subpackage-2.0.0/pulumi_subpackage/hello_world_component.py
Labels: area/testing, impact/no-changelog-required

#18906 implement log truncation in conformance tests
  sdk/go/common/testing/util.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/python/cmd/pulumi-language-python/language_test.go
Labels: impact/no-changelog-required

#18910 Delete duplicate code
  pkg/resource/deploy/import.go
Labels: impact/no-changelog-required

#18820 remove leftover testdata
  cmd/pulumi-test-language/testdata/l2-resource-asset-archive/test.txt
Labels: impact/no-changelog-required

#18699 [sdkgen/dotnet] Support parameterization in generated remote component resources for .NET
  changelog/pending/20250224--sdkgen-dotnet--support-parameterization-in-generated-remote-component-resources-for-net.yaml
  pkg/codegen/dotnet/gen.go
  tests/testdata/codegen/assets-and-archives/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/azure-native-nested-types/dotnet/Pulumi.AzureNative.csproj
  tests/testdata/codegen/config-variables/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/cyclic-types/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/dash-named-schema/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/dashed-import-schema/dotnet/Pulumi.Plant.csproj
  tests/testdata/codegen/functions-secrets/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/hyphen-url/dotnet/Pulumi.Registrygeoreplication.csproj
  tests/testdata/codegen/legacy-names/dotnet/Pulumi.Legacy_names.csproj
  tests/testdata/codegen/naming-collisions/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/nested-module-thirdparty/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/output-funcs-edgeorder/dotnet/Pulumi.Myedgeorder.csproj
  tests/testdata/codegen/output-funcs-tfbridge20/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/output-funcs/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/plain-and-default/dotnet/Pulumi.FooBar.csproj
  tests/testdata/codegen/plain-object-defaults/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/plain-object-disable-defaults/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/provider-type-schema/dotnet/Pulumi.ProviderType.csproj
  tests/testdata/codegen/regress-8403/dotnet/Pulumi.Mongodbatlas.csproj
  tests/testdata/codegen/regress-node-8110/dotnet/Pulumi.My8110.csproj
  tests/testdata/codegen/replace-on-change/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-args-python-case-insensitive/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-args-python/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/resource-property-overlap/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/secrets/dotnet/Pulumi.Mypkg.csproj
  tests/testdata/codegen/simple-enum-schema/dotnet/Pulumi.Plant.csproj
  tests/testdata/codegen/simple-methods-schema-single-value-returns/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-methods-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-plain-schema-with-root-package/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-plain-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-resource-schema/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/simple-resource-with-aliases/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/unions-inline/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/unions-inside-arrays/dotnet/Pulumi.Example.csproj
  tests/testdata/codegen/urn-id-properties/dotnet/Pulumi.Urnid.csproj
  tests/testdata/codegen/using-shared-types-in-config/dotnet/Pulumi.Credentials.csproj
Labels: kind/enhancement, language/dotnet, area/codegen

#18921 Fix conformance test to pin raw data content
  cmd/pulumi-test-language/l2_resource_asset_test.go
  cmd/pulumi-test-language/tests/l2_resource_asset_archive.go
  cmd/pulumi-test-language/tests/testdata/l2-resource-asset-archive/subdir/main.pp
  sdk/go/pulumi-language-go/testdata/projects/l2-resource-asset-archive/subdir/main.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-resource-asset-archive/subdir/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-resource-asset-archive/subdir/index.ts
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-resource-asset-archive/subdir/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-resource-asset-archive/subdir/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-resource-asset-archive/subdir/__main__.py
Labels: impact/no-changelog-required

#18881 Update README.md
  README.md
Labels: impact/no-changelog-required

#18908 Add GetDefaultOrganizationResponse type for backend/cli definition
  sdk/go/common/apitype/organizations.go
Labels: impact/no-changelog-required

#18856 Rename SDK publishing commands to reflect that they're operating on SDKs
  pkg/cmd/pulumi/packagecmd/package.go
  pkg/cmd/pulumi/packagecmd/package_pack_sdk.go
  pkg/cmd/pulumi/packagecmd/package_publish_sdk.go
Labels: impact/no-changelog-required

#18932 fix usage of rootnamespace in dotnet programgen
  pkg/codegen/dotnet/gen_program.go
Labels: impact/no-changelog-required

#18753 typescript: import packages from @<namespace>/
  pkg/cmd/pulumi/packagecmd/project_sdk_link.go
  pkg/codegen/nodejs/doc.go
  pkg/codegen/nodejs/gen.go
  pkg/codegen/nodejs/gen_program.go
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-namespaced-provider/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-namespaced-provider/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-namespaced-provider/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-namespaced-provider/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-namespaced-provider/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/README.md
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/provider.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/resource.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/namespaced-16.0.0/utilities.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-namespaced-provider/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-namespaced-provider/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-namespaced-provider/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-namespaced-provider/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-namespaced-provider/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/README.md
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/provider.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/resource.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/namespaced-16.0.0/utilities.ts
  tests/integration/integration_nodejs_test.go
  tests/integration/packageadd-namespace/nodejs/.gitignore
  tests/integration/packageadd-namespace/nodejs/Pulumi.yaml
  tests/integration/packageadd-namespace/nodejs/index.ts
  tests/integration/packageadd-namespace/nodejs/package.json
  tests/integration/packageadd-namespace/nodejs/tsconfig.json
Labels: impact/no-changelog-required

#18942 dotnet: format namespace correctly in programgen
  pkg/codegen/dotnet/gen_program.go
Labels: impact/no-changelog-required

#18941 Freeze 3.157.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18928 Add default orgs as an API capability
  sdk/go/common/apitype/service.go
Labels: impact/no-changelog-required

#18905 Make `refresh` respect `--target-dependents`
  changelog/pending/20250314--pkg--make-refresh-respect-targetdependents.yaml
  pkg/engine/lifecycletest/target_test.go
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/0/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/0/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/0/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/0/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/0/progress.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/1/diff.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/1/diff.stdout.txt
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/1/eventstream.json
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/1/progress.stderr.txt
  pkg/engine/lifecycletest/testdata/output/TestRefreshTargetChildren/1/progress.stdout.txt
  pkg/resource/deploy/deployment_executor.go
Labels: kind/bug

#18950 chore: make function comment match function name
  pkg/backend/display/progress.go
  pkg/backend/httpstate/backend.go
Labels: impact/no-changelog-required

#18945 Update languages and conformance tests to use `T.Context()`
  cmd/pulumi-test-language/go.mod
  cmd/pulumi-test-language/interface_test.go
  cmd/pulumi-test-language/internal_test.go
  cmd/pulumi-test-language/l1_empty_test.go
  cmd/pulumi-test-language/l1_main_test.go
  cmd/pulumi-test-language/l2_continue_on_error_test.go
  cmd/pulumi-test-language/l2_destroy_test.go
  cmd/pulumi-test-language/l2_large_test.go
  cmd/pulumi-test-language/l2_resource_asset_test.go
  cmd/pulumi-test-language/l2_resource_simple_test.go
  cmd/pulumi-test-language/program_overrides_test.go
  cmd/pulumi-test-language/runtime_options_test.go
  sdk/go/pulumi-language-go/go.mod
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/main_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/go.mod
  sdk/nodejs/cmd/pulumi-language-nodejs/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/main_test.go
  sdk/python/cmd/pulumi-language-python/go.mod
  sdk/python/cmd/pulumi-language-python/language_test.go
  sdk/python/cmd/pulumi-language-python/main_test.go
Labels: impact/no-changelog-required

#18952 use usetesting linter instead of tenv
  .golangci.yml
  pkg/backend/display/display_test.go
  pkg/secrets/passphrase/manager_test.go
  pkg/testing/integration/program.go
  sdk/go/auto/git_test.go
  sdk/go/auto/stack_test.go
  sdk/go/common/resource/asset_test.go
  sdk/go/common/resource/plugin/host_test.go
  sdk/go/common/testing/environment.go
  sdk/go/common/workspace/plugins_install_test.go
  sdk/go/common/workspace/project_test.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#18954 run more integration tests in parallel
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#18958 make dist target not depend on build and fix PULUMI_INTEGRATION_REBUILD_BINARIES
  Makefile
Labels: impact/no-changelog-required

#18963 Don't require ordered updates for `TestRefreshTargetChildren`
  pkg/engine/lifecycletest/target_test.go
Labels: impact/no-changelog-required

#18961 Use Mise config_root var instead of env.PWD
  .mise.toml
  docs/contributing/development.md
Labels: impact/no-changelog-required

#18966 pytest-watch is a dev dependency
  sdk/python/pyproject.toml
Labels: impact/no-changelog-required

#18971 Fix ComponentResource class typo and correctly implement args type
  sdk/python/lib/pulumi/provider/experimental/ComponentProvider.md
Labels: impact/no-changelog-required

#18974 Update uv.lock
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#18968 [nodejs] Stop returning a version from componentProviderHost
  sdk/nodejs/provider/experimental/provider.ts
  sdk/nodejs/provider/experimental/schema.ts
  sdk/nodejs/provider/provider.ts
  sdk/nodejs/tests/provider/experimental/schema.spec.ts
  tests/integration/component_provider/nodejs/component-provider-host/provider/package.json
  tests/integration/integration_nodejs_test.go
Labels: impact/no-changelog-required

#18981 [dev docs] Correct `Example uses of parameterization` Terraform
  docs/architecture/providers/parameterized.md
Labels: impact/no-changelog-required

#18951 pass through pluginspec for finding plugins
  .github/workflows/ci-run-test.yml
  cmd/pulumi-test-language/test_host.go
  pkg/cmd/pulumi/plugin/plugin.go
  pkg/cmd/pulumi/plugin/plugin_run.go
  pkg/codegen/schema/loader.go
  pkg/codegen/schema/loader_test.go
  pkg/engine/plugins.go
  pkg/resource/deploy/deploytest/pluginhost.go
  pkg/resource/deploy/providers/registry_test.go
  sdk/go/common/resource/plugin/analyzer_plugin.go
  sdk/go/common/resource/plugin/converter_plugin.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/resource/plugin/langruntime_plugin.go
  sdk/go/common/resource/plugin/langruntime_test.go
  sdk/go/common/resource/plugin/mock.go
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/workspace/plugins.go
  sdk/go/common/workspace/plugins_test.go
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#18989 Add l1-config-types conformance test
  cmd/pulumi-test-language/tests/l1_config_types.go
  cmd/pulumi-test-language/tests/testdata/l1-config-types/main.pp
  pkg/codegen/nodejs/gen_program.go
  pkg/codegen/python/gen_program_quotes.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-builtin-can/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-builtin-try/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-config-types/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-config-types/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-config-types/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-config-types/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-config-types/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-builtin-can/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-builtin-try/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-config-types/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-config-types/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-config-types/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-config-types/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-config-types/tsconfig.json
  sdk/python/cmd/pulumi-language-python/language_test.go
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-config-types/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-config-types/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-config-types/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-config-types/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-config-types/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-config-types/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-config-types/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-config-types/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-config-types/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-config-types/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-config-types/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-config-types/requirements.txt
  tests/testdata/codegen/config-variables-pp/nodejs/config-variables.ts
  tests/testdata/codegen/dynamic-entries-pp/nodejs/dynamic-entries.ts
  tests/testdata/codegen/transpiled_examples/azure-app-service-pp/nodejs/package.json
  tests/testdata/codegen/transpiled_examples/cue-random-pp/dotnet/dotnet.csproj
  tests/testdata/codegen/transpiled_examples/cue-random-pp/nodejs/package.json
  tests/testdata/codegen/transpiled_examples/getting-started-pp/dotnet/dotnet.csproj
  tests/testdata/codegen/transpiled_examples/getting-started-pp/nodejs/package.json
  tests/testdata/codegen/transpiled_examples/kubernetes-pp/dotnet/dotnet.csproj
  tests/testdata/codegen/transpiled_examples/kubernetes-pp/nodejs/package.json
  tests/testdata/codegen/transpiled_examples/random-pp/dotnet/dotnet.csproj
  tests/testdata/codegen/transpiled_examples/readme-pp/nodejs/package.json
  tests/testdata/codegen/transpiled_examples/stackreference-producer-pp/nodejs/package.json
  tests/testdata/codegen/transpiled_examples/webserver-json-pp/nodejs/package.json
  tests/testdata/codegen/transpiled_examples/webserver-pp/nodejs/package.json
  tests/testdata/codegen/typed-enum-pp/python/typed-enum.py
Labels: impact/no-changelog-required

#18993 Add l1-proxy-index and l2-proxy-index conformance tests
  cmd/pulumi-test-language/tests/l1_proxy_index.go
  cmd/pulumi-test-language/tests/l2_proxy_index.go
  cmd/pulumi-test-language/tests/testdata/l1-proxy-index/main.pp
  cmd/pulumi-test-language/tests/testdata/l2-proxy-index/main.pp
  pkg/codegen/nodejs/gen_program_lower.go
  scripts/run-conformance.sh
  sdk/go/pulumi-language-go/language_test.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-proxy-index/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-proxy-index/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-proxy-index/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-proxy-index/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l1-proxy-index/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-proxy-index/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-proxy-index/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-proxy-index/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-proxy-index/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-proxy-index/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-proxy-index/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-proxy-index/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-proxy-index/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-proxy-index/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l1-proxy-index/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-proxy-index/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-proxy-index/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-proxy-index/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-proxy-index/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-proxy-index/tsconfig.json
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-proxy-index/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-proxy-index/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-proxy-index/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l1-proxy-index/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-proxy-index/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-proxy-index/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-proxy-index/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-proxy-index/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-proxy-index/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-proxy-index/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-proxy-index/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l1-proxy-index/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-proxy-index/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-proxy-index/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-proxy-index/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-proxy-index/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-proxy-index/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-proxy-index/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-proxy-index/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l1-proxy-index/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-proxy-index/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-proxy-index/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-proxy-index/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-proxy-index/requirements.txt
Labels: impact/no-changelog-required

#18995 Add TODO to liftOperationType call
  pkg/codegen/hcl2/model/expression.go
Labels: impact/no-changelog-required

#19000 Use RequireSingleResource consistently through conformance tests
  cmd/pulumi-test-language/tests/l1_builtin_can.go
  cmd/pulumi-test-language/tests/l1_builtin_info.go
  cmd/pulumi-test-language/tests/l1_builtin_project_root.go
  cmd/pulumi-test-language/tests/l1_builtin_try.go
  cmd/pulumi-test-language/tests/l1_config_types.go
  cmd/pulumi-test-language/tests/l1_keyword_overlap.go
  cmd/pulumi-test-language/tests/l1_main.go
  cmd/pulumi-test-language/tests/l1_output_array.go
  cmd/pulumi-test-language/tests/l1_output_bool.go
  cmd/pulumi-test-language/tests/l1_output_map.go
  cmd/pulumi-test-language/tests/l1_output_number.go
  cmd/pulumi-test-language/tests/l1_output_string.go
  cmd/pulumi-test-language/tests/l1_proxy_index.go
  cmd/pulumi-test-language/tests/l1_stack_reference.go
  cmd/pulumi-test-language/tests/l2_component_call_simple.go
  cmd/pulumi-test-language/tests/l2_destroy.go
  cmd/pulumi-test-language/tests/l2_engine_update_options.go
  cmd/pulumi-test-language/tests/l2_explicit_parameterized_provider.go
  cmd/pulumi-test-language/tests/l2_explicit_provider.go
  cmd/pulumi-test-language/tests/l2_large_string.go
  cmd/pulumi-test-language/tests/l2_namespaced_provider.go
  cmd/pulumi-test-language/tests/l2_parameterized_resource.go
  cmd/pulumi-test-language/tests/l2_plain.go
  cmd/pulumi-test-language/tests/l2_primitive_ref.go
  cmd/pulumi-test-language/tests/l2_provider_call.go
  cmd/pulumi-test-language/tests/l2_proxy_index.go
  cmd/pulumi-test-language/tests/l2_ref_ref.go
  cmd/pulumi-test-language/tests/l2_resource_alpha.go
  cmd/pulumi-test-language/tests/l2_resource_asset_archive.go
  cmd/pulumi-test-language/tests/l2_resource_config.go
  cmd/pulumi-test-language/tests/l2_resource_keyword_overlap.go
  cmd/pulumi-test-language/tests/l2_resource_primitives.go
  cmd/pulumi-test-language/tests/l2_resource_secret.go
  cmd/pulumi-test-language/tests/l2_resource_simple.go
  cmd/pulumi-test-language/tests/l2_target_up_with_new_dependency.go
Labels: impact/no-changelog-required

#19006 Freeze 3.158.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19007 pass in valid info/error writers in test
  tests/integration/integration_test.go
Labels: impact/no-changelog-required

#19012 `pulumi package gen-sdk`: newline character
  pkg/cmd/pulumi/packagecmd/package_gen_sdk.go
Labels: impact/no-changelog-required

#19017 Revert change to use `t.TempDir` in testing environment
  sdk/go/common/testing/environment.go
Labels: impact/no-changelog-required

#19024 Delete duplicate `deleteIfNotFailed` helper
  tests/config_test.go
  tests/history_test.go
  tests/login_test.go
  tests/policy_new_test.go
  tests/remote_test.go
  tests/smoke_test.go
  tests/stack_test.go
Labels: impact/no-changelog-required

#19025 Delete unused `DeleteEnvironmentFallible` method
  sdk/go/common/testing/environment.go
Labels: impact/no-changelog-required

#18857 Enable 'pulumi package publish' to detect README files
  pkg/cmd/pulumi/packagecmd/package_publish.go
  pkg/cmd/pulumi/packagecmd/package_publish_test.go
Labels: impact/no-changelog-required

#19042 [components/nodejs] Discover component types through re-exports
  sdk/nodejs/provider/experimental/analyzer.ts
  sdk/nodejs/tests/provider/experimental/analyzer.spec.ts
  sdk/nodejs/tests/provider/experimental/testdata/re-exports/anotherComponent.ts
  sdk/nodejs/tests/provider/experimental/testdata/re-exports/components.ts
  sdk/nodejs/tests/provider/experimental/testdata/re-exports/index.ts
  sdk/nodejs/tests/provider/experimental/testdata/re-exports/myComponent.ts
Labels: impact/no-changelog-required

#19043 override plugin version in the provider interface
  sdk/go/common/resource/plugin/provider_plugin.go
  sdk/go/common/resource/plugin/provider_plugin_test.go
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#19045 Freeze 3.159.0
  sdk/.version
  sdk/nodejs/package.json
  sdk/nodejs/version.ts
  sdk/python/lib/pulumi/_version.py
  sdk/python/pyproject.toml
  sdk/python/uv.lock
Labels: impact/no-changelog-required

#19048 Stop installing `pulumi` on `make build`
  Makefile
  build/common.mk
  sdk/go/Makefile
Labels: impact/no-changelog-required

#19052 Don't recursively call `make` as part of `make build_local`
  Makefile
Labels: impact/no-changelog-required

#19057 Minimum dotnet version is now 8, not 6
  scripts/get-job-matrix.py
Labels: impact/no-changelog-required

#19062 make build_local with shells other than bash
  sdk/go/Makefile
Labels: impact/no-changelog-required

#19049 use `spec.IsGitPlugin()` consistently
  pkg/cmd/pulumi/packagecmd/project_sdk_link.go
  sdk/go/common/resource/plugin/host.go
  sdk/go/common/workspace/plugins.go
Labels: impact/no-changelog-required

#19058 [sdk/go] Ensure RegisterResourceOutputs is Idempotent
  sdk/go/pulumi/context.go
  sdk/go/pulumi/context_test.go
  sdk/go/pulumi/mocks.go
  sdk/go/pulumi/run_test.go
Labels: impact/no-changelog-required

#17956 Adds Copilot Summarization of Update Errors
  pkg/backend/apply.go
  pkg/backend/display/ai.go
  pkg/backend/display/ai_test.go
  pkg/backend/display/options.go
  pkg/backend/display/progress.go
  pkg/backend/display/progress_test.go
  pkg/backend/diy/backend.go
  pkg/backend/httpstate/backend.go
  pkg/backend/httpstate/client/ai.go
  pkg/backend/httpstate/client/ai_test.go
  pkg/backend/httpstate/client/client.go
  pkg/cmd/pulumi/operations/up.go
  pkg/engine/lifecycletest/framework/framework.go
  sdk/go/common/apitype/ai.go
  sdk/go/common/env/env.go
Labels: impact/no-changelog-required

#17832 l3-component-simple test
  cmd/pulumi-test-language/tests/l3_component_simple.go
  cmd/pulumi-test-language/tests/testdata/l3-component-simple/main.pp
  cmd/pulumi-test-language/tests/testdata/l3-component-simple/myComponent/main.pp
  pkg/codegen/pcl/program.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/overrides/l3-component-simple/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/overrides/l3-component-simple/go.mod
  sdk/go/pulumi-language-go/testdata/overrides/l3-component-simple/main.go
  sdk/go/pulumi-language-go/testdata/overrides/l3-component-simple/myComponent.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l3-component-simple/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l3-component-simple/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l3-component-simple/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l3-component-simple/myComponent.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l3-component-simple/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l3-component-simple/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l3-component-simple/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l3-component-simple/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l3-component-simple/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l3-component-simple/myComponent.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l3-component-simple/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l3-component-simple/tsconfig.json
  sdk/python/cmd/pulumi-language-python/language_test.go
Labels: impact/no-changelog-required, ci/test

#19061 Remove usage of deprecated SourceFileLoader.load_module
  sdk/python/lib/test/provider/experimental/test_analyzer.py
Labels: impact/no-changelog-required

#18920 Support calling methods on provider resources
  cmd/pulumi-test-language/providers/call_provider.go
  cmd/pulumi-test-language/tests/l2_provider_call_explicit.go
  cmd/pulumi-test-language/tests/testdata/l2-provider-call-explicit/main.pp
  pkg/codegen/schema/bind.go
  pkg/codegen/schema/schema_test.go
  pkg/resource/deploy/source_eval.go
  sdk/go/pulumi-language-go/language_test.go
  sdk/go/pulumi-language-go/testdata/overrides/l2-provider-call-explicit/Pulumi.yaml
  sdk/go/pulumi-language-go/testdata/overrides/l2-provider-call-explicit/go.mod
  sdk/go/pulumi-language-go/testdata/overrides/l2-provider-call-explicit/main.go
  sdk/go/pulumi-language-go/testdata/sdks/call-15.7.9/call/provider.go
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-call-explicit/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-call-explicit/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-call-explicit/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-call-explicit/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/projects/l2-provider-call-explicit/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/call-15.7.9/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsc/sdks/call-15.7.9/provider.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-call-explicit/.gitignore
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-call-explicit/Pulumi.yaml
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-call-explicit/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-call-explicit/package.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/projects/l2-provider-call-explicit/tsconfig.json
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/call-15.7.9/index.ts
  sdk/nodejs/cmd/pulumi-language-nodejs/testdata/tsnode/sdks/call-15.7.9/provider.ts
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-call-explicit/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-call-explicit/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-call-explicit/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/classes/projects/l2-provider-call-explicit/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/classes/sdks/call-15.7.9/pulumi_call/provider.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-call-explicit/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-call-explicit/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-call-explicit/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/projects/l2-provider-call-explicit/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/setuppy/sdks/call-15.7.9/pulumi_call/provider.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-call-explicit/.gitignore
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-call-explicit/Pulumi.yaml
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-call-explicit/__main__.py
  sdk/python/cmd/pulumi-language-python/testdata/toml/projects/l2-provider-call-explicit/requirements.txt
  sdk/python/cmd/pulumi-language-python/testdata/toml/sdks/call-15.7.9/pulumi_call/provider.py
  tests/testdata/codegen/schema/provider-methods-1.json
  tests/testdata/codegen/schema/provider-methods-2.json
  tests/testdata/codegen/schema/provider-methods-3.json
Labels: impact/no-changelog-required
